Parent Name: Eremite
Name: Graft Flesh
Nom: Greffe de chair
État: officiel

------ Description (en) ------
<p><strong>Requirement</strong> The eremite holds a piece of flesh they collected via Evisceration</p>
<p><strong>Effect</strong> The eremite attaches the stolen flesh to themself. They either regain 100 Hit Points; reduce the value of their clumsy, drained, enfeebled, or stupefied condition by 3; or reduce the stage of any affliction affecting them by 3.</p>
------ Description (fr) ------
<p><strong>Conditions</strong> L’ermite tient un morceau de chair qu’il a récupérée par une Éviscération.</p>
<p><strong>Effect</strong> L’ermite attache la chair volée à son corps. Soit il regagne 100 PV ; soit il réduit la valeur de son état maladroit, drainé, affaibli ou stupéfié de 3 ; soit il réduit le stade de toute affliction dont il est atteint de 3.</p
