Parent Name: Trollhound
Name: Bloodfire Fever
Nom: Fièvre du sang chaud
État: officielle

------ Description (en) ------
<p><strong>Saving Throw</strong> @Check[type:fortitude|dc:18]</p>
<div data-visibility="gm">
<p><strong>Stage 1</strong> carrier with no ill effect (1 day)</p>
<p><strong>Stage 2</strong> @Compendium[pf2e.conditionitems.MIRkyAjyBeXivMa7]{Enfeebled 1} (1 day)</p>
<p><strong>Stage 3</strong> Enfeebled 1 and @Compendium[pf2e.conditionitems.i3OJZU2nk64Df3xm]{Clumsy 1} (1 day)</p>
<p><strong>Stage 4</strong> @Compendium[pf2e.conditionitems.MIRkyAjyBeXivMa7]{Enfeebled 2} and @Compendium[pf2e.conditionitems.i3OJZU2nk64Df3xm]{Clumsy 2} (1 day)</p>
<p><strong>Stage 5</strong> Enfeebled 2, Clumsy 2, and @Compendium[pf2e.conditionitems.HL2l2VRSaQHu9lUw]{Fatigued} (1 day)</p>
</div>
------ Description (fr) ------
<p><strong>Jet de sauvegarde</strong> @Check[type:fortitude|dc:18]{Vigueur DD 18}</p>
<div data-visibility="gm">
<p><strong>Stade 1</strong> Porteur sain (1 jour)</p>
<p><strong>Stade 2</strong> @Compendium[pf2e.conditionitems.MIRkyAjyBeXivMa7]{Affaibli 1} (1 jour)</p>
<p><strong>Stade 3</strong> Affaibli 1 et @Compendium[pf2e.conditionitems.i3OJZU2nk64Df3xm]{Maladroit 1} (1 jour)</p>
<p><strong>Stade 4</strong> @Compendium[pf2e.conditionitems.MIRkyAjyBeXivMa7]{Affaibli 2} and @Compendium[pf2e.conditionitems.i3OJZU2nk64Df3xm]{Maladroit 2} (1 jour)</p>
<p><strong>Stade 5</strong> Affaibli 2, Maladroit 2, and @Compendium[pf2e.conditionitems.HL2l2VRSaQHu9lUw]{Fatigué} (1 jour)</p>
</div>