Parent Name: Attic Whisperer
Name: Whispered Despair
Nom: Désespoir susurré
État: officielle

------ Description (en) ------
<p data-visibility="gm"><strong>Trigger</strong> A creature with an active emotion effect enters an attic whisperer's aura of sobs</p>
<p><strong>Effect</strong> The attic whisperer attempts to counteract the emotion effect, with a counteract modifier of +13.</p>
------ Description (fr) ------
<p data-visibility="gm"><strong>Déclencheur</strong> Une créature avec un effet d’émotion actif entre dans l’aura de pleurs du chuchoteur du grenier.</p>
<p><strong>Effet</strong> Le chuchoteur du grenier tente de contrer l’effet d’émotion, avec un modificateur de contre de +13.</p>