Parent Name: Leng Spider
Name: Descend on a Web
Nom: Descendre sur un fil de toile
État: officielle

------ Description (en) ------
<p>The Leng spider moves straight down up to 120 feet, suspended by a web line. It can hang from the web or drop off. The distance it Descends on a Web doesn't count when calculating falling damage.</p>
<p>The web can be severed by a Strike that deals slashing damage (AC 30, Hardness 15, 25 HP), causing the Leng spider to fall.</p>
------ Description (fr) ------
<p>L’araignée de Leng descend verticalement jusqu’à 36 m en étant suspendue à un fil de toile. Elle peut rester accrochée au fil ou s’en détacher. La distance descendue avec cette action ne compte pas dans le calcul des dégâts de chute.</p>
<p>La toile peut être coupée par une Frappe infligeant des dégâts tranchants (CA 30, Solidité 15, PV 25), ce qui fait tomber l’araignée de Leng.</p>