Parent Name: Steam Mephit
Name: Steam Vision
Nom: Vision malgré la vapeur
État: officielle

------ Description (en) ------
<p>The steam mephit ignores the @Compendium[pf2e.conditionitems.DmAIPqOBomZ7H95W]{Concealed} condition from mist and steam.</p>
------ Description (fr) ------
<p>Le méphite de vapeur ignore l’état @Compendium[pf2e.conditionitems.DmAIPqOBomZ7H95W]{Concealed}{Masqué} à cause de la brume et de la vapeur.</p>