Parent Name: Jotund Troll
Name: Fast Swallow
Nom: Gober rapidement
État: officielle

------ Description (en) ------
<p data-visibility="gm"><strong>Trigger</strong> The jotund troll @Compendium[pf2e.bestiary-ability-glossary-srd.Tkd8sH4pwFIPzqTr]{Grabs} a creature with their jaws</p>
<p><strong>Effect</strong> The troll uses Swallow Whole.</p>
------ Description (fr) ------
<p data-visibility="gm"><strong>Déclencheur</strong> Le troll jotünd a @Compendium[pf2e.conditionitems.kWc1fhmv9LBiTuei]{Agrippé} une créature.</p> 
<p><strong>Effet</strong> Le troll jotünd utilise Gober</p>