Parent Name: Thulgant
Name: Mind-Rending Sting
Nom: Dard déchireur d'esprit
État: officielle

------ Description (en) ------
<p><strong>Requirement</strong> The thulgant hits the same enemy with two consecutive sting Strikes in the same round</p>
<p><strong>Effect</strong> The thulgant deals [[/r {3d12+17}[mental]]]{3d12+17 mental damage} to the enemy. If the enemy is affected by thulgant venom, that poison gains the virulent trait.</p>
------ Description (fr) ------
<p><strong>Conditions</strong> Le thulgant touche le même ennemi avec deux Frappes de dard consécutives au cours du même round.</p>
<p><strong>Effet</strong> Le thulgant inflige [[/r {3d12+17}[mental]]]{3d12+17 dégâts mentaux} à cet ennemi. Si cet ennemi est affecté par le venin du thulgant, ce poison gagne le trait virulent.</p>