Parent Name: Quetz Couatl
Name: Wrap in Coils
Nom: Enrouler les anneaux
État: officielle

------ Description (en) ------
<p><strong>Requirements</strong> The quetz couatl has a Medium or smaller creature @Compendium[pf2e.conditionitems.kWc1fhmv9LBiTuei]{Grabbed} or @Compendium[pf2e.conditionitems.VcDeM8A5oI6VqhbM]{Restrained} in its jaws</p>
<p><strong>Effect</strong> The quetz couatl moves the creature into its coils, freeing its fangs to make attacks, then uses @Compendium[pf2e.bestiary-ability-glossary-srd.OmV6E3aELvq9CkK1]{Greater Constrict} against the creature. The quetz couatl can hold as many creatures in its coils as will fit in its space.</p>
------ Description (fr) ------
<p><strong>Conditions</strong> Le quetz couatl a @Compendium[pf2e.conditionitems.kWc1fhmv9LBiTuei]{Empoigné/Aggripé} une créature de taille Moyenne ou inférieure dans ses mâchoires.</p>
<p><strong>Effet</strong> Le quetz couatl transfère la créature vers ses anneaux, libérant ainsi sa mâchoire pour pouvoir porter des attaques. Il utilise ensuite [pf2e.bestiary-ability-glossary-srd.OmV6E3aELvq9CkK1]{Constriction supérieure} contre la créature. Le quetz couatl peut emprisonner autant de créatures dans ses anneaux qu’il peut s’en trouver dans son espace.</p>