Parent Name: Attic Whisperer
Name: Aura of Sobs
Nom: Aura de pleurs
État: officielle

------ Description (en) ------
<p>10 feet.</p>
<p>An attic whisperer enshrouds itself in a tapestry of stolen voices. Each living creature that enters or starts their turn in the aura must succeed at a @Check[type:will|dc:19] save or the unnerving, bitter sobs render them distraught and they become @Compendium[pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Stupefied 1} for as long as they remain within the aura. A creature that succeeds is temporarily immune for 1 hour.</p>
<p>The attic whisperer can activate or deactivate the aura with a single free action, which has the concentrate trait.</p>
------ Description (fr) ------
<p>Aura de 3 mètres</p>
<p>Un chuchoteur du grenier se drape dans un choeur de voix volées. Chaque créature vivante qui entre ou commence son tour dans l’aura doit réussir un jet de Volonté DD 19 sous peine d’être bouleversée par les sanglots amers et troublants ; elle devient @Compendium[pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Stupefiée 1} aussi longtemps qu’elle demeure dans l’aura. Une créature qui réussit son jet de sauvegarde est temporairement immunisée pendant 1 heure.</p> 
<p>Le chuchoteur du grenier peut activer ou désactiver l’aura en utilisant une seule action unique gratuite qui a le trait concentration.</p>