Parent Name: Ancient Magma Dragon (Spellcaster)
Name: Magma Tomb
Nom: Cercueil de magma 
État: officielle

------ Description (en) ------
<p>Once per day, the dragon can spit a molten boulder at a target within 120 feet. This deals [[/r {12d6}[fire]]]{12d6 fire damage} and [[/r {5d12}[bludgeoning]]]{5d12 bludgeoning damage}, with a @Check[type:reflex|dc:42|basic:true] save. If the creature fails its save, it's encased in magma that instantly cools and has Hardness 10, HP 40, and BT 20. The encased creature can't breathe and is @Compendium[pf2e.conditionitems.VcDeM8A5oI6VqhbM]{Restrained} (Escape DC 42).</p>
------ Description (fr) ------
<p>Une fois par jour, le dragon peut cracher de la roche en fusion sur une cible jusqu’à 36 m. Cela inflige [[/r {12d6}[fire]]]{12d6 dégâts de feu} et [[/r {5d12}[bludgeoning]]]{5d12 dégâts contondants} avec un jet de @Check[type:reflex|dc:42|basic:true]{Réflexes basiques} DD 42. Si la créature rate son jet de sauvegarde, elle est recouverte de magma qui refroidit aussitôt et a une solidité de 10, 40 PV et un SR 20. La créature emprisonnée ne peut pas respirer et est @Compendium[pf2e.conditionitems.VcDeM8A5oI6VqhbM]{Entravée} (S’échapper DD 42).</p>