Parent Name: Scythe Tree
Name: Ripping Disarm
Nom: Désarmement par arrachage
État: officielle

------ Description (en) ------
<p data-visibility="gm"><strong>Trigger</strong> A creature rolls a critical failure on a melee weapon Strike against the scythe tree</p>
<p><strong>Effect</strong> The scythe tree attempts to @Compendium[pf2e.actionspf2e.Dt6B1slsBy8ipJu9]{Disarm} the creature.</p>
------ Description (fr) ------
<p data-visibility="gm"><strong>Déclencheur</strong> Une créature obtient un échec critique lors d’une Frappe au corps-à-corps contre un arbre faux.</p>
<p><strong>Effet</strong> L’arbre faux tente de @Compendium[pf2e.actionspf2e.Dt6B1slsBy8ipJu9]{Désarmer} la créature.</p>