Parent Name: Eremite
Name: Evisceration
Nom: Éviscération
État: officielle

------ Description (en) ------
<p><strong>Requirements</strong> The eremite has a creature grabbed</p>
<p><strong>Effect</strong> The eremite excises flesh or bone from a creature it has grabbed. The target takes [[/r {6d10}[persistent,bleed]]] @Compendium[pf2e.conditionitems.lDVqvLKA6eF3Df60]{Persistent Bleed Damage}.</p>
------ Description (fr) ------
<p><strong>Conditions</strong> L’ermite a empoigné une créature.</p>
<p><strong>Effet</strong> L’ermite excise de la chair ou un os de la créature qu’elle a empoignée. La cible subit [[/r {6d10}[persistent,bleed]]] @Compendium[pf2e.conditionitems.lDVqvLKA6eF3Df60]{dégâts de saignement persistants}.</p
