Parent Name: Blizzardborn
Name: Shattering Ice
Nom: Projection de glace
État: officielle

------ Description (en) ------
<p data-visibility="gm"><strong>Trigger</strong> An enemy hits the blizzardborn with an attack that deals physical damage</p>
<p><strong>Effect</strong> A portion of the blizzardborn's body shatters into an explosion of razor sharp ice crystals and blinding snow that deals [[/r {2d6}[piercing]]]{2d6 piercing damage} to opponents in a @Template[type:emanation|distance:5] (@Check[type:reflex|dc:24|basic:true] save). Anyone who fails is also @Compendium[pf2e.conditionitems.XgEqL1kFApUbl5Z2]{Blinded} for 1 round (or 3 rounds on a critical failure).</p>
------ Description (fr) ------
<p data-visibility="gm"><strong>Déclencheur</strong> Un ennemi le frappe avec une attaque qui inflige des dégâts physiques.</p>
<p><strong>Effet</strong> Une partie du corps du rejeton du blizzard se brise en une explosion qui projette dans une @Template[type:emanation|distance:5]{émanation de 1,5 mètres} des éclats de glace tranchants infligeant [[/r {2d6}[piercing]]]{2d6 dégâts perforants} à toutes les créatures situées dans la zone d’effet (jet de @Check[type:reflex|dc:24|basic:true]{Réflexes basique} DD 24). Quiconque rate ce jet est également @Compendium[pf2e.conditionitems.XgEqL1kFApUbl5Z2]{Aveuglé} pendant 1 round (ou 3 rounds en cas d’échec critique)</p>