Parent Name: Ravener
Name: Redirect Fire
Nom: Réorientation du feu
État: officielle

------ Description (en) ------
<p data-visibility="gm"><strong>Trigger</strong> A creature within 100 feet casts a fire spell, or a fire spell otherwise comes into effect from a source within 100 feet</p>
<p><strong>Effect</strong> The ravener makes all the choices to determine the targets, destination, and other effects of the spell, as though they were the caster.</p>
------ Description (fr) ------
<p data-visibility="gm"><strong>Déclencheur</strong> Une créature dans un rayon de 30 mètres lance un sort de feu ou un sort de feu produit ses effets depuis une source située dans un rayon de 30 mètres</p>
<p><strong>Effet</strong> Le dévoreur prend toutes les décisions en ce qui concerne la détermination des cibles, la destination ou les autres effets du sort, comme si c’était lui qui le lançait.</p>