Parent Name: Suli Dune Dancer
Name: Elemental Bulwark
Nom: Rempart élémentaire
État: officielle

------ Description (en) ------
<p data-visibility="gm"><strong>Trigger</strong> An enemy is about to damage the dune dancer with cold, electricity, or fire, or with a spell that has the air, earth, fire, or water trait</p>
<p><strong>Effect</strong> The dune dancer gain resistance 2 against the triggering damage</p>
------ Description (fr) ------
<p data-visibility="gm"><strong>Déclencheur</strong> Un enemi est sur le point d’infliger au danseur des dunes des dégâts de froid, d’électricité, de feu ou d’un sort qui a le trait air, terre, feu ou eau.</p>
<p><strong>Effet</strong> Le danseur des dunes gagne une résistance 2 contre les dégâts déclencheurs.</p>