Parent Name: Sportlebore Swarm
Name: Pour Down Throat
Nom: Avaler de force
État: officielle

------ Description (en) ------
<p data-visibility="gm"><strong>Trigger</strong> A creature in the sportlebore swarm's area speaks, uses a verbal component, or opens its mouth</p>
<p><strong>Effect</strong> A portion of the sportlebore swarm attempts to surge down the throat of the triggering creature, which must attempt a @Check[type:fortitude|dc:25|traits:damaging-effect] save.</p>
<hr />
<p><strong>Critical Success</strong> The creature is unaffected.</p>
<p><strong>Success</strong> The creature gets a mouthful of sportlebores. It spits the insects out and avoids further damage, but it can't speak for 1 round, and if it was performing a verbal spellcasting action, the spell fails and the caster wastes the action.</p>
<p><strong>Failure</strong> The creature takes [[/r {4d6}[piercing]]]{4d6 piercing damage} from sportlebore bites, can't speak for 1 round, and loses a spell as noted under Success.</p>
<p><strong>Critical Failure</strong> As failure, but the creature is also exposed to sportlebore infestation.</p>
------ Description (fr) ------
<p data-visibility="gm"><strong>Déclencheur</strong> Une créature dans la zone de la nuée d’imitapéros parle, utilise un composant verbal ou ouvre la bouche.</p>
<p><strong>Effet</strong> Une partie de la nuée tente de se précipiter dans la gorge de la créature ayant déclenché l’effet. Elle doit alors faire un jet de @Check[type:fortitude|dc:25|traits:damaging-effect]{Vigueur} DD 25.</p>
<hr />
<p><strong>Succès critique</strong> La créature n’est pas affectée.</p>
<p><strong>Succès</strong> La créature se retrouve avec une bouchée d’imitapéros. Elle parvient à les recracher et éviter d’autres dégâts, mais elle ne peut plus parler pendant 1 round et, si elle était en train d’accomplir une action d’incantation verbale, le sort échoue et l’action est perdue.</p>
<p><strong>Échec</strong> La créature subit [[/r {4d6}[piercing]]]{4d6 dégâts perforants} à cause des morsures des imitapéros, ne peut plus parler pendant 1 round et perd son sort comme indiqué dans Succès.</p>
<p><strong>Échec critique</strong> Comme un échec, mais la créature est aussi exposée à l’Infestation d’imitapéros.</p>