Parent Name: Quoppopak
Name: Ventral Tube
Nom: Tube ventral
État: officielle

------ Description (en) ------
<p>[[/r {1d6}[persistent,bleed]]] @Compendium[pf2e.conditionitems.lDVqvLKA6eF3Df60]{Persistent Bleed Damage}</p>
------ Description (fr) ------
<p>[[/r {1d6}[persistent,bleed]]] @Compendium[pf2e.conditionitems.lDVqvLKA6eF3Df60]{1d6 de saignements persistants}</p>