Parent Name: Yellow Musk Creeper
Name: Bore into Brain
Nom: Forage de cerveau
État: officielle

------ Description (en) ------
<p>The creeper bores dozens of tendrils into the brain of a Small, Medium, or Large humanoid creature that's @Compendium[pf2e.conditionitems.fBnFDH2MTzgFijKf]{Unconscious}, willing, or @Compendium[pf2e.conditionitems.AdPVz7rbaVSRxHFg]{Fascinated} by Spray Pollen, and within reach of the creeper's tendrils.</p>
<p>The creature must succeed at a @Check[type:fortitude|dc:18|traits:humanoid] save<span data-visibility="gm"> or become @Compendium[pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Stupefied 1} (@Compendium[pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Stupefied 2} on a critical failure)</span>.</p>
<p data-visibility="gm">Subsequent failed saves against Bore into Brain increase the stupefied value. If the creature reaches stupefied 5, it is turned into a yellow musk thrall. Boring into a creature's brain doesn't end fascination caused by Spray Pollen.</p>
------ Description (fr) ------
<p>La vigne fait pénétrer des dizaines de vrilles dans le cerveau d’une créature de taille Petite, Moyenne ou Grande, qui est @Compendium[pf2e.conditionitems.fBnFDH2MTzgFijKf]{Inconsciente}, consentante ou Compendium[pf2e.conditionitems.AdPVz7rbaVSRxHFg]{fascinée} par Projection de pollen, et qui se trouve à portée de ses vrilles.</p>
<p>La créature doit réussir un jet de @Check[type:fortitude|dc:18|traits:humanoid]{Vigueur} DD 18 ou devenir @Compendium[pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Stupéfiée 1} (Stupéfiée 2 sur un Échec critique.)</p>
<p data-visibility="gm">Tout nouvel échec suivant aux jets de sauvegarde contre Forage de cerveau augmente l’intensité de l’état Stupéfié. Si la créature atteint l’état Stupéfié 5, elle devient un esclave musqué jaune. Forer le cerveau d’une créature ne suffit pas à mettre fin à la fascination causée par Projection de pollen.</p>