Parent Name: Witchfire
Name: Witchflame
Nom: Flammes ensorcelées
État: officielle

------ Description (en) ------
<p>Any creature that takes negative damage from a witchfire's Strike must attempt a @Check[type:will|dc:26] save.</p>
<div data-visibility="gm"><hr />
<p><strong>Critical Success</strong> The creature is unaffected and is temporarily immune to witchflame for 1 hour.</p>
<p><strong>Success</strong> The creature appears to catch fire with sickly green flames. These flames deal no damage on their own, but as long as the flames burn, the creature can't be @Compendium[pf2e.conditionitems.DmAIPqOBomZ7H95W]{Concealed} (@Compendium[pf2e.conditionitems.zJxUflt9np0q4yML]{Invisible} creatures are @Compendium[pf2e.conditionitems.DmAIPqOBomZ7H95W]{Concealed} rather than being @Compendium[pf2e.conditionitems.VRSef5y1LmL2Hkjf]{Undetected}) and gains weakness 5 to fire for 1 round.</p>
<p><strong>Failure</strong> As success, but the effect is permanent until removed.</p>
<p><strong>Critical Failure</strong> As failure, but the creature gains weakness 10 to fire.</p>
<hr />
<p>@Compendium[pf2e.bestiary-effects.NHwmrSyF0e8HUE3m]{Effect: Witchflame (Success)}</p>
<p>@Compendium[pf2e.bestiary-effects.L7SiTshdimUPWfnB]{Effect: Witchflame (Failure)}</p>
<p>@Compendium[pf2e.bestiary-effects.McawF8weCe7O81um]{Effect: Witchflame (Critical Failure)}</p>
</div>
------ Description (fr) ------
<p>Toute créature qui reçoit des dégâts négatifs infligés par la Frappe d’une sorcière de feu doit faire un jet de @Check[type:will|dc:26]{Volonté} DD 26.</p>
<div data-visibility="gm">
<hr />
<p><strong>Succès critique</strong> La créature n’est pas affectée et est temporairement immunisée contre les flammes ensorcelées pendant 1 heure.</p>
<p><strong>Succès</strong> La créature semble engloutie dans des flammes vertes. Ces flammes n’infligent aucun dégât mais, tant qu’elles brûlent, pendant 1 round, la créature ne peut pas être @Compendium[pf2e.conditionitems.DmAIPqOBomZ7H95W]{Masquée} (les créatures @Compendium[pf2e.conditionitems.zJxUflt9np0q4yML]{Invisibles} sont quant à elles Masquées au lieu d’être @Compendium[pf2e.conditionitems.DmAIPqOBomZ7H95W]{Indétectables}) et gagne faiblesse contre le feu 5.</p>
<p><strong>Échec</strong> Comme un succès, mais l’effet est permanent jusqu’à ce qu’il soit dissipé.</p>
<p><strong>Échec critique</strong> Comme un échec, mais la créature gagne faiblesse contre le feu 10.</p>
<hr />
<p>@Compendium[pf2e.bestiary-effects.NHwmrSyF0e8HUE3m]{Effet : Flammes ensorcelées (Succès)}</p>
<p>@Compendium[pf2e.bestiary-effects.L7SiTshdimUPWfnB]{Effet : Flammes ensorcelées (Échec)}</p>
<p>@Compendium[pf2e.bestiary-effects.McawF8weCe7O81um]{Effet : Flammes ensorcelées (Échec critique)}</p>
</div>