Parent Name: Giant Fly
Name: Avoid the Swat
Nom: Éviter les coups
État: officielle

------ Description (en) ------
<p data-visibility="gm"><strong>Trigger</strong> The giant fly is targeted with a melee or ranged attack by an attacker it can see</p>
<p><strong>Effect</strong> The giant fly gains a +2 circumstance bonus against the triggering attack. If the attack misses, the giant insect can Fly up to its fly Speed.</p>
------ Description (fr) ------
<p data-visibility="gm"><strong>Déclencheur</strong> La mouche géante est ciblée par une attaque au corps-à-corps ou à distance émanant d’un attaquant qu’elle peut voir</p>
<p><strong>Effet</strong> La mouche gagne un bonus de circonstances de +2 à sa CA contre l’attaque qui a déclenché cet effet. Si l’attaque rate, l’insecte géant peut Voler à sa Vitesse de vol.</p>