Parent Name: Ravener
Name: Cowering Fear
Nom: Recroquevillé de terreur
État: officielle

------ Description (en) ------
<p>90 feet, DC 42.</p>
<p>A ravener's frightful presence causes creatures to cower in fear as well. As long as a creature is at least frightened 2 or more as a result of the ravener's frightful presence, it is also immobilized from the fear.</p>
------ Description (fr) ------
<p>Aura 27 mètres, DD 42</p>
<p>Les créatures se recroquevillent de terreur face à la présence terrifiante du dévoreur draconique. Tant qu’une créature est au moins Effrayée 2 à cause de la Présence terrifiante du dévoreur, elle est aussi immobilisée par la peur.</p>