Parent Name: Olethrodaemon
Name: Swallow Whole
Nom: Gober
État: oficielle

------ Description (en) ------
<p>Huge, [[/r {4d10}[bludgeoning]]]{4d10 bludgeoning damage} and @Compendium[pf2e.conditionitems.4D2KBtexWXa6oUMR]{Drained 2}, Rupture 43</p>
<p>An olethrodaemon has numerous stomachs connected by labyrinthine digestive organs. Swallowed creatures cannot Escape, but can attempt to cut their way out with a [[/r 1d6]] roll. On a roll of 1-3, the creature cuts into yet another stomach. On a roll of 4-6, the creature manages to cut its way out of the olethrodaemon.</p>
<hr />
<p>@Localize[PF2E.NPC.Abilities.Glossary.SwallowWhole]</p>
------ Description (fr) ------
<p>Grande, [[/r {4d10}[bludgeoning]]]{4d10+10 dégâts contondants} plus @Compendium[pf2e.conditionitems.4D2KBtexWXa6oUMR]{Drainé 2}, Rupture 43.</p>
<p>Un oléthrodaémons possède de nombreux estomacs reliés par des organes digestifs labyrinthiques. Une créature gobée ne peut pas S’échapper, mais elle peut essayer de s’ouvrir un chemin vers l’extérieur en lançant  [[/r 1d6]]{1d6}. De 1 à 3, l’entaille la mène dans un autre estomac, de 4 à 6 elle donne sur l’extérieur et la créature sort de l’oléthrodaémons.</p>
<hr />
<p>@Localize[PF2E.NPC.Abilities.Glossary.SwallowWhole]</p>