Parent Name: Revenant
Name: Self-Loathing
Nom: Auto-dénigrement
État: officielle

------ Description (en) ------
<p>If a revenant sees their own reflection or any object that was important to them in life, they must attempt a @Check[type:will|dc:25] save.</p>
<hr />
<p><strong>Critical Success</strong> The revenant is unaffected and can no longer be affected by that reflection or object in this way.</p>
<p><strong>Success</strong> The revenant is distracted by self-loathing and becomes @Compendium[pf2e.conditionitems.xYTAsEpcJE1Ccni3]{Slowed 1} for 1 round.</p>
<p><strong>Failure</strong> The revenant becomes @Compendium[pf2e.conditionitems.AdPVz7rbaVSRxHFg]{Fascinated} by the source that triggered their self-loathing and does everything they can to destroy it until the end of the revenant's next turn.</p>
<p><strong>Critical Failure</strong> The revenant becomes @Compendium[pf2e.conditionitems.eIcWbB5o3pP6OIMe]{Immobilized} as long as the source of their self-loathing is apparent, until they're attacked, or until they see their murderer.</p>
------ Description (fr) ------
<p>Si un revenant voit son propre reflet ou un objet qui comptait beaucoup pour lui de son vivant, il doit faire un jet de @Check[type:will|dc:25]{Volonté} DD 25.</p>
<hr />
<p><strong>Succès critique</strong> Le revenant n’est pas affecté par ce reflet ou cet objet et ne peut plus l’être.</p>
<p><strong>Succès</strong> Le revenant est distrait par le dégoût qu’il éprouve à l’égard de lui-même et il est @Compendium[pf2e.conditionitems.xYTAsEpcJE1Ccni3]{Ralenti} 1 pendant 1 round.</p>
<p><strong>Échec</strong> Le revenant est @Compendium[pf2e.conditionitems.AdPVz7rbaVSRxHFg]{Fasciné} par la source de son dégoût et fait tout ce qu’il peut pour la détruire jusqu’à la fin de son prochain tour.</p>
<p><strong>Échec critique</strong> Le revenant est @Compendium[pf2e.conditionitems.eIcWbB5o3pP6OIMe]{Immobilisé} tant qu’il est en présence de la source de son dégoût, jusqu’à ce qu’il se fasse attaquer ou jusqu’à ce qu’il voie son meurtrier.</p