Parent Name: Yellow Musk Thrall
Name: Limb Extension
Nom: Extension de membres
État: officielle

------ Description (en) ------
<p data-visibility="gm"><strong>Trigger</strong> The yellow musk thrall is reduced to 4 HP or fewer</p>
<p><strong>Effect</strong> Creeper tendrils tear through the thrall's limbs, causing its forearms to tear loose. The thrall's melee reach increases by 5 feet.</p>
------ Description (fr) ------
<p data-visibility="gm"><strong>Déclencheur</strong> L’esclave musqué jaune est réduit à 4 PV ou moins.</p>
<p><strong>Effet</strong> Des vrilles de vigne lui déchiquettent les avant-bras, qui tombent au sol. La zone d’allonge de l’esclave augmente de 1,5 mètres.</p>