Parent Name: Yellow Musk Thrall
Name: Pollen Touch
Nom: Contact pollinifère
État: officielle

------ Description (en) ------
<p>When the thrall strikes a creature, that creature is exposed to yellow musk creeper pollen, as Spray Pollen (DC 14). The creature is @Compendium[pf2e.conditionitems.AdPVz7rbaVSRxHFg]{Fascinated} by the yellow musk creeper that spawned the thrall, not by the thrall itself. The affected creature must attempt a @Check[type:will|dc:14] save.</p>
<div data-visibility="gm">
<p>Once a creature succeeds at any save against Spray Pollen, it becomes temporarily immune for 24 hours.</p>
<hr />
<p><strong>Success</strong> The creature is unaffected.</p>
<p><strong>Failure</strong> The creature is @Compendium[pf2e.conditionitems.AdPVz7rbaVSRxHFg]{Fascinated}. For as long as it is fascinated, it must spend each of its actions to move closer to the yellow musk creeper that spawned the thrall as expediently as possible, while avoiding obvious dangers. If the creature is adjacent to the yellow musk creeper, it stays still and doesn't act.</p>
<p><strong>Critical Failure</strong> As failure, but the condition doesn't end automatically. The creature can attempt a new save at the end of each of its turns. On a success, the fascinated condition and other effects end.</p>
</div>
------ Description (fr) ------
<p>Quand l’esclave frappe une créature, celle-ci se trouve exposée au pollen de la vigne musquée jaune, comme dans le cas d’une Projection de pollen (DD 14). La créature est alors @Compendium[pf2e.conditionitems.AdPVz7rbaVSRxHFg]{Fascinée} par la vigne musquée jaune qui a donné naissance à l’esclave (et non par ce dernier). La créature affectée doit tenter un jet de @Check[type:will|dc:14]{Volonté} DD 14 </p>
<div data-visibility="gm">
<p>Si une créature réussit un jet de sauvegarde contre une Projection de pollen, elle y est immunisée pendant 24 heures.</p>
<hr />
<p><strong>Succès</strong> La créature n’est pas affectée.</p>
<p><strong>Échec</strong> La créature est @Compendium[pf2e.conditionitems.AdPVz7rbaVSRxHFg]{Fascinée}. Tant que la créature est fascinée, elle doit utiliser chacune de ses actions pour se rapprocher de la vigne musquée jaune aussi vite que possible, tout en évitant les dangers évidents. Si la créature se trouve dans un espace adjacent à la vigne musquée jaune, elle reste immobile et n’agit pas.</p>
<p><strong>Échec critique</strong> Comme un échec, mais l’état ne prend pas fin automatiquement. La créature peut tenter un nouveau jet de sauvegarde à la fin de chacun de ses tours. Sur un succès, l’état fasciné et tout autre effet se dissipent.</p>
</div>