Parent Name: Steam Mephit
Name: Breath Weapon
Nom: Arme de souffle
État: officielle

------ Description (en) ------
<p>The steam mephit spits a cloud of steam in a @Template[type:cone|distance:15] that deals [[/r {2d6}[fire]]]{2d6 fire damage} to each creature within the area (@Check[type:reflex|dc:17|basic:true] save).</p>
<p>The steam mephit can't use Breath Weapon again for [[/br 1d4 #rounds]]{1d4 rounds}.</p>
------ Description (fr) ------
<p>Le méphite souffle un nuage de vapeur dans un @Template[type:cone|distance:15]{cône de 4,5 m} infligeant [[/r {2d6}[fire]]]{2d6 dégâts de feu} aux créatures dans la zone d’effet (@Check[type:reflex|dc:17|basic:true]{Réflexes basique} DD 17). </p>
<p>Il ne peut utiliser une nouvelle fois son Souffle avant 1d4 rounds.</p>