Parent Name: Adult Crystal Dragon
Name: Crystallize Flesh
Nom: Cristallisation de la chair
État: officielle

------ Description (en) ------
<p data-visibility="gm"><strong>Trigger</strong> The crystal dragon damages a creature made of flesh with a jaws Strike</p>
<p><strong>Frequency</strong> once per day</p>
<p><strong>Effect</strong> The dragon embeds transformative crystals in the creature's flesh. The creature must attempt a @Check[type:fortitude|dc:30] save.</p>
<hr />
<p><strong>Critical Success</strong> The target is unaffected.</p>
<p><strong>Success</strong> The target is @Compendium[pf2e.conditionitems.xYTAsEpcJE1Ccni3]{Slowed 1} for 1 round as portions of its flesh turn crystalline.</p>
<p><strong>Failure</strong> The target is @Compendium[pf2e.conditionitems.xYTAsEpcJE1Ccni3]{Slowed 1} and must attempt a Fortitude save at the end of each of its turns; this ongoing save has the incapacitation trait. On a failed save, the slowed condition value increases by 1 (or by 2 on a critical failure). A successful save reduces the slowed condition value by 1. A creature unable to act due to the slowed condition from Crystallize Flesh is @Compendium[pf2e.conditionitems.dTwPJuKgBQCMxixg]{Petrified} permanently, transforming into a crystalline statue. The effect ends if the creature is petrified or the slowed condition is removed.</p>
<p><strong>Critical Failure</strong> As failure, but the target is initially @Compendium[pf2e.conditionitems.xYTAsEpcJE1Ccni3]{Slowed 2}.</p>
------ Description (fr) ------
<p data-visibility="gm"><strong>Déclencheur</strong> Le dragon de cristal blesse une créature de chair avec sa Frappe de mâchoires</p>
<p><strong>Fréquence</strong> une fois par jour</p>
<p><strong>Effet</strong> Le dragon insère des cristaux de transformation dans la chair de la créature. La créature doit faire un jet de @Check[type:fortitude|dc:30]{Vigueur} DD 30.</p>
<hr />
<p><strong>Succès critique</strong> La cible n’est pas affectée</p>
<p><strong>Succès</strong> La créature est @Compendium[pf2e.conditionitems.xYTAsEpcJE1Ccni3]{Ralentie 1} pendant 1 round tandis que par endroit sa chair devient cristalline.</p>
<p><strong>Échec</strong> La créature est @Compendium[pf2e.conditionitems.xYTAsEpcJE1Ccni3]{Ralentie 1} et doit faire un jet de Vigueur à la fin de chacun de ses tours. Ce jet de sauvegarde continu possède le trait mise hors de combat. Sur un échec, l’état Ralenti augmente de 1 (ou de 2 pour un échec critique). Un succès réduit l’état Ralenti de 1. Une créature incapable d’agir à cause de l’état ralenti provoqué par ce pouvoir est @Compendium[pf2e.conditionitems.dTwPJuKgBQCMxixg]{Pétrifiée} de manière permanente et se transforme en statue de cristal. L’effet se termine quand la créature est pétrifiée ou débarrassée de l’état ralenti.</p>
<p><strong>Échec critique</strong> Comme l’échec, mais la cible est initialement @Compendium[pf2e.conditionitems.xYTAsEpcJE1Ccni3]{Ralentie 2}.</p>