Parent Name: Adult Crystal Dragon
Name: Breath Weapon
Nom: Arme de souffle
État: officielle

------ Description (en) ------
<p>The dragon breathes a flurry of piercing crystals that deal [[/r {12d6}[piercing]]]{12d6 piercing damage} in a @Template[type:cone|distance:40] (@Check[type:reflex|dc:30|basic:true] save).</p>
<p>They can't use Breath Weapon again for [[/br 1d4 #rounds]]{1d4 rounds}.</p>
------ Description (fr) ------
<p>Le dragon crache un déluge de cristaux perforants qui inflige [[/r {12d6}[piercing]]]1{2d6 dégâts perforants} dans un @Template[type:cone|distance:40]{cône de 12 mètres} (jet de (@Check[type:reflex|dc:30|basic:true]{Réflexes basique} DD 30). </p>
<p>Il ne peut plus utiliser son souffle pendant [[/br 1d4 #rounds]]{1d4 rounds}.</p>