Parent Name: Yellow Musk Brute
Name: Limb Extension
Nom: Extension de membres
État: officielle

------ Description (en) ------
<p data-visibility="gm"><strong>Trigger</strong> The yellow musk brute is reduced to 15 HP or fewer</p>
<p><strong>Effect</strong> Creeper tendrils tear through the brute's limbs, causing its forearms to tear loose. The brute's melee reach increases by 5 feet.</p>
------ Description (fr) ------
<p data-visibility="gm"><strong>Déclencheur</strong> L’esclave musqué jaune est réduit à 15 PV ou moins.</p>
<p><strong>Effet</strong> Des vrilles de vigne lui déchiquettent les avant-bras, qui tombent au sol. La zone d’allonge de la brute augmente de 1,5 mètres.</p>