Parent Name: Giant Crawling Hand
Name: Pus Burst
Nom: Éruption de pus
État: officielle

------ Description (en) ------
<p data-visibility="gm"><strong>Trigger</strong> The giant crawling hand takes piercing or slashing damage</p>
<p><strong>Effect</strong> A random creature adjacent to the giant crawling hand is sprayed with vile pus that deals [[/r {4d6}[negative]]]{4d6 negative damage}. The affected creature must attempt a @Check[type:reflex|dc:21|traits:damaging-effect] save.</p>
<div data-visibility="gm"><hr />
<p><strong>Critical Success</strong> The creature takes no damage.</p>
<p><strong>Success</strong> The creature takes half damage and becomes @Compendium[pf2e.conditionitems.fesd1n5eVhpCSS18]{Sickened 1}.</p>
<p><strong>Failure</strong> The creature takes full damage and becomes @Compendium[pf2e.conditionitems.fesd1n5eVhpCSS18]{Sickened 2}.</p>
<p><strong>Critical Failure</strong> The creature takes double damage and becomes @Compendium[pf2e.conditionitems.fesd1n5eVhpCSS18]{Sickened 3}.</p>
</div>
------ Description (fr) ------
<p data-visibility="gm"><strong>Déclencheur</strong> La main rampante géante subit des dégâts perforants ou tranchants</p>
<p><strong>Effet</strong>Une créature choisie au hasard adjacente à la main rampante géante est aspergée de pus immonde infligeant [[/r {4d6}[negative]]]{4d6 dégâts négatifs}. La créature affectée doit faire un jet de @Check[type:reflex|dc:21|traits:damaging-effect]{Réflexes} DD 21.</p>
<div data-visibility="gm"><hr />
<p><strong>Succès critique</strong> La créature ne subit pas de dégât.</p>
<p><strong>Succès</strong> La créature subit la moitié des dégâts et est @Compendium[pf2e.conditionitems.fesd1n5eVhpCSS18]{Malade 1}.</p>
<p><strong>Échec</strong> La créature subit la totalité des dégâts et est @Compendium[pf2e.conditionitems.fesd1n5eVhpCSS18]{Malade 2}.</p>
<p><strong>Échec critique</strong> La créature subit le double de dégâts et est @Compendium[pf2e.conditionitems.fesd1n5eVhpCSS18]{Malade 3}.</p>
</div>