Parent Name: Wolverine
Name: Pounce
Nom: Bond
État: officielle

------ Description (en) ------
<p>The wolverine Strides and makes a Strike at the end of that movement. If the wolverine begins this action @Compendium[pf2e.conditionitems.iU0fEDdBp3rXpTMC]{Hidden}, it remains hidden until after the attack.</p>
------ Description (fr) ------
<p>Le blaireau Marche rapidement et porte une Frappe à la fin de ce déplacement. S'il a commencé cette action en étant @Compendium[pf2e.conditionitems.iU0fEDdBp3rXpTMC]{Caché}, il le reste jusqu'à ce qu'à ce qu'il ait effectué cette Frappe.</p>