Parent Name: Eremite
Name: Jaws
Nom: Mâchoires
État: officielle

------ Description (en) ------
<p>[[/r {2d6}[persistent,bleed]]] @Compendium[pf2e.conditionitems.lDVqvLKA6eF3Df60]{Persistent Bleed Damage}</p>
------ Description (fr) ------
<p>[[/r {2d6}[persistent,bleed]]] @Compendium[pf2e.conditionitems.lDVqvLKA6eF3Df60]{Dégâts de saignement persistants}</p>
