Parent Name: Denizen of Leng
Name: Debilitating Bite
Nom: Morsure débilitante
État: officielle

------ Description (en) ------
<p>A creature that takes damage from a denizen's bite must succeed at a @Check[type:fortitude|dc:27] save or become @Compendium[pf2e.conditionitems.i3OJZU2nk64Df3xm]{Clumsy 1}. Each time a target fails an additional save against this ability, the condition value increases by 1 (to a maximum of Clumsy 4). This condition value decreases by 1 every 24 hours.</p>
------ Description (fr) ------
<p>Une créature qui subit des dégâts à cause de la morsure de l’habitant doit réussir un jet de @Check[type:fortitude|dc:27]{Vigueur} DD 27, sinon elle devient @Compendium[pf2e.conditionitems.i3OJZU2nk64Df3xm]{Maladroite 1}. À chaque fois que la cible rate un nouveau jet de sauvegarde contre ce pouvoir, l’intensité de l’état augmente de 1 (jusqu’à un maximum de maladroit 4). L’intensité de cet état est réduite de 1 toutes les 24 heures.</p>