Parent Name: Sarglagon
Name: Stygian Guardian
Nom: Gardien stygien
État: officielle

------ Description (en) ------
<p data-visibility="gm"><strong>Trigger</strong> A creature or object within the sarglagon's reach is targeted by an attack</p>
<p><strong>Effect</strong> The sarglagon interposes themself, giving the creature or object @Compendium[pf2e.equipment-effects.I9lfZUiCwMiGogVi]{Standard Cover} against the attack (+2 circumstance bonus to AC), or @Compendium[pf2e.equipment-effects.I9lfZUiCwMiGogVi]{Greater Cover} (+4 circumstance bonus to AC) if the sarglagon was already granting it lesser cover.</p>
------ Description (fr) ------
<p data-visibility="gm"><strong>Déclencheur</strong> Une créature ou un objet à portée de l’allonge du sarglagon est ciblé par une attaque</p>
<p><strong>Effet</strong> Le sarglagon s’interpose, conférant à la créature ou à l’objet un @Compendium[pf2e.equipment-effects.I9lfZUiCwMiGogVi]{Abri standard} contre l’attaque (bonus de circonstances de +2 à la CA) ou un @Compendium[pf2e.equipment-effects.I9lfZUiCwMiGogVi]{Abri important} (bonus de circonstances de +4 à la CA) si le sarglagon lui offrait déjà un abri partiel.</p>