Parent Name: Sarglagon
Name: Drown
Nom: Noyade
État: officielle

------ Description (en) ------
<p>The sarglagon conjures murky water to fill the lungs of a creature that can't breathe water within 30 feet. The target must attempt a @Check[type:fortitude|dc:26] save.</p>
<div data-visibility="gm"><hr />
<p><strong>Critical Success</strong> The target is unaffected.</p>
<p><strong>Success</strong> The target coughs up water and is @Compendium[pf2e.conditionitems.fesd1n5eVhpCSS18]{Sickened 1}.</p>
<p><strong>Failure</strong> The target is holding its breath. The only action it can take is to attempt a Fortitude save against Drown to expel the water, which is a single action.</p>
<p><strong>Critical Failure</strong> The target falls @Compendium[pf2e.conditionitems.fBnFDH2MTzgFijKf]{Unconscious} and begins suffocating. If the target succeeds at its Fortitude save while suffocating, it coughs up the water and can breathe again.</p>
</div>
------ Description (fr) ------
<p>Le sarglagon invoque des eaux obscures qui emplissent les poumons d’une créature située dans un rayon de 9 m et qui ne peut pas respirer dans l’eau. La cible doit tenter un jet de @Check[type:fortitude|dc:26]{Vigueur} DD 26.</p>
<div data-visibility="gm"><hr />
<p><strong>Succès critique</strong> La créature n'est pas affectée.</p>
<p><strong>Succès</strong> La cible tousse pour recracher l'eau et elle est @Compendium[pf2e.conditionitems.fesd1n5eVhpCSS18]{Malade 1}.</p>
<p><strong>Échec</strong> La cible retient sa respiration. a seule action qu’elle peut effectuer est de tenter avec une action unique un jet de Vigueur contre la Noyade pour expulser l’eau.</p>
<p><strong>Échec critique</strong> La créature sombre dans @Compendium[pf2e.conditionitems.fBnFDH2MTzgFijKf]{l’Inconscience} et commence à suffoquer. Si la cible réussit son jet de Vigueur alors qu’elle suffoque, elle recrache l’eau et peut de nouveau respirer.</p>
</div>