Parent Name: Quoppopak
Name: Tentacle Stab
Nom: Tentacule poignardeur
État: officielle

------ Description (en) ------
<p><strong>Frequency</strong> once per round</p>
<p><strong>Effect</strong> The quoppopak makes two tentacle Strikes against the same creature. These Strikes deal piercing damage instead of bludgeoning, and the quoppopak can't @Compendium[pf2e.bestiary-ability-glossary-srd.Tkd8sH4pwFIPzqTr]{Grab} with them. Its multiple attack penalty doesn't increase until after both attacks.</p>
------ Description (fr) ------
<p><strong>Fréquence</strong> une fois par round</p>
<p><strong>Effet</strong> Le quoppopak effectue deux Frappes de tentacule contre la même créature. Ces Frappes infligent des dégâts perforants au lieu de contondants et le quoppopak ne peut pas faire @Compendium[pf2e.bestiary-ability-glossary-srd.Tkd8sH4pwFIPzqTr]{d’Empoignade/Aggripement} avec. Son malus d’attaques multiples augmente seulement après qu’il a effectué les deux attaques.</p>