Parent Name: Lurker In Light
Name: Sneak Attack
Nom: Attaque sournoise
État: officielle

------ Description (en) ------
<p>A lurker in light's Strikes deal an additional [[/r {2d6}[precision]]]{2d6 precision damage} to flat-footed creatures.</p>
<hr />
<p>@Localize[PF2E.NPC.Abilities.Glossary.SneakAttack]</p>
------ Description (fr) ------
<p>Le rôdeur de lumière inflige [[/r {2d6}[precision]]]{2d6 dégâts de précision} supplémentaires aux créatures prises au dépourvu.</p>
<hr />
<p>@Localize[PF2E.NPC.Abilities.Glossary.SneakAttack]</p>