Parent Name: Morlock
Name: Sneak Attack
Nom: Attaque sournnoise
État: officielle

------ Description (en) ------
<p>A morlock's Strikes deal an extra [[/r {1d6}[precision]]]{1d6 precision damage} to flat-footed creatures.</p>
<hr />
<p>@Localize[PF2E.NPC.Abilities.Glossary.SneakAttack]</p>
------ Description (fr) ------
<p>Le morlock inflige [[/r {1d6}[precision]]]{1d6 dégâts de précision} supplémentaires aux créatures prises au dépourvu.</p>
<hr />
<p>@Localize[PF2E.NPC.Abilities.Glossary.SneakAttack]</p>