Parent Name: Thulgant
Name: Thulgant Venom
Nom: Venin de thulgant
État: officielle

------ Description (en) ------
<p><strong>Saving Throw</strong> @Check[type:fortitude|dc:40]</p>
<p><strong>Maximum Duration</strong> 6 rounds</p>
<p><strong>Stage 1</strong> [[/r {3d6}[poison]]]{3d6 poison damage} and the victim gains one of the following at random: @Compendium[pf2e.conditionitems.i3OJZU2nk64Df3xm]{Clumsy 1}, @Compendium[pf2e.conditionitems.MIRkyAjyBeXivMa7]{Enfeebled 1}, or @Compendium[pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Stupefied 1} (1 round)</p>
<p><strong>Stage 2</strong> [[/r {6d6}[poison]]]{6d6 poison damage} and the victim gains two of the following at random: @Compendium[pf2e.conditionitems.i3OJZU2nk64Df3xm]{Clumsy 2}, @Compendium[pf2e.conditionitems.MIRkyAjyBeXivMa7]{Enfeebled 2}, or @Compendium[pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Stupefied 2} (1 round)</p>
<p><strong>Stage 3</strong> [[/r {9d6}[poison]]]{9d6 poison damage} and the victim gains all three of the following: @Compendium[pf2e.conditionitems.i3OJZU2nk64Df3xm]{Clumsy 3}, @Compendium[pf2e.conditionitems.MIRkyAjyBeXivMa7]{Enfeebled 3}, and @Compendium[pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Stupefied 3} (1 round)</p>
------ Description (fr) ------
<p><strong>Jet de sauvegarde</strong> @Check[type:fortitude|dc:40]{Vigueur} DD 40</p>
<p><strong>Durée maximale</strong> 6 rounds</p>
<p><strong>Stade 1</strong> [[/r {3d6}[poison]]]{3d6 dégâts de poison} et la victime gagne au hasard : @Compendium[pf2e.conditionitems.i3OJZU2nk64Df3xm]{Maladroit 1}, @Compendium[pf2e.conditionitems.MIRkyAjyBeXivMa7]{Affaibli 1}, or @Compendium[pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Stupefié 1} (1 round)</p>
<p><strong>Stade 2</strong> [[/r {6d6}[poison]]]{6d6 dégâts de poison} et la victime gagne au hasard : @Compendium[pf2e.conditionitems.i3OJZU2nk64Df3xm]{Maladroit 2}, @Compendium[pf2e.conditionitems.MIRkyAjyBeXivMa7]{Affaibli 2}, or @Compendium[pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Stupefié 2} (1 round)</p>
<p><strong>Stade 3</strong> [[/r {9d6}[poison]]]{9d6 dégâts de poison} et la victime gagne au hasard : @Compendium[pf2e.conditionitems.i3OJZU2nk64Df3xm]{Maladroit 3}, @Compendium[pf2e.conditionitems.MIRkyAjyBeXivMa7]{Affaibli 3}, and @Compendium[pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Stupefié 3} (1 round)</p>