Parent Name: Young Magma Dragon (Spellcaster)
Name: Magma Swim
Nom: Nage dans le magma
État: libre

------ Description (en) ------
<p>A magma dragon's swim Speed functions only when the dragon is swimming through magma or molten lava.</p>
------ Description (fr) ------
<p>La vitesse de nage d’un dragon de magma fonctionne seulement lorsqu’il nage dans du magma ou de la lave en fusion.</p>