Parent Name: Young Cloud Dragon
Name: Deflecting Cloud
Nom: Nuage déflecteur
État: officielle

------ Description (en) ------
<p data-visibility="gm"><strong>Trigger</strong> The dragon is the target of a ranged attack</p>
<p><strong>Requirements</strong> The dragon is aware of the attack and has a free wing</p>
<p><strong>Effect</strong> The cloud dragon flexes a wing and creates a billowing cloud of mist. The dragon is treated as if they were @Compendium[pf2e.conditionitems.iU0fEDdBp3rXpTMC]{Hidden} for the purposes of resolving the triggering attack, so normally the attacker must succeed at a @Check[type:flat|dc:11] check to target them. The dragon also gains a +4 circumstance bonus to AC against the triggering attack.</p>
------ Description (fr) ------
<p data-visibility="gm"><strong>Déclencheur</strong> Le dragon est la cible d'une attaque à distance.</p>
<p><strong>Conditions</strong> Le dragon est conscient de l'attaque et a une aile libre.</p>
<p><strong>Effet</strong> Le dragon plie une aile pour générer un nuage de brime. Le dragon est considéré comme @Compendium[pf2e.conditionitems.iU0fEDdBp3rXpTMC]{Caché} pour résoudre l'attaque aui a déclenché cette réaction ; aussi l'attaquant doit réussir @Check[type:flat|dc:11]{Test nu} DD11 pour le prendre pour cible. Le dragon bénéficie également d'un bonus de circonstances de +4 à la CA contre l'attaque à l'origine du déclenchement.</p>