Parent Name: Ghonhatine
Name: Feed
Nom: Alimentation
État: officielle

------ Description (en) ------
<p data-visibility="gm"><strong>Requirement</strong> The ghonhatine is adjacent to the corpse of a creature that died within the last hour</p>
<p><strong>Effect</strong> The ghonhatine devours a chunk of the corpse. For 1 minute, the ghonhatine gains @Compendium[pf2e.bestiary-ability-glossary-srd.fJSNOw4zHGbIm4bZ]{Fast Healing 5} and a +2 status bonus to damage rolls. It can gain these benefits from any given corpse only once.</p>
<hr />
<p>@Compendium[pf2e.bestiary-effects.wPW6kVscJgBLPVKZ]{Effect: Ghonhatine Feed}</p>
------ Description (fr) ------
<p data-visibility="gm"><strong>Conditions</strong> Le ghonhatine est adjacent au cadavre d’une créature morte depuis moins d’une heure.</p>
<p><strong>Effet</strong> TLe ghonhatine dévore un morceau de chair du cadavre. Pendant 1 minute, le ghonhatine gagne @Compendium[pf2e.bestiary-ability-glossary-srd.fJSNOw4zHGbIm4bZ]{Guérison accélérée 5} et un Bonus de statut de +2 à ses jets de dégâts. Il ne peut bénéficier de ces avantages qu’une seule fois par cadavre.</p>
<hr />
<p>@Compendium[pf2e.bestiary-effects.wPW6kVscJgBLPVKZ]{Effet : Alimentation du Ghonhatine}</p>