Parent Name: Chernobue
Name: Recall Venom
Nom: Rappeler le venin
État: officielle

------ Description (en) ------
<p data-visibility="gm"><strong>Trigger</strong> A creature within 30 feet suffers the effects from stage 2 of rupturing venom</p>
<p><strong>Effect</strong> The chernobue calls out telepathically to the semi-alive toxin, causing it to burst out of the target's body and slither through the air to drain back into one of the chernobue's mouths. The poisoned creature takes [[/r {7d6}[bludgeoning]]]{7d6 bludgeoning damage} (@Check[type:fortitude|dc:32|basic:true] save) as the venom exits its body, but is thereafter cured of rupturing venom, and the chernobue regains an equal number of Hit Points.</p>
------ Description (fr) ------
<p data-visibility="gm"><strong>Déclencheur</strong> Une créature dans un rayon de 9 mètres souffre des effets du venin de rupture au stade 2</p>
<p><strong>Effet</strong> La chernobue rappelle par télépathie sa toxine semi- vivante qui jaillit alors du corps de sa victime et file à travers les airs pour regagner la gueule du fiélon qui l’aspire. La créature empoisonnée subit [[/r {7d6}[bludgeoning]]][7d6 dégâts contondants] (jet de @Check[type:fortitude|dc:32|basic:true]{Vigueur basique} DD 32) lorsque le venin sort de son corps, mais elle est ensuite débarrassée du venin de rupture. La chernobue regagne un montant égal de points de vie.</p>