Parent Name: Sea Snake
Name: Lash Out
Nom: Frappe fulgurante
État: officielle

------ Description (en) ------
<p data-visibility="gm"><strong>Trigger</strong> A creature within the sea snake's reach uses a move action</p>
<p><strong>Effect</strong> The sea snake makes a bite Strike against the attacker.</p>
------ Description (fr) ------
<p data-visibility="gm"><strong>Déclencheur</strong> Une créature à portée du serpent de mer utilise une action de déplacement.</p>
<p><strong>Effet</strong> Le serpent de mer fait une Frappe de morsure contre elle.</p>