Parent Name: Sea Snake
Name: Sea Snake Venom
Nom: Venin de serpent de mer
État: officielle

------ Description (en) ------
<p><strong>Saving Throw</strong> @Check[type:fortitude|dc:16]</p>
<p><strong>Maximum Duration</strong> 4 rounds</p>
<p><strong>Stage 1</strong> [[/r {1d6}[poison]]]{1d6 poison damage} (1 round)</p>
<p><strong>Stage 2</strong> [[/r {1d6}[poison]]]{1d6 poison damage} and @Compendium[pf2e.conditionitems.MIRkyAjyBeXivMa7]{Enfeebled 1} (1 round)</p>
------ Description (fr) ------
<p><strong>Jet de sauvegarde</strong> @Check[type:fortitude|dc:16]{Vigueur} DD 16</p>
<p><strong>Durée maximale</strong> 4 rounds</p>
<p><strong>Stade 1</strong> [[/r {1d6}[poison]]]{1d6 dégâts de poison} (1 round)</p>
<p><strong>Stade 2</strong> [[/r {1d6}[poison]]]{1d6 dégâts de poison} t @Compendium[pf2e.conditionitems.MIRkyAjyBeXivMa7]{Affaibli 1} (1 round)</p>