Parent Name: Young Cloud Dragon
Name: Mist Vision
Nom: Vision malgré la brume
État: officielle

------ Description (en) ------
<p>Fog and mist don't impair a cloud dragon's vision; they ignore the @Compendium[pf2e.conditionitems.DmAIPqOBomZ7H95W]{Concealed} condition from fog and mist.</p>
------ Description (fr) ------
<p>Le brouillard et la brume ne gênent pas la vision du dragon ; il ignore l'état @Compendium[pf2e.conditionitems.DmAIPqOBomZ7H95W]{Concealed} provoqué par ces phénomènes</p>