Parent Name: Ravener
Name: Discorporate
Nom: Dématérialisation
État: officielle

------ Description (en) ------
<p data-visibility="gm"><strong>Trigger</strong> The ravener takes excess damage to their soul ward but still has at least 51 Hit Points in their soul ward</p>
<p><strong>Effect</strong> The ravener draws deeply into their soul ward, discorporating their body into soul energy in order to escape. They take 50 damage to their soul ward and their physical body vanishes, reappearing [[/r 1d4 #hours]]{1d4 hours} later in a random location within 1 mile from the location where they used Discorporate.</p>
------ Description (fr) ------
<p data-visibility="gm"><strong>Déclencheur</strong> Le dévoreur draconique reçoit des dégâts en excès qui se reportent sur son Armure d’âmes, mais cette dernière a encore au moins 51 PV</p>
<p><strong>Effect</strong> Le dévoreur puise dans son Armure d’âmes pour dématérialiser son corps et le changer en énergie spirituelle afin de s’enfuir. L’Armure d’âmes reçoit alors 50 dégâts et le corps du dévoreur disparaît. Il réapparaît [[/r 1d4 #hours]]{1d4 heures} plus tard en un point aléatoire dans un rayon de 1,5 km autour du lieu de la Dématérialisation.</p>