Parent Name: Akizendri
Name: Garbled Thoughts
Nom: Pensées confuses
État: officielle

------ Description (en) ------
<p>A creature hit by the akizendri's bite Strike must attempt a @Check[type:will|dc:20] save.</p>
<p><strong>Success</strong> The creature is unaffected.</p>
<p><strong>Failure</strong> The creature is @Compendium[pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Stupefied 1} for [[/br 1d4 #rounds]]{1d4 rounds}.</p>
<p><strong>Critical Failure</strong> As failure, but the creature is also @Compendium[pf2e.conditionitems.yblD8fOR1J8rDwEQ]{Confused} for 1 round.</p>
------ Description (fr) ------
<p>Une créature touchée par la Frappe de morsure de l’akizendri doit faire un jet de @Check[type:will|dc:20]{Volonté} DD 20.</p>
<p><strong>Succès</strong> La créature n'est pas affectée.</p>
<p><strong>Échec</strong> La créature est @Compendium[pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Stupefiée 1} pendant [[/br 1d4 #rounds]]{1d4 rounds}.</p>
<p><strong>Échec critique</strong> Comme l'échec, mais la créature est aussi @Compendium[pf2e.conditionitems.yblD8fOR1J8rDwEQ]{Confuse} pendant 1 round.</p>