Parent Name: Leng Spider
Name: Lay Web Trap
Nom: Tendre un piège de toile
État: officielle

------ Description (en) ------
<p><strong>Frequency</strong> three times per day</p>
<p><strong>Effect</strong> The Leng spider spins a web within 20 feet of itself to create a @Compendium[pf2e.equipment-srd.TFnr9Gq7VXPJu0GQ]{Grasping Snare}, @Compendium[pf2e.equipment-srd.a2XaerM1KkPyLIPM]{Stunning Snare}, or @Compendium[pf2e.equipment-srd.XU8u9F3uoesGDjgM]{Warning Snare}. The Leng spider's web provides all the raw materials it needs. All save and @Compendium[pf2e.actionspf2e.SkZAQRkLLkmBQNB9]{Escape} DCs associated with web traps use the Leng spider's Crafting DC for traps (DC 36). A web trap decays after 24 hours.</p>
------ Description (fr) ------
<p><strong>Fréquence</strong> trois fois par jour</p>
<p><strong>Effet</strong> L’araignée de Leng tisse une toile à moins de 6 mètres d’elle pour créer un @Compendium[pf2e.equipment-srd.TFnr9Gq7VXPJu0GQ]{Piège artisanal de rets}, un @Compendium[pf2e.equipment-srd.XU8u9F3uoesGDjgM]{piège artisanal étourdisseur} ou un @Compendium[pf2e.equipment-srd.XU8u9F3uoesGDjgM]{piège artisanal avertisseur}. La toile de l’araignée de Leng est le seul matériau dont elle a besoin. Tous les DD de jet de sauvegarde et pour S’échapper en lien avec les pièges de toile utilisent le DD d’Artisanat de pièges de l’araignée (DD 36). Un piège de toile se décompose au bout de 24 heures.<p>