Parent Name: Witchfire
Name: Opportune Witchflame
Nom: Flammes ensorcelées opportunistes
État: officielle

------ Description (en) ------
<p data-visibility="gm"><strong>Trigger</strong> A creature makes a melee Strike against or touches the witchfire</p>
<p><strong>Effect</strong> The witchfire makes a witchflame caress Strike against the triggering creature.</p>
------ Description (fr) ------
<p data-visibility="gm"><strong>Déclencheur</strong> Une créature porte une Frappe de corps-à-corps contre la sorcière de feu ou la touche.</p>
<p><strong>Effet</strong> La sorcière de feu utilise sa Frappe de caresse de flammes ensorcelées contre la créature déclencheuse.</p>