Parent Name: Ravener Husk
Name: Boneshatter
Nom: Éclats d’os
État: officielle

------ Description (en) ------
<p data-visibility="gm"><strong>Trigger</strong> The ravener husk takes any amount of bludgeoning damage</p>
<p><strong>Effect</strong> The ravener's brittle bones shatter, spraying bone shards everywhere. Every creature within a @Template[type:emanation|distance:10] of the ravener husk takes [[/r {7d6}[piercing]]]{7d6 piercing damage} (@Check[type:reflex|dc:31|basic:true] save).</p>
------ Description (fr) ------
<p data-visibility="gm"><strong>Déclencheur</strong> Le vestige de dévoreur reçoit des dégâts contondants</p>
<p><strong>Effect</strong> Les os fragiles du dévoreur se brisent et envoient des éclats partout. Toute créature dans une @Template[type:emanation|distance:10]{émanation de 3 mètres} autour du vestige de dévoreur subit [[/r {7d6}[piercing]]]{7d6 dégâts perforants} (@Check[type:reflex|dc:31|basic:true]{Réflexes basique} DD 31).</p>