Parent Name: Witchfire
Name: Witchflame Kindling
Nom: Flammes ensorcelées incandescentes
État: officielle

------ Description (en) ------
<p data-visibility="gm"><strong>Requirements</strong> A creature within 30 feet of the witchfire burns with witchflame</p>
<p><strong>Effect</strong> The witchfire's eyes and mouth glow brightly, and the witchflame on the target creature momentarily burns much hotter, dealing [[/r {5d6}[fire]+{5d6}[negative]]]{5d6 fire damage and 5d6 negative damage} to that creature (@Check[type:fortitude|dc:28|basic:true] save).</p>
<p data-visibility="gm">The witchfire can't use Witchflame Kindling for [[/br 1d4 #Recharge Witchflame Kindling]]{1d4 rounds}.</p>
------ Description (fr) ------
<p data-visibility="gm"><strong>Conditions</strong> Une créature qui se trouve dans un rayon de 9 m de la sorcière de feu est couverte de flammes ensorcelées.</p>
<p><strong>Effet</strong> Les yeux et la bouche de la sorcière de feu produisent une lumière vive et les flammes ensorcelées qui enveloppent la créature brûlent temporairement avec bien plus d’intensité, lui infligeant [[/r {5d6}[fire]+{5d6}[negative]]]{5d6 dégâts de feu et 5d6 dégâts négatifs} (@Check[type:fortitude|dc:28|basic:true]{Vigueur basique} DD 28). </p>
<p data-visibility="gm">La sorcière doit attendre [[/br 1d4 #Recharge Flammes ensorcelées incandescentes]]{1d4 rounds} avant de pouvoir utiliser de nouveau les flammes ensorcelées incandescentes..</p>