Parent Name: Young Cloud Dragon
Name: Breath Weapon
Nom: 
État: aucune

------ Description (en) ------
<p>The dragon breathes a thundercloud that deals [[/r {11d6}[electricity]]]{11d6 electricity damage} in a @Template[type:cone|distance:40] (@Check[type:reflex|dc:29|basic:true] save).</p>
<p>They can't use Breath Weapon again for [[/br 1d4 #rounds]]{1d4 rounds}.</p>
------ Description (fr) ------
<p>Le dragon souffle un nuage de tonnerre qui inflige [[/r {11d6}[electricity]]]{11d6 dégâts d'électricité} dans un @Template[type:cone|distance:40]{cône de 12 mètres} (@Check[type:reflex|dc:29|basic:true]{Réflexes basique DD 29}). </p>