Parent Name: Sarglagon
Name: Heavy Aura
Nom: Aura pesante
État: officielle

------ Description (en) ------
<p>@Template[type:emanation|distance:10]{10 feet} @Compendium[pf2e.bestiary-ability-glossary-srd.v61oEQaDdcRpaZ9X]{Aura}</p>
<hr />
<p>A creature that enters the heavy aura must attempt a @Check[type:will|dc:23] save. It is then temporarily immune for 10 minutes.</p>
<div data-visibility="gm"><hr />
<p><strong>Success</strong> The creature is unaffected.</p>
<p><strong>Failure</strong> The creature is @Compendium[pf2e.conditionitems.D5mg6Tc7Jzrj6ro7]{Encumbered} while it remains in the area. If the creature is already encumbered, it is @Compendium[pf2e.conditionitems.eIcWbB5o3pP6OIMe]{Immobilized} while it remains within the aura.</p>
<p><strong>Critical Failure</strong> As failure, but the effect persists for 3 rounds after leaving the aura.</p>
</div>
------ Description (fr) ------
<p>@Template[type:emanation|distance:10]{Aura de 3 mètres}</p>
<p>Une créature qui pénètre dans l’aura doit tenter un jet de @Check[type:will|dc:23]{Volonté} DD 23. Puis elle y est temporairement immunisée pendant 10 minutes.</p>
<div data-visibility="gm"><hr />
<p><strong>Succès</strong> La créature n'est pas affectée.</p>
<p><strong>Échec</strong> La créature est @Compendium[pf2e.conditionitems.D5mg6Tc7Jzrj6ro7]{Surchargée} tant qu'elle demeure dans l'aura. Si la créature est déjà Surchargée, elle est  @Compendium[pf2e.conditionitems.eIcWbB5o3pP6OIMe]{Immobilisée} tant qu'elle reste dans l'aura.</p>
<p><strong>Échec critique</strong> Comme pour un échec, mais l'effet persiste pendant 3 rounds après avoir quitté l'aura.</p>
</div>