Parent Name: Giant Whiptail Centipede
Name: Attack of Opportunity
Nom: Attaque d'opportunité
État: officielle

------ Description (en) ------
<p>Tail only</p>
<hr />
<p>@Localize[PF2E.NPC.Abilities.Glossary.AttackOfOpportunity]</p>
------ Description (fr) ------
<p>Queue seulement</p>
<hr />
<p>@Localize[PF2E.NPC.Abilities.Glossary.AttackOfOpportunity]</p>