Parent Name: Olethrodaemon
Name: Soul Crush
Nom: Broyage d’âme
État: officielle

------ Description (en) ------
<p><strong>Requirement</strong> The olethrodaemon has a soul gem</p>
<p><strong>Effect</strong> The olethrodaemon crushes the soul gem in one hand and regains the use of Apocalypse Breath or any one of its innate spells.</p>
------ Description (fr) ------
<p><strong>Conditions</strong> L’oléthrodaémons possède une gemme d’âme</p>
<p><strong>Effet</strong> L’oléthrodaémons broie la gemme d’âme d’une main et regagne l’usage de Souffle de l’apocalypse ou de l’un de ses sorts innés.</p>