Parent Name: Steam Mephit
Name: Boiling Rain
Nom: Pluie bouillante
État: officielle

------ Description (en) ------
<p><strong>Frequency</strong> once per day</p>
<p><strong>Effect</strong> The steam mephit calls down a rain boiling water that surrounds them in a @Template[type:emanation|distance:10]. Creatures in the area take [[/r {2d8}[fire]]]{2d8 fire damage} (@Check[type:reflex|dc:17|basic:true] save), and small unattended flames (such as torches) are extinguished.</p>
------ Description (fr) ------
<p><strong>Fréquence</strong> une fois par jour</p>
<p><strong>Effect</strong> Le méphite de vapeur fait tomber une pluie bouillante autour de lui dans une @Template[type:emanation|distance:10]{émanation de 3 m}. Les créatures dans la zone d’effet subissent [[/r {2d8}[fire]]]2d8 dégâts de feu (@Check[type:reflex|dc:17|basic:true]{Réflexes basique} DD 17) et les petites flammes non protégées (comme les torches) sont éteintes.</p>