Parent Name: Ravener
Name: Consume Soul
Nom: Dévorer les âmes
État: officielle

------ Description (en) ------
<p>DC 44</p>
<p data-visibility="gm"><strong>Trigger</strong> A living creature within 30 feet of the ravener dies</p>
<p><strong>Effect</strong> The ravener tears the creature's soul from its body with their maw and gulps it down. The dying creature must attempt a Fortitude save with the same DC as the ravener's Breath Weapon.</p>
<hr />
<p><strong>Critical Success</strong> The creature is unaffected.</p>
<p><strong>Success</strong> The ravener tears off a small chunk of the creature's soul. If the victim is restored to life, they are @Compendium[pf2e.conditionitems.4D2KBtexWXa6oUMR]{Drained 1} in addition to any other side effects of returning to life. The ravener adds a number of Hit Points to their soul ward equal to half the creature's level.</p>
<p><strong>Failure</strong> As success, but the creature's soul is ravaged. The creature is @Compendium[pf2e.conditionitems.4D2KBtexWXa6oUMR]{Drained 3} and the ravener adds a number of Hit Points to their soul ward equal to the creature's level.</p>
<p><strong>Critical Failure</strong> As failure, but the ravener devours the entire soul. The victim can't be restored to life as long as the ravener exists except via a 10th-level effect such as miracle or wish, and the ravener adds a number of Hit Points to their soul ward equal to twice the creature's level.</p>
------ Description (fr) ------
<p>DD 44</p>
<p data-visibility="gm"><strong>Déclencheur</strong> Un créature vivante dans un rayon de 9 mètres périt.</p>
<p><strong>Effet</strong> Le dévoreur arrache l’âme du corps de la créature d’un coup de croc et l’engloutit. La créature mourante doit réussir un jet de Vigueur contre le même DD que le souffle du dévoreur draconique.</p>
<hr />
<p><strong>Succès critique</strong> La créature n’est pas affectée.</p>
<p><strong>Succès</strong> Le dévoreur arrache un bout de l’âme de la créature. Si la victime est ramenée à la vie, elle est @Compendium[pf2e.conditionitems.4D2KBtexWXa6oUMR]{Drainée 1} en plus des autres effets secondaires éventuellement liés à sa résurrection. Le dévoreur ajoute un montant de PV égal à la moitié du niveau de la créature à son armure d’âmes.</p>
<p><strong>Échec</strong> Comme un succès, mais l’âme de la créature est déchiquetée. La créature est @Compendium[pf2e.conditionitems.4D2KBtexWXa6oUMR]{Drainée 3} et le dévoreur ajoute un montant de PV égal au niveau de la créature à son Armure d’âmes.</p>
<p><strong>Échec critique</strong> Comme pour un échec, mais le dévoreur consume la totalité de l’âme. Tant que le dévoreur draconique existe, il est impossible de ramener la victime à la vie, à moins d’utiliser un effet de niveau 10 comme miracle ou souhait. Le dévoreur ajoute un montant de PV égal au double du niveau de la créature à son armure d’âmes.</p>