Parent Name: Vampire Squid
Name: Glowing Mucus
Nom: Mucus luminescent
État: officielle

------ Description (en) ------
<p><strong>Frequency</strong> once per day</p>
<p><strong>Requirements</strong> The vampire squid is in water</p>
<p><strong>Effect</strong> The vampire squid ejects a cloud of bioluminescent mucus in a @Template[type:cone|distance:15]. Non-squid creatures within the cloud must attempt a @Check[type:fortitude|dc:16] save or become @Compendium[pf2e.conditionitems.fesd1n5eVhpCSS18]{Sickened 1}. The glowing mucus remains in the area for 1 minute, and any creature that ends its turn in the area must succeed at a @Check[type:fortitude|dc:13] save or become @Compendium[pf2e.conditionitems.fesd1n5eVhpCSS18]{Sickened 1}.</p>
------ Description (fr) ------
<p><strong>Fréquence</strong> une fois par jour</p>
<p><strong>Conditions</strong> Le vampire des abysses se trouve dans l’eau.</p>
<p><strong>Effet</strong> Le vampire crache un nuage de mucus bioluminescent dans un @Template[type:cone|distance:15]{cône de 4,5 mètres}. Une créature qui se trouve dans le nuage sans être un vampire des abysses doit réussir un jet de @Check[type:fortitude|dc:16]{Vigueur} DD 16 ou devenir @Compendium[pf2e.conditionitems.fesd1n5eVhpCSS18]{Malade 1}. Le mucus luminescent reste dans la zone pendant 1 minute et toute créature qui y termine son tour doit réussir un jet de @Check[type:fortitude|dc:13]{Vigueur} DD 13, sinon elle est @Compendium[pf2e.conditionitems.fesd1n5eVhpCSS18]{Malade 1}.</p>