Parent Name: Ravener Husk
Name: Ravenous Repast
Nom: Repas vorace 
État: officielle

------ Description (en) ------
<p><strong>Frequency</strong> once per day</p>
<p><strong>Effect</strong> The ravener husk makes a jaws Strike against a deceased creature that has been dead no longer than 1 minute, was good aligned, and was at least level 15 in life. The ravener attempts a @Check[type:flat|dc:5] check; if successful, they transform back into a ravener with 1 Hit Point in their soul ward.</p>
------ Description (fr) ------
<p><strong>Fréquence</strong> une fois par jour.</p>
<p><strong>Effet</strong> Le vestige de dévoreur fait une Frappe de mâchoires contre une créature décédée depuis moins de 1 minute, qui était d’alignement bon et au moins niveau 15 de son vivant. Il tente alors un @Check[type:flat|dc:5]{Test nu DD 5} et, sur un succès, se transforme de nouveau en dévoreur draconique avec une Armure d’âmes à 1 PV.