Parent Name: Yellow Musk Creeper
Name: Spray Pollen
Nom: Projection de pollen
État: officielle

------ Description (en) ------
<p>The yellow musk creeper blasts yellow pollen in either a @Template[type:line|distance:30] or a @Template[type:cone|distance:15]. Each creature in the emanation must attempt a @Check[type:will|dc:20] save.</p>
<div data-visibility="gm">
<p>Once a creature succeeds at any save against Spray Pollen, it becomes temporarily immune for 24 hours.</p>
<hr />
<p><strong>Success</strong> The creature is unaffected.</p>
<p><strong>Failure</strong> The creature is @Compendium[pf2e.conditionitems.AdPVz7rbaVSRxHFg]{Fascinated}. For as long as it is fascinated, it must spend each of its actions to move closer to the yellow musk creeper as expediently as possible, while avoiding obvious dangers. If the creature is adjacent to the yellow musk creeper, it stays still and doesn't act. If anyone takes a hostile action against the creature or its allies, the effect ends. Otherwise, the creature can attempt a new save at the end of each of its turns. On a success, the effects end.</p>
<p><strong>Critical Failure</strong> As failure, but the condition doesn't end automatically if anyone takes a hostile action against the creature or its allies.</p>
</div>
------ Description (fr) ------
<p>La vigne musquée jaune projette du pollen jaune sur une @Template[type:line|distance:30]{ligne de 9 mètres} ou un @Template[type:cone|distance:15]{cône de 4,5 mètres}. Chaque créature qui se trouve dans la zone affectée doit faire un jet de @Check[type:will|dc:20]{Volonté} DD 20.</p>
<div data-visibility="gm">
<p>Si une créature réussit un jet de sauvegarde contre une Projection de pollen, elle y est immunisée pendant 24 heures.</p>
<hr />
<p><strong>Succès</strong> The creature is unaffected.</p>
<p><strong>Échec</strong> La créature est @Compendium[pf2e.conditionitems.AdPVz7rbaVSRxHFg]{Fascinée}. Tant que la créature est fascinée, elle doit utiliser chacune de ses actions pour se rapprocher de la vigne musquée jaune aussi vite que possible, tout en évitant les dangers évidents. Si la créature se trouve dans un espace adjacent à la vigne musquée jaune, elle reste immobile et n’agit pas.</p>
<p><strong>Échec critique</strong> Comme un échec, mais l’état ne prend pas fin automatiquement. La créature peut tenter un nouveau jet de sauvegarde à la fin de chacun de ses tours. Sur un succès, l’état fasciné et tout autre effet se dissipent.</p>
</div>