Parent Name: Osyluth
Name: Sadistic Strike
Nom: Frappe sadique
État: officielle

------ Description (en) ------
<p>An osyluth deals an extra [[/r {2d6}]]{2d6 damage} whenever they Strike an @Compendium[pf2e.conditionitems.MIRkyAjyBeXivMa7]{Enfeebled}, @Compendium[pf2e.conditionitems.TBSHQspnbcqxsmjL]{Frightened}, or @Compendium[pf2e.conditionitems.j91X7x0XSomq8d60]{Prone} creature.</p>
------ Description (fr) ------
<p>Un osyluth inflige [[/r {2d6}]]{2d6 dégâts supplémentaires} quand il Frappe une créature @Compendium[pf2e.conditionitems.MIRkyAjyBeXivMa7]{Affaiblie}, @Compendium[pf2e.conditionitems.TBSHQspnbcqxsmjL]{Effrayée} ou@Compendium[pf2e.conditionitems.j91X7x0XSomq8d60]{à terre}.</p>