Parent Name: Scythe Tree
Name: Woodland Ambush
Nom: Embuscade sylvestre
État: officielle

------ Description (en) ------
<p><strong>Requirements</strong> The scythe tree is using Dead Tree in forested terrain, and a creature that hasn't detected it is within 30 feet</p>
<p><strong>Effect</strong> The scythe tree Strides up to 25 feet toward the triggering creature. Once the creature is in reach, the scythe tree makes a scythe branch Strike against it. The creature is @Compendium[pf2e.conditionitems.AJh5ex99aV6VTggg]{Flat-Footed} against this Strike.</p>
------ Description (fr) ------
<p><strong>Conditions</strong> L’arbre faux utilise arbre mort dans une zone forestière, et une créature qui ne l’a pas détecté se trouve à moins de 9 mètres de lui.</p>
<p><strong>Effet</strong> L’arbre faux Marche rapidement jusqu’à 7,5 mètres en direction de la créature déclencheuse. Une fois que la créature est à portée, l’arbre faux effectue une Frappe de branche faux contre cette dernière. La créature est @Compendium[pf2e.conditionitems.AJh5ex99aV6VTggg]{Prise au dépourvu} par la Frappe.</p>