Parent Name: Quoppopak
Name: Flooding Thrust
Nom: Injection d'eau
État: officielle

------ Description (en) ------
<p><strong>Requirements</strong> The quoppopak's ventral tube is in water</p>
<p><strong>Effect</strong> The quoppopak uses Tentacle Stab against a creature within reach; if either of these Strikes hits, the creature must attempt a @Check[type:reflex|dc:30|traits:damaging-effect] save. On a failed save, the quoppopak shoots water through its tentacles into the creature, dealing [[/r {2d6+5}[bludgeoning]]]{2d6+5 bludgeoning damage} and making the creature @Compendium[pf2e.conditionitems.fesd1n5eVhpCSS18]{Sickened 1} as its internal organs fill with water (double damage and @Compendium[pf2e.conditionitems.fesd1n5eVhpCSS18]{Sickened 2} on a critical failure).</p>
------ Description (fr) ------
<p><strong>Conditions</strong> Le tube ventral du quoppopak est immergé</p>
<p><strong>Effect</strong> Le quoppopak utilise Tentacule poignardeur contre une cible à portée. Si l’une des deux Frappes touche, la cible doit faire un jet de @Check[type:reflex|dc:30|traits:damaging-effect]{Réflexes} DD 30. Sur un échec, le quoppopak injecte de l’eau dans la créature à travers son tentacule, infligeant [[/r {2d6+5}[bludgeoning]]]{2d6+5 dégâts contondants} et rendant la créature @Compendium[pf2e.conditionitems.fesd1n5eVhpCSS18]{Malade 1} car ses organes internes se remplissent d’eau (en cas d’échec critique, les dégâts sont doublés et la créature est @Compendium[pf2e.conditionitems.fesd1n5eVhpCSS18]{Malade 2}).</p>