Parent Name: Dig-Widget
Name: Drill
Nom: Foreuse
État: libre

------ Description (en) ------
<p>[[/r {1d6}[persistent,bleed]]] @Compendium[pf2e.conditionitems.lDVqvLKA6eF3Df60]{Persistent Bleed Damage}</p>
------ Description (fr) ------
<p>[[/r {1d6}[persistent,bleed]]] @Compendium[pf2e.conditionitems.lDVqvLKA6eF3Df60]{1d6 Saignement Persistants}</p>