Parent Name: Coil Spy
Name: Sneak Attack
Nom: Attaque sournoise
État: officielle

------ Description (en) ------
<p>The Coil spy's Strikes deal an extra [[/r {2d6}[precision]]]{2d6 precision damage} to @Compendium[pf2e.conditionitems.AJh5ex99aV6VTggg]{Flat-Footed} creatures.</p>
<p>When the monster Strikes a creature that has the flat-footed condition with an agile or finesse melee weapon, an agile or finesse unarmed attack, or a ranged weapon attack, it also deals the listed precision damage. For a ranged attack with a thrown weapon, that weapon must also be an agile or finesse weapon.</p>
------ Description (fr) ------
<p>Les Frappes de l’espion anneau infligent [[/r {2d6}[precision]]]{2d6 dégâts de précision} supplémentaires aux créatures @Compendium[pf2e.conditionitems.AJh5ex99aV6VTggg]{Prises au dépourvu}.</p>
<hr />
<p>@Localize[PF2E.NPC.Abilities.Glossary.SneakAttack]</p>