Parent Name: Blue Dracolisk
Name: Petrifying Glance
Nom: Coup d’oeil pétrifiant
État: officielle

------ Description (en) ------
<p data-visibility="gm"><strong>Trigger</strong> A creature within 30 feet that the dracolisk can see starts its turn</p>
<p><strong>Effect</strong> The target must attempt a @Check[type:fortitude|dc:26] save. If it fails, it becomes @Compendium[pf2e.conditionitems.xYTAsEpcJE1Ccni3]{Slowed 1} for 1 minute as its body stiffens.</p>
------ Description (fr) ------
<p data-visibility="gm"><strong>Déclencheur</strong> Une créature à 9 mètres ou moins du dracolisque débute son tour</p>
<p><strong>Effet</strong> La cible doit tenter un jet de  @Check[type:fortitude|dc:26]{Vigueur} DD 26. Si elle échoue elle devient @Compendium[pf2e.conditionitems.xYTAsEpcJE1Ccni3]{Ralentie 1} pendant 1 minute alors que son corps se raidit.</p>