Name: Floating Shield
Nom: Bouclier flottant
État: officielle

------ Description (en) ------
<p>A <em>floating shield</em> is usually carved with wing motifs. This buckler (Hardness 6, HP 24, BT 12) can protect you on its own.</p>
<p><strong>Activate</strong> <span class="pf2-icon">A</span> Interact</p>
<p><strong>Frequency</strong> once per day</p>
<p><strong>Effect</strong> The shield magically releases itself and floats off your arm into the air next to you, granting you its bonus automatically, as if you had Raised the Shield.</p>
<p>Because you're not wielding the shield, you can't use reactions such as Shield Block with the shield, but you gain its benefits even when using both of your hands.</p>
<p>After 1 minute, the shield drops to the ground, ending its floating effect. While the shield is adjacent to you, you can Interact to grasp it, ending its floating effect early.</p>
------ Description (fr) ------
<p>Des motifs d’aile sont souvent gravés sur un bouclier flottant. Cette targe peut vous protéger de sa propre initiative</p>
<p>La targe a une Solidité 6, 24 PV et un SR de 12.</p>
<hr />
<p><strong>Activation</strong> <span class="pf2-icon">A</span> Interagir</p>
<p><strong>Fréquence</strong> 1 fois par jour</p>
<p><strong>Effet</strong> Le bouclier se détache de votre bras et flotte à vos côtés en vous conférant automatiquement son bonus, comme si vous aviez Levé le bouclier.</p> 
<p>Étant donné que vous ne maniez pas le bouclier, vous ne pouvez pas utiliser de réactions telles que Blocage au bouclier avec lui mais vous profitez de ses avantages, même si vous utilisez déjà vos deux mains.</p>
<p>Au bout d’une minute, le bouclier tombe au sol, ce qui met fin à l’effet flottant. Tant que le bouclier est adjacent à vous, vous pouvez Interagir pour vous en emparer, ce qui met fin prématurément à son effet flottant.</p>
