Name: Focus Cathartic (Major)
Nom: Élixir de concentration cathartique majeur
État: libre

------ Description (en) ------
<p><strong>Activate</strong> <span class="pf2-icon">A</span> Interact</p>
<hr />
<p>Focus briefly calms your neurons, helping ease mental effects. When you drink this elixir, the elixir attempts a counteract check with a [[/r 1d20+28]] counteract modifier to remove the @Compendium[pf2e.conditionitems.yblD8fOR1J8rDwEQ]{Confused} or @Compendium[pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Stupefied} condition from a single source, using the source of that condition to determine the counteract level and DC.</p>
------ Description (fr) ------
<p><strong>Activation</strong> <span class="pf2-icon">A</span> Interagir</p>
<hr />
<p>Cet élixir de concentration purificateur calme brièvement vos neurones, aidant à atténuer les effets mentaux. Lorsque vous buvez cet élixir, celui-ci tente un test pour contrer les effets, avec un modificateur de [[/r 1d20+28]] pour supprimer les états @Compendium[pf2e.conditionitems.yblD8fOR1J8rDwEQ]{Confus} ou @Compendium[pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Stupefié} d'une source unique, en utilisant la source de cette condition pour déterminer le niveau de contre et le DD.</p>

