Name: Murderer's Knot
Nom: Nœud du meurtier
État: officielle

------ Description (en) ------
<p><strong>Usage</strong> affixed to a weapon</p>
<p><strong>Activate</strong> <span class="pf2-icon">F</span> Command</p>
<p><strong>Trigger</strong> You damage a flat-footed creature with a Strike using the Affixed weapon</p>
<p><strong>Requirements</strong> You are an expert with the affixed weapon</p>
<p>This black strand of leather is tied to look like a peace knot when the weapon is stowed, but it doesn't hamper drawing the weapon. When you activate the knot, the creature you damaged takes [[/r {1d6}[persistent,bleed]]] @Compendium[pf2e.conditionitems.lDVqvLKA6eF3Df60]{Persistent Bleed Damage}.</p>
<p>If you have the @Compendium[pf2e.feats-srd.5Jc2ySGLVi053qpz]{Twist the Knife} feat, the talisman instead deals persistent bleed damage equal to your sneak attack damage.</p>
------ Description (fr) ------
<p><strong>Utilisation</strong> Fixé sur une arme</p>
<p><strong>Activation</strong> <span class="pf2-icon">F</span> Sur ordre</p>
<p><strong>Déclencheur</strong> Vous blessez une créature Prise au dépourvu avec une Frappe de l’arme support</p>
<p><strong>Conditions</strong> Vous êtes expert avec l’arme support.</p>
<p>Ce lien de cuir noir est noué de manière à ressembler à un nœud de paix lorsque l’arme est au fourreau, mais il n’empêche pas de la tirer. Lorsque vous activez le nœud, la créature que vous blessez subit [[/r {1d6}[persistent,bleed]]] @Compendium[pf2e.conditionitems.lDVqvLKA6eF3Df60]{1d6 dégâts de saignement persistants}.</p>
<p>Si vous possédez le don @Compendium[pf2e.feats-srd.5Jc2ySGLVi053qpz]{Remuer le couteau}, le talisman inflige à la place des dégâts de saignement persistants égaux à vos dégâts d’attaque sournoise.</p>
