Name: Ring of Swimming
Nom: Anneau de nage
État: officielle

------ Description (en) ------
<p>This blue metal ring grants you a swim Speed equal to half your land Speed. Penalties to your Speed (including from your armor) apply before halving.</p>
<hr />
<p>Automatically applied effects:</p>
<ul>
<li> a swim Speed equal to half your land Speed</li>
</ul>
------ Description (fr) ------
<p>Cet anneau de métal bleuté vous confère une Vitesse de nage égale à la moitié de votre Vitesse au sol. Les malus à votre Vitesse (y compris ceux que vous impose votre armure) s’appliquent avant de la diviser par deux.</p>
<hr />
<p>Code:</p>
<ul>
<li>Vitesse de nage égale à la moitié de votre Vitesse au sol</li>
</ul>
