Name: Ring of Wizardry (Type I)
Nom: Anneau des arcanes (Type I)
État: officielle

------ Description (en) ------
<p>This ring is made from the purest platinum and is covered in esoteric arcane symbols. It does nothing unless you have a spellcasting class feature with the arcane tradition. While wearing the ring of wizardry, you gain a +1 item bonus to Arcana checks and have two additional 1st-level arcane spell slots each day. You prepare spells in these slots or cast from them spontaneously, just as you normally cast your spells.</p>
<p>If you take off the ring for any reason, you lose the additional spell slots. You can't gain spell slots from more than one ring of wizardry per day, nor can a single ring of wizardry grant spell slots more than once per day.</p>
<p>If you can cast arcane spells in a variety of different ways (such as if you are a draconic bloodline sorcerer with the wizard multiclass archetype), you can divide the spell slots as you wish among your various sources of arcane spells.</p>
<p><strong>Craft Requirements</strong> You have a spellcasting class feature with the arcane tradition.</p>
<hr />
<p>Automatically applied effects:</p>
<ul>
<li>+1 item bonus to Arcana checks </li>
</ul>
------ Description (fr) ------
<p>Cet anneau est forgé dans le platine le plus pur et gravé de symboles arcaniques ésotériques. Il ne sert à rien si vous n’avez pas la capacité de classe incantation de la tradition arcanique. Lorsque vous portez l’anneau des arcanes, vous bénéficiez d’un bonus d’objet de +1 aux tests d’Arcanes et disposez chaque jour de deux emplacements de sort de niveau 1 supplémentaires. Vous préparez des sorts dans ces emplacements ou lancez des sorts de manière spontanée avec ces emplacements, comme vous le feriez normalement.  </p>
<p>Vous perdez les emplacements de sort supplémentaires si vous ne portez plus l’anneau, quelles qu’en soient les raisons. Vous ne pouvez pas gagner les emplacements de sorts conférés par plus d’un anneau des arcanes et un seul anneau des arcanes ne peut pas conférer des emplacements de sort plus d’une fois par jour.</p>
<p>Si vous pouvez lancer des sorts arcaniques par différents moyens (si vous êtes un ensorceleur au lignage draconique avec l’archétype de multiclassage de magicien), vous pouvez répartir les emplacements de sort comme vous le souhaitez parmi vos diverses sources de sorts arcaniques. </p>
<hr />
<p><strong>Conditions de fabrication</strong> Vous avez la capacité de classe incantation de la tradition arcanique.</p>
<hr />
<p>Code:</p>
<ul>
<li>Bonus d'objet +1 aux test d'Arcanes </li>
</ul>
