Name: Mirror Robe
Nom: Robe miroir
État: libre

------ Description (en) ------
<p>Thousands of small, reflective, mirrored glass shards have been carefully stitched down this long silk duster.</p>
<hr />
<p><strong>Activate</strong> <span class="pf2-icon">1</span> Interact</p>
<p><strong>Requirements</strong> The mirror robe was last activated to draw attention toward you, or you haven't used the mirror robe today</p>
<p><strong>Effect</strong> The mirror robe Creates a Diversion for you with a [[/r {1d20+9} #Mirror Robe Deception]]{+9} Deception modifier.</p>
<hr />
<p><strong>Activate</strong> <span class="pf2-icon">1</span> Interact (visual)</p>
<p><strong>Requirements</strong> The mirror robe was last activated to divert attention away from you and you are @Compendium[pf2e.conditionitems.iU0fEDdBp3rXpTMC]{Hidden} or @Compendium[pf2e.conditionitems.VRSef5y1LmL2Hkjf]{Undetected} by at least one foe</p>
<p><strong>Effect</strong> You draw attention toward yourself. Choose one foe to which you were hidden or undetected. You reveal yourself to all, becoming observed. The foe you chose diverts its attention to you, becoming @Compendium[pf2e.conditionitems.AJh5ex99aV6VTggg]{Flat-Footed} to your allies until the beginning of your next turn. If you are @Compendium[pf2e.conditionitems.zJxUflt9np0q4yML]{Invisible} or otherwise can't become @Compendium[pf2e.conditionitems.1wQY3JYyhMYeeV2G]{Observed}, you can't use this activation.</p>
------ Description (fr) ------
<p>Des milliers de petits éclats de verre réfléchissants et de miroirs ont été soigneusement cousus le long de ce long manteau de soie.</p>
<hr />
<p><strong>Activation</strong> <span class="pf2-icon">1</span> Interagir</p>
<p><strong>Conditions</strong> La robe miroir a été activée la dernière fois pour attirer l'attention vers vous ou vous n'avez pas utilisé la robe miroir aujourd'hui</p>
<p><strong>Effet</strong> La robe miroir Fait une diversion pour vous avec un Modificateur de Duperie de [[/r {1d20+9} #Duperie Robe miroir]]{+9}.</p>
<hr />
<p><strong>Activation</strong> <span class="pf2-icon">1</span> Interaction (visuelle)</p>
<p><strong>Conditions</strong> La robe miroir a été activée en dernier lieu pour détourner l'attention de vous et vous êtes @Compendium[pf2e.conditionitems.iU0fEDdBp3rXpTMC]{Caché} ou @Compendium[pf2e.conditionitems.VRSef5y1LmL2Hkjf]{Non détecté} par au moins un ennemi</p>
<p><strong>Effet</strong> Vous attirez l'attention sur vous. Choisissez un ennemi pour lequel vous étiez Caché ou Non détecté. Vous vous révélez à tous, devenant ainsi Observé. L'ennemi que vous avez choisi détourne son attention vers vous, devenant @Compendium[pf2e.conditionitems.AJh5ex99aV6VTggg]{Pris au dépourvu} pour vos alliés jusqu'au début de votre prochain tour. Si vous êtes @Compendium[pf2e.conditionitems.zJxUflt9np0q4yML]{Invisible} ou ne pouvez pas devenir @Compendium[pf2e.conditionitems.1wQY3JYyhMYeeV2G]{Observé}, vous ne pouvez pas utiliser cette activation.</p>
