Name: Warrior's Training Ring
Nom: L'anneau d'entrainement du guerrier
État: libre

------ Description (en) ------
<p>This ring is utilitarian in design-indicating its martial use. Its band is decorated only with a simple, sharp-edged sculpture on the band's center. While wearing this ring, you add your level to your attack rolls with all weapons with which you are untrained.</p>
<p><strong>Activate</strong> <span class="pf2-icon">F</span> envision</p>
<p><strong>Frequency</strong> once per day</p>
<p><strong>Trigger</strong> You make an attack with a weapon in which you're untrained</p>
<p><strong>Effect</strong> You gain a +2 circumstance bonus to the attack roll. If you are an expert in any weapon, you instead gain a +4 circumstance bonus to the attack roll.</p>
<hr />
<p>Automatically applied effects:</p>
<ul>
<li> Add your level to attack rolls with all weapons with which you are untrained</li>
</ul>
------ Description (fr) ------
<p>Cette bague est de conception utilitaire, ce qui indique son utilisation martiale. Son anneau n’est décoré que d’une sculpture simple, aux arêtes vives, au centre de l’anneau. Lorsque vous portez cet anneau, vous ajoutez votre niveau à vos jets d'attaque avec toutes les armes avec lesquelles vous n'êtes pas entraîné.</p>
<p><strong>Activation</strong> <span class="pf2-icon">F</span> Imaginer</p>
<p><strong>Fréquence</strong> une fois par jour</p>
<p><strong>Déclencheur</strong> Vous effectuez une attaque avec une arme dans laquelle vous'n'êtes pas entraîné</p>
<p><strong>Effet</strong> Vous gagnez un bonus de circonstances de +2 au jet d'attaque. Si vous êtes un expert dans une arme, vous gagnez un bonus de circonstances de +4 au jet d'attaque.</p>
<hr />
<p>Code:</p>
<ul>
<li>Ajoutez votre niveau aux jets d'attaque avec toutes les armes avec lesquelles vous n'êtes pas entraîné</li>
</ul>
