Name: Ring of Counterspells
Nom: Anneau de contresort
État: officielle

------ Description (en) ------
<p>This ornate silver ring bears two competing geometric designs of brightly colored and wildly clashing inlaid gemstones. A spellcaster can cast a single spell into this ring as long as no spell is currently stored within, expending the normal time, costs, and so forth to Cast the Spell. The spell's effect doesn't occur; the spell's power is instead stored within the ring.</p>
<p>When you invest a <em>ring of counterspells</em>, you immediately know the name and level of the spell stored inside, if any. A <em>ring of counterspells</em> found as treasure has a 50% chance of having a spell stored in it. The GM determines that spell.</p>
<hr />
<p><strong>Activate</strong> <span class="pf2-icon">R</span> envision</p>
<p><strong>Trigger</strong> You are targeted by or within the area of the spell stored within the ring</p>
<p><strong>Effect</strong> You can attempt to counteract the triggering spell, using the level of the spell stored in the ring and a counteract modifier of [[/r 1d20+19]]. Once you do, the stored spell's energy is spent, and the ring is empty.</p>
<hr />
<p><strong>Activate</strong> <span class="pf2-icon">A</span> command</p>
<p><strong>Effect</strong> You harmlessly expend the stored spell, having no effect but emptying the ring so that another spell can be cast into it.</p>
------ Description (fr) ------
<p>Cet anneau d’argent est orné de deux motifs géométriques opposés composés de pierres précieuses aux couleurs vives très tranchées. Un incantateur peut lancer un sort unique dans cet anneau tant qu’il ne contient aucun autre sort ; il doit pour cela y consacrer le temps normal, régler les coûts, etc. pour Lancer le sort. Le sort ne produit aucun effet ; au lieu de cela, son énergie est stockée dans l’anneau.</p>
<p>Quand vous investissez un anneau de contresort, vous connaissez immédiatement le nom et le niveau de l’éventuel sort stocké à l’intérieur. Il y a 50 % de chances qu’un anneau de contresort trouvé en guise de trésor contienne déjà un sort. Le MJ détermine ce sort.</p>
<hr />
<p><strong>Activation</strong> <span class="pf2-icon">R</span> Imaginer</p> 
<p><strong>Déclencheur</strong> Vous êtes pris pour cible ou vous trouvez dans la zone d’effet du même sort que celui stocké dans l’anneau</p>
<p><strong>Effet</strong> Vous pouvez tenter de contrer le sort déclencheur en utilisant le niveau du sort stocké dans l’anneau, avec un modificateur de contre de [[/r 1d20+19]]. Une fois ceci fait, l’énergie du sort stockée est dépensée et l’anneau est vide.</p>
<hr />
<p><strong>Activation</strong> <span class="pf2-icon">A</span> Sur ordre</p> 
<p><strong>Effet</strong>Vous dépensez le sort stocké sans qu’il produise son effet et vous videz l’anneau pour pouvoir lancer un autre sort en le stockant à l’intérieur.</p>
