Name: Quick Runner's Shirt
Nom: Chemise du coureur rapide
État: libre

------ Description (en) ------
<p>This light shirt is made of thin fabric embroidered with arrangements of winged feet.</p>
<hr />
<p><strong>Activate</strong> <span class="pf2-icon">2</span> envision</p>
<p><strong>Frequency</strong> once per hour</p>
<p><strong>Effect</strong> Your feet feel lighter, allowing you to move with greater speed. You Stride twice and gain a +10-foot item bonus to your Speed during those Stride actions.</p>
------ Description (fr) ------
<p>Cette chemise légère est faite d'un tissu fin brodé de compositions de pieds ailés.</p>
<hr />
<p><strong>Activation</strong> <span class="pf2-icon">2</span> Imaginer</p>
<p><strong>Fréquence</strong> une fois par heure</p>
<p><strong>Effet</strong> Vous vous sentez plus léger ce qui vous permet de vous déplacer plus rapidement. Vous Marchez rapidement deux fois et gagnez un bonus d'objet de +3 mètres à votre Vitesse lors de vos actions Marcher rapidement.</p>
