Name: Tracker's Goggles (Greater)
Nom: Lunettes de pisteur supérieur
État: officielle

------ Description (en) ------
<p>These lenses of forest-green glass are bound in rough leather stitched with crude twine.</p>
<p>While wearing these goggles, you gain a +2 bonus to Survival checks to Sense Direction and Track.</p>
<p>If you fail a check to Track, you can try again after 15 minutes rather than an hour.</p>
<hr />
<p>Automatically applied effects:</p>
<ul>
<li> +2 bonus to Survival checks to Sense Direction and Track</li>
</ul>
------ Description (fr) ------
<p>Ces lunettes aux verres verdoyants sont fixées sur du cuir rugueux avec une simple ficelle. Lorsque vous portez ces lunettes, vous bénéficiez d’un bonus de +1 aux tests de Survie pour Vous orienter et Pister. Si vous ratez un test pour Pister, vous pouvez le retenter au bout de trente minutes au lieu d’une heure.</p>
<p>Les lunettes supérieures confèrent un bonus de +2. Si vous ratez un test pour Pister, vous pouvez le retenter au bout de quinze minutes au lieu d’une heure</p>
<hr />
<p>Code:</p>
<ul>
<li>Bonus de +2 aux tests de Survie pour Vous orienter et Pister</li>
</ul>
