Name: Ring of the Ram (Greater)
Nom: Anneau du bélier supérieur
État: officielle

------ Description (en) ------
<p>This heavy iron ring is shaped to look like the head of a ram, with curling horns.</p>
<p><strong>Activate</strong> <span class="pf2-icon">A</span> or more (Interact)</p>
<p><strong>Frequency</strong> once per minute</p>
<p><strong>Effect</strong> A ram-shaped blast of force slams into one foe that you can see within 60 feet. The number of actions you spend to Activate this Item (from 1 to 3) determines the intensity of the force.</p>
<p>The blow deals 3d6 force damage per action spent and pushes the target 5 feet per action spent. The target must attempt a @Check[type:fortitude|dc:32|name:Greater Ring of the Ram] save.</p>
<p>When you activate the ring using 3 actions, you can disperse the force into multiple magical rams, targeting all creatures in a @Template[type:cone|distance:30] instead of one target within 60 feet.</p>
<hr />
<p><strong>Critical Success</strong> The target is unaffected.</p>
<p><strong>Success</strong> The target takes half damage and is pushed half the distance.</p>
<p><strong>Failure</strong> The target takes full damage and is pushed the full distance.</p>
<p><strong>Critical Failure</strong> The target takes double damage and is pushed twice the distance.</p>
------ Description (fr) ------
<p>Ce lourd anneau de fer a la forme d’une tête de bélier aux cornes enroulées.</p>
<hr />
<p><strong>Activation</strong> <span class="pf2-icon">A</span> ou plus (Interagir)</p>
<p><strong>Fréquence</strong> une fois par minute</p> 
<p><strong>Effet</strong> Une déflagration de force en forme de bélier frappe un adversaire à 18 mètres ou moins dans votre champ de vision. Le nombre d’actions que vous dépensez pour Activer cet objet (de 1 à 3) détermine la puissance du coup.</p> 
<p>Le coup inflige 3d6 dégâts de force et repousse la cible de 1,50 mètres par action dépensée. La cible doit faire un jet de @Check[type:fortitude|dc:32|name:Greater Ring of the Ram]{Vigueur DD 32}.</p>
<p>Lorsque vous activez l'anneau utilisant trois actions, vous pouvez disperser la force en plusieurs béliers qui viennent fapper toutes les créatures dans un cône de 9 mètres.</p>
<p><strong>Succès critique</strong> La cible n’est pas affectée.</p>
<p><strong>Succès</strong> La cible subit la moitié des dégâts et elle est repoussée deux fois moins loin.</p>
<p><strong>Échec</strong> La cible subit la totalité des dégâts et elle est repoussée de la distance normale.</p>
<p><strong>Échec critique</strong> La cible subit le double des dégâts et elle est repoussée deux fois plus loin.</p>
