Name: Diplomat's Badge
Nom: Insigne du diplomate
État: officielle

------ Description (en) ------
<p>When displayed prominently, this brass badge makes creatures find you more agreeable. You gain a +1 item bonus to Diplomacy checks.</p>
<hr />
<p><strong>Activate</strong> <span class="pf2-icon">A</span> Recall Knowledge</p>
<p><strong>Frequency</strong> once per day</p>
<p><strong>Effect</strong> Attempt a DC 20 check to Recall Knowledge about people of a human ethnicity, a non-human ancestry, or some other type of creature. (The GM determines what your options are.) If you succeed, the badge's bonus increases to +2 for Diplomacy checks with creatures of that group for the rest of the day.</p>
<p>@Compendium[pf2e.equipment-effects.pAMyEbJzWBoYoGhs]{Effect: Diplomat's Badge}</p>
<hr />
<p>Automatically applied effects:</p>
<ul>
<li>+1 item bonus to Diplomacy checks</li>
</ul>
------ Description (fr) ------
<p>Lorsqu’il est porté de manière ostentatoire, cet insigne en laiton incite les créatures à vous trouver plus agréable. Vous gagnez un bonus d’objet de +1 aux tests de Diplomatie. </p>
<p><strong>Activation</strong> <span class="pf2-icon">A</span> Se souvenir</p> 
<p><strong>Fréquence</strong> une fois par jour</p> 
<p><strong>Effet</strong> Faites un test DD 20 pour Se souvenir de gens d’une ethnie humaine, d’une ascendance non humaine ou d’un autre type de créatures (le MJ détermine quelles sont vos possibilités). Si vous réussissez le test, le bonus de l’insigne passe à +2 aux tests de Diplomatie avec des créatures de ce groupe pour le reste de la journée.</p>
<p>@Compendium[pf2e.equipment-effects.pAMyEbJzWBoYoGhs]{Effet : Insigne du diplomate}</p>
<hr />
<p>Code : Effets appliqués automatiquement</p>
<ul>
<li>Bonus d'objet de +1 aux tests de Diplomatie</li>
</ul>
