Name: Dweomerweave Robe
Nom: Robe de tissu enchanté
État: libre

------ Description (en) ------
<p>This robe is made from dweomerweave, a magical fabric created by spinning minor illusions into the threads of ether spider silk. Dweomerweave is naturally hazy and translucent. It can take on the illusory appearances of other fabrics and garments, and dweomerweave robes are coveted by adventurers who want to travel light without compromising on fashion.</p>
<hr />
<p><strong>Activate</strong> 1 minute (Interact)</p>
<p><strong>Frequency</strong> once per day</p>
<p><strong>Effect</strong> You gain the effects of a 1st-level <em>@Compendium[pf2e.spells-srd.i35dpZFI7jZcRoBo]{Illusory Disguise}</em> except that the illusion only alters the appearance of the dweomerweave robe, changing it into another garment with an appearance of your choice. The spell persists until the next activation. You can Dismiss the activation.</p>
------ Description (fr) ------
<p>Cette robe est fabriquée en tissu enchanté, un tissu magique créé en filant des illusions mineures dans les fils de soie d'araignée d'éther. Le tissu enchanté est naturellement brumeux et translucide. Il peut prendre les apparences illusoires d'autres tissus et vêtements et les robes en tissu enchanté sont convoitées par les aventuriers qui veulent voyager léger sans faire de compromis sur la mode.</p>
<hr />
<p><strong>Activation</strong> 1 minute (Interagir)</p>
<p><strong>Fréquence</strong> une fois par jour</p>
<p><strong>Effet</strong> Vous gagnez les effets d'un <em>@Compendium[pf2e.spells-srd.i35dpZFI7jZcRoBo]{Déguisement illusoire}</em> de niveau 1, sauf que l'illusion ne modifie que l'apparence de la robe de tissu enchanté, la changeant en un autre vêtement à l'apparence de votre choix. Le sort persiste jusqu'à la prochaine activation. Vous pouvez annuler l'activation.</p>
