Name: Fearsome (Greater)
Nom: Effrayant supérieur (rune)
État: libre

------ Description (en) ------
<p>When you critically hit, the target becomes <em>frightened</em> 2.</p>
------ Description (fr) ------
<p>Les runes de propriété ajoutent des pouvoirs spéciaux à une arme ou une armure, en plus des runes fondamentales de l’objet. Si plusieurs gravures de la même rune ornent une armure ou une arme, seule celle dont le niveau est le plus élevé s’applique. Vous pouvez améliorer une rune de propriété en une version supérieure, de la même façon que vous améliorez une rune fondamentale.</p>
<p>La rune Effrayant se fixe sur l'arme. Lorsque vous obtenez un coup critique, la cible devient @Compendium[pf2e.conditionitems.TBSHQspnbcqxsmjL]{Effrayée} 2.</p> 
