Name: Pendant of the Occult
Nom: Pendentif des sciences occultes
État: officielle

------ Description (en) ------
<p>This amulet is hollow and shaped in the form of an unblinking eye. Its cavity typically holds some fragment of occult text. While wearing the pendant, you gain a +1 item bonus to Occultism checks, and you can cast the <em>@Compendium[pf2e.spells-srd.izcxFQFwf3woCnFs]{Guidance}</em> cantrip as an occult innate spell.</p>
<hr />
<p>Automatically applied effects:</p>
<ul>
<li> +1 item bonus to Occultism checks</li>
</ul>
------ Description (fr) ------
<p>Cette amulette en forme d’œil aux paupières ouvertes est creuse. Le creux contient le plus souvent un fragment de texte occulte. Lorsque vous portez le pendentif, vous bénéficiez d’un bonus d’objet de +1 aux tests d’Occultisme et vous pouvez lancer le tour de magie <em>@Compendium[pf2e.spells-srd.izcxFQFwf3woCnFs]{Assistance divine}</em> comme un sort occulte inné</p>
<hr />
<p>Code: Effet appliqués automatiquement</p>
<ul>
<li>Bonus d'objet de +1 aux tests d'Occultisme</li>
</ul>
