Name: Vaultbreaker's Harness
Nom: Harnais du brise-coffre
État: libre

------ Description (en) ------
<p>This bulky leather harness has four pockets across the chest. The pockets contain a set of @Compendium[pf2e.equipment-srd.6nrCxNQFycUVFOV2]{Thieves' Tools (Infiltrator)}, @Compendium[pf2e.equipment-srd.BznmPaRjI4Orb0IH]{Thieves' Tools (Infiltrator Picks)}, a @Compendium[pf2e.equipment-srd.4kz3vhkKPUuXBpxk]{Crowbar (Levered)}, and a glass cutter. These items are magically bound to the harness; if they are more than 1 foot away from you, they disappear, then reappear in the harness at the next sunset. Broken or destroyed items similarly reappear, restored, in their proper pockets at sunset.</p>
<p><strong>Activate</strong><span class="pf2-icon">2 </span>Interact</p>
<p><strong>Effect</strong> You cinch the harness to prepare for mischief. You gain a +1 item bonus to Stealth checks and a +10-foot item bonus to your Speed for 1 minute.</p>
<p>@Compendium[pf2e.equipment-effects.7MgpgF8tOXOiDEwv]{Effect: Vaultbreaker's Harness}</p>
------ Description (fr) ------
<p>Cet encombrant harnais en cuir possède quatre poches sur la poitrine. Les poches contiennent un ensemble de @Compendium[pf2e.equipment-srd.6 nrCxNQFycUVFOV2]{Outils de voleur (Infiltrateur))}, un @Compendium[pf2e.equipment-srd.BznmPaRjI4Orb0IH]{Crochets d'infiltration}, un @Compendium[pf2e.equipment-srd.4 kz3vhkKPUuXBpxk]{Pied-de-biche (à levier)}, et un coupe-verre. Ces objets sont magiquement liés au harnais ; s'ils se trouvent à plus d'un mètre de vous, ils disparaissent, puis réapparaissent dans le harnais au prochain coucher de soleil. Les objets cassés ou détruits réapparaissent également, restaurés, dans leur poche au coucher du soleil./p>
<p><strong>Activation</strong><span class="pf2-icon">2 </span> Interagir</p>
<p><strong>Effet</strong> Vous serrez le harnais pour vous préparer à votre canaillerie. Vous gagnez un bonus d'objet de +1 aux tests de Furtivité et un bonus d'objet de +4,5 mètres à votre Vitesse pendant 1 minute.</p>
<p>@Compendium[pf2e.equipment-effects.7MgpgF8tOXOiDEwv]{Effet : Harnais du brise-coffre}</p>
