Name: Healer's Gloves
Nom: Gants du guérisseur
État: officielle

------ Description (en) ------
<p>These clean, white gloves never show signs of blood, even when used to stitch up wounds or treat other ailments. They give you a +1 item bonus to Medicine checks.</p>
<p><strong>Activate</strong> <span class="pf2-icon">A</span> Interact</p>
<p><strong>Frequency</strong> once per day</p>
<p><strong>Effect</strong> You can soothe the wounds of a willing, living, adjacent creature, restoring [[/r {2d6+7}[healing]]]{2d6+7 Hit Points} to that creature. This is a positive healing effect. You can't harm undead with this healing.</p>
<hr />
<p>Automatically applied effects:</p>
<ul>
<li>+1 item bonus to Medicine checks</li>
</ul>
------ Description (fr) ------
<p>Ces gants d’un blanc immaculé ne sont jamais maculés de sang, même quand ils sont utilisés pour recoudre des blessures ou traiter d’autres affections. Ils vous confèrent un bonus d’objet de +1 aux tests de Médecine.</p>
<p><strong>Activation</strong> <span class="pf2-icon">A</span> Interagir</p>
<p><strong>Fréquence</strong> une fois par jour</p>
<p><strong>Effet</strong> Vous pouvez soigner les blessures d’une créature consentante et adjacente à vous, qui récupère ainsi [[/r {2d6+7}[healing]]]{2d6+7 points de vie}. Il s’agit d’un effet de guérison positif. Vous ne pouvez pas blesser des morts-vivants avec ce soin.</p>
<hr />
<p>Code: Effets automatiquement appliqués</p>
<ul>
<li>Bonus d'objet de +1 aux test de Médecine</li>
</ul>
