Name: Disrupting (Greater)
Nom: Pertubatrice supérieure (rune)
État: officielle

------ Description (en) ------
<p>A <em>disrupting</em> weapon pulses with positive energy, dealing an extra 2d6 positive damage to undead. On a critical hit, the undead creature must attempt a @Check[type:fortitude|dc:34|name:Greater Disrupting] save with the following effects. This is an incapacitation effect.</p>
<hr />
<p><strong>Critical Success</strong> It's @Compendium[pf2e.conditionitems.MIRkyAjyBeXivMa7]{Enfeebled 1} until the end of your next turn.</p>
<p><strong>Success</strong> It's @Compendium[pf2e.conditionitems.MIRkyAjyBeXivMa7]{Enfeebled 2} until the end of your next turn.</p>
<p><strong>Failure</strong> It's @Compendium[pf2e.conditionitems.MIRkyAjyBeXivMa7]{Enfeebled 3} until the end of your next turn.</p>
<p><strong>Critical Failure</strong> It's destroyed.</p>
------ Description (fr) ------
<p>Une arme <em>perturbatrice supérieure</em> pulse d’énergie positive en infligeant [[/r {2d6}[positive]]]{2d6 dégâts positifs supplémentaires} aux morts-vivants. En cas de coup critique, le mort-vivant doit faire un jet de @Check[type:fortitude|dc:34|name:Perturbatrice supérieure]{Vigueur DD 34} avec les effets suivants. Il s’agit d’un effet de mise hors de combat.</p>
<p><strong>Succès critique</strong> Il est @Compendium[pf2e.conditionitems.MIRkyAjyBeXivMa7]{Affaibli} 1 jusqu’à la fin de votre prochain tour. </p>
<p><strong>Succès</strong> Il est @Compendium[pf2e.conditionitems.MIRkyAjyBeXivMa7]{Affaibli 2} jusqu’à la fin de votre prochain tour. </p>
<p><strong>Échec</strong> Il est @Compendium[pf2e.conditionitems.MIRkyAjyBeXivMa7]{Affaibli 3} jusqu’à la fin de votre prochain tour.</p>
<p><strong>Échec critique</strong> Il est détruit.</p>
