Name: Bracers of Armor II
Nom: Protège-bras d'armure II
État: officielle

------ Description (en) ------
<p>These stiff leather armguards grant you a +2 item bonus to AC and saving throws, and a maximum Dexterity modifier of +5. You can affix talismans to <em>bracers of armor</em> as though they were light armor.</p>
<hr />
<p>Automatically applied effects:</p>
<ul>
<li> +2 item bonus to AC and saving throws, and a maximum Dexterity modifier of +5.</li>
</ul>
------ Description (fr) ------
<p>Ces protège-bras de cuir rigide vous confèrent un bonus d’objet de +2 à la CA et aux jets de sauvegarde, ainsi qu’un modificateur de Dextérité maximum de +5. Vous pouvez fixer des talismans sur des protège-bras d’armure comme s’ils étaient une armure légère</p>
<hr />
<p>Code: Effets appliqués automatiquement</p>
<ul>
<li>Bonus d'objet de +2 à la CA et aux jets de sauvegarde ainsi qu'un modificateur de Dextérité maximum de +5.</li>
</ul>
