Name: Thieves' Tools (Infiltrator)
Nom: Outils de voleur (infiltration)
État: officielle

------ Description (en) ------
<p>You need thieves' tools to Pick Locks or Disable Devices (of some types) using the Thievery skill. Infiltrator thieves' tools add a +1 item bonus to checks to Pick Locks and Disable Devices.</p>
<p>If your thieves' tools are broken, you can repair them by replacing the lock picks with @Compendium[pf2e.equipment-srd.BznmPaRjI4Orb0IH]{Replacement Picks} appropriate to your tools; this doesn't require using the Repair action.</p>
<hr />
<p>Automatically applied effects:</p>
<ul>
<li> +1 item bonus to checks to Pick Locks and Disable Devices</li>
</ul>
------ Description (fr) ------
<p>Les outils de voleur d’infiltration ajoutent un bonus d’objet de +1 aux tests @Compendium[pf2e.actionspf2e.2EE4aF4SZpYf0R6H]{Crocheter des serrures} ou @Compendium[pf2e.actionspf2e.cYdz2grcOcRt4jk6]{Désamorcer des dispositifs}. Si vos outils de voleur sont brisés, vous pouvez les réparer en remplaçant les crochets par @Compendium[pf2e.equipment-srd.BznmPaRjI4Orb0IH]{Crochets d'infiltration} adaptés à vos outils. Cela ne nécessite pas l’utilisation de l’action Réparer. </p>
