Name: Belt of Giant Strength
Nom: Ceinture de force de géant
État: officielle

------ Description (en) ------
<p>This thick leather belt is decorated with a buckle carved from glittering quartz in the shape of a fist. You gain a +3 item bonus to Athletics checks and a +2 circumstance bonus to Athletics checks to lift a heavy object, Escape, and Force Open.</p>
<p>When you invest the belt, you either increase your Strength score by 2 or increase it to 18, whichever would give you a higher score.</p>
<hr />
<p><strong>Activate</strong> <span class="pf2-icon">R</span> Interact</p>
<p><strong>Trigger</strong> You are targeted by a thrown rock attack, or a rock would fall on you</p>
<p><strong>Effect</strong> Attempt an Athletics check to grab the triggering rock. Use the Athletics DC of the creature throwing the rock, the DC of the hazard or other effect, or DC 35 if no other DC is applicable. You must have a free hand to catch the rock, but you can Release anything you're holding in a hand as part of this reaction.</p>
<p><strong>Success</strong> You safely catch the rock, take no damage, and are now holding the rock.</p>
<p><strong>Failure</strong> You take half damage.</p>
<p><strong>Critical Failure</strong> You take full damage.</p>
<hr />
<p>Automatically applied effects:</p>
<ul>
<li>+3 item bonus to Athletics</li>
<li>+2 circumstance bonus to Athletics to lift heavy objects, Escape or Force Open</li>
</ul>
------ Description (fr) ------
<p>Cette ceinture de cuir épais est ornée d’une boucle en forme de poing sculptée dans du quartz étincelant. Vous bénéficiez d’un bonus d’objet de +3 aux tests d’Athlétisme et un bonus de circonstances de +2 aux tests d’Athlétisme pour soulever des objets lourds, S’échapper et Ouvrir de force. Quand vous investissez la ceinture, soit vous augmentez de 2 votre valeur de Force, soit vous l’augmentez à 18, selon ce qui vous procure la valeur la plus élevée.</p>
<hr />
<p><strong>Activation</strong> <span class="pf2-icon">R</span> Interagir</p> 
<p><strong>Déclencheur</strong> Vous êtes la cible d’une attaque de lancer de rocher ou un rocher est sur le point de tomber sur vous</p>
<p><strong>Effet</strong> Faites un test d’Athlétisme pour attraper le rocher déclencheur. Utilisez le DD d’Athlétisme de la créature qui lance le rocher, du danger ou de l’effet en question, ou DD 35 si aucun autre DD n’est applicable. Vous devez avoir une main de libre pour attraper le rocher mais vous pouvez Relâcher ce que vous tenez dans une main au cours de cette réaction.</p>
<p><strong>Succès</strong> Vous attrapez le rocher sans subir de dégâts et vous le tenez maintenant en main.</p>
<p><strong>Échec</strong> Vous subissez la moitié des dégâts.</p>
<p><strong>Échec critique</strong> Vous subissez la totalité des dégâts.</p>
<hr />
<p>Code: Effets appliqués automatiquement</p>
<ul>
<li>Bonus d’objet de +3 aux tests d’Athlétisme</li>
<li>Bonus de circonstances de +2 aux tests d’Athlétisme pour soulever des objets lourds, S’échapper et Ouvrir de force</li>
</ul>
