Name: Staff of Providence
Nom: Bâton de la providence
État: libre

------ Description (en) ------
<p>A large, stylized symbol of an eye adorns the top of this wooden staff, representing the watchful eye of the divine powers. The bearer of the staff can guide and protect, seeing bounties and tragedies that could befall them in the future.</p>
<p>When wielding this staff, you gain a +1 item bonus on Survival checks to Sense Direction or Subsist, and to Religion checks to Recall Knowledge.</p>
<p><strong>Activate</strong> Cast a Spell</p>
<p><strong>Effect</strong> You expend a number of charges from the staff to cast a spell from its list.</p>
<ul>
<li><strong>Cantrip</strong> <em>@Compendium[pf2e.spells-srd.izcxFQFwf3woCnFs]{Guidance}</em>, <em>@Compendium[pf2e.spells-srd.WBmvzNDfpwka3qT4]{Light}</em></li>
<li><strong>1st</strong> <em>@Compendium[pf2e.spells-srd.XSujb7EsSwKl19Uu]{Bless}</em>, <em>@Compendium[pf2e.spells-srd.WzLKjSw6hsBhuklC]{Create Water}</em></li>
<li><strong>2nd</strong> <em>@Compendium[pf2e.spells-srd.41TZEjhO6D1nWw2X]{Augury}</em>, <em>@Compendium[pf2e.spells-srd.Mt6ZzkVX8Q4xigFq]{Create Food}</em>, <em>@Compendium[pf2e.spells-srd.jwK43yKsHTkJQvQ9]{See Invisibility}</em>, <em>@Compendium[pf2e.spells-srd.HTou8cG05yuSkesj]{Status}</em></li>
</ul>
<p><strong>Craft Requirements</strong> Supply one casting of all listed levels of all listed spells.</p>
<hr />
<p>Automatically applied effects:</p>
<ul>
<li>+1 item bonus to Survival checks to Sense Direction or Subsist,</li>
<li>+1 item bonus to Religion checks to Recall Knowledge</li>
</ul>
------ Description (fr) ------
<p>Un grand symbole stylisé d'un œil orne le haut de ce bâton en bois, représentant l'œil vigilant des puissances divines. Le porteur du bâton peut guider et protéger et voir les récompenses et des tragédies pouvant le toucher dans le futur.</p>
<p>Quand vous maniez ce bâton, vous gagnez un bonus d'objet de +1 sur les test de Survie pour s'orienter ou subsister, ainsi qu'aux tests de Religion pour Se souvenir.</p>
<hr />
<p><strong>Activation</strong> Lancer un sort</p>
<p><strong>Effet</strong> Vous dépensez un certain nombre de charges du bâton pour lancer un sort de sa liste.</p>
<ul>
<li><strong>Tour de magie</strong> <em>@Compendium[pf2e.spells-srd.izcxFQFwf3woCnFs]{Assistance divine}</em>, <em>@Compendium[pf2e.spells-srd.WBmvzNDfpwka3qT4]{Lumière}</em></li>
<li><strong>Niveau 1</strong> <em>@Compendium[pf2e.spells-srd.XSujb7EsSwKl19Uu]{Bénédiction}</em>, <em>@Compendium[pf2e.spells-srd.WzLKjSw6hsBhuklC]{Création d'eau}</em></li>
<li><strong>Niveau 2</strong> <em>@Compendium[pf2e.spells-srd.41TZEjhO6D1nWw2X]{Augure}</em>, <em>@Compendium[pf2e.spells-srd.Mt6ZzkVX8Q4xigFq]{Création de nourriture}</em>, <em>@Compendium[pf2e.spells-srd.jwK43yKsHTkJQvQ9]{Détection de l'invisibilité}</em>, <em>@Compendium[pf2e.spells-srd.HTou8cG05yuSkesj]{Rapport}</em></li>
</ul>
<p><strong>Conditions de fabrication</strong> Fournir une incantation de tous les sorts de la liste et à tous les niveaux énumérés.</p>
<h />
<p>Effets appliqués automatiquement </p>
<ul>
<li>bonus d'objet de +1 aux tests de Survie pour S'Orienter ou Subsister,</li>
<li>bonus d'objet de +1 aux tests de Religion pour Se Souvenir</li>
</ul>
