Name: Blade of Four Energies (Greater)
Nom: Lame des quatre énergies supérieure
État: libre

------ Description (en) ------
<p>This <em>+2 greater striking shifting shortsword</em> is formed of rapidly vibrating air and magical energy, though it uses the same statistics as iron. The wooden hilt is adorned with four gems, representing the energies of acid, cold, fire, and electricity, that sparkle in sequence at random intervals.</p>
<hr />
<p><strong>Activate</strong> <span class="pf2-icon">f</span> Interact</p>
<p><strong>Frequency</strong> once per round</p>
<p><strong>Effect</strong> You draw magical energy from one of the gems. Roll [[/r 1d4]]. Until the start of your next turn, the weapon gains the corresponding rune:</p>
<ol>
<li><em>@Compendium[pf2e.equipment-srd.vQUIUAFOTOWj3ohh]{Greater Corrosive}</em>,</li>
<li><em>@Compendium[pf2e.equipment-srd.RSZwUlCzUX7Nb4UA]{Greater Flaming}</em>,</li>
<li><em>@Compendium[pf2e.equipment-srd.Sexud7FdxIrg50vU]{Greater Frost}</em>, or</li>
<li><em>@Compendium[pf2e.equipment-srd.TEa1oKZbwsOvC6TZ]{Greater Shock}</em>.<hr /></li>
</ol>
<p><strong>Activate</strong> <span class="pf2-icon">2</span> command, envision</p>
<p><strong>Frequency</strong> once per day</p>
<p><strong>Requirements</strong> The blade has an energy rune from the first activation</p>
<p><strong>Effect</strong> You call upon the energy stored in the blade to explode outward. The blade of four energies casts a 7th-level spell with a DC of 38 that depends on the active rune:</p>
<ol>
<li><em>@Compendium[pf2e.spells-srd.f8hRqLJaxBVhF1u0]{Acid Arrow}</em> for corrosive,</li>
<li><em>@Compendium[pf2e.spells-srd.sxQZ6yqTn0czJxVd]{Fireball}</em> for flaming,</li>
<li><em>@Compendium[pf2e.spells-srd.3puDanGfpEt6jK5k]{Cone of Cold}</em> for frost, or</li>
<li><em>@Compendium[pf2e.spells-srd.9AAkVUCwF6WVNNY2]{Lightning Bolt}</em> for shock.</li>
</ol>
------ Description (fr) ------
<p>Cette <em>épée courte de frappe supérieure +2 changeante</em> est formée à partie d'air vibrant d'énergie et de magie, bien qu'elle possède les mêmes statistiques que le fer. Le manche en bois est garni de quatre gemmes, chacune représentant une énergie : acide, électricité, feu et froid qui luisent à intervalles aléatoires.</p>
<hr />
<p><strong>Activation</strong> <span class="pf2-icon">f</span> Interagir</p>
<p><strong>Fréquence</strong> une fois par round</p>
<p><strong>Effet</strong> Vous tirez l'énergie d'une des gemmes. Lancez [[/r 1d4]]. Jusqu'au début de votre prochain tour, l'arme gagne la rune correspondante :</p>
<ol>
<li>@Compendium[pf2e.equipment-srd.vQUIUAFOTOWj3ohh]{Corrosive supérieure},</li>
<li>@Compendium[pf2e.equipment-srd.RSZwUlCzUX7Nb4UA]{Enflammée supérieure},</li>
<li>@Compendium[pf2e.equipment-srd.Sexud7FdxIrg50vU]{Froid supérieur},</li>
<li>@Compendium[pf2e.equipment-srd.TEa1oKZbwsOvC6TZ]{Foudre supérieure}.
</li>
</ol>
<hr />
<p><strong>Activation</strong> <span class="pf2-icon">2</span> Sur ordre, Imaginer</p>
<p><strong>Fréquence</strong> une fois par jour</p>
<p><strong>Conditions</strong> La lame possède l'énergie de la rune de la première activation.</p>
<p><strong>Effet</strong> Vous invoquez l'énergie stockée dans votre lame pour qu'elle explose. La lame des quatre énergies lance un sort au niveau 7 avec un DD 38 qui dépend de la rune active :</p>
<ol>
<li><em>@Compendium[pf2e.spells-srd.f8hRqLJaxBVhF1u0]{Flèche acide}</em> pour <em>corrosive</em></li>
<li><em>@Compendium[pf2e.spells-srd.sxQZ6yqTn0czJxVd]{Boule de feu}</em> pour <em>enflammée</em></li>
<li><em>@Compendium[pf2e.spells-srd.9AAkVUCwF6WVNNY2]{Éclair}</em> pour <em>foudre</em></li>
<li><em>@Compendium[pf2e.spells-srd.3puDanGfpEt6jK5k]{Cône de froid}</em> pour <em>froid</em></li>
</ol>
