Name: Infiltrator's Accessory
Nom: Accessoires d'Infiltrateur
État: libre

------ Description (en) ------
<p>This elegant +1 striking sword cane serves equally well as a fashionable accessory and hidden weapon suitable for high-society events where weapons aren't typically permitted.</p>
<p><strong>Activate</strong> <span class="pf2-icon">A</span> Interact</p>
<p><strong>Effect</strong> You twist the sword cane's hilt, magically merging the blade into the cane. While the blade is merged, it can't be drawn and gains the benefits of a 3rd-level magic aura spell to appear non-magical. Passive observers can't attempt a check to notice the cane is anything more than a mundane, if superb, fashion accessory. Those carefully examining it can discern the cane is more than it appears, but doing so is extremely difficult (DC 30 Perception). Activating the sword cane again releases the blade, allowing it to be drawn normally.</p>
------ Description (fr) ------
<p>Cette élégante canne épée de frappe +1 peut également servir comme accessoire chic et arme cachée adaptée aux événements de haute-société où les armes ne sont généralement pas autorisées.</p>
<p><strong>Activation</strong> <span class="pf2-icon">A</span> Interagir</p>
<p><strong>Effet</strong> Vous tournez la poignée de la canne d'épée, fusionnant par magie la lame dans la canne. Tant que la lame est fusionnée, elle ne peut pas être tirée et gagne les avantages d'un sort Aura magique de 3ème niveau pour être perçue comme non-magique. Les observateurs passifs ne peuvent pas tenter de test pour remarquer que la canne est autre chose qu'un accessoire mondain chic, et même superbe. Ceux qui l'examinent soigneusement peuvent discerner que la canne est plus qu'elle ne laisse paraître, mais c'ela 'est extrêmement difficile (jet de Perception DD 30).</p>
<p>L'activation de la canne épée libère à nouveau la lame, ce qui lui permet d'être tirée normalement. </p>
