Name: Oathbow
Nom: Arc du serment
État: officielle

------ Description (en) ------
<p>Constructed of a flexible, white wood and with ornate, twisting designs carved into its surface, this +2 striking composite longbow appears to have been made by elves. Sometimes when you loose an arrow, its whistling in flight sounds like a voice whispering in Elven, wishing for the swift defeat of your enemies.</p>
<p><strong>Activate</strong> <span class="pf2-icon">A</span> command</p>
<p><strong>Effect</strong> You swear an oath to destroy one creature you can see. For the next 7 days or until that creature is slain, your attacks with the bow against that creature deal 1d6 additional damage, and you gain a +2 circumstance bonus to Survival checks to Track that creature.</p>
<p>Your critical hits against the target gain the bow's critical specialization effect; if they would already do so, they instead increase the DC of the Athletics check to Escape when critically hit to DC 20.</p>
<p>After you activate the bow, you can't activate it again for 7 days. If you kill the creature you've sworn an oath against, the oath ends and you need to wait only 10 minutes before you can activate it again.</p>
<hr />
<p>Automatically applied effects:</p>
<ul>
<li>1d6 additional damage with Oathbow against sworn target</li>
<li>+2 circumstance bonus to Survival checks to Track the Oathbow's sworn target</li>
</ul>
------ Description (fr) ------
<p>Fabriqué dans du bois blanc et souple sur lequel sont gravés de jolis motifs sinueux, on a l’impression que ce sont des elfes qui ont créé cet arc long composite de frappe +2. Parfois, quand vous tirez une flèche, le sifflement qu’elle produit en vol ressemble à des mots murmurés en elfique qui souhaitent la défaite rapide de vos ennemis. </p>
<p><strong>Activation</strong> <span class="pf2-icon">A</span> sur ordre</p> 
<p><strong>Effet</strong>Vous faites le serment de détruire une créature dans votre champ de vision. Pendant les sept jours suivants ou jusqu’à ce que la créature soit tuée, vos attaques avec l’arc contre cette créature infligent 1d6 dégâts supplémentaires et vous bénéficiez d’un bonus de circonstances de +2 aux tests de Survie pour la Pister. Vos coups critiques contre la cible appliquent l’effet critique spécialisé de l’arc ; si c’est déjà le cas, le DD du test d’Athlétisme pour S’échapper en cas de coup critique passe à 20.</p>
<p>Après activation de l’arc, vous ne pouvez plus le réactiver pendant sept jours. Si vous tuez la créature de votre serment, celui-ci se termine et vous devez attendre 10 minutes seulement avant de pouvoir le réactiver.</p>
<hr />
<p>Code:</p>
<ul>
<li>+1d6 dégâts sur la créature ciblée du serment de destruction</li>
<li>Bonus de circonstances +2 aux tests de Survie pour Pister sur la créature ciblée du serment de destruction</li>
</ul>
