Name: Staff of Conjuration (Greater)
Nom: Bâton d'invocation supérieur
État: officielle

------ Description (en) ------
<p>This ash staff is decorated with animals; wielding it, you gain a +2 circumstance bonus to checks to identify conjuration magic.</p>
<p><strong>Activate</strong> Cast a Spell</p>
<p><strong>Effect</strong> You expend a number of charges from the staff to cast a spell from its list.</p>
<ul>
<li><strong>Cantrip</strong> <em>@Compendium[pf2e.spells-srd.uZK2BYzPnxUBnDjr]{Tanglefoot}</em></li>
<li><strong>1st</strong> <em>@Compendium[pf2e.spells-srd.lKcsmeOrgHtK4xQa]{Summon Construct}</em>, <em>@Compendium[pf2e.spells-srd.xqmHD8JIjak15lRk]{Unseen Servant}</em></li>
<li><strong>2nd</strong> <em>@Compendium[pf2e.spells-srd.9XHmC2JgTUIQ1CCm]{Obscuring Mist}</em>, <em>@Compendium[pf2e.spells-srd.WPKJOhEihhcIm2uQ]{Phantom Steed}</em>, <em>@Compendium[pf2e.spells-srd.lKcsmeOrgHtK4xQa]{Summon Construct}</em>, <em>@Compendium[pf2e.spells-srd.lpT6LotUaQPfinjj]{Summon Elemental}</em></li>
<li><strong>3rd</strong> <em>@Compendium[pf2e.spells-srd.GKpEcy9WId6NJvtx]{Stinking Cloud}</em>, <em>@Compendium[pf2e.spells-srd.lKcsmeOrgHtK4xQa]{Summon Construct}</em>, <em>@Compendium[pf2e.spells-srd.lpT6LotUaQPfinjj]{Summon Elemental}</em></li>
<li><strong>4th</strong> , <em>@Compendium[pf2e.spells-srd.TUj8eugNqAvB1vVR]{Creation}</em>, <em>@Compendium[pf2e.spells-srd.WPKJOhEihhcIm2uQ]{Phantom Steed}</em>, <em>@Compendium[pf2e.spells-srd.lKcsmeOrgHtK4xQa]{Summon Construct}</em>, <em>@Compendium[pf2e.spells-srd.lpT6LotUaQPfinjj]{Summon Elemental}</em></li>
</ul>
<p><strong>Craft Requirements</strong> Supply one casting of all listed levels of all listed spells.</p>
<hr />
<p>Automatically applied effects:</p>
<ul>
<li>+2 circumstance bonus to checks to identify conjuration magic</li>
</ul>
------ Description (fr) ------
<p>Ce bâton de frêne est orné de motifs d'animaux; lorsque vous le manipulez, vous gagnez un bonus de circonstances de +2 aux tests pour identifier la magie d'invocation. </p>
<p><strong>Activation </strong> Lancer un sort </p>
<p><strong>Effet </strong> Vous dépensez un certain nombre de charges du bâton pour lancer un sort de sa liste. </p>
<ul>
<li><strong>Tour de magie </strong> <em>@Compendium[pf2e.spells-srd.uZK2BYzPnxUBnDjr]{Entrave}</em> </li>
<li><strong>Niveau 1</strong> <em>@Compendium[pf2e.spells-srd.lKcsmeOrgHtK4xQa]{Convocation de créature artificielle}</em>, <em>@Compendium[pf2e.spells-srd.xqmHD8JIjak15lRk]{Serviteur invisible}</em> </li>
<li><strong>Niveau 2</strong> <em>@Compendium[pf2e.spells-srd.9XHmC2JgTUIQ1CCm]{Brume de dissimulation}</em>, <em>@Compendium[pf2e.spells-srd.WPKJOhEihhcIm2uQ]{Coursier fantôme}</em>, <em>@Compendium[pf2e.spells-srd.lKcsmeOrgHtK4xQa]{Convocation de créature artificielle}</em>, <em>@Compendium[pf2e.spells-srd.lpT6LotUaQPfinjj]{Convocation d'élémentaire}</em> </li>
<li><strong>Niveau 3</strong> <em>@Compendium[pf2e.spells-srd.GKpEcy9WId6NJvtx]{Nuage nauséabond}</em>, <em>@Compendium[pf2e.spells-srd.lKcsmeOrgHtK4xQa]{Convocation de créature artificielle}</em>, <em>@Compendium[pf2e.spells-srd.lpT6LotUaQPfinjj]{Convocation d'élémentaire}</em></li>
<li><strong>Niveau 4</strong> <em>@Compendium[pf2e.spells-srd.TUj8eugNqAvB1vVR]{Création}</em>, <em>@Compendium[pf2e.spells-srd.WPKJOhEihhcIm2uQ]{Coursier fantôme}</em>, <em>@Compendium[pf2e.spells-srd.lKcsmeOrgHtK4xQa]{Convocation de créature artificielle}</em>, <em>@Compendium[pf2e.spells-srd.lpT6LotUaQPfinjj]{Convocation d'élémentaire}</em></li>
</ul>
<p><strong>Conditions de fabrication</strong> Fournir une incantation de tous les sorts de la liste et à tous les niveaux énumérés.</p>
<h />
<p>Code: Effets appliqués automatiquement </p>
<ul>
<li>bonus de circonstances de +2 aux tests pour identifier la magie d'invocation</li>
</ul>
