Name: Dagger of Eternal Sleep
Nom: Dague du sommeil éternel
État: libre

------ Description (en) ------
<p>This tiny serrated dagger looks like a miniature sawtooth sabre. Until activated, it is too small and ornamental to function as a weapon, which might allow it to be passed off as a weapon-shaped decoration.</p>
<p><strong>Activate</strong> <span class="pf2-icon">A</span> Interact</p>
<p><strong>Effect</strong> You transform the dagger of eternal sleep into a +1 @Compendium[pf2e.equipment-srd.qUnDHEXteUQGE8yp]{Grievous} striking dagger and Strike an unconscious target with the dagger.</p>
<p>If you are not in an encounter or otherwise threatened and you roll a hit with your Strike, you get a critical hit instead. The damage from the Strike and the bleed from the critical specialization effect do not awaken the target, though the target becomes temporarily immune to this effect until the next time it wakes up, meaning further daggers of eternal sleep awaken it as normal. The dagger disintegrates immediately after use.</p>
------ Description (fr) ------
<p>Cette minuscule dague dentelé ressemble à un sabre dentelé. Avant activation, il est trop petit et ornemental pour être utilisé comme une arme, ce qui peut lui permettre de passer pour une décoration en forme d'arme. </p>
<p><strong>Activate</strong> <span class="pf2-icon">A</span> Interagir </p>
<p><strong>Effet</strong>Vous transformez la dague du sommeil éternel en une dague de frappe @Compendium[pf2e.equipment-srd.qUnDHEXteUQGE8yp]{douloureuse} +1 et Frappez une cible inconsciente avec la dague.</p>
<p>Si vous n'êtes pas dans une rencontre ou menacé et que vous réussissez votre frappe, vous obtenez une réussite critique à la place. Les dommages causés par la frappe et le saignement de l'effet de spécialisation critique ne réveillent pas la cible, bien que la cible devienne temporairement immunisée contre cet effet jusqu'à la prochaine fois qu'elle se réveille, ce qui signifie qu'utiliser d'autres dagues du sommeil éternel la réveilleront. La dague se désintègre immédiatement après utilisation. </p>
