Name: Staff of Impossible Visions
Nom: Bâton de visions impossibles
État: libre

------ Description (en) ------
<p>This bizarre staff is made from oak, capped with a cluster of eye-shaped gemstones that seem to move and undulate at the corner of your vision. While wielding the staff, you can peer through the eyes, using your normal visual senses (including any benefits of spells affecting your vision, like <em>see invisibility</em>). You can maneuver the staff to see things around corners, at higher elevations, or in places where the staff can fit but your head can't. This doesn't provide sufficient line of effect to target creatures around corners. The eyes are as vulnerable as your eyes and can be affected by anything that alters your vision, such as a blinding flash of light.</p>
<p><strong>Activate</strong> Cast a Spell</p>
<p><strong>Effect</strong> You expend a number of charges from the staff to cast a spell from its list.</p>
<p><strong>Craft Requirements</strong> Supply one casting of all listed levels of all listed spells.</p>
<ul>
<li><strong>Cantrip</strong> <em>@Compendium[pf2e.spells-srd.4gBIw4IDrSfFHik4]{Daze}</em></li>
<li><strong>1st</strong> <em>@Compendium[pf2e.spells-srd.4koZzrnMXhhosn0D]{Fear}</em>, <em>@Compendium[pf2e.spells-srd.R8bqnYiThB6MYTxD]{Phantom Pain}</em></li>
<li><strong>2nd</strong> <em>@Compendium[pf2e.spells-srd.41TZEjhO6D1nWw2X]{Augury}</em>, <em>@Compendium[pf2e.spells-srd.Mkbq9xlAUxHUHyR2]{Paranoia}</em></li>
</ul>
------ Description (fr) ------
<p>Ce bâton bizarre est fabriqué en chêne, coiffé d'une grappe de pierres précieuses taillées en forme d'œil qui semblent bouger et onduler quand vous les voyez du coin de l'œil. Quand vous maniez ce bâton, vous pouvez regarder à travers les yeux, en utilisant vos sens visuels normaux (en appliquant les avantages des sorts qui affectent votre vision, comme <em>Détection de l'invisibilité</em>). Vous pouvez manœuvrer le bâton pour voir des choses de l'autre côté d'un coin de mur, dans un endroit plus haut que vous ou dans des endroits où le bâton peut être placé, mais pas votre tête. Cela ne fournit pas une ligne d'effet suffisante pour cibler les créatures situées de l'autre côté d'un coin de mur. Les yeux sont aussi vulnérables que vos yeux et peuvent être affectés par tout ce qui modifie votre vision, comme un éclat de lumière aveuglant.</p>
<hr />
<p><strong>Activation</strong> Lancer un sort </p>
<p><strong>Effet</strong> Vous dépensez un certain nombre de charges du bâton pour lancer un sort de sa liste.</p>
<ul>
<li><strong>Tour de magie</strong> <em>@Compendium[pf2e.spells-srd.4gbiw4idrsffhik4]{Hébétement}</em></Li>
<li><strong>Niveau 1</strong> <em>@Compendium[pf2e.spells-srd.R8bqnYiThB6MYTxD]{Douleur fantôme}</em>,<em>@Compendium[pf2e.spells-srd.4koZzrnMXhhosn0D]{Terreur}</em></Li>
<li><strong>Niveau 2</strong> <em>@Compendium[pf2e.spells-srd.41TZEjhO6D1nWw2X]{Augure}</em>, <em>@Compendium[pf2e.spells-srd.Mkbq9xlAUxHUHyR2]{Paranoïa}</em> </li>
</ul>
<hr />
<p><strong>Conditions de fabrication</strong> Fournir une incantation de tous les sorts de la liste et à tous les niveaux énumérés.</p>
