Name: Iris of the Sky
Nom: Iris du ciel
État: libre

------ Description (en) ------
<p>This <em>+1 striking jezail</em> is built from white hot metal and has a ruby fused into the palm wood stock. When the <em>iris of the sky</em> misfires, you take [[/r {5}[persistent,fire]]]{5} @Compendium[pf2e.conditionitems.lDVqvLKA6eF3Df60]{Persistent Fire Damage}.</p>
<p>The first firearm of this type came as the result of a gunslinger who entreated an efreeti, wishing for the might of the desert sun. The weapon constantly glows and burns with a brilliant intensity. The firearm has since belonged to an extensive string of users and been replicated several times, though each wielder of the weapon, whether the original or one of its copies, has eventually ended up as a charred husk, slain by fire in battle or unusual accidents that no one could quite explain except, perhaps, the efreet.</p>
<hr />
<p><strong>Activate</strong> <span class="pf2-icon">1</span> envision</p>
<p><strong>Frequency</strong> once per minute</p>
<p><strong>Effect</strong> You focus the solar energy housed in the ruby to release a gout of solar flame instead of a bullet. Make a Strike with the <em>iris of the sky</em>. All damage from this Strike is fire damage and the target takes an additional [[/r {1d6}[fire]]]{1d6 fire damage} and [[/r {1d6}[persistent,fire]]]{1d6} @Compendium[pf2e.conditionitems.lDVqvLKA6eF3Df60]{Persistent Fire Damage}.</p>
<hr />
<p><strong>Activate</strong> <span class="pf2-icon">1</span> command, envision (fortune)</p>
<p><strong>Frequency</strong> once per minute</p>
<p><strong>Effect</strong> You make a wish into the <em>iris of the sky</em>, yearning for it to strike true, and then fire. Strike against a foe with the iris, rolling the attack roll twice and taking the better result. If the attack is a failure, you take [[/r {5}[persistent,fire]]]{5} @Compendium[pf2e.conditionitems.lDVqvLKA6eF3Df60]{Persistent Fire Damage}.</p>
------ Description (fr) ------
<p>Ce <em>jezaïl de Frappe +1</em> est constitué d'un métal blanc brûlant et présente un rubis fusionné dans la crosse du morceau de bois. Lorsque l'Iris du ciel a un raté, vous subissez [[/r {5}[persistent,fire]]]{5} @Compendium[pf2e.conditionitems.lDVqvLKA6eF3Df60]{dégâts de feu persistant}.</p>
<p>La première arme à feu de ce type est le résultat d'un franc-tireur qui a prié un éfrit, en souhaitant obtenir la puissance du soleil du désert. L'arme brille constamment et brûle avec une intensité brillante. Depuis, l'arme à feu a appartenu à une longue série d'utilisateurs et a été reproduite plusieurs fois, bien que chaque porteur de l'arme, qu'il s'agisse de l'original ou de l'une de ses copies, ait fini par n'être plus qu'une enveloppe carbonisée, tuée par le feu au cours d'une bataille ou par des accidents inhabituels que personne n'a pu tout à fait expliquer, sauf, peut-être, l'éfrit.</p>
<hr />
<p><strong>Activation</strong> <span class="pf2-icon">1</span> Imaginer</p>
<p><strong>Fréquence</strong> une fois par minute</p>
<p><strong>Effet</strong> Vous concentrez l'énergie du soleil stockée dans le rubis pour le lancer en un jet de flammes solaires au lieu de tirer une cartouche. Faites une Frappe avec l'Iris du ciel. Tous les dégâts de cette Frappe sont des dégâts de feu et la cible subit [[/r {1d6}[fire]]]{1d6 dégâts de feu} et [[/r {1d6}[persistent,fire]]]{1d6} @Compendium[pf2e.conditionitems.lDVqvLKA6eF3Df60]{dégâts de feu persistants} supplémentaires.</p>
<hr />
<p><strong>Activation</strong> <span class="pf2-icon">1</span> Sur ordre, Imaginer (chance)</p>
<p><strong>Fréquence</strong> une fois par minute</p>
<p><strong>Effet</strong> Vous prononcez un vœu dans l'Iris du ciel, en demandant que la Frappe soit réussie et puis vous tirez. Vous pouvez lancez les dés d'attaque avec l'Iris du ciel contre cette cible deux fois et prendre le meilleur résultat. Si l'attaque est un échec vous subissez [[/r {5}[persistent,fire]]]{5} @Compendium[pf2e.conditionitems.lDVqvLKA6eF3Df60]{dégâts de feu persistants}.</p>
