Name: Staff of Necromancy (Greater)
Nom: Bâton de nécromancie supérieur
État: officielle

------ Description (en) ------
<p>This twisted and grim-looking staff is adorned with hideous skull and bone motifs. While wielding the staff, you gain a +2 circumstance bonus to checks to identify necromancy magic.</p>
<p><strong>Activate</strong> Cast a Spell</p>
<p><strong>Effect</strong> You expend a number of charges from the staff to cast a spell from its list.</p>
<ul>
<li><strong>Cantrip</strong> <em>@Compendium[pf2e.spells-srd.mAMEt4FFbdqoRnkN]{Chill Touch}</em></li>
<li><strong>1st</strong> <em>@Compendium[pf2e.spells-srd.k34hDOfIIMAxNL4a]{Grim Tendrils}</em>, <em>@Compendium[pf2e.spells-srd.J7Y7tl0bbdz7TcCc]{Ray of Enfeeblement}</em></li>
<li><strong>2nd</strong> <em>@Compendium[pf2e.spells-srd.fZPCv2VHuM2yPbC8]{Deafness}</em>, <em>@Compendium[pf2e.spells-srd.xRgU9rrhmGAgG4Rc]{Gentle Repose}</em></li>
<li><strong>3rd</strong> <em>@Compendium[pf2e.spells-srd.VosLNn2M8S7JH67D]{Blindness}</em>, <em>@Compendium[pf2e.spells-srd.N1Z1oLPdBxaSgrEE]{Vampiric Touch}</em></li>
<li><strong>4th</strong> <em>@Compendium[pf2e.spells-srd.k34hDOfIIMAxNL4a]{Grim Tendrils}</em>, <em>@Compendium[pf2e.spells-srd.N1Z1oLPdBxaSgrEE]{Vampiric Touch}</em></li>
</ul>
<p><strong>Craft Requirements</strong> Supply one casting of all listed levels of all listed spells.</p>
<hr />
<p>Automatically applied effects:</p>
<ul>
<li>+2 circumstance bonus to checks to identify necromancy magic</li>
</ul>
------ Description (fr) ------
<p>Ce bâton tordu à l’aspect sinistre est orné d’un crâne hideux et de motifs osseux. Lorsque vous le maniez, vous bénéficiez d’un bonus de circonstances de +2 aux tests pour identifier la magie nécromantique.</p>
<p><strong>Activation</strong> Lancer un sort</p> 
<p><strong>Effet</strong> Vous dépensez un certain nombre de charges du bâton pour lancer un sort de sa liste.</p>
<ul>
<li><strong>Tour de magie</strong> <em>@Compendium[pf2e.spells-srd.mAMEt4FFbdqoRnkN]{Contact glacial}</em></li>
<li><strong>Niveau 1</strong> <em>@Compendium[pf2e.spells-srd.k34hDOfIIMAxNL4a]{Sinistres volutes}</em>, <em>@Compendium[pf2e.spells-srd.J7Y7tl0bbdz7TcCc]{Rayon affaiblissant}</em></li>
<li><strong>Niveau 2</strong> <em>@Compendium[pf2e.spells-srd.fZPCv2VHuM2yPbC8]{Surdité}</em>, <em>@Compendium[pf2e.spells-srd.xRgU9rrhmGAgG4Rc]{Préservation des morts}</em></li>
<li><strong>Niveau 3</strong> <em>@Compendium[pf2e.spells-srd.VosLNn2M8S7JH67D]{Cécité}</em>, <em>@Compendium[pf2e.spells-srd.N1Z1oLPdBxaSgrEE]{Contact vampirique}</em></li>
<li><strong>Niveau 4</strong> <em>@Compendium[pf2e.spells-srd.k34hDOfIIMAxNL4a]{Sinistres volutes}</em>, <em>@Compendium[pf2e.spells-srd.N1Z1oLPdBxaSgrEE]{Contact vampirique}</em></li>
</ul>
<p><strong>Conditions de fabrication</strong> Fournir une incantation de tous les sorts de la liste et à tous les niveaux indiqués.</p>
<hr />
<p>Code: Effets appliqués automatiquement</p>
<ul>
<li>Bonus de circonstances de +2 aux tests pour identifier la magie nécromantique.</li>
</ul>
