Name: Staff of Illusion (Major)
Nom: Bâton d'illusion majeur
État: officielle

------ Description (en) ------
<p>This staff is tapered at the base and carved into a gem-studded twist at the top. While wielding the staff, you gain a +2 circumstance bonus to checks to identify evocation magic.</p>
<p><strong>Activate</strong> Cast a Spell</p>
<p><strong>Effect</strong> You expend a number of charges from the staff to cast a spell from its list.</p>
<ul>
<li><strong>Cantrip</strong> <em>@Compendium[pf2e.spells-srd.atlgGNI1E1Ox3O3a]{Ghost Sound}</em></li>
<li><strong>1st</strong> <em>@Compendium[pf2e.spells-srd.i35dpZFI7jZcRoBo]{Illusory Disguise}</em>, <em>@Compendium[pf2e.spells-srd.2oH5IufzdESuYxat]{Illusory Object}</em></li>
<li><strong>2nd</strong> <em>@Compendium[pf2e.spells-srd.f8SBoXiXQjlCKqly]{Illusory Creature}</em>, <em>@Compendium[pf2e.spells-srd.4ZGte0i9YbLh4dRi]{Item Facade}</em></li>
<li><strong>3rd</strong> <em>@Compendium[pf2e.spells-srd.i35dpZFI7jZcRoBo]{Illusory Disguise}</em>, <em>@Compendium[pf2e.spells-srd.4ZGte0i9YbLh4dRi]{Item Facade}</em></li>
<li><strong>4th</strong> <em>@Compendium[pf2e.spells-srd.f8SBoXiXQjlCKqly]{Illusory Creature}</em>, <em>@Compendium[pf2e.spells-srd.hkfH9Z53hPzcOwNB]{Veil}</em></li>
<li><strong>5th</strong> <em>@Compendium[pf2e.spells-srd.Ucf8eynbZMfUucjE]{Illusory Scene}</em>, <em>@Compendium[pf2e.spells-srd.hkfH9Z53hPzcOwNB]{Veil}</em></li>
<li><strong>6th</strong> <em>@Compendium[pf2e.spells-srd.U58aQWJ47VrI36yP]{Hallucination}</em>, <em>@Compendium[pf2e.spells-srd.WPXzPl7YbMEIGWfi]{Mislead}</em></li>
</ul>
<p><strong>Craft Requirements</strong> Supply one casting of all listed levels of all listed spells.</p>
<hr />
<p>Automatically applied effects:</p>
<ul>
<li>+2 circumstance bonus to checks to identify illusion magi</li>
</ul>
------ Description (fr) ------
<p>Les incrustations d’or précieux font briller ce bâton métallique richement forgé. Quand vous Lancez un sort que contient le bâton, l’image illusoire d’une chose que vous désirez apparaît à sa surface. Lorsque vous le maniez, vous bénéficiez d’un bonus de circonstances de +2 aux tests pour identifier la magie d’illusion.</p>
<p><strong>Activation</strong> Lancer un sort</p>
<p><strong>Effet</strong> Vous dépensez un certain nombre de charges du bâton pour lancer un sort de sa liste.</p>
<ul>
<li><strong>Tour de magie</strong><em>@Compendium[pf2e.spells-srd.atlgGNI1E1Ox3O3a]{Son imaginaire}</em></li>
<li><strong>Niveau 1</strong> <em>@Compendium[pf2e.spells-srd.i35dpZFI7jZcRoBo]{Déguisement illusoire}</em>, <em>@Compendium[pf2e.spells-srd.2oH5IufzdESuYxat]{Objet illusoire}</em> </li>
<li><strong>Niveau 2</strong> <em>@Compendium[pf2e.spells-srd.f8SBoXiXQjlCKqly]{Créature illusoire}</em>, <em>@Compendium[pf2e.spells-srd.4ZGte0i9YbLh4dRi]{Façade}</em> </li>
<li><strong>Niveau 3</strong> <em>@Compendium[pf2e.spells-srd.i35dpZFI7jZcRoBo]{Déguisement illusoire}</em>, <em>@Compendium[pf2e.spells-srd.4ZGte0i9YbLh4dRi]{Façade}</em></li>
<li><strong>Niveau 4</strong> <em>@Compendium[pf2e.spells-srd.f8SBoXiXQjlCKqly]{Créature illusoire}</em>, <em>@Compendium[pf2e.spells-srd.hkfH9Z53hPzcOwNB]{Voile}</em></li>
<li><strong>Niveau 5</strong> <em>@Compendium[pf2e.spells-srd.Ucf8eynbZMfUucjE]{Scène illusoire}</em>, <em>@Compendium[pf2e.spells-srd.hkfH9Z53hPzcOwNB]{Voile}</em></li>
<li><strong>Niveau 6</strong> <em>@Compendium[pf2e.spells-srd.U58aQWJ47VrI36yP]{Hallucination}</em>, <em>@Compendium[pf2e.spells-srd.WPXzPl7YbMEIGWfi]{Double illusoire}</em></li>
</ul>
<p><strong>Conditions de fabrication</strong> Fournir une incantation de tous les sorts de la liste et à tous les niveaux indiqués.</p>
<hr />
<p>Code: Effets appliqués automatiquement</p>
<ul>
<li>Bonus de circonstances +2 aux tests pour identifier la magie d'illusion</li>
</ul>
