Name: Gluttonous Spear
Nom: Lance gloutonne
État: libre

------ Description (en) ------
<p>The head of this +1 striking @Compendium[pf2e.equipment-srd.qlunQzfnzPQpMG6U]{Returning} spear is wrapped in greasy hide, and its head resembles a thick, clawed finger.</p>
<p>On a critical hit, the target is @Compendium[pf2e.conditionitems.MIRkyAjyBeXivMa7]{Enfeebled 1} for 1 minute, and you gain [[/r 1d8]] temporary Hit Points that last for 1 minute.</p>
------ Description (fr) ------
<p>La tête de cette lance de Frappe @Compendium[pf2e.equipment-srd.qlunQzfnzPQpMG6U]{boomerang} +1 est enveloppée dans un cuir graisseux, et sa tête ressemble à un doigt épais et griffu.</p>
<p>Sur un coup critique, la cible est @Compendium[pf2e.conditionitems.MIRkyAjyBeXivMa7]{Affaiblie} 1 pendant 1 minute, et vous gagnez [[/r 1d8 #PV temporaires]]{1d8 points de vie temporaires} pendant 1 minute.</p>
