Name: Torag's Silver Anvil
Nom: Enclume d'argent de Torag
État: libre

------ Description (en) ------
<p>This portable silver anvil has a narrow hoop on one end, through which a long, sturdy chain has been strung. Torag's Silver Anvil can be wielded as a +3 @Compendium[pf2e.equipment-srd.DH0kB9Wbr5pDeunX]{Holy} @Compendium[pf2e.equipment-srd.RSZwUlCzUX7Nb4UA]{Greater Flaming} greater striking silver meteor hammer.</p>
<p>Outside of combat, the anvil can be used with a hammer as an incredibly effective portable forge, heating up the metal to be forged without a furnace and granting a +3 item bonus to Crafting checks involving metalworking.</p>
<p>When you use the anvil to successfully Repair a metal item, the item recovers an additional 10 Hit Points (or an additional 20 on a critical success).</p>
<hr />
<p>Automatically applied effects:</p>
<ul>
<li> +3 item bonus to Crafting checks involving metalworking</li>
</ul>
------ Description (fr) ------
<p>Cette enclume d'argent portative est munie d'un étroit anneau à une extrémité, dans lequel une longue et solide chaîne a été enfilée. L'Enclume d'argent de Torag peut être maniée comme un @Compendium[pf2e.equipment-srd.xu3azdMCIa53Oe1f]{Marteau météore} en argent de frappe supérieure @Compendium[pf2e.equipment-srd.DH0kB9Wbr5pDeunX]{Saint} @Compendium[pf2e.equipment-srd.RSZwUlCzUX7Nb4UA]{Enflammé supérieur} +3.</p>
<p>En dehors du combat, l'enclume peut être utilisée avec un marteau comme une forge portative incroyablement efficace, chauffant le métal à forger sans fourneau et accordant un bonus d'objet de +3 aux tests d'Artisanat impliquant le travail du métal.</p>
<p>Lorsque vous utilisez l'enclume pour réparer avec succès un objet en métal, celui-ci récupère 10 points de vie supplémentaires (ou 20 supplémentaires en cas de succès critique).</p>
<hr />
<p>Effets appliqués automatiquement:</p>
<ul>
<li>Bonus d'objet de +3 aux tests d'Artisanat impliquant le travail des métaux</li>
</ul>
