Name: Eclipse
Nom: Éclipse
État: officielle

------ Description (en) ------
<p>This +1 @Compendium[pf2e.equipment-srd.qlunQzfnzPQpMG6U]{Returning} striking cold iron starknife has an ornate central grip that depicts a silver dragon, the neck, wings, and tail of which wrap over and around the handle in knots to support the weapon's four cold iron blades. While the handle is polished to a mirrorlike shine, the blades of Eclipse are a flat black and entirely unreflective. Eclipse is also the portal key required to activate Dreamgate at Alseta's Ring.</p>
<p>Whenever you score a critical hit with Eclipse, the target creature's eyes are plunged into darkness; if that creature doesn't have darkvision, it is blinded for 1 round.</p>
<hr />
<p><strong>Activate</strong> <span class="pf2-icon">A</span> command</p>
<p><strong>Frequency</strong> once per day</p>
<p><strong>Effect</strong> <em>Eclipse's</em> blades glow like starlit night sky, causing it to shed light as a torch until you deactivate it as a single action, which has the concentrate trait.</p>
<hr />
<p><strong>Activate</strong> <span class="pf2-icon">R</span> envision</p>
<p><strong>Frequency</strong> three times per day</p>
<p><strong>Trigger</strong> You attempt a Stealth check to Hide or Sneak, but you haven't rolled yet</p>
<p><strong>Effect</strong> You absorb light, gaining a +2 status bonus to the Stealth check.</p>
------ Description (fr) ------
<p>Cette lamétoile  @Compendium[pf2e.equipment-srd.qlunQzfnzPQpMG6U]{Boomerang} en fer froid de Frappe +1 a une poignée centrale ornée représentant un dragon d’argent dont le cou, les ailes et la queue recouvrent la poignée, l’entourent et forment les points de fixation des quatre lames en fer froid. La poignée est polie au point de réfléter la lumière comme un miroir, mais les lames d’Éclipse sont noir mat et opaques. Éclipse est aussi la clef indispensable pour activer le portail des Songes de l’Anneau d’Alséta.</p>
<p>Chaque fois que vous obtenez un coup critique avec Éclipse, les yeux de la créature ciblée sont plongés dans le noir. Si cette créature n’a pas la vision dans le noir, elle est Aveugle pendant 1 round</p>
<hr />
<p><strong>Activation</strong> <span class="pf2-icon">A</span> Sur ordre</p>
<p><strong>Fréquence</strong> une fois par jour</p>
<p><strong>Effet</strong> Les lames d’Éclipse  luisent comme des étoiles dans un ciel nocturne et diffusent de la lumière comme une torche jusqu’à ce que vous désactiviez l’effet par une action unique qui a le trait concentration</p>
<hr />
<p><strong>Activate</strong> <span class="pf2-icon">R</span> imaginer</p>
<p><strong>Fréquence</strong> 3 fois par jour</p>
<p><strong>Déclencheur</strong> Vous effectuez un test de Discrétion pour Vous cacher ou Être furtif mais vous n’avez pas encore lancé le dé.</p>
<p><strong>Effet</strong> Vous absorbez la lumière, ce qui vous confère un bonus de statut de +2 au test de Discrétion.</p>
