Name: Ringmaster's Staff
Nom: Bâton du maître de cérémonie
État: libre

------ Description (en) ------
<p>This highly polished black wooden staff resembles an aristocrat's oversized walking cane, complete with a silver head shaped like a large circus animal such as a horse or elephant. Ringmasters or announcers use <em>ringmaster's staves</em> to draw attention from their audiences or to salvage acts that fall flat mid-performance.</p>
<p>While wielding a <em>ringmaster's staff</em>, your normal voice can be clearly heard by all creatures within 300 feet regardless of intervening barriers or ambient noise, although your voice can't penetrate magical silence and you can't use this to extend an auditory or sonic effect through barriers that would otherwise block it.</p>
<p><strong>Activate</strong> Cast a Spell</p>
<p><strong>Effect</strong> You expend a number of charges from the staff to cast a spell from its list.</p>
<p><strong>Craft Requirements</strong> Supply one casting of all listed levels of all listed spells.</p>
<ul>
<li><strong>Cantrip</strong> s <em>@Compendium[pf2e.spells-srd.kl2q6JvBZwed4B6v]{Dancing Lights}</em></li>
<li><strong>1st</strong> <em>@Compendium[pf2e.spells-srd.TTwOKGqmZeKSyNMH]{Feather Fall}</em>, <em>@Compendium[pf2e.spells-srd.LvezN4a3kYf1OHMg]{Floating Disk}</em></li>
<li><strong>2nd</strong> <em>@Compendium[pf2e.spells-srd.0qaqksrGGDj74HXE]{Glitterdust}</em>, <em>@Compendium[pf2e.spells-srd.f8SBoXiXQjlCKqly]{Illusory Creature}</em>, <em>@Compendium[pf2e.spells-srd.9XHmC2JgTUIQ1CCm]{Obscuring Mist}</em></li>
</ul>
------ Description (fr) ------
<p>Ce bâton de bois noir poli ressemble à une canne d'aristocrate surdimensionnée, avec une tête d'argent en forme de gros animal de cirque tel un cheval ou un éléphant. Les maîtres de cérémonies et les annonceurs utilisent ce bâton pour attirer l'attention de leurs publics ou pour rattraper les numéros qui échouent en cours d'exécution.</p>
<p>Tout en brandissant le bâton du maître de cérémonie, votre voix normale peut être clairement entendue par toutes les créatures à moins de 90 mètres, traversant les obstacles ou le bruit ambiant, bien que votre voix ne puisse pas pénétrer le silence magique ou que vous l'utilisez pour étendre un effet auditif ou sonique à travers des obstacles qui le bloqueraient autrement. </p>
<p><strong>Activation</strong> Lancer un sort</p>
<p><strong>Effet</strong> Vous dépensez un certain nombre de charges du bâton pour lancer un sort de sa liste.</p>
<p><strong>Conditions de fabrication</strong> Fournir une incantation de tous les sorts de la liste et à tous les niveaux énumérés.</p>
<ul>
<li><strong>Tour de magie</strong> <em>@Compendium[pf2e.spells-srd.kl2q6JvBZwed4B6v]{Lumières dansantes}</em></li>
<li><strong> 1st </strong> <em>@Compendium[pf2e.spells-srd.TTwOKGqmZeKSyNMH]{Feuille morte}</em>, <em>@Compendium[pf2e.spells-srd.LvezN4a3kYf1OHMg]{Disque flottant}</em></li>
<li><strong> 2e </strong> <em>@Compendium[pf2e.spells-srd.0qaqksrGGDj74HXE]{Poussière scintillante}</em>, <em>@Compendium[pf2e.spells-srd.f8SBoXiXQjlCKqly]{Créature illusoire}</em>, <em>@Compendium[pf2e.spells-srd.9XHmC2JgTUIQ1CCm]{Brume de dissimulation}</em></li>
</ul>
