Name: Divine Ally
Nom: Allié divin
État: officielle

------ Description (en) ------
<p>Your devotion attracts a spirit of your deity's alignment. Once you choose an ally, your choice can't be changed.</p>
<p>The following are divine allies:</p>
<p><strong>Blade Ally</strong> A spirit of battle dwells within your armaments. Select one weapon or @Compendium[pf2e.equipment-srd.FNDq4NFSN0g2HKWO]{Handwraps of Mighty Blows (+1)} when you make your daily preparations. In your hands, the item gains the effect of a property rune. For a champion following the tenets of good, choose @Compendium[pf2e.feat-effects.eippbzuocVM6ftcj]{Effect: Blade Ally Disrupting Rune}, @Compendium[pf2e.feat-effects.Rgio0hasm2epEMfh]{Effect: Blade Ally Ghost Touch Rune},<em>returning</em>, or <em>shifting</em>. You also gain the weapon's critical specialization effect.</p>
<p>If you are a champion following the tenets of evil, you can choose the following property runes: @Compendium[pf2e.feat-effects.6LgJB4ypaSTWSJLu]{Effect: Blade Ally Fearsome Rune}, returning, or shifting.</p>
<p><strong>Shield Ally</strong> A spirit of protection dwells within your shield. In your hands, the shield's Hardness increases by 2 and its HP and BT increase by half.</p>
<p><strong>Steed Ally</strong> You gain a young animal companion as a mount. Ordinarily, your animal companion is one that has the mount special ability, such as a horse. You can select a different animal companion (GM's discretion), but this ability doesn't grant it the mount special ability.</p>
------ Description (fr) ------
<p>Votre dévotion attire un esprit dont l’alignement est identique à celui de votre divinité. Une fois le choix de cet allié effectué, vous ne pouvez plus en changer.</p>
<p>Les alliés divins sont les suivants :</p>
<p><strong>Allié bouclier</strong> un esprit protecteur se loge dans votre bouclier. Entre vos mains, la Solidité du bouclier augmente de 2 et ses PV et son SR augmentent de moitié.</p>
<p><strong>Allié destrier</strong> Vous obtenez un jeune compagnon animal qui vous sert de monture. Normalement, votre compagnon animal doit avoir le pouvoir spécial monture, comme un cheval par exemple. Vous pouvez choisir un compagnon animal différent (à l’appréciation du MJ) mais cette capacité ne lui confère toutefois pas le pouvoir spécial monture.</p>
<p><strong>Allié lame</strong> un esprit guerrier réside dans votre arsenal. Lorsque vous faites vos préparatifs quotidiens, choisissez une arme ou des @Compendium[pf2e.equipment-srd.FNDq4NFSN0g2HKWO]{bandelettes de coups puissants}. Entre vos mains, cet objet gagne les effets d’une rune de propriété.</p>
<ul>
<li>Pour un champion qui suit les <em>principes du bien</em>, choisissez entre @Compendium[pf2e.equipment-srd.qlunQzfnzPQpMG6U]{Boomerang}, @Compendium[pf2e.equipment-srd.roeYtwlIe65BPMJ1]{Changeante}, @Compendium[pf2e.feat-effects.eippbzuocVM6ftcj]{Perturbatrice} ou @Compendium[pf2e.feat-effects.Rgio0hasm2epEMfh]{Spectrale}, .</li>
<li>Pour un champion qui suit les <em>principes du mal</em>, choisissez entre Boomerang, Changeante ou @Compendium[pf2e.feat-effects.6LgJB4ypaSTWSJLu]{Effrayante}.</li>
</ul>
<p>Vous obtenez également l’effet critique spécialisé de l’arme.</p>