Name: Gallop
Nom: Galop
État: libre

------ Description (en) ------
<p>The horse Strides twice at a +10-foot circumstance bonus to Speed.</p>
------ Description (fr) ------
<p>Le cheval Marche rapidement deux fois avec un bonus de circonstances de +3 m à sa Vitesse.</p>
