Name: Cyth-V'sug
Nom: Cyth-V'sug (Seigneur Démon)
État: libre

------ Description (en) ------
<p>Cyth-V'sug, Prince of the Blasted Heath, is the demon lord of disease, fungus, and parasites. Originally a qlippoth lord, he was exiled by his peers for accepting mortal worshippers. Transformed into one of the demons he despises, Cyth-V'sug seeks to devour all life to put an end to demons and, ultimately, himself. He most often appears as an enormous draconic figure of snarled vines, fungal growths, and flailing tentacles. Cyth-V'sug is most often worshipped by recluses who seek to bring decay and destruction to their environs, though denizens of the Darklands also pay homage to him.</p>
<p><strong>Edicts</strong> Corrupt all that exists with parasites or fungus, promote the growth of fungus, feast on rotten flesh or fungus</p>
<p><strong>Anathema</strong> Purify your food, cure a disease or kill a parasite, tolerate another demon lord or their servants [except @Compendium[pf2e.pathfinder-bestiary.8BloAdRqlLpt5bNg]{Treerazer})</p>
<p><strong>Areas of Concern</strong> disease, fungus, and parasites</p>
------ Description (fr) ------
<p>Cyth-V’sug, Prince de la Lande Flétrie, est le seigneur démon des maladies, des champignons et des parasites. Jadis un seigneur parmi les qlippoths, il fut banni par ses pairs pour avoir accepté l’adoration de mortels. Transformé depuis en l’un des démons qu’il méprise, il cherche à dévorer toute vie pour exterminer tous les démons – et lui-même en dernier lieu. Il adopte le plus souvent l’apparence d’une créature draconique gigantesque, faite de lianes enchevêtrées, d’excroissances fongiques et de tentacules trépignants. Cyth-V’sug est le plus souvent vénéré par des reclus qui veulent corrompre et détruire leur environnement. Toutefois, certains résidents d’Ombreterre lui rendent aussi hommage.</p>
<p><strong>Édits</strong> Corrompre tout ce qui existe à l’aide de parasites ou de champignons, favoriser la croissance des champignons, se délecter de chair pourrie ou de champignons</p>
<p><strong>Anathèmes</strong> Purifier sa nourriture, soigner une maladie ou tuer un parasite, tolérer un autre seigneur démon ou ses serviteurs (à l’exception du @Compendium[pf2e.pathfinder-bestiary.8BloAdRqlLpt5bNg]{Fléau des arbres})</p>
<p><strong>Préoccupations</strong> Maladie, champignons et parasites</p>
<hr />
<p><strong>Domaines</strong> {Changement}, {Décomposition}, {Fléau}, {Nature}</p>
