Name: Umonlee
Nom: Umonlee
État: officielle

------ Data ------
SavesEN: +1 status vs. mental
SavesFR: Bonus de statut de +1 contre mental
SensesEN: darkvision, tremorsense (imprecise) 80 feet
SensesFR: Perception des vibrations (imprécis) 24 m, Vision dans le noir
------ Description (en) ------
<p>Those who dwell in the coldest climates of Golarion tell of a brutal beast that swims through the ice and snow and can devastate entire villages in minutes. Ancient Erutaki who made their homes in the frozen polar expanse called the Crown of the World named this monster the umonlee.</p>
<p>Umonlees are bestial predators who constantly hunt, rarely resting in service of a hunger that is never fully sated. Despite this animalistic drive, umonlees are semi-intelligent creatures who often select and stalk their prey. However, they are not terribly bright and often keep their hunting grounds in sparsely-trafficked areas. It is rare for an umonlee to attack a village, but one might attack a sparse group, such as a hunting or scouting party. Many caravans traversing the Path of Aganhei-the trade route between the continents of Avistan and Tian Xia that crosses the Crown of the World-have had their expeditions abruptly ended by an encounter with one of these monstrosities.</p>
<p>Those who study monsters posit that umonlees are related to chuuls, as the creatures exhibit some similarities. Both are semi-intelligent, crustacean predators that use ambush tactics to kill and eat their prey. Even though they can talk, umonlees typically only speak Aklo, which also gives credence to this theory. This would also lend to the theory that chuuls are products of alghollthu manipulation, meaning that umonlees are also the results of these alien designs. However, the fact that these creatures aren't evil argues well against such a theory.</p>
------ Description (fr) ------
<p>Les habitants des régions polaires de Golarion parlent d’une bête brutale qui traverse la glace et la neige et peut dévaster plusieurs villages en quelques minutes. Les vénérables Erutakis ayant fondé leur foyer sur le continent arctique qu’est la Couronne du Monde les appellent umonlies.</p>
<p>Ces monstres sont des prédateurs sauvages toujours en chasse et ne se reposent que rarement, car leur appétit est insatiable. En dépit de leur conduite bestiale, les umonlies sont des créatures semi-intelligentes qui, très souvent, choisissent et traquent leurs proies. Toutefois, elles ne sont pas très intelligentes et leurs terrains de chasse se trouvent souvent dans des zones peu peuplées. Il est rare qu’une umonlie prenne d’assaut un village, mais il arrive qu’elle attaque une bande d’hommes, comme un groupe de chasseurs ou d’explorateurs. De nombreuses caravanes traversant la piste d’Aganhei — la route commerciale et intercontinentale entre l’Avistan et le Tian Xia, qui passe par la Couronne du Monde — ont vu leur expédition stoppée net par une rencontre avec l’une de ces monstruosités.</p>
<p>Les personnes étudiant les monstres avancent que les umonlies sont parentes des chuuls, car les deux espèces possèdent des similarités. Ce sont deux types de prédateurs crustacés semi-intelligents qui utilisent des embuscades pour tuer et manger leurs proies. Bien qu’elles ne puissent pas parler, le fait que les umonlies ne connaissent généralement que l’aklo appuie cette théorie. Cela soutiendrait aussi l’hypothèse selon laquelle les chuuls seraient le résultat de manipulations d’alghollthus et signifierait qu’il en va de même pour les umonlies. Toutefois, le fait que ces créatures ne soient pas mauvaises joue en défaveur d’une telle conjecture.</p>
