Name: Ooze Mephit
Nom: Méphite de vase (Élémentaire)
État: libre

------ Data ------
HPDetailsEN: (fast healing 2 (when touching mud or slime))
HPDetailsFR: (Guérison accélérée 2 (au contact de boue ou de limon))
SensesEN: darkvision
SensesFR: Vision dans le noir
------ Description (en) ------
<p>Slick in every sense of the word, ooze mephits are unapologetic sycophants, shamelessly flattering anyone they may be able to con a favor out of, although their lack of intelligence and subtlety means that only the most vain or trusting targets fail to see through their honeyed words. Lacking proper bones, these ocher-colored mephits have bodies consisting primarily of ooze and muck. They smell disgusting, and their touch leaves stains that are almost impossible to get out.</p>
------ Description (fr) ------
<p>Gluants et beaux parleurs, les méphites de vase sont des flagorneurs invétérés, flattant tous ceux à qui ils peuvent espérer soutirer une faveur, bien que leur manque d’intelligence et de subtilité implique que seuls les êtres les plus vaniteux ou les plus crédules se laissent engluer par leurs paroles mielleuses. N’ayant aucune véritable structure osseuse, ces méphites de couleur ocre sont constitués principalement de boue et de vase. Ils dégagent une odeur.</p>
<hr />
<p>Les méphites, parfois appelés les canailles élémentaires, sont de petites bestioles bipèdes avec des ailes de chauve-souris qui servent des élémentaires plus puissants sur leurs plans ou des incantateurs débutants qui les invoquent sur le plan matériel. Tous les méphites ont un soupçon de pouvoirs magiques ainsi qu’un souffle.</p>
