Name: Adult Crystal Dragon (Spellcaster)
Nom: Dragon de cristal adulte (Incantateur)
État: officiel

------ Data ------
SavesEN: +1 status to all saves vs. magic
SavesFR: Bonus de statut de +1 à tous les jets de sauvegardes contre la magie
SensesEN: darkvision, scent (imprecise) 60 feet, tremorsense (imprecise) 30 feet
SensesFR: Odorat (imprécis) 18 m, Perception des vibrations (imprécis) 9 m, Vision dans le noir
------ Description (en) ------
<p>Good-natured but vain, crystal dragons are beautiful creatures with brilliant hides made of multicolored crystal and gemstone. Their beauty is a source of great pride but is also something of a weakness, as crystal dragons are easily angered by insults about their appearance. Despite their relatively benign natures when compared to other true dragons, crystal dragons can be short tempered and prone to finding insults where none were intended. Although their opinions are changeable, crystal dragons prefer orderly environments and are not fond of sudden interruptions or distractions.</p>
<p>Crystal dragons build their lairs in underground grottoes, where they cultivate environments of great beauty. Their exacting standards and vivid imaginations mean that they are always working to improve the appearance or layout of some part of their lair. These lairs are unique to each individual crystal dragon, but there are always plenty of reflective surfaces that allow the dragon to observe their own appearance. These range from crystals to reflecting pools to finely crafted mirrors, which are arranged throughout the lair in a pleasing array. Gifts of well-crafted or magical mirrors are an excellent way to curry favor with a crystal dragon.</p>
<p>Although crystal dragons are easily distracted by their sparkling collections or their vanity, they remain good-hearted creatures at the core and make friends quickly. While a crystal dragon tends to find evil creatures uncouth and unpleasant, any other nearby denizen or inhabitant of their home could become fast friends or beloved pets, depending upon the creature's capacity for conversation (and for providing the frequent praise and compliments that crystal dragons hunger for).</p>
------ Description (fr) ------
<p>Bienveillants mais frivoles, les dragons de cristal sont de magnifiques créatures avec une peau brillante constituée de cristaux et de pierres précieuses multicolores. Bien qu’ils soient très fiers de leur beauté, c’est aussi une de leurs faiblesses puisqu’ils sont souvent courroucés quand quelqu’un critique leur apparence. Malgré leur nature bienveillante, quand on les compare aux autres dragons véritables, les dragons de cristal peuvent être irritables et considérer comme une insulte une remarque innocente. Bien qu’ils aient des goûts variés, les dragons de cristal préfèrent les environnements ordonnés et n’apprécient pas les distractions ou les interruptions soudaines.</p>
<p>Ils établissent leur tanière dans des grottes souterraines où ils entretiennent des environnements d’une grande beauté. Leurs standards exigeants et leur imagination débordante impliquent qu’ils travaillent toujours à améliorer l’apparence ou la disposition d’une partie de leur tanière. Ces tanières sont uniques à chaque dragon de cristal, mais elles comptent toujours un grand nombre de surfaces réfléchissantes qui permettent au dragon d’admirer son propre reflet. Il peut s’agir de cristaux ou de bassins aux eaux miroitantes en passant par des miroirs finement ouvragés et ils sont disposés avec goût un peu partout dans sa tanière. Offrit un miroir magique ou finement ouvragé à un dragon de cristal est le meilleur moyen de s’attirer ses faveurs.</p>
<p>Même s’ils sont facilement distraits par leur collection étincelante et chatoyante ou par leur vanité, ce sont des créatures au grand coeur et elles se font rapidement des amis. Bien qu’un dragon de cristal trouve les créatures mauvaises grossières et désagréables, tout habitant vivant à proximité de sa tanière peut rapidement devenir un de ses amis ou un animal de compagnie en fonction de ses capacités de conversation (afin surtout d’adresser au dragon les compliments et les louanges dont il a tant besoin).</p>