Name: Sea Snake
Nom: Serpent de mer
État: libre

------ Data ------
SensesEN: low-light vision, scent (imprecise) 30 feet
SensesFR: Odorat (imprécis) 9 m, Vision nocturne
------ Description (en) ------
<p>These lithe snakes like to frequent the shallow waters of tropical seas. Their 4-foot-long, blue-green bodies easily blend into the water where they lurk to ambush prey. Tales speak of massive sea snakes that swim in deeper waters and follow ships, waiting for sailors to fall overboard or climbing the side to snatch them from the deck.</p>
------ Description (fr) ------
<p>Ces serpents agiles vivent dans les eaux peu profondes des mers tropicales. Leur corps bleu-vert de 1,2 m de long se fond facilement dans les eaux où ils rôdent à l’affût d’une proie. On raconte que de gigantesques serpents de mer résideraient dans les profondeurs sous-marines et suivraient les navires en attendant que des marins tombent à l’eau ou grimpent le long de la coque pour les capturer directement sur le pont.</p>
