Name: Sacristan
Nom: Sacristain (Velstrac)
État: libre

------ Data ------
HPDetailsEN: regeneration 10 (deactivated by good or silver)
HPDetailsFR: régénération 10 (désactivée par argent ou bon)
SavesEN: +1 status to all saves vs. magic
SavesFR: +1 de statut contre la magie
SensesEN: greater darkvision, painsight
SensesFR: vision dans le noir supérieure, vision de la douleur
------ Description (en) ------
<p>Sacristans are failures among the velstracs, creatures whose bodies and minds have been utterly broken by the velstracs' torments. These unfortunates are assembled from scrap metal, nerveless flesh, and bits of darkness into loyal agents who take ecstatic pleasure in serving other velstracs. Sacristans are empowered by a miniature gateway to the Shadow Plane deep in their mouths. By distending their jaws, they can howl with the shrieks and windstorms of that plane. Sacristans vary in appearance but are the size of maimed humans. Their features are redundant or absent and they are wrapped in barbed and rusted chains.</p>
------ Description (fr) ------
<p>Les sacristains sont des ratés parmi les Velstracs, des créatures dont le corps et l'esprit ont été complètement brisés par les tourments des Velstracs. Ces malheureux sont assemblés à partir de bouts de ferraille, de chair sans nerf et de morceaux d'obscurité pour former des agents loyaux qui prennent un plaisir extatique à servir les autres Velstracs. Les sacristains ont le pouvoir d'ouvrir une porte miniature qui mène au plan de l'Ombre au fond de leur bouche. En distendant leurs mâchoires, ils peuvent hurler les cris et les tempêtes de vent de ce plan. Les sacristains varient en apparence mais ils ont la taille d'un humain mutilé. Leurs traits sont redondants ou absents et ils sont enveloppés de chaînes barbelées et rouillées.</p>
<hr />
<p>La recherche de la sensation ultime par l'automutilation est la préoccupation horrifiante des monstres habitant l'ombre, connus sous le nom de velstracs. Ils ne transcendent leur détachement stoïque que lorsqu'ils infligent douleur et terreur à leurs victimes, pratiquent de nouvelles formes de torture, ou lorsqu'ils retournent leurs pratiques agonisantes contre eux-mêmes. Les Velstracs se considèrent comme des êtres éclairés, au dessus des limitations telles que la moralité ou les tabous mortels, mais leurs victimes les connaissent comme des bourreaux sans émotion qui infligent des souffrances sadiques. Ces monstres prétendent chercher la perfection dans la pensée, la forme et l'action, bien qu'ils ne reconnaissent aucun raffinement qui ne nécessite pas l'excision douloureuse de la chair ou de l'esprit.</p>
<p>Les Velstracs se manifestent à partir des âmes des mortels masochistes ou sadiques les plus extrêmes qui sont jugés et envoyés sur le plan de l'Ombre. Ils prennent les formes qui conviennent à leurs viles prédilections, allant des augures de bas étage aux maestros de la souffrance et de la mutilation appelés ermites. Le processus de transformation déforme l'âme étape par étape, avec les autres velstracs transportant leurs nouveaux membres à travers d'innombrables chambres de douleur parmi les sombres étendues du plan de l'Ombre.</p>
