Name: Ostiarius
Nom: Ostiarius (Velstrac)
État: libre

------ Data ------
HPDetailsEN: regeneration 5 (deactivated by good or silver)
HPDetailsFR: régénération 5 (désactivée par argent ou bon)
LanguagesEN: Telepathy 100 feet
LanguagesFR: Télépathie 30 m
SavesEN: +1 status to all saves vs. magic
SavesFR: bonus de statut de +1 contre la magie
SensesEN: greater darkvision, painsight, sense portal
SensesFR: vision dans le noir supérieure, vision de la douleur, perception des portails
------ Description (en) ------
<p>Ostiariuses, as emissaries of the velstracs, tend to the portals between the Shadow Plane and the Material Plane. They not only escort other velstracs into the world of mortals, but also work to entice mortals into the realms of the velstracs- from which most mortals never leave. Among the most pleasant and persuasive of the velstracs, ostiariuses are prepared to converse for hours upon any topic, and they are skilled at returning, again and again, to the subject of the delights found in their perverse philosophies. Ostiariuses stand over 6 feet tall, and individuals range from skeletally thin to hugely corpulent.</p>
------ Description (fr) ------
<p>Les ostiarius, en tant qu'émissaires des Velstracs, s'occupent des portails entre le Plan de l'Ombre et le Plan de Matériel. Non seulement ils escortent les autres Velstracs dans le monde des mortels, mais ils s'efforcent également d'attirer les mortels dans les royaumes des Velstracs, d'où la plupart des mortels ne ressortent jamais. En compagnie des Velstracs les plus agréables et les plus persuasifs, les ostiarius sont prêts à converser pendant des heures sur n'importe quel sujet et ils sont habiles à revenir, encore et encore, sur le sujet des délices que l'on trouve dans leurs philosophies perverses. Les ostiarius mesurent plus d'un mètre quatre-vingt de haut et ils varient de la minceur squelettique à une corpulence importante.</p>
<hr />
<p>La recherche de la sensation ultime par l'automutilation est la préoccupation horrifiante des monstres habitant l'ombre, connus sous le nom de velstracs. Ils ne transcendent leur détachement stoïque que lorsqu'ils infligent douleur et terreur à leurs victimes, pratiquent de nouvelles formes de torture, ou lorsqu'ils retournent leurs pratiques agonisantes contre eux-mêmes. Les Velstracs se considèrent comme des êtres éclairés, au dessus des limitations telles que la moralité ou les tabous mortels, mais leurs victimes les connaissent comme des bourreaux sans émotion qui infligent des souffrances sadiques. Ces monstres prétendent chercher la perfection dans la pensée, la forme et l'action, bien qu'ils ne reconnaissent aucun raffinement qui ne nécessite pas l'excision douloureuse de la chair ou de l'esprit.</p>
<p>Les Velstracs se manifestent à partir des âmes des mortels masochistes ou sadiques les plus extrêmes qui sont jugés et envoyés sur le plan de l'ombre. Ils prennent les formes qui conviennent à leurs viles prédilections, allant des augures de bas étage aux maestros de la souffrance et de la mutilation appelés ermites. Le processus de transformation déforme l'âme étape par étape, avec les autres velstracs transportant leurs nouveaux membres à travers d'innombrables chambres de douleur parmi les sombres étendues du Plan de l'Ombre.</p>
