Name: Scythe Tree
Nom: Arbre faux
État: officielle

------ Data ------
SensesEN: lifesense 30 feet, low-light vision
SensesFR: perception de la vie 9 m, vision nocturne
------ Description (en) ------
<p>Malevolent, vicious, and cruel, scythe trees pose as normal trees near deep forest paths, where they wait to slaughter passersby. Instead of drawing sustenance from light and soil, scythe trees gorge themselves on the flesh, blood, and bone of sapient creatures. Nothing is more delectable to scythe trees than a kind-hearted gnome or an altruistic dryad who believes that a scythe tree can be redeemed. The screams and whimpers of these victims are music to these cruel plants and add an extra dimension of flavor to the meal.</p>
<p>Scythe trees are solitary creatures by nature, and their size and power mean that they don't need to compete for food with other carnivorous plants. Once food sources dwindle in an area, scythe trees move on to another location. When a scythe tree dwells in a location for many months or years, it leaves traces of its bark and roots in the soil. Over time, these blood-nourished fragments might grow into a new scythe tree, but the progenitor will most likely have already moved on to new hunting grounds long before the new scythe tree reaches maturity.</p>
<p>Scythe trees appear as dead or dying deciduous trees with long, twisted branches that end in scythe-like blades. These carnivorous plants have dark-brown bark that is nearly black near the bottom of the trunk and rusty brown leaves that remain attached year-round. Scythe trees' disturbing mouths remain closed when not eating, appearing as a jagged gash on the trunk. When scythe trees deign to speak, their voices are rough, deep, and mocking, particularly when discussing arboreals, whom scythe trees universally find to be insufferable and worthy of little more than being hacked to pieces.</p>
------ Description (fr) ------
<p>Les arbres faux, maléfiques, odieux et cruels, se présentent comme des arbres normaux plantés à proximité des chemins forestiers les plus profonds, où ils attendent pour massacrer les voyageurs. Ils ne se nourrissent pas de la lumière ni du sol, mais se gavent de la chair, du sang et des os de créatures douées de raison. Rien n’est plus délicieux pour les arbres faux qu’un gnome au coeur d’or ou une dryade altruiste convaincue qu’un arbre faux peut connaître la rédemption. Les cris et les gémissements de telles victimes résonnent comme une douce musique pour ces plantes cruelles et ajoutent une autre dimension à la saveur de leur repas.</p>
<p>Les arbres faux sont des créatures solitaires par nature, et leur grande taille couplée à leur force leur permettent de ne pas à avoir à lutter avec les autres plantes carnivores pour trouver de la nourriture. Une fois que les sources de nourriture d’une zone s’amenuisent, les arbres faux se dirigent vers un autre endroit. Lorsqu’un arbre faux reste dans le même territoire pendant des mois ou des années, le sol de son territoire est empreint de son écorce et de ses racines. Avec le temps, ces fragments, nourris au sang, peuvent quelquefois donner naissance à un autre arbre faux, mais il est fort probable que l’arbre géniteur se soit déjà déplacé vers de nouveaux terrains de chasse au moment où ces nouveaux arbres faux auront atteint leur maturité.</p>
<p>Les arbres faux ressemblent à des arbres à feuilles caduques mourants ou morts avec leurs longues branches tordues aux extrémités semblables à des lames de faux. Ces plantes carnivores possèdent une écorce brun foncé qui tend vers le noir au niveau de son pied, et dont les branches sont ornées de feuilles brun rouille qui restent attachées toute l’année. Les bouches dérangeantes des arbres faux restent fermées lorsqu’ils ne sont pas en train de manger et ressemblent à des estafilades irrégulières dans le tronc. Lorsque les arbres faux daignent parler, leurs voix sont rauques, graves et moqueuses, surtout lorsqu’ils parlent des arboréens, que les arbres faux trouvent insupportables et qui, à leurs yeux, ne méritent que d’être réduits en pièces.</p>
