Name: Steam Mephit
Nom: Méphite de vapeur (Élémentaire)
État: libre

------ Data ------
HPDetailsEN: (fast healing 2 (in boiling water or steam))
HPDetailsFR: (guérison accélérée 2 (dans l'eau bouillante ou la vapeur))
SensesEN: darkvision, steam vision
SensesFR: vision dans le noir, vision malgré la vapeur
------ Description (en) ------
<p>These brash and arrogant creatures are among the more energetic mephits. They are quick to nominate themselves the leaders of any group, barking out orders in shrill, high-pitched voices and insisting on having everything done their way. Even when they aren't bossing others around, the constant hiss of steam escaping from their pores ensures that there is never a quiet moment.</p>
------ Description (fr) ------
<p>Ces créatures arrogantes et effrontées font partie des méphites les plus dynamiques. Ils sont prompts à se déclarer les chefs d’un groupe en aboyant des ordres de leur voix aiguë et en insistant pour que tout soit fait à leur manière. Même quand ils ne jouent pas les tyrans, il est impossible de profiter d’un peu de calme à cause des sifflements constants de la vapeur qui s’échappe de tous les pores de leur peau.</p>
<hr />
<p>Les méphites, parfois appelés les canailles élémentaires, sont de petites bestioles bipèdes avec des ailes de chauve-souris qui servent des élémentaires plus puissants sur leurs plans ou des incantateurs débutants qui les invoquent sur le plan matériel. Tous les méphites ont un soupçon de pouvoirs magiques ainsi qu’un souffle.</p>
