Name: Augur
Nom: Augure (Velstrac)
État: libre

------ Data ------
HPDetailsEN: regeneration 2 (deactivated by good or silver)
HPDetailsFR: régénération 2 (désactivée par argent ou bon)
LanguagesEN: (Can't Speak Any Language)
LanguagesFR: (Incapable de parler)
SensesEN: greater darkvision, painsight
SensesFR: vision dans le noir supérieure, vision de la douleur
------ Description (en) ------
<p>These spherical knots of sinewy muscle, serrated blades, and bloody metal are the most common velstracs on the Shadow Plane. Each augur has only a single eye, from which they can see the horrors inflicted by other velstracs, who train the augur to expect and appreciate pain. Augurs are 1 foot in diameter and weigh 30 pounds.</p>
------ Description (fr) ------
<p>Ces nœuds sphériques de muscles tendus, de lames dentelées et de métal ensanglanté sont les Velstracs les plus courants sur le Plan des Ombres. Chaque augure n'a qu'un seul œil, d'où il peut voir les horreurs infligées par les autres Velstracs, qui entraînent l'augure à attendre et à apprécier la douleur. Les augures ont un diamètre de 30 centimètres et pèsent 15 kilos.</p>
<hr />
<p>La recherche de la sensation ultime par l'automutilation est la préoccupation horrifiante des monstres habitant l'ombre, connus sous le nom de velstracs. Ils ne transcendent leur détachement stoïque que lorsqu'ils infligent douleur et terreur à leurs victimes, pratiquent de nouvelles formes de torture, ou lorsqu'ils retournent leurs pratiques agonisantes contre eux-mêmes. Les Velstracs se considèrent comme des êtres éclairés, au dessus des limitations telles que la moralité ou les tabous mortels, mais leurs victimes les connaissent comme des bourreaux sans émotion qui infligent des souffrances sadiques. Ces monstres prétendent chercher la perfection dans la pensée, la forme et l'action, bien qu'ils ne reconnaissent aucun raffinement qui ne nécessite pas l'excision douloureuse de la chair ou de l'esprit.</p>
<p>Les Velstracs se manifestent à partir des âmes des mortels masochistes ou sadiques les plus extrêmes qui sont jugés et envoyés sur le plan de l'ombre. Ils prennent les formes qui conviennent à leurs viles prédilections, allant des augures de bas étage aux maestros de la souffrance et de la mutilation appelés ermites. Le processus de transformation déforme l'âme étape par étape, avec les autres velstracs transportant leurs nouveaux membres à travers d'innombrables chambres de douleur parmi les sombres étendues du Plan de l'Ombre.</p>
