Name: Interlocutor
Nom: Interlocum (Velstrac)
État: libre

------ Data ------
HPDetailsEN: regeneration 20 (deactivated by good or silver)
HPDetailsFR: régénération 20 (désactivée par argent ou bon)
SavesEN: +1 status to all saves vs. magic
SavesFR: +1 de statut contre la magie
SensesEN: greater darkvision, painsight
SensesFR: vision dans le noir supérieure, vision de la douleur
------ Description (en) ------
<p>Interlocutors are the most talented surgeon-sculptors of the velstracs, carving away flesh and replacing it with new body parts of muscle, sinew, and metal. Each interlocutor structures their individual appearance carefully, but all are towering, multi-limbed amalgamations of the strongest limbs, densest bone, and sharpest metal they can find. They continually search for new material to graft to their forms, and their slain foes are rarely found intact, as little is more valuable to interlocutors than a powerful opponent's legs, eyes, or even brain. Interlocutors average 9 feet tall and weigh approximately 800 pounds.</p>
<hr />
<p>The search for ultimate sensation through self-mutilation is the horrifying preoccupation of the shadow-dwelling fiends known as velstracs. They transcend their stoic detachment only when inflicting pain and terror upon their victims, practicing new forms of torture, or when turning their agonizing practices back on themselves. Velstracs consider themselves enlightened beings, transcending such limitations as morality or mortal taboos, but their victims know them as emotionless tormentors who inflict sadistic suffering. These fiends claim to seek perfection in thought, form, and action, although they don't recognize any refinement that doesn't require the painful excision of the flesh or spirit.</p>
<p>Velstracs manifest from the souls of the most extreme masochistic or sadistic mortals who are judged and sent on to the Shadow Plane. They take on forms that suit their vile predilections, ranging from the low-ranking augurs to the maestros of suffering and mutilation called eremites. The process of transformation warps the soul step by step, with other velstracs conveying their new members through untold chambers of pain among the dark reaches of the Shadow Plane.</p>
------ Description (fr) ------
<p>Les interlocum sont les chirurgiens-sculpteurs les plus talentueux des Velstracs, qui découpent la chair et la remplacent par de nouvelles parties du corps constituées de muscles, de tendons et de métal. Chaque interlocum structure soigneusement son apparence individuelle, mais tous sont des amalgames imposants aux membres multiples, des membres plus forts, faits de l'os le plus dense et du métal le plus tranchant qu'ils puissent trouver. Ils recherchent continuellement de nouveaux matériaux pour se les greffer à leurs formes et leurs ennemis tués sont rarement retrouvés intacts, car peu de choses ont plus de valeur pour les interlocums que les jambes, les yeux ou même le cerveau d'un puissant adversaire. Les interlocuteurs mesurent en moyenne 2 mètres de haut et pèsent environ 400 kilos.</p>
<hr />
<p>La recherche de la sensation ultime par l'automutilation est la préoccupation horrifiante des monstres habitant l'ombre, connus sous le nom de velstracs. Ils ne transcendent leur détachement stoïque que lorsqu'ils infligent douleur et terreur à leurs victimes, pratiquent de nouvelles formes de torture, ou lorsqu'ils retournent leurs pratiques agonisantes contre eux-mêmes. Les Velstracs se considèrent comme des êtres éclairés, au dessus des limitations telles que la moralité ou les tabous mortels, mais leurs victimes les connaissent comme des bourreaux sans émotion qui infligent des souffrances sadiques. Ces monstres prétendent chercher la perfection dans la pensée, la forme et l'action, bien qu'ils ne reconnaissent aucun raffinement qui ne nécessite pas l'excision douloureuse de la chair ou de l'esprit.</p>
<p>Les Velstracs se manifestent à partir des âmes des mortels masochistes ou sadiques les plus extrêmes qui sont jugés et envoyés sur le plan de l'ombre. Ils prennent les formes qui conviennent à leurs viles prédilections, allant des augures de bas étage aux maestros de la souffrance et de la mutilation appelés ermites. Le processus de transformation déforme l'âme étape par étape, avec les autres velstracs transportant leurs nouveaux membres à travers d'innombrables chambres de douleur parmi les sombres étendues du Plan de l'Ombre.</p>
