Name: Hellcat
Nom: Félin de l'Enfer
État: libre

------ Data ------
LanguagesEN: Can't Speak Any Language, Telepathy 100 feet
LanguagesFR: Incapable de parler, Télépathie 30 m
SavesEN: +1 status to all saves vs. magic
SavesFR: +1 de statut contre la magie
SensesEN: darkvision, scent (imprecise) 30 feet
SensesFR: odorat (imprécis) 9 m, vision dans le noir
------ Description (en) ------
<p>Hellcats are devious predators native to the fiery pits of Hell. While the fiendish creatures appears as skeletal smilodons, their bones smoking with heat and dripping with boiling blood, they are not undead. They are living hellspawn with transparent flesh that reveals their burning skeletons. A typical hellcat is 9 feet long and weighs 1,000 pounds.</p>
<p>Left to their own devices, hellcats spend their time hunting-that is, seeking and stalking prey just for the thrill of the chase. As fiendish creatures, they do not require mortal sustenance, but they do devour their prey for the sheer pleasure of inflicting pain. They are also far more intelligent than most assume, and they resent being treated as unintelligent animals; those who treat a hellcat as a one may find themself made into a trophy for its pack, as a hellcat goes to great lengths to coordinate elaborate revenge upon those who fail to show proper respect.</p>
<p>Though they can't speak, hellcats know Infernal and can communicate by telepathy with any creature capable of speech. They rarely say much except to make whispered threats and to acknowledge the orders of their diabolic masters.</p>
<p>Hellcats are quick to retreat if they are clearly outmatched or up against foes they're unable to reach, but they never forget prey that escapes them. They often track potential victims and recruit allies, including other hellcats, to make coordinated attacks or ambushes against their foes.</p>
------ Description (fr) ------
Les Félins de l'Enfer sont des prédateurs sournois originaires des fosses ardentes de l'Enfer. Bien que ces créatures diaboliques ressemblent à des Smilodons squelettiques, leurs os fumant de chaleur et dégoulinants de sang bouillant, elles ne sont pas mortes-vivantes. Ce sont des enfants de l'Enfer dont la chair transparente révèle leur squelette brûlant. Un Félin de l'Enfer typique mesure 2 mètres de long et pèse 500 kilos. Laissés à eux-mêmes, les chats de l'Enfer passent leur temps à chasser, c'est-à-dire à chercher et à traquer des proies juste pour le frisson de la chasse. En tant que créatures diaboliques, ils n'ont pas besoin de nourriture mortelle mais dévorent néanmoins leurs proies pour le simple plaisir de leur infliger de la douleur. Ils sont également beaucoup plus intelligents que la plupart des gens ne le pensent et ils n'aiment pas être traités comme des animaux stupides. Ceux qui traitent un Félin de l'Enfer comme çà peuvent se retrouver transformés en trophée pour sa meute, car un Félin de l'Enfer se donne beaucoup de mal pour coordonner une vengeance élaborée contre ceux qui ne font pas preuve du respect nécessaire. Ils parlent rarement beaucoup, sauf pour faire des menaces à voix basse et pour accepter les ordres de leurs maîtres diaboliques.<br /><br />Les Félins de l'Enfer sont prompts à battre en retraite s'ils sont clairement dépassés ou face à des ennemis qu'ils ne peuvent atteindre, mais ils n'oublient jamais les proies qui leur échappent. Ils traquent souvent des victimes potentielles et recrutent des alliés, y compris d'autres Félins de l'Enfer, pour porter des attaques coordonnées ou dresser des embuscades à leurs ennemis.<br /><br />
