Name: Azuretzi
Nom: Azuretzi (Protéen)
État: libre

------ Data ------
HPDetailsEN: (fast healing 2)
HPDetailsFR: (guérison accélérée 2)
SavesEN: +1 status to all saves vs. magic
SavesFR: +1 de statut contre la magie
SensesEN: darkvision, entropy sense (imprecise) 30 feet
SensesFR: perception de l'entropie (imprécis) 9 m, vision dans le noir
------ Description (en) ------
<p>Azuretzis are sinuous, serpentine creatures with dagger-sharp teeth, covered in brilliant blue scales with mottled purple and pink highlights that shimmer in a pareidolic approximation of leering, laughing faces. The Maelstrom's chaotic forces spawn these small proteans from a variety of sources: physical mating between older azuretzis, the paradoxical promotion of bestial naunets, and possibly from mortal petitioners, though azuretzis may just be confusing putative mortal memories with experiences gained from games of mimicry. Never expect azuretzis to operate by any rational, self-consistent rules.</p>
<p>Azuretzis represent the humor of chaos, particularly in the form of mockery and parody via exaggerated mimicry, twisting a target's features into a laughingstock.</p>
------ Description (fr) ------
<p>Les azuretzis sont des créatures sinueuses et serpentines aux dents acérées, couvertes d'écailles bleues brillantes aux reflets violets et roses tachetés qui scintillent dans une paréidolie de visages lorgnants et rieurs. Les forces chaotiques du Maelstrom engendrent ces petits protéiformes à partir de sources diverses : accouplement physique entre des azuretzis plus âgés, une promotion paradoxale de naunets bestiaux, et peut-être de requérants mortels, bien que les azuretzis puissent simplement confondre les souvenirs mortels supposés avec les expériences acquises par des jeux d'imitation. Ne vous attendez jamais à ce que les azuretzis fonctionnent selon des règles rationnelles et cohérentes.</p>
<p>Les azuretzis représentent l'humour du chaos, notamment sous forme de moquerie et de parodie par mimétisme exagéré, déformant les traits d'une cible en une risée. </p>
<hr />
<p>Originaires du Maelstrom, les protéens sont des incarnations du chaos qui représentent, sous leurs formes serpentines, la puissance primitive de l’entropie. Ils obéissent à un système de castes approximatif, confus et changeant et forment des choeurs basés sur des philosophies communes malléables et évanescentes.</p>
<p>Les protéens sont organisés en un système assez large de castes et possèdent une incroyable variété de pouvoirs. La plupart d’entre eux ont un corps de serpent avec la tête d’une bête primitive. Cela fait longtemps que les érudits sont intrigués par ce fait, que des rejetons de la dissolution et du désordre aient en commun autant de caractéristiques, et soulignent qu’il existe un semblant d’ordre dans le plus pur des chaos. D’autres notent que cet aspect de serpent est une des formes les plus primitives, ce qui pourrait laisser penser qu’elle est la seule qui domine dans une réalité primordiale. Quant aux protéens, cela ne semble guère les préoccuper ce qui, ironiquement, ne fait qu’ajouter à la confusion et à l’absence de consensus concernant leur espèce. Après tout, si même le chaos ne peut être chaotique n’est-ce pas la forme la plus pure d’entropie ?</p>
