Name: Eremite
Nom: Ermite (Velstrac)
État: officiel

------ Data ------
HPDetailsEN: regeneration 25 (deactivated by good or silver)
HPDetailsFR: Régénération 25 (neutralisée par le bon ou l’argent))
LanguagesEN: Telepathy 100 feet
LanguagesFR: Télépathie 30 m
SavesEN: +1 status to all saves vs. magic
SavesFR: Bonus de statut de +1 à tous les jets de sauvegarde contre la magie
SensesEN: greater darkvision, painsight, true seeing
SensesFR: Vision dans le noir supérieure, Vision de la douleur, Vision lucide
------ Description (en) ------
<p>Eremites roam the planes to seek out ideal portions of other creatures, such as a hero's sword-arm or an angel's pinions. Eremites capture these specimens to clinically test their true limits, then harvest specimens and add them to their own bodies. An eremite might attach tongues to their hand as extra fingers or a fist to the back of their neck in a horrid "improvement." Eremites average 7 feet tall and weigh approximately 200 pounds.</p>
<hr />
<p>The search for ultimate sensation through self-mutilation is the horrifying preoccupation of the shadow-dwelling fiends known as velstracs. They transcend their stoic detachment only when inflicting pain and terror upon their victims, practicing new forms of torture, or when turning their agonizing practices back on themselves. Velstracs consider themselves enlightened beings, transcending such limitations as morality or mortal taboos, but their victims know them as emotionless tormentors who inflict sadistic suffering. These fiends claim to seek perfection in thought, form, and action, although they don't recognize any refinement that doesn't require the painful excision of the flesh or spirit.</p>
<p>Velstracs manifest from the souls of the most extreme masochistic or sadistic mortals who are judged and sent on to the Shadow Plane. They take on forms that suit their vile predilections, ranging from the low-ranking augurs to the maestros of suffering and mutilation called eremites. The process of transformation warps the soul step by step, with other velstracs conveying their new members through untold chambers of pain among the dark reaches of the Shadow Plane.</p>
------ Description (fr) ------
<p>Les ermites parcourent les plans à la recherche des meilleures parties d’autres créatures, comme le bras tenant l’arme d’un héros ou les pennes d’un ange. Ils s’emparent de ces spécimens pour tester cliniquement leurs vraies limites, puis prélèvent ce qu’ils désirent pour les ajouter à leur corps. Les ermites peuvent ainsi fixer des langues au niveau de leurs mains, faisant office de doigts supplémentaires, ou encore un poing à l’arrière de leur nuque en tant qu’ignoble « amélioration ». Les ermites mesurent environ 3 m et pèsent approximativement 100 kg.</p>
<hr />
<p>La recherche de la sensation ultime au travers de l’automutilation, voilà la terrifiante préoccupation de ces fiélons qui peuplent les ombres, connus sous le nom de velstracs. Ils ne se défont de leur détachement stoïque que lorsqu’ils infligent de la douleur et terrorisent leurs victimes, qu’ils s’essaient à de nouvelles formes de tortures, ou lorsqu’ils retournent leurs atroces pratiques contre eux-mêmes. Les velstracs se considèrent comme des êtres illuminés, transcendant certaines limites comme la morale ou les tabous des mortels, mais leurs victimes les connaissent comme des tourmenteurs insensibles infligeant des souffrances sadiques. Ces fiélons affirment rechercher la perfection dans la pensée, la forme et l’action, même s’ils ne reconnaissent aucun raffinement ne nécessitant aucune excision douloureuse de la chair ou de l’esprit.</p>
<p>Les velstracs se manifestent depuis les âmes des mortels les plus sadiques ou masochistes qui sont jugés et envoyés vers le plan de l’ombre. Ils adoptent des formes correspondant à leurs ignobles préférences, allant des augures de faibles rangs jusqu’aux maestros de la souffrance et de la mutilation appelés les ermites. Le procédé de transformation déforme l’âme petit à petit, et les autres velstracs accompagnent leurs nouveaux membres au travers d’indicibles salles de tortures au sein des sombres confins du plan de l’ombre.</p>
