Name: Imentesh
Nom: Imentesh (Protéen)
État: libre

------ Data ------
LanguagesEN: Tongues
LanguagesFR: don des langues
SavesEN: +1 status to all saves vs. magic
SavesFR: +1 de statut contre la magie
SensesEN: darkvision, entropy sense (imprecise) 60 feet
SensesFR: perception de l'entropie (imprécis) 18 m, vision dans le noir
------ Description (en) ------
<p>The loquacious proteans known as imenteshes serve as missionaries, spies, and heralds of chaos to further the protean goal of reality's dissolution. Imenteshes are cunning, curiously diplomatic, and profoundly whimsical. They travel beyond the Maelstrom for their work, frequently adopting extravagant personal attire and decorations that often border upon the garish, all to curry favor with less chaotic beings.</p>
------ Description (fr) ------
<p>Les protéiformes loquaces connus sous le nom d'imenteshs servent de missionnaires, d'espions et de hérauts du chaos pour faire avancer l'objectif protéiforme de dissolution de la réalité. Les imenteshs sont rusés, curieusement diplomates et profondément fantaisistes. Ils voyagent au-delà du Maelström pour leur travail, adoptant fréquemment des tenues personnelles extravagantes et des décorations à la limite du criard, tout cela pour s'attirer les faveurs d'êtres moins chaotiques.</p>
<hr />
<p>Originaires du Maelstrom, les protéens sont des incarnations du chaos qui représentent, sous leurs formes serpentines, la puissance primitive de l’entropie. Ils obéissent à un système de castes approximatif, confus et changeant et forment des choeurs basés sur des philosophies communes malléables et évanescentes.</p>
<p>Les protéens sont organisés en un système assez large de castes et possèdent une incroyable variété de pouvoirs. La plupart d’entre eux ont un corps de serpent avec la tête d’une bête primitive. Cela fait longtemps que les érudits sont intrigués par ce fait, que des rejetons de la dissolution et du désordre aient en commun autant de caractéristiques, et soulignent qu’il existe un semblant d’ordre dans le plus pur des chaos. D’autres notent que cet aspect de serpent est une des formes les plus primitives, ce qui pourrait laisser penser qu’elle est la seule qui domine dans une réalité primordiale. Quant aux protéens, cela ne semble guère les préoccuper ce qui, ironiquement, ne fait qu’ajouter à la confusion et à l’absence de consensus concernant leur espèce. Après tout, si même le chaos ne peut être chaotique n’est-ce pas la forme la plus pure d’entropie ?</p>
