Name: Adult Magma Dragon (Spellcaster)
Nom: Dragon de magma
État: officielle

------ Data ------
SavesEN: +1 status to all saves vs. magic
SavesFR: +1 de statut contre la magie
SensesEN: darkvision, scent (imprecise) 60 feet
SensesFR: odorat (imprécis) 18 m, vision dans le noir
SpeedsEN: magma swim
SpeedsFR: nage dans le magma
------ Description (en) ------
<p>Magma dragons have a reputation among other dragons for being unpredictable and brash. Their temperament and tendency for violent outbursts ensure that the typical magma dragon lives a solitary life, with hatchlings often bickering or fighting to establish dominance among themselves before they leave the nest. A magma dragon always has a reason for their outbursts and can always justify their sudden turns in mood, yet they rarely feel the need to do so.</p>
<p>Magma dragons build lairs within volcanically active mountains or deep underground amid vast lakes of bubbling magma. As with all true dragons, magma dragons keep hoards of treasure, but the nature of their searing lairs limits the type of valuables they collect to metals, gems, and items capable of resisting the heat of a volcano's core.</p>
------ Description (fr) ------
<p>Les dragons de magma ont la réputation, parmi les autres dragons, d'être imprévisibles et effrontés. Leur tempérament et leur tendance aux explosions de violence font que le dragon magma typique mène une vie solitaire, les petits se chamaillant ou se battant souvent pour établir une domination entre eux avant de quitter le nid. Un dragon de magma a toujours une raison d'exploser et peut toujours justifier ses brusques changements d'humeur, mais il en ressent rarement le besoin.</p>
<p>Les dragons de magma construisent des tanières dans les montagnes volcaniques ou sous terre, au milieu de vastes lacs de magma bouillonnant. Comme tous les vrais dragons, les dragons de magma accumulent leurs trésors, mais la nature de leurs tanières brûlantes limite le type d'objets de valeur qu'ils collectent aux métaux, aux pierres précieuses et aux objets capables de résister à la chaleur du cœur d'un volcan.</p>
