Name: Evangelist
Nom: Évangéliste (Veltrac)
État: libre

------ Data ------
HPDetailsEN: regeneration 10 (deactivated by good or silver)
HPDetailsFR: régénération 10 (désactivée par argent ou bon)
SavesEN: +1 status to all saves vs. magic
SavesFR: +1 de statut contre la magie
SensesEN: greater darkvision, painsight
SensesFR: vision dans le noir supérieure, vision de la douleur
------ Description (en) ------
<p>Evangelists, the velstracs' unofficial ambassadors, roam the farthest reaches of the planes to spread the word of their kind's abhorrent belief in perfection through pain. They are therefore the most frequently encountered velstracs on the Material Plane, leading covens of hedonistic mortal flesh-sculptors or serving as wardens of horrific dungeons. In regions ruled by infernal powers, evangelists may serve as lieutenants or advisors, whispering secret paths to power in exchange for mortal's souls or choice mortal flesh. Evangelists are the same size as humans, although with the heavy chains that always drape their forms, they often weigh 350 pounds or more.</p>
<hr />
<p>The search for ultimate sensation through self-mutilation is the horrifying preoccupation of the shadow-dwelling fiends known as velstracs. They transcend their stoic detachment only when inflicting pain and terror upon their victims, practicing new forms of torture, or when turning their agonizing practices back on themselves. Velstracs consider themselves enlightened beings, transcending such limitations as morality or mortal taboos, but their victims know them as emotionless tormentors who inflict sadistic suffering. These fiends claim to seek perfection in thought, form, and action, although they don't recognize any refinement that doesn't require the painful excision of the flesh or spirit.</p>
<p>Velstracs manifest from the souls of the most extreme masochistic or sadistic mortals who are judged and sent on to the Shadow Plane. They take on forms that suit their vile predilections, ranging from the low-ranking augurs to the maestros of suffering and mutilation called eremites. The process of transformation warps the soul step by step, with other velstracs conveying their new members through untold chambers of pain among the dark reaches of the Shadow Plane.</p>
------ Description (fr) ------
<p>Les évangélistes, les ambassadeurs officieux des Velstracs, parcourent les régions les plus éloignées des plans pour faire connaître l’horrible croyance de leur espèce en la perfection par la douleur. Ils sont donc les Velstracs les plus fréquemment rencontrés sur le plan matériel, dirigeant des couvents de mortels hédonistes sculpteurs de chair ou servant de gardiens dans d'horribles donjons. Dans les régions gouvernées par des puissances infernales, les évangélistes peuvent servir de lieutenants ou de conseillers, chuchotant des chemins secrets vers le pouvoir en échange d’âmes de mortels ou de chair mortelle de choix. Les évangélistes sont de la même taille que les humains, bien qu'avec les lourdes chaînes qui drapent toujours leurs formes, ils pèsent souvent 150 kilos ou plus.</p>
<hr />
<p>La recherche de la sensation ultime par l'automutilation est la préoccupation horrifiante des monstres habitant l'ombre, connus sous le nom de velstracs. Ils ne transcendent leur détachement stoïque que lorsqu'ils infligent douleur et terreur à leurs victimes, pratiquent de nouvelles formes de torture, ou lorsqu'ils retournent leurs pratiques agonisantes contre eux-mêmes. Les Velstracs se considèrent comme des êtres éclairés, au dessus des limitations telles que la moralité ou les tabous mortels, mais leurs victimes les connaissent comme des bourreaux sans émotion qui infligent des souffrances sadiques. Ces monstres prétendent chercher la perfection dans la pensée, la forme et l'action, bien qu'ils ne reconnaissent aucun raffinement qui ne nécessite pas l'excision douloureuse de la chair ou de l'esprit.</p>
<p>Les Velstracs se manifestent à partir des âmes des mortels masochistes ou sadiques les plus extrêmes qui sont jugés et envoyés sur le plan de l'ombre. Ils prennent les formes qui conviennent à leurs viles prédilections, allant des augures de bas étage aux maestros de la souffrance et de la mutilation appelés ermites. Le processus de transformation déforme l'âme étape par étape, avec les autres velstracs transportant leurs nouveaux membres à travers d'innombrables chambres de douleur parmi les sombres étendues du Plan de l'Ombre.</p>
