Name: Coil Spy
Nom: Espion anneau (Homme-serpent)
État: officiel

------ Data ------
LanguagesEN: Telepathy 100 feet
LanguagesFR: Télépathie 30 m
SensesEN: darkvision, scent (imprecise) 30 feet
SensesFR: Odorat (imprécis) 9 m, Vision dans le noir
------ Description (en) ------
<p>Some serpentfolk undergo intense ritual training and practice to improve their innate ability to disguise themselves. These serpentfolk often identify as members of a sinister society known as the Coils of Ydersius, and the most devoted of their number seek out methods of reincarnating into new forms to even more efficiently infiltrate enemy societies. But before such agents take this extreme step, they must prove themselves as Coil spies. These serpentfolk train in methods of infiltrating other societies to such an extent that they might be capable of infiltrating a mammalian civilization for years. Though they're expected to work entirely toward the eventual triumph of their people, most Coil spies also find personal pursuits to keep them occupied in the shorter term. When Coil spies get caught, it's rarely due to a lack of pure skill, but rather to their arrogance or recklessness as they pursue their hedonistic desires.</p>
------ Description (fr) ------
<p>Certains hommes-serpents suivent un entraînement rituel intensif afin d’encore améliorer leur capacité innée au déguisement. Ces hommes-serpents sont le plus souvent membres d’une sombre confrérie connue sous le nom d’Anneaux d’Ydersius, et les plus impliqués d’entre eux cherchent des méthodes de réincarnation dans de nouvelles formes afin de pouvoir infiltrer les sociétés ennemies encore plus efficacement. Mais avant que ces agents ne prennent ces mesures extrêmes, ils doivent faire leurs preuves comme espions anneaux. Ces hommes-serpents s’entraînent si intensivement à pouvoir infiltrer d’autres sociétés qu’ils sont même capables de trouver leur place dans une civilisation de mammifères pendant des années. Même si on attend d’eux qu’ils se consacrent au triomphe de leur peuple, la plupart des espions anneaux ont également des objectifs personnels qui les occupent à plus court terme. Lorsque les espions anneaux sont capturés, c’est rarement à cause de leur manque de compétence, mais le plus souvent à cause de leur arrogance ou de leur témérité dans la poursuite de leurs plaisirs hédonistes.</p>
<hr />
<p>Avant que leur ancien affrontement avec l'humanité ne dévaste leur civilisation, les hommes-serpent étaient les maîtres d'un empire souterrain tentaculaire. Peu de hommes-serpent survivent aujourd'hui ; leur pouvoir est brisé, leur dieu Ydersius décapité (mais pas tout à fait tué). La ruse, l'intelligence et les capacités magiques des hommes-serpent ont diminué par rapport à leurs anciens sommets, et la plupart naissent sans ces atouts. Les hommes-serpent qui ont conservé l'héritage d'intelligence et de magie de leurs ancêtres sont connus sous le nom de zyss, et ils regardent de haut leurs congénères plus nombreux avec un mélange de dédain et de honte. Ils considèrent ces ramifications comme une malédiction sur leur espèce, résultant de la décapitation de leur dieu et du pandémonium lors de la chute de leur empire souterrain, et les ont surnommés aapoph, ce qui signifie "chaos fait chair".</p>
<p>Aujourd'hui, le royaume central des Darklands conserve l'ancien nom de l'empire hommes-serpent qui dominait autrefois cette région : Sekamina. Ce nom est également la source du titre aklo des hommes-serpent, sekmin, qu'ils sont souvent appelés dans les textes anciens. Sekamina elle-même ne conserve que très peu de l'héritage du hommes-serpent, le manteau de son autorité ayant été transmis à d'autres comme les drows, les goules, les gugs et les gnomes profonds. Pourtant, dans les régions reculées de ce dangereux royaume, les ruines des cités hommes-serpent sont toujours là. A l'intérieur, un grand nombre d'hommes-serpent dorment dans la torpeur dans des voûtes isolées, avec seulement quelques cellules éveillées pour exécuter leurs plans. En outre, un petit nombre de colonies de hommes-serpent parsèment la surface de Golarion, la plupart d'entre elles dans des jungles humides et éloignées, des îles lointaines ou des cavernes proches de la surface. Il est rare qu'une telle colonie compte plus de quelques dizaines d'hommes-serpent. Ils comptent principalement sur les esclaves pour construire leurs bases de pouvoir, pour les défendre, et pour accomplir essentiellement toutes les fonctions pratiques de leur société. Cela inclut la fourniture de nourriture, la fabrication de biens et la satisfaction de tous les besoins des hommes-serpents.</p>
