Name: Bebilith
Nom: Bébilith
État: libre

------ Data ------
LanguagesEN: Can't Speak Any Language, Telepathy 100 feet
LanguagesFR: Incapable de parler, Télépathie 30 m
SensesEN: darkvision, scent demons 60 feet, scent (imprecise) 30 feet
SensesFR: vision dans le noir, perception des démons 18 m, odorat (imprécis) 9 m
------ Description (en) ------
<p>While demons control much of the Abyss, even they are hunted in the wilder regions of this horrific plane. The most notorious of these predators-though not the deadliest-is the bebilith. These fiends resemble elephant-sized spiders with glowing eyes, barbed chitin, and a fanged maw dripping caustic fluid.</p>
<p>Many demons and planar travelers have underestimated bebiliths' devious intellects, believing them to be little more than oversized vermin. Bebiliths take advantage of this, ambushing foes with unexpected tactics. While they lash out at any creatures they encounter, they take great pleasure in chewing on demonic flesh. Qlippoth are the only creatures bebiliths never consume.</p>
------ Description (fr) ------
<p>Alors que les démons contrôlent une grande partie des Abysses, même eux sont chassés dans les régions les plus sauvages de cet épouvantable plan. Le plus notoire de ces prédateurs - bien qu'il ne soit pas le plus meurtrier - est le bébilith. Ces monstres ressemblent à des araignées de la taille d'un éléphant, avec des yeux rougeoyants, de la chitine barbelée et une gueule crochue dégoulinant de fluide caustique.</p>
<p>Beaucoup de démons et de voyageurs planaires ont sous-estimé l'intelligence retorse des bébiliths, croyant qu'ils ne sont guère plus que de la vermine surdimensionnée. Les bébiliths en profitent pour tendre des embuscades aux ennemis avec des tactiques inattendues. Bien qu'ils s'en prennent à toutes les créatures qu'ils rencontrent, ils prennent un grand plaisir à mâcher de la chair démoniaque. Les qlippoths sont les seules créatures que les bébiliths ne consomment jamais.</p>
