Parent Name: Vishkanya Infiltrator
Name: Sneak Attack
Nom: Attaque sournoise
État: officielle

------ Description (en) ------
<p>The vishkanya deals [[/r {1d6}[precision]]]{1d6 extra precision damage} to @Compendium[pf2e.conditionitems.AJh5ex99aV6VTggg]{Flat-Footed} creatures.</p>
------ Description (fr) ------
<p>Le vishkanya inflige [[/r {1d6}[precision]]]{1d6 dégâts de précision} supplémentaires aux créatures prises au dépourvu.</p>
<hr />
<p>@Localize[PF2E.NPC.Abilities.Glossary.SneakAttack]</p>