Parent Name: Caligni Caller
Name: Sneak Attack
Nom: Attaque sournoise
État: officielle

------ Description (en) ------
<p>The caller deals an additional [[/r {2d6}[precision]]]{2d6 precision damage} to flat-footed creatures.</p>
<hr />
<p>@Localize[PF2E.NPC.Abilities.Glossary.SneakAttack]</p>
------ Description (fr) ------
<p>L'implorant caligni inflige [[/r {2d6}[precision]]]{2d6 dégâts de précision} supplémentaires aux créatures prises au dépourvu.</p>
<hr />
<p>@Localize[PF2E.NPC.Abilities.Glossary.SneakAttack]</p>