Parent Name: Ouroboros
Name: Fast Swallow
Nom: Gober rapidement
État: officielle

------ Description (en) ------
<p data-visibility="gm"><strong>Trigger</strong> The ouroboros Grabs a creature with their maw</p>
<p><strong>Effect</strong> The ouroboros uses Swallow Whole.</p>
------ Description (fr) ------
<p data-visibility="gm"><strong>Déclencheur</strong> L'ouroboros a @Compendium[pf2e.conditionitems.kWc1fhmv9LBiTuei]{Agrippé} une créature.</p> 
<p><strong>Effet</strong> L'ouroboros utilise Gober</p>