Parent Name: Adlet
Name: Avenging Bite
Nom: 
État: aucune

------ Description (en) ------
<p data-visibility="gm"><strong>Trigger</strong> A creature within reach of an adlet's jaws Strike attacks one of the adlet's allies</p>
<p><strong>Effect</strong> The adlet makes a jaws Strike against the triggering creature.</p>
------ Description (fr) ------
<p data-visibility="gm"><strong>Déclencheur</strong> Une créature à portée des mâchoires de l'adlet attaque un allié de celui-ci.</p>
<p><strong>Effet</strong> L'adlet effectue une Frappe de mâchoires contre la créature ayant déclenché cette capacité.</p>