Name: Yamaraj's Grandeur
Nom: Grandeur des yamarajs
PrereqEN: 
PrereqFR: 
État: libre

------ Benefits ----
Benefits: You have been granted a sliver of the power of the yamaraj , the magistrates of the dead who agreed to allow duskwalkers to exist at all.
Avantage: Une fois par jour, vous pouvez projeter un cône de 9 m qui inflige 14d6 dégâts tranchants et 4d6 dégâts tranchants persistants.
------ Description (en) ------
<p><strong>Frequency</strong> once per day</p>
<hr />
<p>You have been granted a sliver of the power of the yamaraj, the magistrates of the dead who agreed to allow duskwalkers to exist at all. You exhale a blast of icy wind and ravenous insects. This is a @Template[type:cone|distance:30] that deals [[/r {14d6}[slashing]]]{14d6 slashing damage} and [[/r {4d6}[persistent,slashing]]] @Compendium[pf2e.conditionitems.lDVqvLKA6eF3Df60]{Persistent Slashing Damage} (basic Reflex save using your class DC or spell DC, whichever is higher). On a critical failure, targets also become @Compendium[pf2e.conditionitems.fesd1n5eVhpCSS18]{Sickened 2}.</p>
------ Description (fr) ------
<p><strong>Fréquence</strong> une fois par jour</p>
<hr />
<p>Vous vous êtes vu confié une parcelle du pouvoir des yamaraj, les magistrats des morts qui ont accepté que les crépusculaires puissent exister.</p>
<p>Vous exhalez une explosion de vent glacial et d'insectes affamés. C'est @Template[type:cone|distance:30]{un cône de 9 mètres} qui inflige [[/r {14d6}[slashing]]]{14d6 dégâts tranchants} et [[/r {4d6}[persistent,slashing]]] @Compendium[pf2e.conditionitems.lDVqvLKA6eF3Df60]{4d6 dégâts tranchants persistants} (jet de Réflexes basique en utilisant le plus élevé entre votre DD de classe et votre DD de sort). En cas d'échec critique, les cibles deviennent aussi @Compendium[pf2e.conditionitems.fesd1n5eVhpCSS18]{Malades} 2.</p>
