Name: Astral Labyrinth
Nom: Labyrinthe astral
État: libre

------ Data ------
AreasizeEN: 80-foot burst
AreasizeFR: explosion de 24 mètres
RangeEN: 120 feet
RangeFR: 36 mètres
------ Description (en) ------
<p>You connect the entire area with an invisible maze of astral energy that interferes with dimensional and mental magic. Choose a point in the area that you can see when you cast this spell. Objects other than force effects and rare metals can't block this spell's area. Astral labyrinth attempts to counteract magical mental effects targeting or including anyone other than the caster in the area, though it has no effect on mental effects that began outside the area or before the spell was cast.</p>
<p>In addition, any creature that tries to depart or arrive in a location in the area by teleportation or extradimensional travel (including extradimensional spaces) must attempt a Will saving throw. Summoned creatures must attempt the save when they are summoned, but not when the summoning ends.</p>
<hr />
<p><strong>Critical Success</strong> The creature is unaffected.</p>
<p><strong>Success</strong> The creature is @Compendium[pf2e.conditionitems.dfCMdR4wnpbYNTix]{Stunned 1}.</p>
<p><strong>Failure</strong> The creature is @Compendium[pf2e.conditionitems.dfCMdR4wnpbYNTix]{Stunned 1}, you are mentally alerted that something has failed its save against this spell, and the creature arrives in the empty space closest to the point you chose instead of its intended destination.</p>
<p><strong>Critical Failure</strong> The creature is @Compendium[pf2e.conditionitems.dfCMdR4wnpbYNTix]{Stunned 3}, you get a mental glimpse of its appearance, and the creature arrives in the empty space closest to the point you chose instead of its intended destination.</p>
<hr />
<p><strong>Heightened (10th)</strong> You and creatures transported by your spells can't get a result worse than success on the saving throw to teleport into or out of the area.</p>
------ Description (fr) ------
<p>Vous connectez l'entière zone avec un labyrinthe invisible d'énergie astrale qui interfère avec la magie dimensionnelle et mentale.</p>
<p>Choisissez un point dans la zone que vous pouvez voir lorsque vous Lancez ce sort. Les objets autres que les effets de force et les métaux rares ne peuvent bloquer cette zone de sort. Le labyrinthe astral tente de contrer les effets mentaux magiques qui ciblent ou incluent tout autre que le lanceur dans la zone, bien qu'il n'a pas d'effet sur les effets mentaux qui ont commencé en dehors de la zone ou avant que le sort n'ait été lancé.</p>
<p>De plus, toute créature qui essaie de quitter ou de venir dans un endroit de la zone par la téléportation ou le voyage extradimensionnel (incluant les espaces extradimensionnels) doit faire un jet de Volonté. Les créatures conjurées doivent tenter le jet lorsqu'elles sont convoqués mais pas lorsque la conjuration se termine.</p>
<hr />
<p><strong>Succès critique</strong> La créature n'est pas affectée.</p>
<p><strong>Succès</strong> La créature est @Compendium[pf2e.conditionitems.dfCMdR4wnpbYNTix]{Étourdie} 1.</p>
<p><strong>Échec</strong> La créature est Étourdie 1, vous êtes mentalement alerté que quelque chose a manqué son jet de sauvegarde contre ce sort et la créature arrive dans l'espace vide la plus proche du point que vous choisissez au lieu de sa destination prévue.</p>
<p><strong>Échec critique</strong> La créature est Étourdie 3, vous pouvez jeter un coup d'œil mental à son apparence et la créature arrive dans l'espace vide le plus proche du point que vous choisissez au lieu de sa destination prévue.</p>
<hr />
<p><strong>Intensifié (10e)</strong> Vous et les créatures transportées par vos sorts ne pouvez obtenir un résultat pire que le succès sur le jet de sauvegarde pour se téléporter dans et hors de la zone.</p>
