Name: Banishment
Nom: Bannissement
État: officielle

------ Data ------
RangeEN: 30 feet
RangeFR: 9 mètres
TargetEN: 1 creature that isn't on its home plane
TargetFR: 1 créature qui n'est pas sur son plan d'origine
------ Description (en) ------
<p>You send the target back to its home plane. The target must attempt a Will save. You can spend an extra action while Casting this Spell and add a material component to give the creature a -2 circumstance penalty to its save. The component must be a specially gathered object that is anathema to the creature, and not from a material component pouch. This spell fails if you aren't on your home plane when you cast it.</p>
<hr />
<p><strong>Critical Success</strong> The target resists being banished and you are @Compendium[pf2e.conditionitems.dfCMdR4wnpbYNTix]{Stunned 1}.</p>
<p><strong>Success</strong> The target resists being banished.</p>
<p><strong>Failure</strong> The target is banished.</p>
<p><strong>Critical Failure</strong> The target is banished and can't return by any means to the plane it's banished from for 1 week.</p>
<hr />
<p><strong>Heightened (9th)</strong> You can target up to 10 creatures. The extra material component affects targets to which it is anathema.</p>
------ Description (fr) ------
<p>Vous renvoyez la cible sur son plan natal. La cible doit faire un jet de Volonté. Lorsque vous Lancez ce sort, vous pouvez dépenser une action supplémentaire et ajouter un composant matériel afin d’imposer un malus de circonstances de –2 à la cible. Ce composant est un objet récupéré spécialement. Il doit être anathème pour la créature et ne pas provenir d’une bourse de composants. Le sort échoue si vous le lancez alors que vous n’êtes pas sur votre plan natal</p>
<hr />
<p><strong>Succès critique</strong> La cible résiste au bannissement et vous êtes @Compendium[pf2e.conditionitems.dfCMdR4wnpbYNTix]{Étourdi} 1.</p>
<p><strong>Succès</strong> La cible résiste au bannissement.</p>
<p><strong>Échec</strong> La cible est bannie.</p>
<p><strong>Échec critique</strong> La cible est bannie et ne peut pas revenir sur le plan d’où elle a été chassée pendant 1 semaine, quels que soient les moyens employés.</p>
<hr />
<p><strong>Intensifié (9e)</strong> Vous pouvez viser jusqu’à 10 créatures. Le composant matériel supplémentaire affecte les cibles pour lesquelles il est anathème.</p>
