Name: Establish Ward
Nom: Établir une protection
État: libre

------ Data ------
AreasizeEN: 30-foot burst
AreasizeFR: explosion de 9 mètres
------ Description (en) ------
<p>You bind a part of your essence to your surroundings, creating a warded area that grants you power within it, but drains you outside of it. While within the area, you can make nature's wrath Strikes by commanding plants, wind, rocks, and other natural features to attack enemies. These are melee Strikes that use your spell attack modifier, can target any creature within the ward, and deal bludgeoning, piercing, or slashing damage equal to [[/r 2d8]] plus your spellcasting ability modifier.</p>
<p>Upon @Compendium[pf2e.actionspf2e.aBQ8ajvEBByv45yz]{Casting the Spell}, you can immediately make a single nature's wrath Strike. You are @Compendium[pf2e.conditionitems.nlCjDvLMf2EkV2dl]{Quickened} while inside the ward, and can use the additional action only to make nature's wrath Strikes. You are @Compendium[pf2e.conditionitems.xYTAsEpcJE1Ccni3]{Slowed 1} while outside the area.</p>
<hr />
<p>Heightened (+2) The area increases by 5 feet, and the Strikes deal an additional [[/r 1d8]] damage.</p>
------ Description (fr) ------
<p>Vous liez une partie de votre essence à votre environnement en créant une zone protégée qui vous accorde du pouvoir sur elle mais qui vous ralentit lorsque vous en sortez. Lorsque vous êtes dans la zone, Vous pouvez faire des Frappes de courroux de la nature en ordonnant aux plantes, au vent, aux pierres et aux autres éléments naturels d'attaquer vos ennemis. Il s'agit de Frappes au corps-à-corps qui utilisent votre modificateur d'attaque de sort, peuvent cibler n'importe quelle créature au sein de la zone de protection et qui infligent des dégâts contondants, perforants ou tranchants égaux à [[/r 2d8]] plus votre modificateur de caractéristique d'incantation.</p>
<p>En Lançant le sort, vous pouvez immédiatement porter une Frappe de courroux de la nature sur une unique créature. Vous êtes @Compendium[pf2e.conditionitems.nlCjDvLMf2EkV2dl]{Accéléré} au sein de la zone protégée et pouvez utiliser l'action supplémentaire seulement pour porter des Frappes de courroux de la nature.</p>
<p>Vous êtes @Compendium[pf2e.conditionitems.xYTAsEpcJE1Ccni3]{Ralenti} 1 lorsque vous êtes à l'extérieur de la zone.</p>
<hr />
<p><strong>Intensifié (+2)</strong> La zone augmente de 1,5 mètres et les Frappes infligent [[/r 1d8]] dégâts supplémentaires.</p>
