Name: Fungal Infestation
Nom: Infestation fongique
État: libre

------ Data ------
AreasizeEN: 15-foot cone
AreasizeFR: cône de 4,5 mètres
RangeEN: touch
RangeFR: contact
------ Description (en) ------
<p>Toxic spores swarm over creatures in the area, causing them to erupt in grotesque fungal growths. These noxious growths deal [[/r {2d6}[persistent,poison]]] @Compendium[pf2e.conditionitems.lDVqvLKA6eF3Df60]{Persistent Poison Damage}, and each creature must attempt a Fortitude save.</p>
<hr />
<p><strong>Critical Success</strong> The creature is unaffected.</p>
<p><strong>Success</strong> The target takes half the persistent poison damage.</p>
<p><strong>Failure</strong> The target takes the full persistent poison damage. While it is taking this persistent poison damage, it has weakness 1 to fire and weakness 1 to slashing.</p>
<p>@Compendium[pf2e.spell-effects.AnCRD7kDcG0DDGKn]{Spell Effect: Fungal Infestation (Failure)}</p>
<p><strong>Critical Failure</strong> As failure, but double the persistent poison damage. While it is taking this persistent poison damage, it has weakness 2 to fire and weakness 2 to slashing.</p>
<p>@Compendium[pf2e.spell-effects.RLUhIyqH84Dle4vo]{Spell Effect: Fungal Infestation (Critical Failure)}</p>
<hr />
<p><strong>Heightened (+2)</strong> The persistent damage increases by 2d6, and the weakness increases by 1, or by 2 on a critical failure.</p>
------ Description (fr) ------
<p>Des spores toxiques se ruent sur les créatures dans la zone, provoquant une éruption de tumeurs fongiques grotesques. Ces tumeurs nocives infligent [[/r {2d6}[persistent,poison]]] @Compendium[pf2e.conditionitems.lDVqvLKA6eF3Df60]{2d6 dégâts persistants de poison} et chaque créature doit faire un jet de Vigueur.</p>
<hr />
<p><strong>Succès critique</strong> La créature n'est pas affectée.</p>
<p><strong>Succès</strong> La cible subit la moitié des dégâts persistants de poison.</p>
<p><strong>Échec</strong> La cible subit la totalité des dégâts de poison persistants. Tant qu'elle subit ces dégâts persistants de poison, elle a une faiblesse 1 au feu et une faiblesse 1 aux dégâts tranchants.</p>
<p>@Compendium[pf2e.spell-effects.AnCRD7kDcG0DDGKn]{Effet : Infestation fongique(Échec)}</p>
<p><strong>Échec critique</strong> Comme en cas d'échec mais avec le double des dégâts persistants de poison. Tant qu'elle subit ces dégâts persistants de poison, elle a une faiblesse 2 au feu et une faiblesse 2 aux dégâts tranchants.</p>
<p>@Compendium[pf2e.spell-effects.RLUhIyqH84Dle4vo]{Effet : Infestation fongique(Échec critique)}</p>
<hr />
<p><strong>Intensifié (+2)</strong> Les dégâts persistants augmentent de 2d6 et la faiblesse augmente de 1 ou de 2 en cas d'échec critique.</p>
