Name: Magical Fetters
Nom: Entraves magiques
État: libre

------ Data ------
RangeEN: 60 feet
RangeFR: 18 mètres
TargetEN: 1 creature
TargetFR: 1 créature
------ Description (en) ------
<p>Ghostly manacles launch from your outstretched hand and clasp around the target's limbs, impeding its movements. The target must attempt a Reflex save.</p>
<hr />
<p><strong>Critical Success</strong> The target is unaffected.</p>
<p><strong>Success</strong> The target is @Compendium[pf2e.conditionitems.i3OJZU2nk64Df3xm]{Clumsy 1} and takes a -10-foot status penalty to its Speed for 1 round.</p>
<p><strong>Failure</strong> The target is clumsy 3 and takes a -10-foot status penalty to its Speed for 1 minute.</p>
<p><strong>Critical Failure</strong> As failure, but the target is also @Compendium[pf2e.conditionitems.xYTAsEpcJE1Ccni3]{Slowed 1} for the duration.</p>
------ Description (fr) ------
<p>Des menottes fantômatiques sont lancées de vos mains tendues et se referment autour des membres de la cible, entravant ses mouvements. La cible doit tenter un jet de Réflexes.</p>
<hr />
<p><strong>Succès critique</strong> La cible n'est pas affectée.</p>
<p><strong>Succès</strong> A cible est @Compendium[pf2e.conditionitems.i3OJZU2nk64Df3xm]{Maladroite} 1 et subit une pénalité de statut de -3 mètres à sa Vitesse pendant 1 round.</p>
<p><strong>Échec</strong> La cible est Maladroite 3 et subit une pénalité de statut de -3 mètres à sa Vitesse pendant 1 minute.</p>
<p><strong>Échec critique </strong> Comme en cas d'échec, mais la cible est aussi @Compendium[pf2e.conditionitems.xYTAsEpcJE1Ccni3]{Ralentie} 1 pendant 1 minute.</p>
