Name: Tangling Creepers
Nom: Entraves végétales
État: officielle

------ Data ------
AreasizeEN: 40-foot burst
AreasizeFR: explosion de 12 mètres
RangeEN: 500 feet
RangeFR: 150 mètres
------ Description (en) ------
<p>Dense, twitching creepers sprout from every surface and fill any bodies of water in the area. Any creature moving on the land, or Climbing or Swimming within the creepers, takes a -10- foot circumstance penalty to its Speeds while in the area. Once per round, you can make a vine lash out from any square within the expanse of creepers by using a single action, which has the concentrate trait. This vine has a 15-foot reach. Make a melee spell attack roll against the target; on a success, the vine pulls the target into the creepers and makes it @Compendium[pf2e.conditionitems.eIcWbB5o3pP6OIMe]{Immobilized} for 1 round or until the creature Escapes (against your spell DC), whichever comes first.</p>
------ Description (fr) ------
<p>Des plantes rampantes denses et frémissantes jaillissent de toutes parts et remplissent tous les points d’eau de la zone.</p>
<p>Toute créature se déplaçant au sol, Nageant dans les lianes ou les Escaladant subit un malus de circonstances de −3 mètres à ses Vitesses tant qu’elle se trouve dans la zone. Une fois par round, vous pouvez déployer une liane de n’importe quelle case située dans l’étendue du sort en utilisant une action unique, qui a le trait Concentration. Cette liane a une allonge de 4,5 mètres et effectue une attaque à mains nues de corps-à-corps en utilisant votre modificateur d’attaque de sort. Si l’attaque réussit, la liane attire la cible dans les lianes et la rend @Compendium[pf2e.conditionitems.eIcWbB5o3pP6OIMe]{Immobilisée} pendant 1 round ou jusqu’à ce que la créature S’échappe (contre votre DD de sort), selon ce qui arrive en premier.</p>
