Name: Synesthesia
Nom: Synesthésie
État: officielle

------ Data ------
RangeEN: 30 feet
RangeFR: 9 mètres
TargetEN: 1 creature
TargetFR: 1 créature
------ Description (en) ------
<p>The target's senses are suddenly rewired in unexpected ways, causing them to process noises as bursts of color, smells as sounds, and so on. This has three effects, and the target must attempt a Will save. Due to the distraction, the target must succeed at a DC 5 flat check each time it uses a concentrate action, or the action fails and is wasted. The target's difficulty processing visual input makes all creatures and objects @Compendium[pf2e.conditionitems.DmAIPqOBomZ7H95W]{Concealed} from it. The creature has trouble moving, making it @Compendium[pf2e.conditionitems.i3OJZU2nk64Df3xm]{Clumsy 3} and giving it a -10-foot status penalty to its Speeds.</p>
<hr /><strong>Critical Success</strong> The target is unaffected.
<p><strong>Success</strong> The target is affected for 1 round.</p>
<p><strong>Failure</strong> The target is affected for 1 minute.</p>
<p><strong>Critical Failure</strong> As failure, and the target is @Compendium[pf2e.conditionitems.dfCMdR4wnpbYNTix]{Stunned 2} as it attempts to process the sensory shifts.</p>
<hr />
<p><strong>Heightened (9th)</strong> You can target up to five creatures.</p>
------ Description (fr) ------
<p>Les sens de la cible sont soudainement reconfigurés de façon inattendue, ce qui l’oblige à traiter les sons comme une explosion de couleurs, les odeurs comme des sons, etc. Cela a trois effets et la cible doit effectuer un jet de Volonté. À cause de la distraction, la cible doit réussir un test nu DD 5 chaque fois qu’elle utilise une action de concentration ou celle-ci échoue et est gaspillée. Les difficultés que la cible éprouve pour voir rendent toutes les créatures et objets @Compendium[pf2e.conditionitems.DmAIPqOBomZ7H95W]{Masqués} pour elle. La créature a du mal à se déplacer, la rendant @Compendium[pf2e.conditionitems.i3OJZU2nk64Df3xm]{Maladroite} 3 et lui infligeant un malus de statut de −3 mètres à ses Vitesses.</p>
<hr />
<p><strong>Succès critique</strong> La cible n’est pas affectée.</p>
<p><strong>Succès</strong> La cible est affectée pendant 1 round.</p>
<p><strong>Échec</strong> La cible est affectée pendant 1 minute.</p>
<p><strong>Échec critique</strong> Comme l’échec, et la cible est @Compendium[pf2e.conditionitems.dfCMdR4wnpbYNTix]{Étourdie} 2 alors qu’elle tente de traiter les changements sensoriels.</p>
<hr />
<p><strong>Intensifié (9e)</strong> Vous pouvez viser jusqu’à 5 créatures.</p>
