Name: Impending Doom
Nom: Malheur annoncé
État: libre

------ Data ------
RangeEN: 30 feet
RangeFR: 9 mètres
TargetEN: 1 living creature
TargetFR: 1 créature vivante
------ Description (en) ------
<p>You sift through myriad potential futures, seize upon one potential moment in which the target meets a particularly gruesome and fatal end, and then show it a vision of its impending demise. The intense mental vision grows more and more terrifying to the target as the doom grows closer, and it takes 3 rounds to reach its conclusion. The target must attempt a Will saving throw to determine the effects. At the end of the spell's duration, if the target was affected, the target witnesses its death and takes 6d6 mental damage.</p>
<hr />
<p><strong>Critical Success</strong> The creature is unaffected.</p>
<p><strong>Success</strong> The creature is unaffected for 1 round. On the second round, it becomes @Compendium[pf2e.conditionitems.AJh5ex99aV6VTggg]{Flat-Footed}. Finally, on the third round, it becomes @Compendium[pf2e.conditionitems.TBSHQspnbcqxsmjL]{Frightened 1}. At the end of the third round, it takes half damage.</p>
<p><strong>Failure</strong> The creature is immediately flat-footed. On the second round, it becomes @Compendium[pf2e.conditionitems.TBSHQspnbcqxsmjL]{Frightened 2}. Finally, on the third round, it also becomes @Compendium[pf2e.conditionitems.dfCMdR4wnpbYNTix]{Stunned 1}. At the end of the third round, the creature takes full damage.</p>
<p><strong>Critical Failure</strong> The creature is immediately flat-footed and @Compendium[pf2e.conditionitems.TBSHQspnbcqxsmjL]{Frightened 3}. On the second round, it becomes stunned 1. Finally, on the third round, it also becomes @Compendium[pf2e.conditionitems.6uEgoh53GbXuHpTF]{Paralyzed}. At the end of the third round, the creature takes double damage.</p>
<hr />
<p><strong>Heightened (+1)</strong> The damage increases by 2d6.</p>
------ Description (fr) ------
<p>Vous passez en revue une myriade de futurs potentiels, puis saisissez un de ces moments où la cible connaît une fin particulièrement horrible et fatale, puis vous lui montrez une vision de sa mort imminente. La vision mentale intense devient de plus en plus terrifiante pour la cible à mesure que le destin se rapproche, et il faut 3 rounds pour qu'elle atteigne sa conclusion. La cible doit tenter un jet de Volonté pour en déterminer les effets. À la fin de la durée du sort, si la cible a été affectée, elle assiste à sa mort et subit [[/r 6d6 #mental]]{6d6 dégâts mentaux}.</p>
<hr />
<p><strong>Succès critique</strong> La créature n'est pas affectée.</p>
<p><strong>Succès</strong> La créature n'est pas affectée pendant 1 round. Lors du deuxième, elle devient @Compendium[pf2e.conditionitems.AJh5ex99aV6VTggg]{Prise au dépourvu}. Enfin, lors du troisième, elle devient @Compendium[pf2e.conditionitems.TBSHQspnbcqxsmjL]{Effrayée 1}. À la fin du troisième round, elle subit demi-dégâts.</p>
<p><strong>Échec</strong> La créature est immédiatement prise au dépourvu. Lors du second round, elle devient @Compendium[pf2e.conditionitems.TBSHQspnbcqxsmjL]{Effrayée 2}. Enfin, lors du troisème round, elle devient aussi @Compendium[pf2e.conditionitems.dfCMdR4wnpbYNTix]{Étourdie 1}. À la fin du troisième round, la créature subit la totalité des dégâts.</p>
<p><strong>Échec critique</strong> La créature est immédiatement prise au dépourvu et @Compendium[pf2e.conditionitems.TBSHQspnbcqxsmjL]{Effrayée 3}. Lors du deuxième round, elle devient Étourdie 1. Enfin, lors du troisième round, elle devient également @Compendium[pf2e.conditionitems.6uEgoh53GbXuHpTF]{Paralysée}. À la fin du troisième round, la créature subit le double des dégâts.</p>
<hr />
<p><strong>Intensifié (+1)</strong> Les dégâts augmentent de 2d6.</p>