Name: Dread Secret
Nom: Secret effroyable
État: libre

------ Data ------
RangeEN: 60 feet
RangeFR: 18 mètres
TargetEN: up to 6 creatures
TargetFR: jusqu'à 6 créatures
------ Description (en) ------
<p>You utter a powerful secret at odds with the fundamental nature of the target creatures. Choose a specific resistance or weakness that you believe one or more of the targets have due to @Compendium[pf2e.actionspf2e.1OagaWtBpVXExToo]{Recall Knowledge} or previous experience with the targets, such as resistance to fire or weakness to silver. If the information is incorrect for a given target, the spell has no effect on that target. Affected targets must attempt a Will saving throw.</p>
<hr />
<p><strong>Critical Success</strong> The creature is unaffected.</p>
<p><strong>Success</strong> The creature takes 1 damage of the type of weakness you chose (thus triggering the creature's weakness), or loses its resistance until the end of your next turn if you chose a resistance.</p>
<p><strong>Failure</strong> As success, and the creature becomes @Compendium[pf2e.conditionitems.TBSHQspnbcqxsmjL]{Frightened 1} from the revelation of its dread secret.</p>
<p><strong>Critical Failure</strong> As failure, except the creature is @Compendium[pf2e.conditionitems.TBSHQspnbcqxsmjL]{Frightened 3}.</p>
------ Description (fr) ------
<p>Vous murmurez un secret puissant en décalage avec la nature fondamentale des créatures ciblées.</p>
<p>Choisissez une résistance ou une faiblesse spécifique que vous croyez que votre ou vos cibles possèdent grâce à @Compendium[pf2e.actionspf2e.1OagaWtBpVXExToo]{Se souvenir} ou à une précédente expérience avec les cibles, telle que la résistance au feu ou la faiblesse à l'argent. Si l'information est incorrecte pour une cible donnée, le sort n'a aucun effet sur cette cible. Les cibles affectées doivent tenter un jet de Volonté.</p>
<hr />
<p><strong>Succès critique</strong> La créature n'est pas affectée.</p>
<p><strong>Succès</strong> La créature subit 1 dégât du type de résistance que vous avez choisi (déclenchant ainsi la faiblesse de la créature) ou perd sa résistance jusqu'à la fin de votre prochain tour si vous choisissez une résistance.</p>
<p><strong>Échec</strong> Comme avec un succès et la créature devient @Compendium[pf2e.conditionitems.TBSHQspnbcqxsmjL]{Effrayée} 1 du fait de la révélation de son secret effroyable.</p>
<p><strong>Échec critique</strong> Comme en cas d'échec sauf que la créature est Effrayée 3.</p>
