Name: Evil Eye
Nom: Mauvais œil
État: libre

------ Data ------
RangeEN: 30 feet
RangeFR: 9 mètres
TargetEN: 1 creature
TargetFR: 1 créature
------ Description (en) ------
<p>You fix your eye on the target, imposing a malevolent hex. The target becomes frightened based on the results of its Will save. This condition value can't be reduced below 1 while the spell is active and you can see the target. Regardless of the outcome, the target is then temporarily immune for 1 minute.</p>
<hr />
<p><strong>Success</strong> The target is unaffected.</p>
<p><strong>Failure</strong> The target is @Compendium[pf2e.conditionitems.TBSHQspnbcqxsmjL]{Frightened 1}.</p>
<p><strong>Critical Failure</strong> The target is @Compendium[pf2e.conditionitems.TBSHQspnbcqxsmjL]{Frightened 2}.</p>
------ Description (fr) ------
<p>Vous fixez votre œil sur la cible, lui imposant un maléfice malveillant.</p>
<p>La cible devient Effrayée en fonction du résultat de son jet de Volonté. La valeur de cette condition ne peut être réduite en dessous de 1 tant que le sort est actif et que vous pouvez voir la cible. Quel que soit le résultat, la cible est alors temporairement immunisée pendant 1 minute.</p>
<hr />
<p><strong>Succès</strong> La cible n'est pas affectée.</p>
<p><strong>Échec</strong> La cible est @Compendium[pf2e.conditionitems.TBSHQspnbcqxsmjL]{Effrayée} 1.</p>
<p><strong>Échec critique</strong> La cible est Effrayée 2.</p>
