Name: Dominate
Nom: Domination
État: officielle

------ Data ------
RangeEN: 30 feet
RangeFR: 9 mètres
TargetEN: 1 creature
TargetFR: 1 créature
------ Description (en) ------
<p>You take command of the target, forcing it to obey your orders. If you issue an obviously self-destructive order, the target doesn't act until you issue a new order. The effect depends on its Will save.</p>
<hr />
<p><strong>Critical Success</strong> The target is unaffected.</p>
<p><strong>Success</strong> The target is @Compendium[pf2e.conditionitems.dfCMdR4wnpbYNTix]{Stunned 1} as it fights off your commands.</p>
<p><strong>Failure</strong> You control the target. It gains the @Compendium[pf2e.conditionitems.9qGBRpbX9NEwtAAr]{Controlled} condition, but it can attempt a Will save at the end of each of its turns. On a success, the spell ends.</p>
<p><strong>Critical Failure</strong> As a failure, but the target receives a new save only if you give it a new order that is against its nature, such as killing its allies.</p>
<hr />
<p><strong>Heightened (10th)</strong> The duration is unlimited.</p>
------ Description (fr) ------
<p>Vous prenez le contrôle de la cible et l’obligez à suivre vos ordres. Si vous lui donnez un ordre à l’évidence auto-destructeur, elle n’agit pas jusqu’à ce que vous lui en donniez un autre. L’effet dépend de son jet de Volonté.</p>
<hr />
<p><strong>Succès critique</strong> La cible n’est pas affectée.</p>
<p><strong>Succès</strong> La cible est @Compendium[pf2e.conditionitems.dfCMdR4wnpbYNTix]{Étourdie} 1 tandis qu’elle résiste à vos ordres.</p>
<p><strong>Échec</strong> Vous contrôlez la cible. Elle obtient l'état @Compendium[pf2e.conditionitems.9qGBRpbX9NEwtAAr]{Contrôlé} mais a droit à un jet de Volonté à la fin de chacun de ses tours. Sur un succès, le sort se termine.</p>
<p><strong>Échec critique</strong> Comme l’échec, mais la cible a droit à un nouveau jet de Volonté uniquement si vous lui donnez un nouvel ordre allant à l’encontre de sa nature, comme de tuer ses alliés.</p>
<hr />
<p><strong>Intensifié (10e)</strong> La durée est illimitée.</p>
