Name: Blistering Invective
Nom: Invectives torrides
État: libre

------ Data ------
RangeEN: 30 feet
RangeFR: 9 mètres
TargetEN: 1 creature (Heightened (+2) - two additional creatures)
TargetFR: 1 créature (Intensifié (+2) - deux créatures supplémentaires)
------ Description (en) ------
<p>A heap of insults and invectives spew from your mouth-words so devastating your foes burn from the intensity of your diatribe. Your words deal [[/r {2d6}[persistent,fire]]] @Compendium[pf2e.conditionitems.lDVqvLKA6eF3Df60]{Persistent Fire Damage}, and the target must attempt a Will save. If the target doesn't understand the language or you're not speaking a language, it gains a +4 circumstance bonus to its save.</p>
<hr />
<p><strong>Critical Success</strong> The target is unaffected.</p>
<p><strong>Success</strong> The target takes half the persistent fire damage.</p>
<p><strong>Failure</strong> The target becomes @Compendium[pf2e.conditionitems.TBSHQspnbcqxsmjL]{Frightened 1} and takes the full persistent fire damage.</p>
<p><strong>Critical Failure</strong> The target becomes @Compendium[pf2e.conditionitems.TBSHQspnbcqxsmjL]{Frightened 2} and takes double the persistent fire damage.</p>
<hr />
<p><strong>Heightened (+2)</strong> You can target two additional creatures, and the persistent damage increases by [[/r 2d6]].</p>
------ Description (fr) ------
<p>Un flot d'insultes et d'invectives sort de votre bouche - des mots si dévastateurs que vos adversaires brûlent du fait de l'intensité de votre diatribe.</p>
<p>Vos propos infligent [/r {2d6}[persistent,fire]]] @Compendium[pf2e.conditionitems.lDVqvLKA6eF3Df60]{2d6 dégâts de feu persistants} et la cible doit faire un jet de Volonté. Si la cible ne comprend pas votre langage ou si vous ne parlez pas une langue, elle obtient un bonus de circonstances de +4 à son jet.</p>
<hr />
<p><strong>Succès critique</strong> La cible n'est pas affectée.</p>
<p><strong>Succès</strong> La cible subit la moitié des dégâts persistants de feu.</p>
<p><strong>Échec</strong> La cible devient @Compendium[pf2e.conditionitems.TBSHQspnbcqxsmjL]{Effrayée} 1 et subit la totalité des dégâts persistants de feu.</p>
<p><strong>Échec critique</strong> La cible devient Effrayée 2 et subit le double des dégâts persistants.</p>
<hr />
<p><strong>Intensifié (+2)</strong> Vous pouvez cibler deux créatures supplémentaires et les dégâts persistants augmentent de [[/r 2d6]].</p>
