Name: Power Word Stun
Nom: Mot de pouvoir étourdissant
État: officielle

------ Data ------
RangeEN: 30 feet
RangeFR: 9 mètres
TargetEN: 1 creature
TargetFR: 1 créature
------ Description (en) ------
<p>You stun the target with an arcane word of power. Once targeted, the target is then temporarily immune for 10 minutes.</p>
<p>The effect of the spell depends on the target's level.</p>
<ul>
<li><strong>13th or Lower</strong> The target is @Compendium[pf2e.conditionitems.dfCMdR4wnpbYNTix]{Stunned} for [[/r 1d6 #rounds]]{1d6 rounds}.</li>
<li><strong>14th-15th</strong> The target is Stunned for 1 round.</li>
<li><strong>16th or Higher</strong> The target is @Compendium[pf2e.conditionitems.dfCMdR4wnpbYNTix]{Stunned 1}.</li>
</ul>
<hr />
<p><strong>Heightened (+1)</strong> The levels at which each outcome applies increase by 2.</p>
------ Description (fr) ------
<p>Vous étourdissez la cible avec un mot de pouvoir arcanique.</p>
<p>Une fois ciblée, la cible est ensuite temporairement immunisée pendant dix minutes. L’effet du sort dépend du niveau de la cible.</p>
<ul>
<li><strong>13 ou moins</strong> La cible est @Compendium[pf2e.conditionitems.dfCMdR4wnpbYNTix]{Étourdie} pendant [[/br 1d6 #rounds]] rounds.</li>
<li><strong>14–15</strong> La cible est Étourdie pendant 1 round.</li> 
<li><strong>16 ou plus</strong> La cible est Étourdie 1.</li>
</ul>
<hr />
<p><strong>Intensifié (+1)</strong> Les niveaux auxquels les conséquences s’appliquent augmentent de 2.</p>
