Name: Paralyze
Nom: Paralysie
État: officielle

------ Data ------
RangeEN: 30 feet
RangeFR: 9 mètres
TargetEN: 1 creature
TargetFR: 1 créature
------ Description (en) ------
<p>You block the target's motor impulses before they can leave its mind, threatening to freeze the target in place. The target must attempt a Will save.</p>
<hr />
<p><strong>Critical Success</strong> The target is unaffected.</p>
<p><strong>Success</strong> The target is @Compendium[pf2e.conditionitems.dfCMdR4wnpbYNTix]{Stunned 1}.</p>
<p><strong>Failure</strong> The target is @Compendium[pf2e.conditionitems.6uEgoh53GbXuHpTF]{Paralyzed} for 1 round.</p>
<p><strong>Critical Failure</strong> The target is Paralyzed for 4 rounds. At the end of each of its turns, it can attempt a new Will save to reduce the remaining duration by 1 round, or end it entirely on a critical success.</p>
<hr />
<p><strong>Heightened (7th)</strong> You can target up to 10 creatures.</p>
------ Description (fr) ------
<p>Vous bloquez les impulsions neuronales de la cible avant qu'elles ne quittent son cerveau menaçant de l’immobiliser. La cible doit faire un jet de Volonté.</p>
<hr />
<p><strong>Succès critique</strong> La cible n'est pas affectée.</p>
<p><strong>Succès</strong> La cible is @Compendium[pf2e.conditionitems.dfCMdR4wnpbYNTix]{Étourdie} 1.</p>
<p><strong>Échec</strong> La cible is @Compendium[pf2e.conditionitems.6uEgoh53GbXuHpTF]{Paralysée} pendant 1 round.</p>
<p><strong>Échec critique</strong> La cible est Paralysée pendant 4 rounds.  À la fin de chacun de ses tours, elle peut faire un nouveau jet de Volonté pour réduire la durée restante de 1 round ou y mettre complètement fin en cas de succès critique.</p>
<hr />
<p><strong>Intensifié (7e)</strong>  Vous pouvez cibler jusqu’à 10 créatures.</p>
