Name: Crisis of Faith
Nom: Manque de foi
État: officielle

------ Data ------
RangeEN: 30 feet
RangeFR: 9 mètres
TargetEN: 1 creature
TargetFR: 1 créature
------ Description (en) ------
<p>You assault the target's faith, riddling the creature with doubt and mental turmoil that deal 6d6 mental damage, or 6d8 mental damage if it can cast divine spells. The effects are determined by its Will save.</p>
<p>To many deities, casting this spell on a follower of your own deity without significant cause is anathema.</p>
<hr />
<p><strong>Critical Success</strong> The target is unaffected.</p>
<p><strong>Success</strong> The target takes half damage.</p>
<p><strong>Failure</strong> The target takes full damage; if the target can cast divine spells, it's @Compendium[pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Stupefied 1} for 1 round.</p>
<p><strong>Critical Failure</strong> The target takes double damage, is @Compendium[pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Stupefied 1} for 1 round, and can't cast divine spells for 1 round.</p>
<hr />
<p><strong>Heightened (+1)</strong> The damage increases by 2d6 (or by 2d8 if the target is a divine spellcaster).</p>
------ Description (fr) ------
<p>Vous vous attaquez à la Foi de votre cible, la plongeant dans le doute et les tourments intellectuels, ce qui lui inflige [[/r 6d6 #mentaux]]{6d6 dégâts mentaux} ou [[6d8 #mentaux]]{6d8 dégâts mentaux} si elle peut lancer des sorts divins. L’effet est déterminé par son jet de Volonté.</p>
<p>Pour nombre de divinités, il est anathème de lancer ce sort sur un fidèle de la même religion que soi sans une excellente raison.</p>
<hr />
<p><strong>Succès critique</strong> La cible n’est pas affectée.</p>
<p><strong>Succès</strong> La cible reçoit la moitié des dégâts.</p>
<p><strong>Échec</strong> La cible reçoit la totalité des dégâts. Si elle peut lancer des sorts divins, elle est @Compendium[pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Stupéfiée} 1 pendant 1 round.</p>
<p><strong>Échec critique</strong> La cible reçoit le double des dégâts, est Stupéfiée 1 pendant 1 round et ne peut pas lancer de sorts divins pendant 1 round.</p>
<hr />
<p><strong>Intensifié (+1)</strong> Les dégâts augmentent de 2d6 (ou de 2d8 si la cible est un incantateur divin).</p>
