Name: Synaptic Pulse
Nom: Pulsation synaptique
État: officielle

------ Data ------
AreasizeEN: 30-foot emanation
AreasizeFR: émanation de 9 mètres
RangeEN: 30 feet
RangeFR: 9 mètres
------ Description (en) ------
<p>You emit a pulsating mental blast that penetrates the minds of all enemies in the area. Each creature in the area must attempt a Will save.</p>
<hr />
<p><strong>Critical Success</strong> The creature is unaffected.</p>
<p><strong>Success</strong> The creature is @Compendium[pf2e.conditionitems.dfCMdR4wnpbYNTix]{Stunned 1}.</p>
<p><strong>Failure</strong> The creature is @Compendium[pf2e.conditionitems.dfCMdR4wnpbYNTix]{Stunned 2}.</p>
<p><strong>Critical Failure</strong> The creature is Stunned for 1 round.</p>
------ Description (fr) ------
<p>Vous émettez une explosion mentale pulsante qui pénètre les esprits de tous les ennemis dans la zone. Chaque créature dans la zone doit faire un jet de Volonté.</p>
<hr />
<p><strong>Succès critique</strong> La créature n’est pas affectée.</p>
<p><strong>Succès</strong> La cible est @Compendium[pf2e.conditionitems.dfCMdR4wnpbYNTix]{Étourdie} 1.</p>
<p><strong>Échec</strong> La cible est Étourdie 2.</p>
<p><strong>Échec critique</strong> La créature est Étourdie pendant 1 round.</p>
