Name: Feeblemind
Nom: Débilité
État: officielle

------ Data ------
RangeEN: 30 feet
RangeFR: 9 mètres
TargetEN: 1 creature
TargetFR: 1 créature
------ Description (en) ------
<p>You drastically reduce the target's mental faculties. The target must attempt a Will save. The effects of this curse can be removed only through remove curse or another effect that targets curses.</p>
<hr />
<p><strong>Critical Success</strong> The target is unaffected.</p>
<p><strong>Success</strong> The target is @Compendium[pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Stupefied 2} for 1 round.</p>
<p><strong>Failure</strong> The target is @Compendium[pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Stupefied 4} with an unlimited duration.</p>
<p><strong>Critical Failure</strong> The target's intellect is permanently reduced below that of an animal, and it treats its Charisma, Intelligence, and Wisdom modifiers as -5. It loses all class abilities that require mental faculties, including all spellcasting. If the target is a PC, they become an NPC under the GM's control.</p>
------ Description (fr) ------
<p>Vous réduisez drastiquement les facultés mentales de la cible. La cible doit faire un jet de Volonté. Les effets de cette malédiction ne peuvvent être dissipés qu'au moyen d'un sort de Délivrance des malédictions ou par un autre effet qui cible les malédictions.</p>
<hr />
<p><strong>Succès critique</strong> La cible n’est pas affectée.</p>
<p><strong>Succès</strong> La créature est @Compendium[pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Stupéfiée} 2 pendant 1 round.</p>
<p><strong>Échec</strong>La cible est Stupéfiée 4 pendant une durée illimitée.</p>
<p><strong>Échec critique</strong> L’intellect de la cible devient définitivement inférieur à celui d’un animal et elle utilise un modificateur de −5 pour le Charisme, l’Intelligence et la Sagesse. Elle perd tous les pouvoirs de classes nécessitant des facultés mentales, y compris l’incantation. Si la cible est un PJ, il devient un PNJ sous le contrôle du MJ.</p>
