Name: Anathematic Reprisal
Nom: Anathème et représailles
État: officielle

------ Data ------
RangeEN: 30 feet
RangeFR: 9 mètres
TargetEN: the triggering creature
TargetFR: la créature déclencheuse
------ Description (en) ------
<p><strong>Trigger</strong> A creature performs an act anathema to your deity.</p>
<hr />
<p>You punish a creature that transgresses against your deity, drawing upon the anguish you feel upon seeing one of your deity's anathema committed. You can cast this spell only when a creature actively commits a unique act of anathema. For example, if creating undead were anathema to your deity, you could use anathematic reprisal on a necromancer who had just created undead in front of you, but not on an undead creature just for existing. You deal 4d6 mental damage to the target, but a basic Will save can reduce this damage. If it fails, it is also @Compendium[pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Stupefied 1} for 1 round. The creature is then temporarily immune for 1 minute.</p>
<hr />
<p><strong>Heightened (+1)</strong> The damage increases by 1d6.</p>
------ Description (fr) ------
<p><strong>Déclencheur</strong> Une créature accomplit un acte anathème pour votre divinité.</p>
<hr />
<p>Vous punissez une créature ayant péché contre votre divinité, en puisant dans l’angoisse que vous ressentez en voyant quelqu’un violer l’un des tabous de votre dieu.</p>
<p>Vous pouvez lancer ce sort uniquement quand une créature commet activement un unique acte blasphématoire. Par exemple, si la création de morts-vivants est anathème à votre dieu, vous pouvez utiliser Anathème et représailles sur un nécromancien qui vient de créer un mort-vivant sous vos yeux mais vous ne pouvez pas lancer ce sort sur un mort-vivant juste parce qu’il existe. Vous infligez [[/r 4d6 #mentaux}} dégâts mentaux à la cible, mais un jet de Volonté basique peut les réduire. Si la cible rate son jet, elle est aussi @Compendium[pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Stupéfiée} 1 pendant 1 round. Ensuite, la créature est temporairement immunisée pendant 1 minute.</p>
<hr />
<p><strong>Intensifié (+1)</strong> Les dégâts augmentent de 1d6.</p>
