Name: Charming Words
Nom: Paroles charmeuses
État: officielle

------ Data ------
RangeEN: 30 feet
RangeFR: 9 mètres
TargetEN: 1 creature
TargetFR: 1 créature
------ Description (en) ------
<p>You whisper enchanting words to deflect your foe's ire. The target must attempt a Will save.</p>
<hr />
<p><strong>Critical Success</strong> The target is unaffected.</p>
<p><strong>Success</strong> The target takes a -1 circumstance penalty to attack rolls and damage rolls against you.</p>
<p><strong>Failure</strong> The target can't use hostile actions against you.</p>
<p><strong>Critical Failure</strong> The target is @Compendium[pf2e.conditionitems.dfCMdR4wnpbYNTix]{Stunned 1} and can't use hostile actions against you.</p>
------ Description (fr) ------
<p>Vous murmurez des paroles envoûtantes pour détourner la colère de votre ennemi. La cible doit faire un jet de Volonté.</p>
<hr />
<p><strong>Succès critique</strong> La cible n’est pas affectée.</p>
<p><strong>Succès</strong> La cible subit un malus de circonstances de -1 aux jets d’attaque et de dégâts contre vous.</p>
<p><strong>Échec</strong> La cible ne peut pas faire d’actions hostiles contre vous.</p>
<p><strong>Échec critique</strong>  La cible est @Compendium[pf2e.conditionitems.dfCMdR4wnpbYNTix]{Étourdie} 1 et ne peut pas accomplir d’actions hostiles à votre encontre.</p>
