Name: Subconscious Suggestion
Nom: Suggestion subconsciente
État: officielle

------ Data ------
RangeEN: 30 feet
RangeFR: 9 mètres
TargetEN: 1 creature
TargetFR: 1 créature
------ Description (en) ------
<p>You implant a subconscious suggestion deep within the target's mind for them to follow when a trigger you specify occurs. You suggest a course of action to the target. Your directive must be phrased in such a way as to seem like a logical course of action to the target, and it can't be self-destructive or obviously against the target's self-interest. The target must attempt a Will save.</p>
<hr /><strong>Critical Success</strong> The target is unaffected and knows you tried to control it.
<p><strong>Success</strong> The target is unaffected and thinks you were talking to them normally, not casting a spell on them.</p>
<p><strong>Failure</strong> The suggestion remains in the target's subconscious until the next time you prepare. If the trigger occurs before then, the target immediately follows your suggestion. The effect has a duration of 1 minute, or until the target has completed a finite suggestion or the suggestion becomes self-destructive or has other obvious negative effects.</p>
<p><strong>Critical Failure</strong> As failure, but the duration is 1 hour.</p>
<hr /><strong>Heightened (9th)</strong> You can target up to 10 creatures.
------ Description (fr) ------
<p>Vous implantez une suggestion subconsciente profondément dans l’esprit d’une cible pour la suivre quand un déclencheur que vous spécifiez se produit. Vous suggérez un plan d’action à la cible. Votre directive doit être formulée de façon à sembler être un plan d’action logique à la cible, et ne peut pas être autodestructrice ou à l’évidence contre les propres intérêts de la cible. La cible doit faire un jet de Volonté.</p>
<hr />
<p><strong>Succès critique</strong> La cible n’est pas affectée et sait que vous avez tenté de la contrôler.</p>
<p><strong>Succès</strong> La cible n’est pas affectée et pense que vous lui avez parlé normalement, sans lui lancer de sort.</p>
<p><strong>Échec</strong> La suggestion reste dans le subconscient de la cible jusqu’à vos prochains préparatifs quotidiens. Si le déclencheur se produit avant cela, la cible suit immédiatement votre suggestion. L’effet prend fin au bout d’1 minute ou quand la cible a complètement achevé la suggestion ou si la suggestion devient autodestructrice ou a d’autres effets négatifs évidents.</p>
<p><strong>Échec critique</strong> Comme l’échec, mais la durée est d’une heure.</p>
<hr />
<p><strong>Intensifié (9e)</strong> Vous pouvez cibler jusqu’à 10 créatures.</p>
