Name: Aromatic Lure
Nom: Leurre aromatique
État: libre

------ Data ------
RangeEN: 60 feet
RangeFR: 18 mètres
TargetEN: 1 creature
TargetFR: 1 créature
------ Description (en) ------
<p>You override a target's olfactory senses, luring them to a specific location through tantalizing false scents. Select a single square within range that is not hazardous or occupied by a creature. The target is drawn to the selected location, becoming euphoric upon arrival. The target must attempt a Will save.</p>
<hr />
<p><strong>Critical Success</strong> The target is unaffected.</p>
<p><strong>Success</strong> The target is distracted by the tantalizing scents, becoming @Compendium[pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Stupefied 1} for 1 round.</p>
<p><strong>Failure</strong> The target is @Compendium[pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Stupefied 2} and moves toward the selected location via the most direct route possible for 1 round, bypassing any obvious hazards and enemies in the way.</p>
<p><strong>Critical Failure</strong> The target is @Compendium[pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Stupefied 4} and moves to the selected location via the most direct route possible for 1 round, bypassing any obvious hazards and enemies in the way. If the creature reaches the destination, it must remain in that location for [[/r 1d4 #rounds]]{1d4 rounds} but can otherwise act normally.</p>
<hr />
<p><strong>Heightened (+2)</strong> You target 1 additional creature, selecting a different square within range as their destination.</p>
------ Description (fr) ------
<p>Vous saturez les sens olfactifs de  votre cible, les leurrant vers un lieu spécifique en les alléchant par de fausses odeurs. Choisissez une unique case à portée qui n'est pas dangereuse ou occupée par une créature. La cible est attirée jusqu'à ce lieu choisi, devenant euphorique en arrivant. La cible doit faire un jet de Volonté.</p>
<hr />
<p><strong>Succès critique</strong> La cible n'est pas affectée.</p>
<p><strong>Succès</strong> La cible est distraite par les odeurs alléchantes et devient @Compendium[pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Stupéfiée} 1 pendant 1 round.</p>
<p><strong>Échec</strong> La cible est Stupéfiée 2 et se déplace vers le lieu choisi par la route la plus directe pendant 1 round, en contournant tout danger évident et tout ennemi se trouvant sur son chemin.</p>
<p><strong>Échec critique</strong> La cible est Stupéfiée 4 et se déplace vers la case choisie par la plus directe route possible pendant 1 round, en contournant tout danger évident et tout ennemi se trouvant sur son chemin. Si la créature atteint sa destination, elle doit y rester pendant 1d4 rounds mais peut autrement agir normalement.</p>
<hr />
<p><strong>Intensifié (+2)</strong> Vous ciblez 1 créature supplémentaire, en choisissant une autre case à portée comme destination.</p>
