Name: Waking Nightmare
Nom: Cauchemar éveillé
État: officielle

------ Data ------
RangeEN: 30 feet
RangeFR: 9 mètres
TargetEN: 1 creature
TargetFR: 1 créature
------ Description (en) ------
<p>You fill the creature's mind with a terrifying vision out of its nightmares. The target must attempt a Will save. If the target is @Compendium[pf2e.conditionitems.fBnFDH2MTzgFijKf]{Unconscious} when you Cast this Spell on it, it immediately wakes up before attempting its save, and if it fails its save, it gains the @Compendium[pf2e.conditionitems.sDPxOjQ9kx2RZE8D]{Fleeing} condition for 1 round in addition to the effects noted above.</p>
<hr />
<p><strong>Critical Success</strong> The target is unaffected.</p>
<p><strong>Success</strong> The target is @Compendium[pf2e.conditionitems.TBSHQspnbcqxsmjL]{Frightened 1}.</p>
<p><strong>Failure</strong> The target is @Compendium[pf2e.conditionitems.TBSHQspnbcqxsmjL]{Frightened 2}.</p>
<p><strong>Critical Failure</strong> The target is @Compendium[pf2e.conditionitems.TBSHQspnbcqxsmjL]{Frightened 3}.</p>
------ Description (fr) ------
<p>Vous implantez dans l’esprit de la créature une vision terrifiante tirée de ses cauchemars. La cible doit faire un jet de Volonté. Si la cible est @Compendium[pf2e.conditionitems.fBnFDH2MTzgFijKf]{Inconsciente} quand vous Lancez ce sort sur elle, elle se réveille immédiatement avant de tenter son jet de sauvegarde et, en cas d'échec, obtient l’état @Compendium[pf2e.conditionitems.sDPxOjQ9kx2RZE8D]{En fuite} pendant 1 round en plus des effets décrits ci-dessous.</p>
<hr />
<p><strong>Succès critique</strong> La cible n’est pas affectée.</p>
<p><strong>Succès</strong> La cible est @Compendium[pf2e.conditionitems.TBSHQspnbcqxsmjL]{Effrayée} 1.</p>
<p><strong>Échec</strong> La cible est Effrayée 2.</p>
<p><strong>Échec critique</strong> La cible est Effrayée 3.</p>
