Name: Befuddle
Nom: Embrouiller
État: libre

------ Data ------
RangeEN: 30 feet
RangeFR: 9 mètres
TargetEN: 1 creature
TargetFR: 1 créature
------ Description (en) ------
<p>You sow seeds of confusion in your target's mind, causing their actions and thoughts to become clumsy.</p>
<hr />
<p><strong>Critical Success</strong> The target is unaffected.</p>
<p><strong>Success</strong> The target is @Compendium[pf2e.conditionitems.i3OJZU2nk64Df3xm]{Clumsy 1} and @Compendium[pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Stupefied 1}.</p>
<p><strong>Failure</strong> The target is @Compendium[pf2e.conditionitems.i3OJZU2nk64Df3xm]{Clumsy 2} and @Compendium[pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Stupefied 2}.</p>
<p><strong>Critical Failure</strong> The target is @Compendium[pf2e.conditionitems.i3OJZU2nk64Df3xm]{Clumsy 3}, @Compendium[pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Stupefied 3}, and @Compendium[pf2e.conditionitems.yblD8fOR1J8rDwEQ]{Confused}.</p>
------ Description (fr) ------
<p>Vous semez les graines de la confusion dans l'esprit de la cible, de sorte que ses actions et ses pensées sont maladroites.</p>
<hr />
<p><strong>Succès critique</strong> La cible n'est pas affectée.</p>
<p><strong>Succès</strong> La cible est @Compendium[pf2e.conditionitems.i3OJZU2nk64Df3xm]{Maladroite} 1 et @Compendium[pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Stupéfiée} 1.</p>
<p><strong>Échec</strong> La cible est Maladroite 2 et Stupéfiée 2.</p>
<p><strong>Échec critique</strong> La cible est Maladroite 3, Stupéfiée 3 et @Compendium[pf2e.conditionitems.yblD8fOR1J8rDwEQ]{Confuse}.</p>
