Name: Hideous Laughter
Nom: Fou rire
État: officielle

------ Data ------
RangeEN: 30 feet
RangeFR: 9 mètres
TargetEN: 1 living creature
TargetFR: 1 créature vivante
------ Description (en) ------
<p>The target is overtaken with uncontrollable laughter. It must attempt a Will save.</p>
<hr /><strong>Critical Success</strong> The target is unaffected.
<p><strong>Success</strong> The target is plagued with uncontrollable laugher. It can't use reactions.</p>
<p><strong>Failure</strong> The target is @Compendium[pf2e.conditionitems.xYTAsEpcJE1Ccni3]{Slowed 1} and can't use reactions.</p>
<p><strong>Critical Failure</strong> The target falls @Compendium[pf2e.conditionitems.j91X7x0XSomq8d60]{Prone} and can't use actions or reactions for 1 round. It then suffers the failure effects.</p>
------ Description (fr) ------
<p>La cible est prise d’un fou rire incontrôlable. Elle doit faire un jet de Volonté.</p>
<hr />
<p><strong>Succès critique</strong> La cible n’est pas affectée.</p>
<p><strong>Succès</strong> La cible est prise d’un fou rire incontrôlable. Elle ne peut plus faire de réactions.</p>
<p><strong>Échec</strong> La cible est @Compendium[pf2e.conditionitems.xYTAsEpcJE1Ccni3]{Ralentie} 1 et ne peut plus faire de réactions.</p>
<p><strong>Échec critique</strong> La cible tombe @Compendium[pf2e.conditionitems.j91X7x0XSomq8d60]{À terre} et ne peut plus faire d’actions ou de réactions pendant un round. Elle subit ensuite les effets de l’échec.</p>
