Name: You're Mine
Nom: Tu es à moi
État: officielle

------ Data ------
RangeEN: 30 feet
RangeFR: 9 mètres
TargetEN: 1 creature
TargetFR: 1 créature
------ Description (en) ------
<p>You manipulate the target's emotions, potentially allowing you to control it for a brief instant. The target must attempt a Will save.</p>
<hr />
<p><strong>Critical Success</strong> The target is unaffected.</p>
<p><strong>Success</strong> The target is @Compendium[pf2e.conditionitems.dfCMdR4wnpbYNTix]{Stunned 1}.</p>
<p><strong>Failure</strong> On the target's next turn, it's @Compendium[pf2e.conditionitems.dfCMdR4wnpbYNTix]{Stunned 1} and you partially control it, causing it to take a single action of your choice. If it has actions left, it can act normally.</p>
<p><strong>Critical Failure</strong> The target is @Compendium[pf2e.conditionitems.9qGBRpbX9NEwtAAr]{Controlled} for 1 round.</p>
<hr />
<p><strong>Heightened (7th)</strong> On a failure, the target is Controlled for 1 round. On a critical failure, the target is Controlled for up to 1 minute; it receives a new Will save at the end of each of its turns, and on a success, the spell ends.</p>
------ Description (fr) ------
<p>Vous manipulez les émotions de la cible, ce qui vous donne la possibilité de la contrôler brièvement. La cible doit faire un jet de Volonté.</p>
<hr />
<p><strong>Succès critique</strong> La cible n’est pas affectée.</p>
<p><strong>Succès</strong> La cible est @Compendium[pf2e.conditionitems.dfCMdR4wnpbYNTix]{Étourdie} 1.</p>
<p><strong>Échec</strong> Lors du prochain tour de la créature, elle est Étourdie 1 et vous la contrôlez partiellement en l’obligeant à faire une action unique de votre choix. S’il lui reste des actions, elle peut agir normalement.</p>
<p><strong>Échec critique</strong> La cible est @Compendium[pf2e.conditionitems.9qGBRpbX9NEwtAAr]{Contrôlée} pendant 1 round.</p>
<hr />
<p><strong>Intensifié (7e)</strong> En cas d’échec, la cible est @Compendium[pf2e.conditionitems.9qGBRpbX9NEwtAAr]{Contrôlée} pendant 1 round. En cas d’échec critique, elle est Contrôlée pendant 1 minute au maximum ; elle peut faire un nouveau jet de Volonté à la fin de chacun de ses tours et le sort se termine en cas de succès.</p>
