Name: Fear
Nom: Terreur
État: officielle

------ Data ------
RangeEN: 30 feet
RangeFR: 9 mètres
TargetEN: 1 creature
TargetFR: 1 créature
------ Description (en) ------
<p>You plant fear in the target; it must attempt a Will save.</p>
<hr />
<p><strong>Critical Success</strong> The target is unaffected.</p>
<p><strong>Success</strong> The target is @Compendium[pf2e.conditionitems.TBSHQspnbcqxsmjL]{Frightened 1}.</p>
<p><strong>Failure</strong> The target is @Compendium[pf2e.conditionitems.TBSHQspnbcqxsmjL]{Frightened 2}.</p>
<p><strong>Critical Failure</strong> The target is @Compendium[pf2e.conditionitems.TBSHQspnbcqxsmjL]{Frightened 3} and @Compendium[pf2e.conditionitems.sDPxOjQ9kx2RZE8D]{Fleeing} for 1 round.</p>
<hr />
<p><strong>Heightened (3rd)</strong> You can target up to five creatures.</p>
------ Description (fr) ------
<p>Vous semez la terreur dans le cœur de la cible qui doit faire un jet de Volonté.</p>
<hr />
<p><strong>Succès critique</strong> La cible n’est pas affectée.</p>
<p><strong>Succès</strong> La cible est @Compendium[pf2e.conditionitems.TBSHQspnbcqxsmjL]{Effrayée} 1.</p>
<p><strong>Échec</strong> La cible est Effrayée 2.</p>
<p><strong>Échec critique</strong> La cible est Effrayée 3 et @Compendium[pf2e.conditionitems.sDPxOjQ9kx2RZE8D]{En fuite} pendant 1 round.</p>
<p>
<hr />
<p><strong>Intensifié (3e)</strong> Vous pouvez cibler jusqu’à 5 créatures.</p>
