Name: Charitable Urge
Nom: Désir Charitable
État: libre

------ Data ------
RangeEN: 30 feet
RangeFR: 9 mètres
TargetEN: 1 creature
TargetFR: 1 créature
------ Description (en) ------
<p>You speak on the virtue of charity, compelling the target to give away its possessions. The target must attempt a Will save. If the target has no items on its person, the spell fails.</p>
<hr />
<p><strong>Critical Success</strong> The target is unaffected.</p>
<p><strong>Success</strong> The target is @Compendium[pf2e.conditionitems.dfCMdR4wnpbYNTix]{Stunned 1} as it wrestles with the urge.</p>
<p><strong>Failure</strong> On its next turn, before it does anything else, the target must present the nearest creature with an item in its possession; the target chooses which item to give, and if the only item it has is one that it's currently using to defend itself, such as a weapon during a combat encounter, it can choose to be Stunned for 1 round instead of giving up the item. This might require the target to @Compendium[pf2e.actionspf2e.pvQ5rY2zrtPI614F]{Interact} to retrieve an item or move to reach the nearest creature, and handing the item to the target always requires an Interact action.</p>
<p><strong>Critical Failure</strong> As failure, except the duration is 4 rounds, and the target must repeat the effects of failure on each of its turns. At the end of each of its turns, the target can attempt a new Will save to reduce the remaining duration by 1 round, ending it entirely on a critical success.</p>
------ Description (fr) ------
<p>Vous parlez des vertus de la charité contraignant la cible à abandonner toutes ses possessions. La cible doit effectuer un jet de Volonté. Si la cible ne possède pas d'objet sur sa personne, le sort échoue.</p>
<hr />
<p><strong>Succès critique</strong> La cible n'est pas affectée.</p>
<p><strong>Succès</strong> La cible est @Compendium[pf2e.conditionitems.dfCMdR4wnpbYNTix]{Étourdie} 1 tandis qu'elle lutte contre son désir.</p>
<p><strong>Échec</strong> Lors de son prochain tour, avant même de faire autre chose, la cible doit remettre à la plus proche créature un objet en sa possession ; la cible choisit quel objet donner et si seulement l'objet qu'elle possède est un de ceux avec lequel elle se défend elle-même actuellement, telle qu'une arme durant une rencontre de combat, elle peut choisir d'être Étourdie pendant 1 round au lieu d'abandonner l'objet. Cela peut nécessiter que la cible @Compendium[pf2e.actionspf2e.pvQ5rY2zrtPI614F]{Interagisse} pour retirer un objet ou se déplace pour atteindre la plus proche créature et attraper l'objet de la cible nécessite toujours une action Interagir.</p>
<p><strong>Échec critique</strong> Comme l'échec, sauf que la durée est de 4 rounds et la cible doit répéter les effets d'un échec lors de chacun de ses tours. À la fin de chacun de ses tours la cible peut tenter un nouveau jet de Volonté pour réduire la durée restant de 1 round, y mettant un terme immédiatement en cas de succès critique.</p>