Name: Blinding Fury
Nom: Furie aveuglante
État: libre

------ Data ------
RangeEN: 60 feet
RangeFR: 18 mètres
MaterialEN: A creature damages you
MaterialFR: Une créature vous inflige des dégats
TargetEN: The triggering creature
TargetFR: la créature déclencheuse
------ Description (en) ------
<p><strong>Trigger</strong> A creature damages you.</p>
<hr />
<p>You curse the target with your outrage at being attacked. The effect is determined by the target's Will save.</p>
<hr />
<p><strong>C</strong><strong>ritical Success</strong> The target is unaffected.</p>
<p><strong>Success</strong> The target can't @Compendium[pf2e.conditionitems.1wQY3JYyhMYeeV2G]{Observe} you until the end of its turn, and if you're currently Observed by it, you become @Compendium[pf2e.conditionitems.iU0fEDdBp3rXpTMC]{Hidden} to it.</p>
<p><strong>Failure</strong> As success, and for 1 minute, every time the target damages you, it can't Observe you until the end of its turn.</p>
<p><strong>Critical Failure</strong> As success, and for an unlimited duration, the first time each round the target damages a creature, it can't Observe that creature until the end of its turn. If it damages several creatures at once, the creature it can't perceive is chosen randomly among those creatures.</p>
------ Description (fr) ------
<p><strong>Déclencheur</strong> Une créature vous cause des dégâts.</p>
<hr />
<p>Vous maudissez la cible de vous avoir outragée en vous portant une attaque. L'effet est déterminé par le jet de Volonté de la cible.</p>
<hr />
<p><strong>Succès critique</strong> La cible n'est pas affectée.</p>
<p><strong>Succès</strong> La cible ne peut vous @Compendium[pf2e.conditionitems.1wQY3JYyhMYeeV2G]{Observer} jusqu'à la fin de son tour et si elle vous observait vous lui êtes @Compendium[pf2e.conditionitems.iU0fEDdBp3rXpTMC]{Caché}.</p>
<p><strong>Échec</strong> Comme en cas de succès et pendant 1 minute, chaque fois que la cible vous inflige des dégâts, elle ne peut vous observer jusqu'à la fin de son tour.</p>
<p><strong>Échec critique</strong> Comme en cas de succès mais pour une durée illimitée, la première fois à chaque round où la créature inflige des dégâts à une créature, elle ne peut observer cette créature jusqu'à la fin de son tour. Si elle provoque des dégâts contre plusieurs créatures en même temps, la créature qu'elle ne peut plus percevoir est déterminée de manière aléatoire.</p>
