Name: Mind Games
Nom: Jeux d'esprit
État: libre

------ Data ------
RangeEN: 30 feet
RangeFR: 9 mètres
TargetEN: 1 creature
TargetFR: 1 créature
------ Description (en) ------
<p>You lock minds with the target, trying to mentally subdue them. The target must attempt a Will save. Each time you Sustain this Spell, the target attempts another Will save.</p>
<hr />
<p><strong>Critical Success</strong> You are @Compendium[pf2e.conditionitems.dfCMdR4wnpbYNTix]{Stunned 1} and the spell ends.</p>
<p><strong>Success</strong> The target is unaffected.</p>
<p><strong>Failure</strong> The target is stunned 1.</p>
<p><strong>Critical Failure</strong> The target is @Compendium[pf2e.conditionitems.dfCMdR4wnpbYNTix]{Stunned 2}.</p>
------ Description (fr) ------
<p>Vous bloquez l'esprit de la cible, essayant de la soumettre mentalement. La cible doit tenter un jet de Volonté. Chaque fois que vous maintenez ce sort, la cible tente un jet de Volonté.</p>
<hr />
<p><strong>Succès critique</strong> Vous êtes @Compendium[pf2e.conditionitems.dfCMdR4wnpbYNTix]{Étourdi 1} et le sort se termine.</p>
<p><strong>Succès</strong> La cible n'est pas affectée.</p>
<p><strong>Échec</strong> La cible est Étourdie 1.</p>
<p><strong>Échec critique</strong> La cible est @Compendium[pf2e.conditionitems.dfCMdR4wnpbYNTix]{Étourdie 2}.</p>