Name: Unfathomable Song
Nom: Chant énigmatique
État: officielle

------ Data ------
RangeEN: 120 feet
RangeFR: 36 mètres
TargetEN: up to 5 creatures
TargetFR: jusqu'à 5 créatures
------ Description (en) ------
<p>Fleeting notes of a strange and unnatural song fill the air, overtaking the mind. Each target must attempt a Will save when you cast the spell, and again the first time you Sustain this Spell each round. A creature needs to attempt only one save against the song each round, and you have to keep the same targets when you Sustain the Spell.</p>
<hr />
<p><strong>Critical Success</strong> The target is unaffected, can't be affected on subsequent rounds, and is temporarily immune for 1 minute.</p>
<p><strong>Success</strong> The target is unaffected this round, but it can be affected on subsequent rounds.</p>
<p><strong>Failure</strong> Roll 1d4 on the table below.</p>
<p><strong>Critical Failure</strong> Roll 1d4+1 on the table below.</p>
<table class="pf2-table">
<thead>
<tr>
<th>Result</th>
<th>Effect</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>The target is @Compendium[pf2e.conditionitems.TBSHQspnbcqxsmjL]{Frightened 2}</td>
</tr>
<tr>
<td>2</td>
<td>The target is @Compendium[pf2e.conditionitems.yblD8fOR1J8rDwEQ]{Confused} for 1 round</td>
</tr>
<tr>
<td>3</td>
<td>The target is @Compendium[pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Stupefied 4} for 1 round</td>
</tr>
<tr>
<td>4</td>
<td>The target is @Compendium[pf2e.conditionitems.XgEqL1kFApUbl5Z2]{Blinded} for 1 round</td>
</tr>
<tr>
<td>5</td>
<td>The target is @Compendium[pf2e.conditionitems.dfCMdR4wnpbYNTix]{Stunned} for 1 round and @Compendium[pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Stupefied 1} for an unlimited duration</td>
</tr>
</tbody>
</table>
------ Description (fr) ------
<p>Des notes éphémères d’une chanson étrange et surnaturelle emplissent l’air, envahissant l’esprit.</p>
<p>Chaque cible doit effectuer un jet de Volonté quand vous lancez le sort et également chaque fois que vous Maintenez le sort. Une créature n’a besoin d’effectuer qu’un seul jet de sauvegarde contre la chanson chaque round et vous conservez les mêmes cibles quand vous Maintenez le sort.</p>
<hr />
<p><strong>Succès critique</strong> La cible n’est pas affectée, ne peut pas être affectée lors des tours suivants, et est temporairement immunisée pendant 1 minute.</p>
<p><strong>Succès</strong> La cible n’est pas affectée à ce round, mais peut être affectée lors des tours suivants.</p>
<p><strong>Échec</strong> Lancez 1d4 sur le tableau ci-dessous.</p>
<p><strong>Échec critique</strong> Lancez 1d4+1 sur le tableau ci-dessous.</p>
<table class="pf2-table">
<thead>
<tr>
<th>Résultat</th>
<th>Effet</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>La cible est @Compendium[pf2e.conditionitems.TBSHQspnbcqxsmjL]{Effrayée} 2</td>
</tr>
<tr>
<td>2</td>
<td>La cible est @Compendium[pf2e.conditionitems.yblD8fOR1J8rDwEQ]{Confuse} pendant 1 round</td>
</tr>
<tr>
<td>3</td>
<td>La cible est @Compendium[pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Stupéfiée} 4 pendant 1 round</td>
</tr>
<tr>
<td>4</td>
<td>La cible est @Compendium[pf2e.conditionitems.XgEqL1kFApUbl5Z2]{Aveugle} pendant 1 round</td>
</tr>
<tr>
<td>5</td>
<td>La cible est @Compendium[pf2e.conditionitems.dfCMdR4wnpbYNTix]{Étourdie} pendant 1 round et @Compendium[pf2e.conditionitems.e1XGnhKNSQIm5IXg]{stupéfiée} 1 pour une durée illimitée</td>
</tr>
</tbody>
</table>
