Name: Confusion
Nom: Confusion
État: officielle

------ Data ------
RangeEN: 30 feet
RangeFR: 9 mètres
TargetEN: 1 creature
TargetFR: 1 créature
------ Description (en) ------
<p>You befuddle your target with strange impulses, causing it to act randomly. The effects are determined by the target's Will save. You can Dismiss the spell.</p>
<hr />
<p><strong>Critical Success</strong> The target is unaffected.</p>
<p><strong>Success</strong> The target babbles incoherently and is @Compendium[pf2e.conditionitems.dfCMdR4wnpbYNTix]{Stunned 1}.</p>
<p><strong>Failure</strong> The target is @Compendium[pf2e.conditionitems.yblD8fOR1J8rDwEQ]{Confused} for 1 minute. It can attempt a new save at the end of each of its turns to end the confusion.</p>
<p><strong>Critical Failure</strong> The target is Confused for 1 minute, with no save to end early.</p>
<hr />
<p><strong>Heightened (8th)</strong> You can target up to 10 creatures.</p>
------ Description (fr) ------
<p>Vous désorientez votre cible à l’aide d’étranges impulsions qui la poussent à agir au hasard. L’effet est déterminé par le jet de Volonté de la cible. Vous pouvez Révoquer le sort.</p>
<hr />
<p><strong>Succès critique</strong> La cible n’est pas affectée.</p>
<p><strong>Succès</strong> La cible balbutie de façon incohérente et est @Compendium[pf2e.conditionitems.dfCMdR4wnpbYNTix]{Étourdie} 1.</p>
<p><strong>Échec</strong> La cible est @Compendium[pf2e.conditionitems.yblD8fOR1J8rDwEQ]{Confuse} pendant 1 minute. Elle a droit à un nouveau jet de sauvegarde à la fin de chacun de ses tours pour mettre un terme à la confusion.</p>
<p><strong>Échec critique</strong> La cible est Confuse pendant 1 minute sans jet de sauvegarde pour mettre un terme à l’effet par anticipation.</p>
<hr />
<p><strong>Intensifié (8e)</strong> Vous pouvez cibler jusqu’à 10 créatures.</p>
