Name: Crushing Despair
Nom: Désespoir foudroyant
État: officielle

------ Data ------
AreasizeEN: 30-foot cone
AreasizeFR: cône de 9 mètres
------ Description (en) ------
<p>You inflict despair on creatures in the area. The effects for each creature are determined by its Will save.</p>
<hr />
<p><strong>Critical Success</strong> The creature is unaffected.</p>
<p><strong>Success</strong> For 1 round, the creature can't use reactions and must attempt another save at the start of its turn; on a failure, it is @Compendium[pf2e.conditionitems.xYTAsEpcJE1Ccni3]{Slowed 1} for that turn as it sobs uncontrollably.</p>
<p><strong>Failure</strong> As success, but the duration is 1 minute.</p>
<p><strong>Critical Failure</strong> As failure, and the creature is automatically @Compendium[pf2e.conditionitems.xYTAsEpcJE1Ccni3]{Slowed 1} for 1 minute.</p>
<hr />
<p><strong>Heightened (7th)</strong> The area increases to a 60-foot cone.</p>
------ Description (fr) ------
<p>Vous plongez les créatures de la zone dans le désespoir. L’effet pour chaque créature est déterminé par son jet de Volonté.</p>
<hr />
<p><strong>Succès critique</strong> La créature n’est pas affectée.</p>
<p><strong>Succès</strong>  Pendant 1 round, la créature ne peut pas faire de réaction et doit faire un autre jet de sauvegarde au début de son tour. Si elle échoue, elle est @Compendium[pf2e.conditionitems.xYTAsEpcJE1Ccni3]{Ralentie} 1 pendant ce tour, secouée de sanglots incontrôlables.</p>
<p><strong>Échec</strong> Comme en cas de succès mais la durée passe à 1 minute.</p>
<p><strong>Échec critique</strong> Comme l’échec et la créature est automatiquement Ralentie 1 pendant 1 minute.</p>
<hr />
<p><strong>Intensifié (7e)</strong> La zone devient un cône de 18 m.</p>
