Name: Déjà Vu
Nom: Déjà vu
État: libre

------ Data ------
RangeEN: 100 feet
RangeFR: 30 mètres
TargetEN: 1 creature
TargetFR: 1 créature
------ Description (en) ------
<p>You loop a thought process in the target's mind, forcing it to repeat the same actions over again. The target must attempt a Will save. If the target fails, whatever actions the target uses on its next turn, it must repeat on its following turn. The actions must be repeated in the same order and as close to the same specifics as possible. For example, if the target makes an attack, it must repeat the attack against the same creature, if possible, and if the target moves, it must move the same distance and direction, if possible, on its next turn.</p>
<p>If the target can't repeat an action, such as @Compendium[pf2e.actionspf2e.aBQ8ajvEBByv45yz]{Casting a Spell} that has been exhausted or needing to target a creature that has died, it can act as it chooses for that action but becomes @Compendium[pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Stupefied 1} until the end of its turn.</p>
------ Description (fr) ------
<p>Vous créez une boucle dans l'esprit de la cible, la forçant à répéter de nouveau les mêmes actions. La cible doit faire un jet de Volonté. Si la cible obtient un échec, quelles que soient les actions que la cible utilise au cours de son prochain tour, elle doit répéter son tour précédent. Les actions doivent être répétées dans le même ordre et aussi proche dans leurs spécificités que possible. Par exemple, si la cible porte une attaque, elle doit répéter l'attaque contre la même créature, si possible et si la cible se déplace, elle doit le faire de la même distance et dans la même direction, si possible, lors de son prochain tour.</p>
<p>Si la cible ne peut répéter une action, tel que @Compendium[pf2e.actionspf2e.aBQ8ajvEBByv45yz]{Lancer un sort} qui a été épuisé ou qui nécessite de cibler une créature qui est morte, elle peut agir comme elle le souhaite pour cette action mais est @Compendium[pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Stupéfiée} 1 jusqu'à la fin de son tour.</p>