Name: Faerie Dust
Nom: Poussière féerique
État: officielle

------ Data ------
AreasizeEN: 5-foot burst or more
AreasizeFR: explosion de 1,5 m ou plus
RangeEN: 30 feet
RangeFR: 9 mètres
------ Description (en) ------
<p>You sprinkle magical dust in the spell's area, making those within easier to trick. Each creature in the area must attempt a Will save. For each additional action you use Casting the Spell, the burst's radius increases by 5 feet.</p>
<hr />
<p><strong>Success</strong> The creature is unaffected.</p>
<p><strong>Failure</strong> The creature can't use reactions and takes a -2 status penalty to Perception checks and Will saves.</p>
<p><strong>Critical Failure</strong> As failure, and the creature also takes a -1 status penalty to Perception checks and Will saves for 1 minute.</p>
<hr />
<p><strong>Heightened (+3)</strong> The initial radius increases by 5 feet.</p>
------ Description (fr) ------
<p>Vous saupoudrez la zone du sort de poussière magique, pour tromper plus facilement ceux qui s’y trouvent.</p>
<p>Chaque créature dans la zone doit faire un jet de Volonté. Pour chaque action supplémentaire que vous utilisez pour Lancer le sort, le rayon de l’explosion augmente de 1,50 m.</p>
<hr />
<p><strong>Succès</strong> La créature n’est pas affectée.</p>
<p><strong>Échec</strong> La créature ne peut pas utiliser de réactions et subit un malus de statut de -2 aux tests de Perception et aux jets de Volonté.</p>
<p><strong>Échec critique</strong> Comme un échec, et la créature subit également un malus de statut de -1 aux tests de Perception et aux jets de Volonté pendant 1 minute.</p>
<hr />
<p><strong>Intensifié (+3)</strong> Le rayon initial augmente de 1,50 m.</p>
