Name: Sound Burst
Nom: Cacophonie
État: officielle

------ Data ------
AreasizeEN: 10-foot burst
AreasizeFR: explosion de 3 mètres
RangeEN: 30 feet
RangeFR: 9 mètres
------ Description (en) ------
<p>A cacophonous noise blasts out, dealing 2d10 sonic damage. Each creature must attempt a Fortitude save.</p>
<hr />
<p><strong>Critical Success</strong> The creature is unaffected.</p>
<p><strong>Success</strong> The creature takes half damage.</p>
<p><strong>Failure</strong> The creature takes full damage and is @Compendium[pf2e.conditionitems.9PR9y0bi4JPKnHPR]{Deafened} for 1 round.</p>
<p><strong>Critical Failure</strong> The creature takes double damage, is Deafened for 1 minute, and is @Compendium[pf2e.conditionitems.dfCMdR4wnpbYNTix]{Stunned 1}.</p>
<hr />
<p><strong>Heightened (+1)</strong> The damage increases by 1d10.</p>
------ Description (fr) ------
<p>Un bruit cacophonique explose et inflige 2d10 dégâts de son. Chaque créature doit effectuer un jet de Vigueur</p>
<hr />
<p><strong>Succès critique</strong> La créature n’est pas affectée.</p>
<p><strong>Succès</strong> La créature reçoit la moitié des dégâts.</p>
<p><strong>Échec</strong> La créature reçoit la totalité des dégâts et est @Compendium[pf2e.conditionitems.9PR9y0bi4JPKnHPR]{Sourde} pendant 1 round.</p>
<p><strong>Échec critique</strong> La créature reçoit des dégâts doublés, est Sourde pendant 1 minute et @Compendium[pf2e.conditionitems.dfCMdR4wnpbYNTix]{Étourdie} 1.</p>
<hr />
<p><strong>Intensifié (+1)</strong> Les dégâts augmentent de 1d10.</p>
