Name: Blightburn Blast
Nom: Explosion de fléau brûlant
État: libre

------ Data ------
AreasizeEN: 15-foot cone
AreasizeFR: cône de 4,5 mètres
------ Description (en) ------
<p>You channel a blast of powerful blightburn radiation from your hands. You deal 4d6 poison damage to creatures in the area. Creatures who fail their save are afflicted with stage 1 of blightburn sickness (on a critical failure, the creature moves immediately to stage 2). The level of blightburn sickness caused by this spell is equal to twice the spell's level, and the disease's save DC uses the caster's DC.</p>
<hr />
<p><strong>Blightburn Sickness</strong> (uncommon, disease) <strong>Level 15</strong></p>
<p>The ceiling of the vault of the Black Desert is studded with deadly crystals that glimmer like stars above the dark sands. These crystals are radioactive and flood the vault with lethal energy. Creatures other than those native to the vault or who have survived there for a long time develop a disease called blightburn sickness.</p>
<p>Creatures native to the Black Desert are immune, as are creatures who are affected by blightburn sickness but recover from it. The target can't recover from the disease's drained or sickened condition except by magic.</p>
<p>The surest way to avoid contracting blightburn sickness is by wearing a blightburn ward, a piece of protective jewelry often found among urdefhans' gear or for sale in Shraen.</p>
<p><strong>Saving Throw</strong> DC 32 Fortitude</p>
<p><strong>Onset</strong> [[/r 1d4 #days]]{1d4 days}</p>
<p><strong>Stage 1</strong> @Compendium[pf2e.conditionitems.4D2KBtexWXa6oUMR]{Drained 1} (1 day)</p>
<p><strong>Stage 2</strong> @Compendium[pf2e.conditionitems.4D2KBtexWXa6oUMR]{Drained 1} and @Compendium[pf2e.conditionitems.fesd1n5eVhpCSS18]{Sickened 1} (1 day)</p>
<p><strong>Stage 3</strong> @Compendium[pf2e.conditionitems.4D2KBtexWXa6oUMR]{Drained 2} and @Compendium[pf2e.conditionitems.fesd1n5eVhpCSS18]{Sickened 2} (1 week)</p>
<p><strong>Stage 4</strong> @Compendium[pf2e.conditionitems.4D2KBtexWXa6oUMR]{Drained 3} and @Compendium[pf2e.conditionitems.fesd1n5eVhpCSS18]{Sickened 3} (1 month)</p>
<p><strong>Stage 5</strong> Drained increases by 1 (1 year)</p>
------ Description (fr) ------
<p>Vous canalisez une explosion de puissantes radiations de fléau brûlant dans vos mains. Vous infligez 4d6 dégât de poison aux créatures dans la zone. Les créatures qui manquent leur jet de sauvegarde sont affectées au stade 1 de la maladie du fléau brûlant (ou au stade 2 en cas d'échec critique). Le niveau de maladie du fléau brûlant provoqué par ce sort est égal à deux fois le niveau du sort et le DD de la maladie utilise le DD du lanceur.</p>
<hr />
<p><strong>Maladie du fléau brûlant</strong> (peu courant, maladie) <strong>Niveau 15</strong></p>
<p>Le plafond des chambres fortes du désert noir est constellé de cristaux mortels qui brillent comme des étoiles au dessus des sables noirs. Ces cristaux sont radioactifs et remplissent les chambres fortes avec une énergie létale. Les créatures autres que celles qui sont natives de la chambre forte ou qui ont survécu là pendant une long moment développent une maladie appelée la maladie du fléau brûlant.</p>
<p>Les créatures natives du Désert noir y sont immunisées, comme le sont les créatures qui ont été affectées par le fléau brûlant mais qui s'en remettent. La cible ne peut récupérer des conditions Drainé ou Malade, sauf par magie.</p>
<p>La plus sûre des manières d'éviter de contracter la maladie du fléau brûlant est de porter un protège fléau brûlant, un bijou protecteur souvent trouvé parmi l'équipement des urdefhans ou à vendre dans Shraen.</p>
<p><strong>Jet de sauvegarde</strong> Vigueur DD 32</p>
<p><strong>Délai</strong> [[/r 1d4 #jours]] jours</p>
<p><strong>Stade 1</strong> @Compendium[pf2e.conditionitems.4D2KBtexWXa6oUMR]{Drainé} 1 (1 jour)</p>
<p><strong>Stade 2</strong> Drainé 1 et @Compendium[pf2e.conditionitems.fesd1n5eVhpCSS18]{Malade} 1 (1 jour)</p>
<p><strong>Stade 3</strong> Drainé 2 et Malade 2 (1 semaine)</p>
<p><strong>Stade 4</strong> Drainé 3 et Malade 3 (1 mois)</p>
<p><strong>Stade 5</strong> Drainé augmente de 1 (1 an)</p>
