Name: Litany against Sloth
Nom: Litanie contre la paresse
État: officielle

------ Data ------
RangeEN: 30 feet
RangeFR: 9 mètres
TargetEN: 1 evil creature
TargetFR: 1 créature mauvaise
------ Description (en) ------
<p>Your litany rails against the sin of sloth, interfering with the target's ability to react. The target must attempt a Will save. A particularly slothful creature, such as a sloth demon, uses the outcome one degree of success worse than the result of its saving throw. The target becomes temporarily immune to all of your litanies for 1 minute.</p>
<hr />
<p><strong>Critical Success</strong> The target is unaffected.</p>
<p><strong>Success</strong> The target can't use reactions.</p>
<p><strong>Failure</strong> The target can't use reactions and is @Compendium[pf2e.conditionitems.xYTAsEpcJE1Ccni3]{Slowed 1}.</p>
<p><strong>Critical Failure</strong> The target can't use reactions and is @Compendium[pf2e.conditionitems.xYTAsEpcJE1Ccni3]{Slowed 2}.</p>
------ Description (fr) ------
<p>Votre litanie s’oppose au péché de paresse, interférant avec la capacité de réaction de la cible. La cible doit faire un jet de Volonté. Une créature particulièrement paresseuse, tel un démon paresseux, utilise le résultat final avec un degré de réussite inférieur au résultat de son jet de sauvegarde. La cible est temporairement immunisée à toutes vos litanies pendant 1 minute.</p>
<hr />
<p><strong>Succès critique</strong> La cible n’est pas affectée.</p>
<p><strong>Succès</strong> La cible ne peut pas utiliser de réaction.</p>
<p><strong>Échec</strong> La cible ne peut pas utiliser de réaction et est @Compendium[pf2e.conditionitems.xYTAsEpcJE1Ccni3]{Ralentie} 1.</p>
<p><strong>Échec critique</strong> La cible ne peut pas utiliser de réaction et est Ralentie 2.</p>
