Name: Litany against Wrath
Nom: Litanie contre la colère
État: officielle

------ Data ------
RangeEN: 30 feet
RangeFR: 9 mètres
TargetEN: 1 evil creature
TargetFR: 1 créature mauvaise
------ Description (en) ------
<p>Your litany rails against the sin of wrath, punishing the target for attacking good creatures. The target must attempt a Will save. A particularly wrathful creature, such as a wrath demon, uses the outcome one degree of success worse than the result of its saving throw. The target then becomes temporarily immune to all of your litanies for 1 minute.</p>
<hr /><strong>Critical Success</strong> The target is unaffected.
<p><strong>Success</strong> The first time the target uses an action that deals damage to at least one good creature, the target takes 3d6 good damage.</p>
<p><strong>Failure</strong> Each time the target uses an action that deals damage to at least one good creature, the target takes 3d6 good damage.</p>
<p><strong>Critical Failure</strong> The target is @Compendium[pf2e.conditionitems.MIRkyAjyBeXivMa7]{Enfeebled 2}. Each time it uses an action that deals damage to at least one good creature, the target takes 3d6 good damage.</p>
<hr /><strong>Heightened (+1)</strong> The damage increases by 1d6.
------ Description (fr) ------
<p>Votre litanie s’oppose au péché de colère, punissant la cible pour avoir attaqué des créatures d’alignement bon. La cible doit faire un jet de Volonté. Une créature particulièrement colérique, tel un démon colérique, utilise l'effet correspondant à un degré de réussite inférieur au résultat de son jet de sauvegarde. La cible est temporairement immunisée à toutes vos litanies pendant 1 minute.</p>
<hr />
<p><strong>Succès critique</strong> La cible n’est pas affectée.</p>
<p><strong>Succès</strong> La première fois que la cible utilise une action pour infliger des dégâts à au moins une créature d’alignement bon, la cible subit 3d6 dégâts bons.</p>
<p><strong>Échec</strong> Chaque fois que la cible utilise une action pour infliger des dégâts à au moins une créature d’alignement bon, la cible subit 3d6 dégâts bons.</p>
<p><strong>Échec critique</strong> La cible devient @Compendium[pf2e.conditionitems.MIRkyAjyBeXivMa7]{Affaiblie} 2. Chaque fois qu’elle utilise une action pour infliger des dégâts à au moins une créature d’alignement bon, la cible subit 3d6 dégâts bons.</p>
<hr />
<p><strong>Intensifié (+1)</strong> Les dégâts augmentent de 1d6.</p>
