Name: Healing Plaster
Nom: Emplâtre
État: libre

------ Data ------
RangeEN: 5 feet
RangeFR: 1,5 mètres
TargetEN: a handful of dirt or mud
TargetFr: une poignée de terre ou de boue
------ Description (en) ------
<p>You purify some dirt or mud into a pliable, claylike plaster that can aid in clotting and healing. This restorative substance can be used in lieu of healer's tools for Medicine checks to Administer First Aid or Treat Wounds. If the plaster isn't used within the spell's duration, or if you Cast the Spell again before using the plaster, it reverts to being normal non-magical earth.</p>
<hr />
<p><strong>Heightened (3rd)</strong> The plaster grants anyone using it to Administer First Aid or Treat Wounds a +1 item bonus to the Medicine check.</p>
------ Description (fr) ------
<p>Vous purifiez de la terre ou de la boue pour en faire une sorte d'emplâtre argileux souple qui peut aider à coaguler et à soigner. Cette substance Cette substance réparatrice peut être utilisée à la place des outils de guérisseur pour les tests de Médecine visant à Prodiguer les premiers soins ou à Soigner les blessures. Si l'emplâtre n'est pas utilisé pendant la durée du sort ou si vous lancez à nouveau le sort avant d'utiliser l'emplâtre, il redevient de la terre normale non magique.</p>
<hr />
<p><strong>Intensifié (3e)</strong> L'emplâtre accorde à quiconque l'utilise pour Prodiguer les premiers soins ou Soigner les blessures un bonus d'objet de +1 au test de Médecine.</p>