Name: Effect: Blade Ally Disrupting Rune (Greater)
Nom: Effet : Allié lame Pertubatrice supérieure
État: libre

------ Description (en) ------
<p>A disrupting weapon pulses with positive energy, dealing an extra [[/r {2d6}[positive]]]{2d6 positive damage} to undead. On a critical hit, the undead creature must attempt a DC 34 Fortitude save with the following effects. This is an incapacitation effect.</p>
<hr />
<p><strong>Critical Success</strong> It's @Compendium[pf2e.conditionitems.MIRkyAjyBeXivMa7]{Enfeebled 1} until the end of your next turn.</p>
<p><strong>Success</strong> It's @Compendium[pf2e.conditionitems.MIRkyAjyBeXivMa7]{Enfeebled 2} until the end of your next turn.</p>
<p><strong>Failure</strong> It's @Compendium[pf2e.conditionitems.MIRkyAjyBeXivMa7]{Enfeebled 3} until the end of your next turn.</p>
<p><strong>Critical Failure</strong> It's destroyed.</p>
------ Description (fr) ------
<p>Une arme perturbatrice pulse d’énergie positive en infligeant [[/r {2d6}[positive]]]{2d6 dégâts positifs supplémentaires} aux morts-vivants. En cas de coup critique, le mort-vivant doit faire un jet de @Check[type:fortitude|dc:34|name:perturbatrice supérieure]{Vigueur DD 34} avec les effets suivants. Il s’agit d’un effet de mise hors de combat.</p>
<hr />
<p><strong>Succès critique</strong>  Il est @Compendium[pf2e.conditionitems.MIRkyAjyBeXivMa7]{Affaibli} 1 jusqu’à la fin de votre prochain tour. </p>
<p><strong>Succès</strong> Il est @Compendium[pf2e.conditionitems.MIRkyAjyBeXivMa7]{Affaibli 2} jusqu’à la fin de votre prochain tour. </p>
<p><strong>Échec</strong> Il est @Compendium[pf2e.conditionitems.MIRkyAjyBeXivMa7]{Affaibli 3} jusqu’à la fin de votre prochain tour.</p>
<p><strong>Échec critique</strong> Il est détruit.</p>
