Name: Stance: Dueling Dance
Nom: Posture : Danse en duel
État: libre

------ Description (en) ------
<p>Granted by @Compendium[pf2e.feats-srd.9VGmE7X4aK2W8YWj]{Dueling Dance (Swashbuckler)} or @Compendium[pf2e.feats-srd.FYz5eQeTox9IDkSd]{Dueling Dance (Fighter)}</p>
<p>Automatically applied effects:</p>
<ul>
<li>+2 circumstance bonus to AC</li>
</ul>
------ Description (fr) ------
<p>Accordé par @Compendium[pf2e.feats-srd.9VGmE7X4aK2W8YWj]{Danse en duel (Bretteur)} ou @Compendium[pf2e.feats-srd.FYz5eQeTox9IDkSd]{Danse en duel (Guerrier))}</p>
<p>Code : Effets appliqués automatiquement</p>
<ul>
<li>Bonus de circonstances de +2 à a CA</li>
</ul>
