Parent Name: Stone Golem
Name: Slowing Pulse
Nom: Pulsation de lenteur
État: officielle

------ Description (en) ------
<p>Each creature in a @Template[type:emanation|distance:10]{10-foot emanation} must succeed at a @Check[type:fortitude|dc:30] save or be @Compendium[pf2e.conditionitems.xYTAsEpcJE1Ccni3]{Slowed 1} for 1 minute.</p>
<p data-visibility="gm">The golem can't use Slowing Pulse again for [[/br 1d4 #Slowing Pulse Recharge]]{1d4 rounds}.</p>
------ Description (fr) ------
<p>Chaque créature dans une @Template[type:emanation|distance:10]{émanation de 3 m} doit réussir un jet de @Check[type:fortitude|dc:30]{Vigueur} DD 30 ou être @Compendium[pf2e.conditionitems.xYTAsEpcJE1Ccni3]{Ralentie 1} pendant 1 minute.</p>
<p data-visibility="gm">Le golem ne peut utiliser une nouvelle fois Pulsation de lenteur avant [[/br 1d4 #Recharge Pulsation de lenteur]]{1d4 rounds}. </p>