Parent Name: Hive Mother
Name: Frenzy Pheromone
Nom: Phéromone de frénésie
État: officielle

------ Description (en) ------
<p>The hive mother unleashes a pheromone that causes all other ankhravs within a @Template[type:emanation|distance:100] to become @Compendium[pf2e.conditionitems.nlCjDvLMf2EkV2dl]{Quickened 1} until the start of the hive mother's next turn, and they can use the extra action only for Burrow, Stride, or Strike actions.</p>
<p data-visibility="gm">The hive mother can't unleash the pheromone again for [[/br 1d4 #rounds]]{1d4 rounds}.</p>
------ Description (fr) ------
<p>La mère de la ruche libère des phéromones qui octroient accéléré 1 à tous les autres ankhravs situés dans une émanation de 30 m jusqu’au début du prochain tour de la mère de la ruche ; ils ne peuvent utiliser l’action supplémentaire que pour Creuser, Frapper ou Marcher rapidement.</p>
<p data-visibility="gm">La mère de la ruche ne peut plus libérer ces phéromones avant [[/br 1d4 #rounds]]{1d4 rounds}.</p>