Parent Name: Wererat
Name: Nimble Dodge
Nom: Esquive agile
État: officielle

------ Description (en) ------
<p data-visibility="gm"><strong>Trigger</strong> The wererat is targeted with a melee or ranged attack by an attacker it can see.</p>
<p><strong>Eflect</strong> The wererat gains a +2 circumstance bonus to AC against the triggering attack.</p>
------ Description (fr) ------
<p data-visibility="gm"><strong>Déclencheur</strong> Le rat-garou est la cible d’une attaque au corps-à-corps ou à distance émanant d’un assaillant situé dans son champ de vision.</p>
<p><strong>Effet</strong> Le rat-garou bénéficie d’un bonus de circonstances de +2 à la CA contre l’attaque qui déclenche l’effet.</p>
