Parent Name: Gimmerling
Name: Trip Up
Nom: Croche-pied
État: officielle

------ Description (en) ------
<p data-visibility="gm"><strong>Trigger</strong> A creature critically fails a melee attack to hit the gimmerling or moves into a space within the gimmerling's treacherous aura.</p>
<p><strong>Effect</strong> The triggering creature must attempt a @Check[type:reflex|dc:32|traits:damaging-effect] save.</p>
<div data-visibility="gm"><hr />
<p><strong>Critical Success</strong> The target is unaffected.</p>
<p><strong>Success</strong> The target is @Compendium[pf2e.conditionitems.AJh5ex99aV6VTggg]{Flat-Footed} until the start of its next turn.</p>
<p><strong>Failure</strong> The target takes [[/r {2d10}[bludgeoning]]]{2d10 bludgeoning damage} and is flat-footed until the start of its next turn.</p>
<p><strong>Critical failure</strong> As failure, and the target is knocked @Compendium[pf2e.conditionitems.j91X7x0XSomq8d60]{Prone}.</p>
</div>
------ Description (fr) ------
<p data-visibility="gm"><strong>Déclencheur</strong> Une créature obtient un échec critique en faisant une attaque au corps-à-corps contre le gimmerling ou se déplace dans une case au sein de son aura semée d’embûches.</p>
<p><strong>Effet</strong> La créature qui déclenche l’effet doit effectuer un jet de @Check[type:reflex|dc:32|traits:damaging-effect]{Réflexes} DD 32.</p>
<hr />
<p><strong>Succès critique</strong> La cible n’est pas affectée.</p>
<p><strong>Succès</strong> La cible est @Compendium[pf2e.conditionitems.AJh5ex99aV6VTggg]{Prise au dépourvu} jusqu’au début de son prochain tour.</p>
<p><strong>Échec</strong> La créature subit [[/r {2d10}[bludgeoning]]]{2d10 dégâts contondants} de son et elle est prise au dépourvu jusqu’au début de son prochain tour.</p>
<p><strong>Échec critique</strong> Comme l’échec et la créature est jetée à terre.</p>