Parent Name: Young White Dragon (Spellcaster)
Name: Breath Weapon
Nom: Arme de souffle
État: officielle

------ Description (en) ------
<p>The dragon breathes a cloud of frost that deals [[/r {7d6}[cold]]]{7d6 cold damage} in a @Template[type:cone|distance:30]{30-foot cone} (@Check[type:reflex|dc:24|basic:true] save).</p>
<p data-visibility="gm">It can't use Breath Weapon again for [[/br 1d4 #Recharge Breath Weapon]]{1d4 rounds}.</p>
------ Description (fr) ------
<p>Le dragon souffle un nuage de froid qui inflige [[/r {7d6}[cold]]]{7d6 dégâts de froid} dans un @Template[type:cone|distance:30]{cône de 9 m} (jet de @Check[type:reflex|dc:24|basic:true]{Réflexes basique} DD 24).</p>
<p data-visibility="gm">Il ne peut utiliser une nouvelle fois ce pouvoir avant [[/br 1d4 #Recharge Arme de souffle]]{1d4 rounds}.</p>