Parent Name: Ancient White Dragon
Name: Ground Slam
Nom: Coup au sol
État: officielle

------ Description (en) ------
<p>The dragon slams into the ground. It can do this if it's on the ground or Flying within 10 feet of the ground. Each creature on the ground within @Template[type:emanation|distance:10]{10 feet} must succeed at a @Check[type:reflex|dc:37|traits:damaging-effect] save<span data-visibility="gm"> or fall @Compendium[pf2e.conditionitems.j91X7x0XSomq8d60]{Prone} and take [[/r {5d6}[bludgeoning]]]{5d6 bludgeoning damage}</span>.</p>
<p data-visibility="gm">The dragon can then Step.</p>
------ Description (fr) ------
<p>Le dragon frappe le sol. Il peut agir ainsi s’il est au sol ou s’il vole à 3 m ou moins au-dessus. Chaque créature au sol dans un @Template[type:emanation|distance:10]{rayon de 3 m} doit réussir un jet de @Check[type:reflex|dc:37|traits:damaging-effect]{Réflexes} DD 37 ou tomber @Compendium[pf2e.conditionitems.j91X7x0XSomq8d60]{À terre} et subir [[/r {5d6}[bludgeoning]]]{5d6 dégâts contondants}.</p>
<p data-visibility="gm">Puis le dragon peut Faire un pas.</p>