Parent Name: Imp
Name: Diabolic Healing
Nom: Guérison diabolique
État: officielle

------ Description (en) ------
<p data-visibility="gm"><strong>Frequency</strong> once per round.</p>
<p><strong>Effect</strong> The imp regains [[/r {1d6}[healing]]]{1d6 Hit Points}.</p>
------ Description (fr) ------
<p data-visibility="gm"><strong>Fréquence</strong> une fois par round.</p> 
<p><strong>Effet</strong> Le diablotin regagne [[/r {1d6}[healing]]]{1d6 points de vie}.