Parent Name: Megaprimatus
Name: Terrifying Display
Nom: Posture effrayante
État: officielle

------ Description (en) ------
<p>The megaprimatus beats its chest in a terrifying display. Creatures within @Template[type:emanation|distance:50]{50 feet} must attempt a @Check[type:will|dc:27|name:Frightening Display] save.</p>
<div data-visibility="gm">
<p>While a creature is @Compendium[pf2e.conditionitems.TBSHQspnbcqxsmjL]{Frightened} by this ability, it is @Compendium[pf2e.conditionitems.AJh5ex99aV6VTggg]{Flat-Footed} to the megaprimatus and to gorillas.</p>
<hr />
<p><strong>Critical Success</strong> No effect and temporarily immune for 1 minute.</p>
<p><strong>Success</strong> The creature is unaffected.</p>
<p><strong>Failure</strong> The creature is @Compendium[pf2e.conditionitems.TBSHQspnbcqxsmjL]{Frightened 1}.</p>
<p><strong>Critical Failure</strong> The creature is @Compendium[pf2e.conditionitems.TBSHQspnbcqxsmjL]{Frightened 2} and @Compendium[pf2e.conditionitems.sDPxOjQ9kx2RZE8D]{Fleeing} until the end of its next turn.</p>
</div>
------ Description (fr) ------
<p>Le megaprimatus frappe son torse et affiche une posture effrayante. Les créatures dans un @Template[type:emanation|distance:50]{50 feet}{rayon de 15 m} doivent tenter un jet de @Check[type:will|dc:27|name:Posture effrayante]{Volonté} DD 27. Tant qu’une créature est effrayée par ce pouvoir, elle est Prise au dépourvu par rapport au megaprimatus et aux autres gorilles.</p>
<p><strong>Succès critique</strong> Aucun effet et immunité temporaire pendant 1 minute.</p>
<p><strong>Succès</strong> La créature n’est pas affectée.</p>
<p><strong>Échec</strong> La créature est @Compendium[pf2e.conditionitems.TBSHQspnbcqxsmjL]{Effrayée 1}.</p>
<p><strong>Échec critique</strong> La créature est @Compendium[pf2e.conditionitems.TBSHQspnbcqxsmjL]{Effrayée 2} et @Compendium[pf2e.conditionitems.sDPxOjQ9kx2RZE8D]{En fuite} jusqu’à la fin de son prochain tour.</p>