Parent Name: Desert Drake
Name: Sandstorm Breath
Nom: Souffle du désert
État: officielle

------ Description (en) ------
<p>The desert drake spits a ball of electrically charged sand to a range of 60 feet that explodes into a cloud with a @Template[type:burst|distance:15]. Creatures in the area take [[/r {9d6}[electricity]]]{9d6 electricity damage} (@Check[type:reflex|dc:27|basic:true] save). The cloud remains for [[/br 1d4 #Duration Sandstorm]]{1d4 rounds}, granting @Compendium[pf2e.conditionitems.DmAIPqOBomZ7H95W]{Concealment} to everything within.</p>
<p data-visibility="gm">The desert drake can't use Sandstorm Breath again for [[/br 1d6 #Recharge Sandstorm Breath]]{1d6 rounds}.</p>
------ Description (fr) ------
<p>Le drake du désert projette une boule de sable chargé en électricité jusqu’à une portée de 18 m qui explose en un nuage de @Template[type:burst|distance:15]{4,5 m de rayon}. Les créatures dans la zone d’effet subissent [[/r {9d6}[electricity]]]{9d6 dégâts d’électricité} (jet de @Check[type:reflex|dc:27|basic:true]{Réflexes basique} DD 27). Le nuage perdure pendant [[/br 1d4 #Durée du Souffle du désert]]{1d4 rounds} octroyant l’état @Compendium[pf2e.conditionitems.DmAIPqOBomZ7H95W]{Masqué} à ceux qui se trouvent à l’intérieur.</p>
<p>Le drake du désert ne peut utiliser de nouveau ce pouvoir avant [[/br 1d6 #Recharge de l'arme de souffle]]{1d6 rounds}.</p>