Parent Name: Bunyip
Name: Roar
Nom: Rugissement
État: officielle

------ Description (en) ------
<p>The bunyip lets out a loud and horrifying roar. Other creatures within @Template[type:emanation|distance:100]{100 feet} must succeed at a @Check[type:will|dc:21] save<span data-visibility="gm"> or become @Compendium[pf2e.conditionitems.TBSHQspnbcqxsmjL]{Frightened 2} (@Compendium[pf2e.conditionitems.TBSHQspnbcqxsmjL]{Frightened 3} on a critical failure,@Compendium[pf2e.conditionitems.TBSHQspnbcqxsmjL]{Frightened 1} on a success, or unaffected on a critical success)</span>.</p>
<p data-visibility="gm">No matter the result, the creature is temporarily immune to the effect for 1 minute.</p>
------ Description (fr) ------
<p>Le bunyip émet un puissant rugissement effrayant. Les autres créatures dans un @Template[type:emanation|distance:100]{rayon de 30 m} doivent réussir un jet de @Check[type:will|dc:21]Volonté} DD 21<span data-visibility="gm"> ou être @Compendium[pf2e.conditionitems.TBSHQspnbcqxsmjL]{Effrayées 2} (@Compendium[pf2e.conditionitems.TBSHQspnbcqxsmjL]{Effrayées 3} avec un échec critique, @Compendium[pf2e.conditionitems.TBSHQspnbcqxsmjL]{Effrayées 1} en cas de réussite ou non affectées en cas de réussite critique). Quel que soit le résultat, les créatures sont temporairement immunisées contre cet effet pendant 1 minute</span>.</p>