Parent Name: Goliath Spider
Name: Goliath Spider Venom
Nom: Venin d'araignée goliath
État: officielle

------ Description (en) ------
<p><strong>Saving Throw</strong> @Check[type:fortitude|dc:30]</p>
<div data-visibility="gm">
<p><strong>Maximum Duration</strong> 6 rounds</p>
<p><strong>Stage 1</strong> [[/r {2d6}[poison]]]{2d6 poison} and @Compendium[pf2e.conditionitems.xYTAsEpcJE1Ccni3]{Slowed 1} (1 round)</p>
<p><strong>Stage 2</strong> [[/r {2d6}[poison]]]{2d6 poison} and @Compendium[pf2e.conditionitems.xYTAsEpcJE1Ccni3]{Slowed 2} (1 round)</p>
<p><strong>Stage 3</strong> @Compendium[pf2e.conditionitems.6uEgoh53GbXuHpTF]{Paralyzed} for [[/br 2d4 #hours]]{2d4 hours}</p>
</div>
------ Description (fr) ------
<p><strong>Jet de sauvegarde</strong> @Check[type:fortitude|dc:30]{Vigueur} DD 30</p>
<div data-visibility="gm">
<p><strong>Durée maximale</strong> 6 rounds</p>
<p><strong>Stade 1</strong> [[/r {2d6}[poison]]]{2d6 dégâts de poison} et @Compendium[pf2e.conditionitems.xYTAsEpcJE1Ccni3]{Ralenti 1} (1 round)</p>
<p><strong>Stade 2</strong> [[/r {2d6}[poison]]]{2d6 dégâts de poison} et @Compendium[pf2e.conditionitems.xYTAsEpcJE1Ccni3]{Ralenti 2} (1 round)</p>
<p><strong>Stade 3</strong> @Compendium[pf2e.conditionitems.6uEgoh53GbXuHpTF]{Paralysé} pendant [[/br 2d4 #heures]]{2d4 heures}</p>
</div>