Parent Name: Stone Mauler
Name: Crumble
Nom: Désagrégation
État: officielle

------ Description (en) ------
<p data-visibility="gm"><strong>Trigger</strong> The stone mauler takes damage from a hostile source while atop rock or earth.</p>
<p><strong>Effect</strong> The stone mauler crumbles into the ground, Burrowing down 15 feet. This Burrowing does not trigger reactions.</p>
<p data-visibility="gm">The stone mauler can't Crumble again for [[/br 1d4 #Recharge Crumble]]{1d4 rounds}.</p>
------ Description (fr) ------
<p data-visibility="gm"><strong>Déclencheur</strong> Le broyeur de terrain subit des dégâts infligés par une source hostile alors qu’il se trouve sur de la roche ou de la terre.</p> 
<p><strong>Effet</strong> Le broyeur de terrain se désagrège en Creusant de 4,5 m dans le sol. Ce Creusement ne déclenche pas de réactions.</p>
<p data-visibility="gm">Le broyeur de terrain ne peut se Désagréger de nouveau avant [[/br 1d4 #Recharge de désagrégation]]{1d4 rounds}.</p>