Parent Name: Spider Swarm
Name: Swarming Bites
Nom: Nuée de morsures
État: officielle

------ Description (en) ------
<p>Each enemy in the spider swarm's space takes [[/r {1d4}[piercing]]]{1d4 piercing damage} with a @Check[type:reflex|dc:14|basic:true] save.</p>
<p data-visibility="gm">A creature that fails its save is exposed to spider swarm venom.</p>
------ Description (fr) ------
<p>Chaque ennemi dans l’espace de la nuée d’araignées subit [[/r {1d4}[piercing]]]{1d4 dégâts perforants} (jet de @Check[type:reflex|dc:14|basic:true]{Réflexes basique} DD 14).</p>
<p>Une créature qui rate son jet de sauvegarde est exposée au venin de nuée d’araignées.</p>