Parent Name: Mu Spore
Name: Fast Swallow
Nom: Gober rapidement
État: officielle

------ Description (en) ------
<p data-visibility="gm"><strong>Trigger</strong> The mu spore @Compendium[pf2e.conditionitems.kWc1fhmv9LBiTuei]{Grabs} a creature with its jaws.</p>
<p><strong>Effect</strong> The spore uses Swallow Whole.</p>
------ Description (fr) ------
<p data-visibility="gm"><strong>Déclencheur</strong> La spore de mu a @Compendium[pf2e.conditionitems.kWc1fhmv9LBiTuei]{Agrippé} une créature.</p> 
<p><strong>Effet</strong> La spore de mu utilise Gober</p>