Parent Name: Triceratops
Name: Vicious Gore
Nom: Éventration brutale
État: officielle

------ Description (en) ------
<p>A triceratops deals [[/r {2d6}[persistent,bleed]]] @Compendium[pf2e.conditionitems.lDVqvLKA6eF3Df60]{Persistent Bleed Damage} to @Compendium[pf2e.conditionitems.j91X7x0XSomq8d60]{Prone} targets it hits with its horns.</p>
------ Description (fr) ------
<p>Un tricératops inflige [[/r {2d6}[persistent,bleed]]] @Compendium[pf2e.conditionitems.lDVqvLKA6eF3Df60]{dégâts de saignement persistants} aux cibles @Compendium[pf2e.conditionitems.j91X7x0XSomq8d60]{À terre} qu’il frappe avec ses cornes.</p>