Parent Name: Mu Spore
Name: Grasping Tendrils
Nom: Vrilles collantes
État: libre

------ Description (en) ------
<p data-visibility="gm"><strong>Trigger</strong> A creature within 10 feet of the mu spore moves or attacks the mu spore.</p>
<p><strong>Effect</strong> The spore uses @Compendium[pf2e.bestiary-ability-glossary-srd.i18TlebMzwONyPhI]{Grab} on the triggering creature. There is no limit to how many creatures it can grab with the sticky tendrils that cover its body.</p>
------ Description (fr) ------
<p data-visibility="gm"><strong>Déclencheur</strong> Une créature située dans un rayon 3 m autour de la spore de mu ou qui attaque la spore de mu.</p>
<p><strong>Effet</strong> La spore utiliser @Compendium[pf2e.bestiary-ability-glossary-srd.i18TlebMzwONyPhI]{agrippe} sur la créature déclencheuse. Il n’y a pas de limite au nombre de créatures qu’elle peut empoigner avec les vrilles collants qui couvrent son corps.</p>