Parent Name: Crag Linnorm
Name: Breath Weapon
Nom: Arme de souffle
État: officielle

------ Description (en) ------
<p>The crag linnorm breathes out a stream of magma in a @Template[type:line|distance:120] that deals [[/r {12d6}[fire]]]{12d6 fire damage} to creatures within the area (@Check[type:reflex|dc:34|basic:true] save). Any creature that fails its save also takes [[/r {4d6}[persistent,fire]]] @Compendium[pf2e.conditionitems.lDVqvLKA6eF3Df60]{Persistent Fire Damage}.</p>
<p data-visibility="gm">The crag linnorm can't use Breath Weapon again for [[/br 1d4 #Recharge Breath Weapon]]{1d4 rounds}.</p>
<p>The magma remains until the start of the linnorm's next turn. If the linnorm was on the ground, the magma remains as a burning line on the ground directly under the line of the Breath Weapon, and if the linnorm was airborne, the magma rains downward in a sheet 60 feet high. Any creature that moves across or through the magma takes [[/r {6d6}[fire]]]{6d6 fire damage} (@Check[type:reflex|dc:34|basic:true] save). At the start of the linnorm's next turn, the magma cools to a thin layer of brittle stone on the ground, or the magma rain finishes falling and turns to harmless pebbles. The cooled magma quickly degrades to powder and sand over the course of several hours.</p>
------ Description (fr) ------
<p>Le linnorm des falaises projette un jet de magma sur une @Template[type:line|distance:120]{ligne de 36 m} qui inflige [[/r {12d6}[fire]]]{12d6 dégâts de feu} à toutes les créatures dans la zone (@Check[type:reflex|dc:34|basic:true]{Réflexes basique} DD 34). Chaque créature qui rate son jet de sauvegarde subit aussi [[/r {4d6}[persistent,fire]]] @Compendium[pf2e.conditionitems.lDVqvLKA6eF3Df60]{dégâts de feu persistants}.</p>
<p data-visibility="gm"> Le linnorm ne peut pas réutiliser son Souffle pendant 1d4 rounds.</p>
<p>Le magma persiste jusqu’au début du prochain tour du linnorm. Si le linnorm était au sol, le magma persiste à terre sous la forme d'une ligne brûlante directement sous la trajectoire du Souffle. Si le linnorm était dans les airs, le magma tombe comme un rideau de pluie de 18 m de haut. Toute créature qui traverse le magma subit [[/r {6d6}[fire]]]{6d6 dégâts de feu} (@Check[type:reflex|dc:34|basic:true]{Réflexes basique} DD 34). Au début du prochain tour du linnorm, le magma refroidit et forme une mince couche de roche friable au sol ou le rideau de pluie magmatique arrête de tomber et se change en graviers inoffensifs. Le magma refroidi se désagrège en sable et en poudre en quelques heures. </p>