Parent Name: Giant Mantis
Name: Deadly Mandibles
Nom: Mandibules redoutables
État: officielle

------ Description (en) ------
<p data-visibility="gm"><strong>Trigger</strong> The giant mantis @Compendium[pf2e.conditionitems.kWc1fhmv9LBiTuei]{Grabs} a creature with its leg.</p>
<p><strong>Effect</strong> The mantis pulls the creature adjacent to it, then makes a mandibles Strike against the creature.</p>
------ Description (fr) ------
<p data-visibility="gm"><strong>Déclencheur</strong> La mante géante @Compendium[pf2e.conditionitems.kWc1fhmv9LBiTuei]{Agrippe} une créature entre ses pattes.</p>
<p><strong>Effet</strong> La mante attire sa proie pour qu'elle lui soit adjacente et fait une Frappe de mandibules contre elle.</p>