Parent Name: Adamantine Golem
Name: Vent
Nom: Ventilation
État: officielle

------ Description (en) ------
<p>The golem vents a @Template[type:cone|distance:30]{30-foot cone} of superheated steam from its internal forge. This deals [[/r {15d6}[fire]]]{15d6 fire damage} to all creatures in the cone (@Check[type:reflex|dc:40|basic:true]).</p>
<p data-visibility="gm">The golem can't use Vent again for [[/br 1d6 #Vent Recharge]]{1d6 rounds}.</p>
------ Description (fr) ------
<p>Le golem ventile de la vapeur surchauffée de sa forge interne dans un @Template[type:cone|distance:30]{cône de 9 m}. Cela inflige [[/r {15d6}[fire]]]{15d6 dégâts de feu} à toutes les créatures dans le cône (@Check[type:reflex|dc:40|basic:true]{Réflexes basique} DD 40). Le golem ne peut utiliser une nouvelle fois Ventilation avant [[/br 1d6 #Vent Recharge]]{1d6 rounds}.</p>