Parent Name: Sea Devil Brute
Name: Bloodletting
Nom: Hémorragie
État: officielle

------ Description (en) ------
<p>When the sea devil deals piercing or slashing damage, it also deals [[/r {1d4}[persistent,bleed]]] @Compendium[pf2e.conditionitems.lDVqvLKA6eF3Df60]{Persistent Bleed Damage} if the target was @Compendium[pf2e.conditionitems.AJh5ex99aV6VTggg]{Flat-Footed} or if the attack was a critical hit.</p>
------ Description (fr) ------
<p>Quand le diable des mers inflige des dégâts perforants ou tranchants, il inflige également [[/r {1d4}[persistent,bleed]]] @Compendium[pf2e.conditionitems.lDVqvLKA6eF3Df60]{dégâts de saignement persistants} à sa cible si celle-ci était @Compendium[pf2e.conditionitems.AJh5ex99aV6VTggg]{Prise au dépourvu} ou si son attaque est un coup critique.</p>