Parent Name: Alghollthu Master
Name: Slime
Nom: Mucosité
État: officielle

------ Description (en) ------
<p><strong>Saving Throw</strong> @Check[type:fortitude|dc:25]</p>
<div data-visibility="gm"><hr />
<p><strong>Stage 1</strong> no ill effect (1 round)</p>
<p><strong>Stage 2</strong> the victim's skin softens, inflicting @Compendium[pf2e.conditionitems.4D2KBtexWXa6oUMR]{Drained 1} (1 round)</p>
<p><strong>Stage 3</strong> the victim's skin transforms into a clear, slimy membrane, inflicting @Compendium[pf2e.conditionitems.4D2KBtexWXa6oUMR]{Drained 2} until the curse ends; every hour this membrane remains dry, the creature's drained condition increases by 1 (permanent).</p>
<p>A <em>@Compendium[pf2e.spells-srd.RneiyehRO6f7LP44]{Remove Disease}</em> spell can counteract this curse, but immunity to disease offers no protection against it</p>
</div>
------ Description (fr) ------
<p><strong>Jet de sauvegarde</strong> @Check[type:fortitude|dc:25]{Vigueur} DD 25</p>
<div data-visibility="gm"><hr />
<p><strong>Stade 1</strong> aucun effet néfaste (1 round)</p>
<p><strong>Stade 2</strong> la peau de la victime se ramollit et elle subit l’état drainé 1 (1 round)</p>
<p><strong>Stade 3</strong> la peau de la victime se transforme en une membrane visqueuse et transparente et elle subit l’état drainé 2 jusqu’à ce que la malédiction soit levée ; à chaque heure que cette membrane reste sèche, l’état Drainé de la victime augmente de 1 point (permanent).</p>
<p>Un sort <em>@Compendium[pf2e.spells-srd.RneiyehRO6f7LP44]{Délivrance des maladies}</em> peut contrer cette malédiction mais une immunité contre les maladies ne permet pas de s’en prémunir.</p>