Parent Name: Adult Green Dragon
Name: Breath Weapon
Nom: Arme de souffle
État: officielle

------ Description (en) ------
<p>The dragon breathes a toxic cloud that deals [[/r {13d6}[poison]]]{13d6 poison damage} in a @Template[type:cone|distance:50]{50-foot cone} (@Check[type:fortitude|dc:31|basic:true] save).</p>
<p data-visibility="gm">It can't use Breath Weapon again for [[/br 1d4 #Recharge Breath Weapon]]{1d4 rounds}.</p>
------ Description (fr) ------
<p>Le dragon souffle un nuage toxique qui inflige [[/r {13d6}[poison]]]{13d6 dégâts de poison} dans un @Template[type:cone|distance:50]{cône de 15 m} (@Check[type:fortitude|dc:31|basic:true]{Vigueur basique} DD 31).</p>
<p data-visibility="gm">Il ne peut utiliser une nouvelle fois ce pouvoir avant [[/br 1d4 #Recharge Arme de souffle]]{1d4 rounds}.</p>