Parent Name: Gibbering Mouther
Name: Reactive Gnaw
Nom: Rongeur compulsif
État: officielle

------ Description (en) ------
<p data-visibility="gm"><strong>Trigger</strong> An adjacent creature deals the gibbering mouther slashing damage.</p>
<p><strong>Effect</strong> The gibbering mouther's wound opens into another maw. It makes a jaws Strike against the triggering creature.</p>
------ Description (fr) ------
<p data-visibility="gm"><strong>Déclencheur</strong> Une créature adjacente inflige des dégâts tranchants au babélien.</p>
<p><strong>Effet</strong> La plaie du babélien se mue en gueule. Elle fait une Frappe de mâchoires contre la créature ayant déclenché ce pouvoir.</p>