Parent Name: Ogre Boss
Name: Sweeping Hook
Nom: Balayage au crochet
État: officielle

------ Description (en) ------
<p data-visibility="gm"><strong>Trigger</strong> The ogre boss successfully @Compendium[pf2e.actionspf2e.ge56Lu1xXVFYUnLP]{Trips} a creature using an ogre hook.</p>
<p><strong>Effect</strong> The ogre boss makes an ogre hook Strike against the creature they tripped.</p>
------ Description (fr) ------
<p data-visibility="gm"><strong>Déclencheur</strong> Le boss réussit un @Compendium[pf2e.actionspf2e.ge56Lu1xXVFYUnLP]{Croc-en-jambe} avec un crochet d’ogre contre une créature.</p>
<p><strong>Effet</strong> L’ogre effectue une Frappe de crochet d’ogre contre la créature victime du Croc-en-jambe.</p>