Parent Name: Stone Mauler
Name: Spike Stones
Nom: Pointes de pierre
État: aucune

------ Description (en) ------
<p>@Template[type:emanation|distance:5]{5 feet} @Compendium[pf2e.bestiary-ability-glossary-srd.v61oEQaDdcRpaZ9X]{Aura}</p>
<hr />
<p>Spikes of rock rise up from all stone surfaces in the emanation, creating difficult terrain. A creature moving in the terrain takes [[/r {2d6}[piercing]]]{2d6 piercing damage} for each square of spikes it moves into (a Large or larger creature takes damage only once for each square it moves, even if its space covers multiple squares of spikes). Creatures with the earth trait ignore all effects within the area.</p>
<p>The stone mauler can disable or activate spike stones as a single action, which has the concentrate trait.</p>
------ Description (fr) ------
<p>@Compendium[pf2e.bestiary-ability-glossary-srd.v61oEQaDdcRpaZ9X]{Aura} de @Template[type:emanation|distance:5]{1,5 m} </p>
<hr />
<p>Des pointes de pierre jaillissent de toutes les surfaces en pierre situées dans l’émanation et créent un terrain difficile. Une créature qui se déplace sur ce terrain subit [[/r {2d6}[piercing]]]{2d6 dégâts perforants} par case avec des pointes dans laquelle il se déplace (une créature de taille au moins Grande ne subit des dégâts qu’une seule fois pour chaque case de déplacement même si elle couvre plusieurs cases avec des pointes en pierre). Les créatures avec le trait terre ignorent cet effet dans la zone affectée.</p>
<p>Le broyeur de pierre peut activer ou désactiver ces pointes de pierre avec une action unique qui a le trait concentration.</p>