Parent Name: Voidworm
Name: Confounding Lash
Nom: Flagellation déroutante
État: officielle

------ Description (en) ------
<p>A creature hit by the voidworm's tail Strike is @Compendium[pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Stupefied 1} for 1 round (@Compendium[pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Stupefied 2} on a critical failure). A successful @Check[type:will|dc:16] save negates this effect and grants temporary immunity to confounding lash for 1 minute.</p>
------ Description (fr) ------
<p> Une créature touchée par la Frappe de queue du ver du néant est @Compendium[pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Stupéfiée 1} pendant 1 round (@Compendium[pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Stupéfiée 2} sur un coup critique). Réussir un jet de @Check[type:will|dc:16]{Volonté} DD 16 permet d’annuler cet effet et octroie une immunité temporaire contre flagellation déroutante pendant 1 minute.</p>