Parent Name: Lich
Name: Paralyzing Touch
Nom: 
État: aucune

------ Description (en) ------
<p>A creature damaged by the lich's hand Strike must succeed at a @Check[type:fortitude|dc:32] save against the lich's spell DC-4.</p>
<p>The creature becomes @Compendium[pf2e.conditionitems.6uEgoh53GbXuHpTF]{Paralyzed} for 1 round on a failure. On a critical failure, the creature is paralyzed permanently, falls @Compendium[pf2e.conditionitems.j91X7x0XSomq8d60]{Prone}, and seems dead. A @Check[type:medicine|dc:25|name:Diagnose Paralysis|traits:arcane,curse,necromancy|overrideTraits:true] check reveals the victim is alive.</p>
------ Description (fr) ------
<p>Une créature qui subit des dégâts à cause de la Frappe de main de la liche doit réussir un jet de Vigueur contre le DD des sorts de la liche -4.</p>
<p>En cas d’échec, la créature est paralysée pendant 1 round. En cas d’échec critique, la créature est paralysée de manière permanente, tombe @Compendium[pf2e.conditionitems.j91X7x0XSomq8d60]{À terre} et semble morte. Un test de @Check[type:medicine|dc:25|name:Diagnose Paralysis|traits:arcane,curse,necromancy|overrideTraits:true]{Médecine} DD 25 permet de déterminer qu’elle est vivante.</p>