Parent Name: Goblin Warrior
Name: Goblin Scuttle
Nom: 
État: aucune

------ Description (en) ------
<p data-visibility="gm"><strong>Trigger</strong> A goblin ally ends a move action adjacent to the goblin.</p>
<p><strong>Effect</strong> The goblin @Compendium[pf2e.actionspf2e.UHpkTuCtyaPqiCAB]{Steps}.</p>
------ Description (fr) ------
<p><strong>Déclencheur</strong> Un allié d’un gobelin termine une action de déplacement adjacent au guerrier.</p>
<p><strong>Effet</strong> Le guerrier gobelin @Compendium[pf2e.actionspf2e.UHpkTuCtyaPqiCAB]{Fait un pas}.</p>