Parent Name: Guthallath
Name: Annihilation Beams
Nom: Rayons d'annihilation
État: officielle

------ Description (en) ------
<p>A guthallath releases two beams of destruction from its eyes. Each beam is a @Template[type:line|distance:120]. Everything in either line takes the effect of a hit from a 10th-level <em>@Compendium[pf2e.spells-srd.r7ihOgKv19eJQnik]{Disintegrate}</em> spell (@Check[type:fortitude|dc:41|basic:true|traits:attack,evocation,arcane]). There is no additional effect on creatures in any area where the beams overlap.</p>
<p data-visibility="gm">The guthallath can't use this ability again for [[/br 1d4 #Recharge Annihilation Beams]]{1d4 rounds}.</p>
------ Description (fr) ------
<p>Les yeux du guthallath projettent deux rayons de destruction. Chaque rayon est une @Template[type:line|distance:120]{ligne de 36 m}. Tout ce qui se trouve dans l’une ou l’autre ligne subit les effets d’un sort de <em>@Compendium[pf2e.spells-srd.r7ihOgKv19eJQnik]{Désintégration}</em> de niveau 10 (jet de @Check[type:fortitude|dc:41|basic:true|traits:attack,evocation,arcane]{Vigueur} DD 41). Dans les zones ou les rayons se superposent, les créatures ne subissent pas d’effets supplémentaires.</p> 
<p data-visibility="gm">Le guthallath ne peut utiliser une nouvelle fois cette capacité avant 1d4 rounds.</p>