Parent Name: Reefclaw
Name: Death Frenzy
Nom: Ultime frénésie
État: officielle

------ Description (en) ------
<p data-visibility="gm"><strong>Trigger</strong> The reefclaw is reduced to 0 Hit Points.</p>
<p><strong>Effect</strong> The reefclaw makes a claw Strike before dying.</p>
------ Description (fr) ------
<p data-visibility="gm"><strong>Déclencheur</strong> La pince des récifs est réduite à 0 points de vie.</p>
<p><strong>Effet</strong> La pince des récifs porte une Frappe de pince avant de mourir.</p>