Parent Name: Triceratops
Name: Frill Defense
Nom: Collerette défensive
État: officielle

------ Description (en) ------
<p data-visibility="gm"><strong>Trigger</strong> The rider is targeted with an attack.</p>
<p><strong>Requirements</strong> A creature must be mounted on the triceratops.</p>
<p><strong>Effect</strong> The triceratops intercepts the attack with its bony frill. The rider gains a +2 circumstance bonus to its AC against the triggering attack.</p>
------ Description (fr) ------
<p data-visibility="gm"><strong>Déclencheur</strong> Le cavalier est ciblé par une attaque.</p>
<p><strong>Conditions</strong> Une créature doit chevaucher le tricératops.</p>
<p><strong>Effet</strong> Le tricératops intercepte l’attaque avec sa collerette osseuse. Le cavalier bénéficie d’un bonus de circonstances de +2 à sa CA contre l’attaque qui déclenche l’effet.</p>