Parent Name: Ghast
Name: Stench
Nom: 
État: aucune

------ Description (en) ------
<p>@Template[type:emanation|distance:10]{10 feet} @Compendium[pf2e.bestiary-ability-glossary-srd.v61oEQaDdcRpaZ9X]{Aura}</p>
<hr />
<p>A creature entering the aura or starting its turn in the aura must succeed at a @Check[type:fortitude|dc:16] save or become @Compendium[pf2e.conditionitems.fesd1n5eVhpCSS18]{Sickened 1} (plus @Compendium[pf2e.conditionitems.xYTAsEpcJE1Ccni3]{Slowed 1} as long as it's sickened on a critical failure).</p>
<p>While within the aura, the creature takes a -2 circumstance penalty to saves against disease and to recover from the sickened condition. A creature that succeeds at its save is temporarily immune for 1 minute.</p>
<hr />
<p>@Compendium[pf2e.bestiary-effects.wX9L6fbqVMLP05hn]{Effect: Stench}</p>
------ Description (fr) ------
<p>@Compendium[pf2e.bestiary-ability-glossary-srd.v61oEQaDdcRpaZ9X]{Aura} de @Template[type:emanation|distance:10]{3 m}</p>
<hr />
<p>Une créature qui entre ou commence son tour dans l’aura doit réussir un jet de @Check[type:fortitude|dc:16]{Vigueur DD 16} ou devenir @Compendium[pf2e.conditionitems.fesd1n5eVhpCSS18]{Malade 1} (plus @Compendium[pf2e.conditionitems.xYTAsEpcJE1Ccni3]{Ralentie 1} tant qu’elle est malade en cas d’échec critique).</p>
<p>Tant qu’elle reste dans l’aura, la créature subit un malus de circonstances de -2 aux jets de sauvegarde contre les maladies et aux tentatives pour se débarrasser de l’état malade. Une créature qui réussit son jet de sauvegarde est temporairement immunisée pendant 1 minute.</p>
<hr />
<p>@Compendium[pf2e.bestiary-effects.wX9L6fbqVMLP05hn]{Effet : Puanteur}</p>