Parent Name: Ether Spider
Name: Web Burst
Nom: Salve de toiles
État: officielle

------ Description (en) ------
<p data-visibility="gm"><strong>Frequency</strong> once per day</p>
<p><strong>Effect</strong> The ether spider flings a gout of stored webs in a @Template[type:cone|distance:30]. These webs can pass between the Material Plane and the Ethereal Plane. Each creature in the area is @Compendium[pf2e.conditionitems.eIcWbB5o3pP6OIMe]{Immobilized}, as ethereal web trap, unless it succeeds at a @Check[type:reflex|dc:22] save.</p>
------ Description (fr) ------
<p data-visibility="gm"><strong>Fréquence</strong> une fois par jour</p>
<p><strong>Effet</strong> L’araignée de l’éther projette de la toile d’araignée dans un @Template[type:cone|distance:30]{cône de 9 m}. Ces toiles peuvent franchir la barrière entre le plan matériel et le plan éthéré. Chaque créature dans la zone d’effet est @Compendium[pf2e.conditionitems.eIcWbB5o3pP6OIMe]{Immobilisée}, comme avec le piège de toile éthérée, à moins de réussir un jet de @Check[type:reflex|dc:22]{Réflexes} DD 22.</p>