Parent Name: Ancient White Dragon
Name: Breath Weapon
Nom: Arme de souffle
État: aucune

------ Description (en) ------
<p>The dragon breathes a cloud of frost that deals [[/r {16d6}[cold]]]{16d6 cold damage} in a @Template[type:cone|distance:50]{50-foot cone} (@Check[type:reflex|dc:36|basic:true] save).</p>
<p data-visibility="gm">It can't use Breath Weapon again for [[/br 1d4 #Recharge Breath Weapon]]{1d4 rounds}.</p>
------ Description (fr) ------
<p>Le dragon souffle un nuage de froid qui inflige [[/r {16d6}[cold]]]{16d6 dégâts de froid} dans un @Template[type:cone|distance:50]{cône de 15 m} (jet de @Check[type:reflex|dc:36|basic:true]{Réflexes basique} DD 36).</p>
<p data-visibility="gm">Il ne peut utiliser une nouvelle fois ce pouvoir avant [[/br 1d4 #Recharge arme de souffle]]{1d4 rounds}.</p>