Parent Name: Winter Wolf
Name: Breath Weapon
Nom: Arme de souffle
État: officielle

------ Description (en) ------
<p>The winter wolf breathes a cloud of frost in a @Template[type:cone|distance:15] that deals [[/r {5d8}[cold]]]{5d8 cold damage} (@Check[type:reflex|dc:23|basic:true] save).</p>
<p data-visibility="gm">The winter wolf can't use Breath Weapon again for [[/br 1d4 #Recharge Breath Weapon]]{1d4 rounds}.</p>
------ Description (fr) ------
<p>Le loup arctique souffle un nuage de froid qui inflige 5d8 dégâts de froid dans un @Template[type:cone|distance:15]{cône de 4,5 m} (@Check[type:reflex|dc:23|basic:true]{Réflexes basique} DD 23).</p>
<p data-visibility="gm">Le loup ne peut utiliser une nouvelle fois son Souffle avant [[/br 1d4 #Recharge arme de souffle]]{1d4 rounds}.</p>