Parent Name: Kapoacinth
Name: Clawed Feet
Nom: Patte griffue
État: officielle

------ Description (en) ------
<p data-visibility="gm"><strong>Trigger</strong> The gargoyle is Swimming, and a creature moves into an adjacent square below it.</p>
<p><strong>Effect</strong> The gargoyle makes a claw Strike against the triggering creature.</p>
------ Description (fr) ------
<p data-visibility="gm"><strong>Déclencheur</strong> La gargouille Vole et une créature se déplace dans une case adjacente sous la gargouille.</p>
<p><strong>Effet</strong> La gargouille effectue une Frappe de griffe contre la créature ayant déclenché ce pouvoir.</p>