Parent Name: Cyclops
Name: Flash of Insight
Nom: Intuition fulgurante
État: officielle

------ Description (en) ------
<div data-visibility="gm">
<p><strong>Frequency</strong> once per day.</p>
<p><strong>Trigger</strong> The cyclops is about to roll a d20.</p>
</div>
<p><strong>Effect</strong> The cyclops peers into an occluded spectrum of possible futures. It gets a success (but not a critical success) on the roll instead of rolling.</p>
------ Description (fr) ------
<div data-visibility="gm">
<p><strong>Fréquence</strong> une fois par jour</p>
<p><strong>Déclencheur</strong> Le cyclope est sur le point de lancer 1d20.</p>
</div>
<p><strong>Effet</strong> Le cyclope entraperçoit un éventail d’avenirs possibles. Au lieu de lancer le dé, il obtient un succès (mais pas un succès critique).</p>