Parent Name: Rune Giant
Name: Attack of Opportunity
Nom: Attaque d'opportunité
État: officielle

------ Description (en) ------
<div data-visibility="gm">
<p>The rune giant gains an additional reaction at the beginning of each of its turns that it can only use for an Attack of Opportunity.</p>
<hr /></div>
<p>@Localize[PF2E.NPC.Abilities.Glossary.AttackOfOpportunity]</p>
------ Description (fr) ------
<div data-visibility="gm">
<p>Le géant des runes obtient une réaction supplémentaire au début de chacun de ses tours qu’il ne peut utiliser que pour faire une Attaque d’opportunité.</p>
<hr /></div>
<p>@Localize[PF2E.NPC.Abilities.Glossary.AttackOfOpportunity]</p>