Parent Name: Hunting Spider
Name: Hunting Spider Venom
Nom: Venin d'araignée chasseuse
État: officielle

------ Description (en) ------
<p><strong>Saving Throw</strong> @Check[type:fortitude|dc:16]</p>
<div data-visibility="gm">
<p><strong>Maximum Duration</strong> 6 rounds</p>
<p><strong>Stage 1</strong> [[/r {1d10}[poison]]]{1d10 poison damage} and @Compendium[pf2e.conditionitems.AJh5ex99aV6VTggg]{Flat-Footed} (1 round)</p>
<p><strong>Stage 2</strong> [[/r {1d12}[poison]]]{1d12 poison damage}, @Compendium[pf2e.conditionitems.i3OJZU2nk64Df3xm]{Clumsy 1}, and flat-footed (1 round)</p>
<p><strong>Stage 3</strong> [[/r {2d6}[poison]]]{2d6 poison damage}, @Compendium[pf2e.conditionitems.i3OJZU2nk64Df3xm]{Clumsy 2}, and flat-footed (1 round)</p>
</div>
------ Description (fr) ------
<p><strong>Jet de sauvegarde</strong> @Check[type:fortitude|dc:16]{Vigueur} DD 16</p>
<div data-visibility="gm">
<p><strong>Durée maximale</strong> 6 rounds</p>
<p><strong>Stade 1</strong> [[/r {1d10}[poison]]]{1d10 dégâts de poison} et @Compendium[pf2e.conditionitems.AJh5ex99aV6VTggg]{Pris au dépourvu} (1 round)</p>
<p><strong>Stade 2</strong> [[/r {1d12}[poison]]]{1d12 dégâts de poison}, @Compendium[pf2e.conditionitems.i3OJZU2nk64Df3xm]{Maladroit 1} et Pris au dépourvu (1 round)</p>
<p><strong>Stade 3</strong> [[/r {2d6}[poison]]]{2d6 dégâts de poison}, @Compendium[pf2e.conditionitems.i3OJZU2nk64Df3xm]{Maladroit 2} et Pris au dépourvu (1 round)</p>
</div>