Parent Name: Dero Stalker
Name: Sneak Attack
Nom: Attaque sournoise
État: officielle

------ Description (en) ------
<p>A dero stalker deals [[/r {1d6}[precision]]]{1d6 extra precision damage} to flat-footed creatures.</p>
<hr />
<p>@Localize[PF2E.NPC.Abilities.Glossary.SneakAttack]</p>
------ Description (fr) ------
<p>Le traqueur dero inflige [[/r {1d6}[precision]]]{1d6 dégâts de précision} supplémentaires aux créatures prises au dépourvu.</p>
<hr />
<p>@Localize[PF2E.NPC.Abilities.Glossary.SneakAttack]</p>