Parent Name: Grim Reaper
Name: Lurking Death
Nom: Mort qui rôde
État: officielle

------ Description (en) ------
<p data-visibility="gm"><strong>Trigger</strong> A creature within 100 feet makes a ranged attack or uses an action that has the concentrate, manipulate, or move trait.</p>
<p><strong>Effect</strong> The grim reaper teleports to a square adjacent to the triggering creature and makes a melee Strike against it. If the Strike hits, the grim reaper disrupts the triggering action.</p>
------ Description (fr) ------
<p data-visibility="gm"><strong>Déclencheur</strong> Une créature dans un rayon de 30 m effectue une attaque à distance ou utilise une action qui a le trait concentration, manipulation ou déplacement.</p>
<p><strong>Effet</strong> La Faucheuse se téléporte dans une case adjacente à la créature ayant déclenché cet effet et effectue une Frappe au corps-à-corps contre elle. Si sa Frappe touche, la faucheuse interrompt l’action.</p>