Parent Name: Reefclaw
Name: Constrict
Nom: Constriction
État: aucune

------ Description (en) ------
<p>[[/r {1d6}[bludgeoning]]]{1d6 bludgeoning}, @Check[type:fortitude|dc:17|basic:true]</p>
<hr />
<p>@Localize[PF2E.NPC.Abilities.Glossary.Constrict]</p>
------ Description (fr) ------
<p>[[/r {1d6}[bludgeoning]]]{1d6 dégâts contondants}, @Check[type:fortitude|dc:17|basic:true]{Vigueur basique} DD 17</p>
<hr />
<p>@Localize[PF2E.NPC.Abilities.Glossary.Constrict]</p>