Parent Name: Elemental Inferno
Name: Smoke Vision
Nom: Vision dans la fumée
État: officielle

------ Description (en) ------
<p>The elemental inferno ignores the @Compendium[pf2e.conditionitems.DmAIPqOBomZ7H95W]{Concealed} condition from smoke.</p>
------ Description (fr) ------
<p>Le brasier élémentaire ignore l’état @Compendium[pf2e.conditionitems.DmAIPqOBomZ7H95W]{Masqué} à cause de la fumée.</p>