Parent Name: Lich
Name: Counterspell
Nom: Contresort
État: officielle

------ Description (en) ------
<p data-visibility="gm"><strong>Trigger</strong> A creature casts a spell the lich has prepared.</p>
<p><strong>Effect</strong> The lich expends a prepared spell to counter the triggering creature's casting of that same spell. The lich loses its spell slot as if it had cast the triggering spell. The lich then attempts to counteract the triggering spell.</p>
------ Description (fr) ------
<p data-visibility="gm"><strong>Déclencheur</strong> Une créature lance un sort que la liche a préparé.</p>
<p><strong>Effet</strong> La liche dépense un sort préparé pour contrer l’incantation du même sort lancé par la créature déclencheur. Elle perd son emplacement de sort comme si elle avait lancé le sort déclencheur. Puis la liche tente de contrer le sort déclencheur.</p>