Parent Name: Ofalth
Name: Putrid Stench
Nom: 
État: aucune

------ Description (en) ------
<p>@Template[type:emanation|distance:30]{30 feet} @Compendium[pf2e.bestiary-ability-glossary-srd.v61oEQaDdcRpaZ9X]{Aura}</p>
<hr />
<p>A creature entering the aura must succeed at a @Check[type:fortitude|dc:28] save or become @Compendium[pf2e.conditionitems.fesd1n5eVhpCSS18]{Sickened 1} until the end of its turn (plus @Compendium[pf2e.conditionitems.xYTAsEpcJE1Ccni3]{Slowed 1} for as long as it is sickened on a critical failure). While within the aura, an affected creature takes a -2 circumstance penalty to saves against disease and to recover from the sickened condition. A creature that succeeds at its save is temporarily immune for 1 minute.</p>
<hr />
<p>@Compendium[pf2e.bestiary-effects.wX9L6fbqVMLP05hn]{Effect: Stench}</p>
------ Description (fr) ------
<p>@Compendium[pf2e.bestiary-ability-glossary-srd.v61oEQaDdcRpaZ9X]{Aura} de @Template[type:emanation|distance:30]{9 m}</p>
<hr />
<p>Une créature pénétrant dans l’aura doit réussir un jet de @Check[type:fortitude|dc:28]{Vigueur} DD 28 ou être @Compendium[pf2e.conditionitems.fesd1n5eVhpCSS18]{Malade 1} jusqu’à la fin de son tour (plus @Compendium[pf2e.conditionitems.xYTAsEpcJE1Ccni3]{Ralentie 1} tant qu’elle est malade en cas d’échec critique). Tant qu’elle reste dans l’aura, la créature subit un malus de circonstances de -2 aux jets de sauvegarde contre les maladies et aux tentatives pour se débarrasser de l’état malade. Une créature qui réussit son jet de sauvegarde est temporairement immunisée pendant 1 minute.</p>
<hr />
<p>@Compendium[pf2e.bestiary-effects.wX9L6fbqVMLP05hn]{Effet : Puanteur}</p>