Parent Name: Adult White Dragon (Spellcaster)
Name: Shape Ice
Nom: Façonner la glace
État: officielle

------ Description (en) ------
<p>The dragon reshapes a cube of ice or snow it touches, up to 10 feet across. Any creature standing atop the ice must succeed at a @Check[type:reflex|dc:15] save or @Check[type:acrobatics|dc:15] check.</p>
<p data-visibility="gm">On a failure, the creature falls @Compendium[pf2e.conditionitems.j91X7x0XSomq8d60]{Prone} atop the ice; on a critical failure, it falls off the ice entirely and is also prone.</p>
------ Description (fr) ------
<p>Le dragon modifie la forme d’un cube de glace ou de neige de 3 m d’arête. Toute créature qui se tient sur la glace doit réussir un jet de @Check[type:reflex|dc:15]{Réflexes} ou un test d’@Check[type:acrobatics|dc:15]{Acrobaties} DD 15.</p>
<p data-visibility="gm">En cas d’échec, la créature tombe @Compendium[pf2e.conditionitems.j91X7x0XSomq8d60]{à terre} sur la glace ; en cas d’échec critique, elle tombe du cube et elle est aussi à terre.</p>