Parent Name: Xulgath Skulker
Name: Sneak Attack
Nom: Attaque sournoise
État: officielle

------ Description (en) ------
<p>A xulgath skulker deals an additional [[/r {1d6}[precision]]]{1d6 precision damage} to flat‑footed creatures.</p>
<hr />
<p>@Localize[PF2E.NPC.Abilities.Glossary.SneakAttack]</p>
------ Description (fr) ------
<p>Le vadrouilleur xulgath inflige [[/r {1d6}[precision]]]{1d6 dégâts de précision} supplémentaires aux créatures prises au dépourvu.</p>
<hr />
<p>@Localize[PF2E.NPC.Abilities.Glossary.SneakAttack]</p>