Parent Name: Crimson Worm
Name: Breath Weapon
Nom: Arme de souffle
État: officielle

------ Description (en) ------
<p>The crimson worm breathes a blast of flame in a @Template[type:cone|distance:60] that deals [[/r {18d6}[fire]]]{18d6 fire damage} to all creatures in the area (@Check[type:reflex|dc:41|basic:true] save).</p>
<p data-visibility="gm">It can't use Breath Weapon again for [[/br 1d4 #rounds]]{1d4 rounds}.</p>
------ Description (fr) ------
<p>Le ver écarlate projette un souffle de feu dans un @Template[type:cone|distance:60]{cône de 18 m} qui inflige [[/r {18d6}[fire]]]{18d6 dégâts de feu} à toutes les créatures dans la zone (@Check[type:reflex|dc:41|basic:true]{Réflexes basique} DD 41).</p>
<p data-visibility="gm">Il ne peut utiliser une nouvelle fois ce pouvoir avant [[/br 1d4 #rounds]]{1d4 rounds}.</p>