Parent Name: Kraken
Name: Ink Cloud
Nom: Nuage d'encre
État: officielle

------ Description (en) ------
<p>The kraken emits a cloud of black, venomous ink in an @Template[type:emanation|distance:80]. This cloud has no effect outside water. Creatures inside the ink cloud are exposed to kraken ink poison and are @Compendium[pf2e.conditionitems.VRSef5y1LmL2Hkjf]{Undetected} while inside the cloud.</p>
<p data-visibility="gm">The kraken can't use Ink Cloud again for [[/br 2d6 #Recharge Ink Cloud]]{2d6 rounds}, and the cloud dissipates after 1 minute.</p>
------ Description (fr) ------
<p>Le kraken libère un nuage d’encre noire et empoisonnée dans une @Template[type:emanation|distance:80]{émanation de 24 m}. Ce nuage n’a aucun effet en dehors de l’eau. Les créatures prises dans le nuage d’encre sont exposées au poison de l’encre du kraken et sont @Compendium[pf2e.conditionitems.VRSef5y1LmL2Hkjf]{Non détectées} tant qu’elles se trouvent dedans.</p>
<p data-visibility="gm">Le kraken ne peut utiliser une nouvelle fois son Nuage d’encre avant [[/br 2d6 #Recharge nuage d'encre]]{2d6 rounds} et le nuage se dissipe après 1 minute.</p>