Parent Name: Winter Wolf
Name: Avenging Bite
Nom: Morsure vengeresse
État: officielle

------ Description (en) ------
<p data-visibility="gm"><strong>Trigger</strong> A creature within reach of the winter wolf's jaws attacks one of the winter wolf's allies.</p>
<p><strong>Effect</strong> The winter wolf makes a jaws Strike against the triggering creature.</p>
------ Description (fr) ------
<p data-visibility="gm"><strong>Déclencheur</strong> Une créature à portée des mâchoires du loup arctique attaque un allié de celui-ci.</p>
<p><strong>Effet</strong> Le loup arctique effectue une Frappe de mâchoires contre la créature ayant déclenché cette capacité.</p>