Parent Name: Iron Golem
Name: Breath Weapon
Nom: Arme de souffle
État: officielle

------ Description (en) ------
<p>The iron golem exhales poisonous gas in a @Template[type:burst|distance:10]{10-foot radius} centered on the corner of one of the iron golem's squares.</p>
<div data-visibility="gm">
<p>The gas persists for 1 round. Any creature in the area (or that later enters the area) is exposed to the iron golem's poison.</p>
<p>The golem can't use its Breath Weapon again for [[/br 1d4 #Breath Weapon Recharge]]{1d4 rounds}.</p>
</div>
------ Description (fr) ------
<p>Le golem de fer exhale un gaz empoisonné dans un @Template[type:burst|distance:10]{rayon de 3 m} centré sur l’un des angles d’une des cases qu’il occupe.</p>
<div data-visibility="gm">
<p>Le gaz persiste pendant 1 round. Toute créature dans la zone d’effet (ou qui y pénètre) est exposée au poison du golem de fer.</p>
<p>Le golem ne peut utiliser une nouvelle fois son Souffle avant [[/br 1d4 #Recharge de son arme de souffle]]{1d4 rounds}.</p>
</div>