Parent Name: Ancient Copper Dragon (Spellcaster)
Name: Breath Weapon
Nom: Arme de souffle
État: libre

------ Description (en) ------
<p>The copper dragon breathes in one of two ways.</p>
<p data-visibility="gm">The dragon can't use Breath Weapon again for [[/br 1d4 #Recharge Breath Weapon]]{1d4 rounds}.</p>
<ul>
<li><strong>Acid</strong> The dragon breathes acid in a @Template[type:line|distance:100|traits:acid,arcane,evocation,damaging-effect] that deals [[/r {18d6}[acid]]]{18d6 acid damage} (@Check[type:reflex|dc:38|basic:true] save).</li>
<li><strong>Slowing Gas</strong> The dragon breathes a @Template[type:line|distance:100|traits:arcane,transmutation] of slowing gas. Each creature in the area must succeed at a @Check[type:fortitude|dc:38] save<span data-visibility="gm"> or be @Compendium[pf2e.conditionitems.xYTAsEpcJE1Ccni3]{Slowed 1} for 1 round (or @Compendium[pf2e.conditionitems.xYTAsEpcJE1Ccni3]{Slowed 2} on a critical failure)</span>.</li>
</ul>
------ Description (fr) ------
<p>Le dragon de cuivre peut souffler de deux manières différentes. .</p>
<p data-visibility="gm"> Le dragon ne peut utiliser une nouvelle fois son Souffle avant [[/br 1d4 #Recharge arme de souffle]]{1d4 rounds}.</p>
<ul>
<li><strong>Acide</strong> Le dragon souffle de l’acide dans une @Template[type:line|distance:100|traits:acid,arcane,evocation,damaging-effect]{ligne de 30 m} qui inflige [[/r {18d6}[acid]]]{18d6 dégâts d'acide} (@Check[type:reflex|dc:38|basic:true]{Réflexes basique} DD 38).</li>
<li><strong>Gaz ralentissant</strong>  Le dragon souffle un gaz ralentissant dans une @Template[type:line|distance:100|traits:arcane,transmutation]{ligne de 30 m}. Chaque créature dans la zone d’effet doit réussir un jet de @Check[type:fortitude|dc:38]{Vigueur} DD 38<span data-visibility="gm"> ou être @Compendium[pf2e.conditionitems.xYTAsEpcJE1Ccni3]{Ralenti 1} pendat 1 round (ou @Compendium[pf2e.conditionitems.xYTAsEpcJE1Ccni3]{Ralenti 2} en cas d'échec critique)</span>.</li>
</ul>