Parent Name: Imp
Name: Imp Venom
Nom: Venin de diablotin
État: officielle

------ Description (en) ------
<p><strong>Saving Throw</strong> @Check[type:fortitude|dc:16]</p>
<hr />
<p><strong>Maximum Duration</strong> 6 rounds</p>
<p><strong>Stage 1</strong> [[/r {1d6}[poison]]]{1d6 poison damage} and @Compendium[pf2e.conditionitems.i3OJZU2nk64Df3xm]{Clumsy 1} (1 round)</p>
<p><strong>Stage 2</strong> [[/r {1d6}[poison]]]{1d6 poison damage}, clumsy 1, and @Compendium[pf2e.conditionitems.xYTAsEpcJE1Ccni3]{Slowed 1} (1 round)</p>
------ Description (fr) ------
<p><strong>Jet de sauvegarde</strong> @Check[type:fortitude|dc:16]{Vigueur} DD 16</p>
<hr />
<p><strong>Durée maximale</strong> 6 rounds</p>
<p><strong>Stade 1</strong> [[/r {1d6}[poison]]]{1d6 dégâts de poison} et @Compendium[pf2e.conditionitems.i3OJZU2nk64Df3xm]{Maladroit 1} (1 round)</p>
<p><strong>Stade 2</strong> [[/r {1d6}[poison]]]{1d6 dégâts de poison}, Maladroit 1 et @Compendium[pf2e.conditionitems.xYTAsEpcJE1Ccni3]{Ralenti 1} (1 round)</p>