Parent Name: Ghast
Name: Ghast Fever
Nom: Fièvre des blêmes
État: oficielle

------ Description (en) ------
<p><strong>Saving Throw</strong> @Check[type:fortitude|dc:16]</p>
<hr />
<p><strong>Stage 1</strong> carrier with no ill effect (1 day)</p>
<p><strong>Stage 2</strong> [[/r {3d8}[negative]]]{3d8 negative damage} and regains half as many Hit Points from all healing (1 day)</p>
<p><strong>Stage 3</strong> as stage 2 (1 day)</p>
<p><strong>Stage 4</strong> [[/r {3d8}[negative]]]{3d8 negative damage} and gains no benefit from healing (1 day)</p>
<p><strong>Stage 5</strong> as stage 4 (1 day)</p>
<p><strong>Stage 6</strong> dead, and rises as a @Compendium[pf2e.pathfinder-bestiary.VC7rtYR4hLxwg7WZ]{Ghast} the next midnight</p>
------ Description (fr) ------
<p><strong>Jet de sauvegarde</strong> @Check[type:fortitude|dc:16]{Vigueur} DD 16</p>
<hr />
<p><strong>Stade 1</strong> porteur sain (1 jour)</p>
<p><strong>Stade 2</strong> [[/r {3d8}[negative]]]{3d8 dégâts négatifs} et regagne la moitié des points de vie de tous les soins (1 jour)</p>
<p><strong>Stade 3</strong> comme au stade 2 (1 jour)</p>
<p><strong>Stade 4</strong> [[/r {3d8}[negative]]]{3d8 dégâts négatifs} et n'obtient aucun avantage en cas de soins (1 jour)</p>
<p><strong>Stade 5</strong> comme stade 4 (1 jour)</p>
<p><strong>Stade 6</strong> mort et se relève comme une @Compendium[pf2e.pathfinder-bestiary.VC7rtYR4hLxwg7WZ]{Blême} au prochain minuit</p>
