Parent Name: Sea Serpent
Name: Constrict
Nom: Constriction
État: officielle

------ Description (en) ------
<p>[[/r {1d10+14}[bludgeoning]]]{1d10+14 bludgeoning}</p>
<p><em>Note: Paizo did not provide a listed DC for this ability. The suggested DC to use per the GMG is @Check[type:fortitude|dc:32|basic:true]</em></p>
<hr />
<p>@Localize[PF2E.NPC.Abilities.Glossary.Constrict]</p>
------ Description (fr) ------
<p>[[/r {1d10+14}[bludgeoning]]]{1d10+14 dégâts contondants}</p>
<p><em>Note : Paizo n'a pas fourni le DD correspondant à cette capacité. Le GM suggère d'utiliser un jet de @Check[type:fortitude|dc:32|basic:true]{Vigueur basique} DD 32</em></p>
<hr />
<p>@Localize[PF2E.NPC.Abilities.Glossary.Constrict]</p>