Parent Name: Dezullon
Name: Constrict
Nom: Constriction
État: aucune

------ Description (en) ------
<p>[[/r {2d6+2}[bludgeoning]]]{2d6+2 bludgeoning damage}</p>
<p><em>Note: Paizo did not provide a listed DC for this ability. The suggested DC to use per the GMG is @Check[type:fortitude|dc:27|basic:true]</em></p>
<hr />
<p>@Localize[PF2E.NPC.Abilities.Glossary.Constrict]</p>
------ Description (fr) ------
<p>[[/r {2d6+2}[bludgeoning]]]{2d6+2 dégâts contondants}</p>
<p><em>Note : Paizo n'a pas indiqué de DD pour cette capacité. Le DD suggéré par le Guide du Maître est @Check[type:fortitude|dc:27|basic:true]{Vigueur} DD 27</em></p>
<hr />
<p>@Localize[PF2E.NPC.Abilities.Glossary.Constrict]</p>