Parent Name: Sea Devil Brute
Name: Blood Frenzy
Nom: Frénésie du sang
État: officielle

------ Description (en) ------
<div data-visibility="gm">
<p><strong>Requirements</strong> The sea devil is not @Compendium[pf2e.conditionitems.HL2l2VRSaQHu9lUw]{Fatigued} or already in a frenzy</p>
<p><strong>Trigger</strong> The sea devil deals bleed damage to a living creature.</p>
</div>
<p><strong>Effect</strong> The sea devil flies into a frenzy that lasts 1 minute. While frenzied, the sea devil gains a +1 status bonus to attack rolls with its claws and jaws, gains a +4 status bonus to damage rolls with its claws and jaws, gains 11 temporary HP until the end of the frenzy, and takes a -2 status penalty to AC. The sea devil can't voluntarily stop its frenzy. After its frenzy, the sea devil is @Compendium[pf2e.conditionitems.HL2l2VRSaQHu9lUw]{Fatigued}.</p>
<hr />
<p>@Compendium[pf2e.bestiary-effects.ScZ8tlV5zS0Jwnqn]{Effect: Blood Frenzy}</p>
------ Description (fr) ------
<p><strong>Conditions</strong> Le diable des mers n’est pas fatigué ou déjà frénétique.</p>
<p><strong>Déclencheur</strong> Le diable des mers inflige des dégâts de saignement à une créature vivante.</p>
<p><strong>Effet</strong> Le diable des mers est pris de frénésie pendant 1 minute. Tant qu’il est frénétique, le diable des mers gagne un bonus de statut de +1 à ses jets d’attaque avec ses griffes et ses mâchoires, un bonus de statut de +4 à ses jets de dégâts avec ses griffes et ses mâchoires, 11 PV temporaires et un malus de statut de -2 à sa CA. Le diable des mers ne peut pas volontairement mettre fin à sa frénésie. Une fois qu’il a quitté l’état frénétique, le diable des mers est @Compendium[pf2e.conditionitems.HL2l2VRSaQHu9lUw]{Fatigué}.</p>
<hr />
<p>@Compendium[pf2e.bestiary-effects.ScZ8tlV5zS0Jwnqn]{Effet : Frénésie du sang}</p>