Parent Name: Azure Worm
Name: Fast Swallow
Nom: Gober rapidement
État: officielle

------ Description (en) ------
<p data-visibility="gm"><strong>Trigger</strong> The worm @Compendium[pf2e.conditionitems.kWc1fhmv9LBiTuei]{Grabs} a creature.</p>
<p><strong>Effect</strong> The worm uses Swallow Whole.</p>
------ Description (fr) ------
<p data-visibility="gm"><strong>Déclencheur</strong> Le ver a @Compendium[pf2e.conditionitems.kWc1fhmv9LBiTuei]{Agrippé} une créature.</p> 
<p><strong>Effet</strong> Le ver utilise Gober</p>