Parent Name: Rune Giant
Name: Invoke Rune
Nom: 
État: aucune

------ Description (en) ------
<p>The rune giant invokes one of the runes on its body, causing the rune to spray forth a @Template[type:cone|distance:30|damaging:yes]{30-foot cone} of sparks that deals [[/r {6d12}[electricity]]]{6d12 electricity damage} to all creatures in the cone (@Check[type:reflex|dc:37|basic:true] save).</p>
<div data-visibility="gm">
<p>A glowing copy of the invoked rune appears on a single weapon the giant holds, granting the weapon one effect listed below of the giant's choice.</p>
<p>The giant can't use Invoke Rune again for [[/br 1d4 #rounds]]{1d4 rounds}. The effect on the weapon lasts for 1 minute. If the giant places a new rune on a weapon, any previously placed rune immediately vanishes, ending its effect.</p>
<ul>
<li><strong>Rune of Destruction</strong> The weapon gains the deadly trait with three weapon damage dice of the same die size as for the base weapon, and a creature hit with the weapon is @Compendium[pf2e.conditionitems.4D2KBtexWXa6oUMR]{Drained 1} unless it succeeds at a @Check[type:fortitude|dc:35|name:Rune of Destruction] save.</li>
<li><strong>Rune of Flames</strong> The weapon deals an additional [[/r {3d6}[fire]]]{3d6 fire damage} on all attacks.</li>
<li><strong>Rune of Smiting</strong> When the weapon hits, the giant can Push the target back 10 feet, or 20 feet on a critical hit.</li>
</ul>
<hr />
<p>@Compendium[pf2e.bestiary-effects.svXRrZvixRInmabj]{Effect: Rune of Destruction (Greatsword)}</p>
<p>@Compendium[pf2e.bestiary-effects.vJAHjBoEuFKGQoGs]{Effect: Rune of Destruction (Longspear)}</p>
<p>@Compendium[pf2e.bestiary-effects.vbxcQIjLVWa43sdt]{Effect: Rune of Destruction (Rock)}</p>
<p>@Compendium[pf2e.bestiary-effects.zBQM4rzLfkLzpET6]{Effect: Rune of Flames (Greatsword)}</p>
<p>@Compendium[pf2e.bestiary-effects.0ifqiVhhKULXJyf9]{Effect: Rune of Flames (Longspear)}</p>
<p>@Compendium[pf2e.bestiary-effects.3QUaxNvpHDmf9cTo]{Effect: Rune of Flames (Rock)}</p>
<p>@Compendium[pf2e.bestiary-effects.VAy6IZ0ck7ALVL4b]{Effect: Rune of Smiting (Greatsword)}</p>
<p>@Compendium[pf2e.bestiary-effects.Y5vsF5Kb8oNIccWo]{Effect: Rune of Smiting (Longspear)}</p>
<p>@Compendium[pf2e.bestiary-effects.bV70ZxnUAoYnfXaZ]{Effect: Rune of Smiting (Rock)}</p>
</div>
------ Description (fr) ------
<p>Le géant des runes invoque l’une des runes sur son corps pour qu’elle projette un @Template[type:cone|distance:30|damaging:yes]{cône de 9 m} d’étincelles qui inflige [[/r {6d12}[electricity]]]{6d12 dégâts d’électricité} à toutes les créatures dans le cône (jet de @Check[type:reflex|dc:37|basic:true]{Réflexes basique} DD 37).
<div data-visibility="gm">
<p>Une réplique luisante de la rune invoquée apparaît sur l’une des armes que tient le géant. Elle lui confère un effet choisi par le géant parmi ceux de la liste suivante.</p>
<p>Le géant doit attendre [[/br 1d4 #rounds]]{1d4 rounds} avant de pouvoir de nouveau Invoquer une rune. L’effet sur l’arme dure 1 minute. Si le géant place une nouvelle rune sur l’arme, toute rune précédemment placée disparaît immédiatement, ce qui met fin à son effet.</p>
<ul>
<li><strong>Rune de choc</strong> Quand l'arme touche, le géant peut Bousculer la cible de 3 m ou de 6 m sur un coup critique.</li>
<li><strong>Rune de destruction</strong> L’arme obtient le trait mortel avec trois 
dés de dégâts d’arme du même type que ceux de l’arme de base et une créature touchée par l’arme est @Compendium[pf2e.conditionitems.4D2KBtexWXa6oUMR]{Drainée 1} à moins qu’elle ne réussisse un jet de @Check[type:fortitude|dc:35|name:Rune de destruction]{Vigueur} DD 35.</li>
<li><strong>Rune de flammes</strong> L'arme inflige [[/r {3d6}[fire]]]{3d6 dégâts de feu} supplémentaires sur toutes ses attaques.</li>
</ul>
<hr />
<p>@Compendium[pf2e.bestiary-effects.VAy6IZ0ck7ALVL4b]{Effet : Rune de choc (épée à deux mains)}</p>
<p>@Compendium[pf2e.bestiary-effects.Y5vsF5Kb8oNIccWo]{Effet : Rune de choc (pique)}</p>
<p>@Compendium[pf2e.bestiary-effects.bV70ZxnUAoYnfXaZ]{Effect: Rune de choc (rocher)}</p>
<p>@Compendium[pf2e.bestiary-effects.svXRrZvixRInmabj]{Effet : Rune de destruction (épée à deux mains)}</p>
<p>@Compendium[pf2e.bestiary-effects.vJAHjBoEuFKGQoGs]{Effet : Rune de destruction (pique)}</p>
<p>@Compendium[pf2e.bestiary-effects.vbxcQIjLVWa43sdt]{Effet : Rune de destruction (rocher)}</p>
<p>@Compendium[pf2e.bestiary-effects.zBQM4rzLfkLzpET6]{Effet : Rune de flammes (épée à deux mains)}</p>
<p>@Compendium[pf2e.bestiary-effects.0ifqiVhhKULXJyf9]{Effet : Rune de flammes (pique)}</p>
<p>@Compendium[pf2e.bestiary-effects.3QUaxNvpHDmf9cTo]{Effet : Rune de Flammes (Rocher)}</p>
</div>