Parent Name: Tor Linnorm
Name: Breath Weapon
Nom: Arme de souffle
État: officielle

------ Description (en) ------
<p>The tor linnorm expels a @Template[type:cone|distance:60] of flame and ash dealing [[/r {20d6}[fire]]]{20d6 fire damage} to creatures within the area (@Check[type:reflex|dc:46|basic:true] save). At the start of the tor linnorm's next turn, the area affected by the breath weapon is covered in thick, scorching smoke that burns both the lungs and eyes, dealing an additional [[/r {10d6}[fire]]]{10d6 fire damage} to all creatures in the area (@Check[type:reflex|dc:46|basic:true] save). A creature that spends an entire round in the smoke with open eyes must succeed at a @Check[type:fortitude|dc:44] save or is @Compendium[pf2e.conditionitems.XgEqL1kFApUbl5Z2]{Blinded} for 1 minute. The smoke dissipates after 1 minute; in strong winds, the smoke dissipates in 5 rounds, and in more powerful winds, it may clear even more quickly.</p>
<p data-visibility="gm">The tor linnorm can't use Breath Weapon again for [[/br 1d4 #Recharge Breath Weapon]]{1d4 rounds}.</p>
------ Description (fr) ------
<p> Le linnorm des roches souffle un @Template[type:cone|distance:60]{cône de 18 m} de flammes et de cendres qui inflige [[/r {20d6}[fire]]]{20d6 dégâts de feu} à toutes les créatures qui se trouvent dans la zone d’effet (@Check[type:reflex|dc:46|basic:true]{Réflexes basique} DD 46). Au début du prochain tour du linnorm, la zone affectée par son 
souffle se couvre d’une épaisse fumée ardente qui brûle les poumons et les yeux, infligeant [[/r {10d6}[fire]]]{10d6 dégâts de feu} supplémentaires à toutes les créatures de la zone (@Check[type:reflex|dc:46|basic:true]{Réflexes basique} DD 46).</p>
<p>Une créature qui passe un round entier dans la fumée avec les yeux ouverts doit réussir un jet de @Check[type:fortitude|dc:44]{Vigueur} DD 44 ou être @Compendium[pf2e.conditionitems.XgEqL1kFApUbl5Z2]{Aveugle} pendant 1 minute. La fumée se dissipe au bout d’une minute. Si le vent souffle fort, elle se dissipe au bout de 5 rounds ou avant s’il est plus violent que cela.</p>
<p data-visibility="gm">Le linnorm ne peut pas réutiliser son Souffle pendant [[/br 1d4 #Recharge Breath Weapon]]{1d4 rounds}.</p>