Parent Name: Azure Worm
Name: Shake It Off
Nom: Reprends toi !
État: officielle

------ Description (en) ------
<div data-visibility="gm">
<p><strong>Frequency</strong> once per day</p>
<p><strong>Trigger</strong> The azure worm would be affected by a condition or adverse effect (such as <em>@Compendium[pf2e.spells-srd.dN8QBNuTiaBHCKUe]{Baleful Polymorph}</em>)</p>
</div>
<p><strong>Effect</strong> The azure worm negates the triggering condition or effect. Effects from artifacts, deities, or a similarly powerful source can't be avoided in this way.</p>
------ Description (fr) ------
<div data-visibility="gm">
<p><strong>Fréquence</strong> une fois par jour</p>
<p><strong>Déclencheur</strong> Le ver azur pourrait être affecté par un état ou un effet néfaste (tel que <em>@Compendium[pf2e.spells-srd.dN8QBNuTiaBHCKUe]{Métamorphose funeste}</em>).</p>
</div>
<p><strong>Effet</strong> Le ver azur annule l’état ou l’effet déclencheur. Les effets des artefacts, des divinités ou issus de sources aussi puissantes ne peuvent être évités de cette manière.</p> 