Parent Name: Nosoi
Name: Haunting Melody
Nom: Mélodie envoutante
État: officielle

------ Description (en) ------
<p>The nosoi croons an entrancing song. Each living or undead creature within a @Template[type:emanation|distance:60] must attempt a @Check[type:will|dc:18] save.</p>
<p>The effect lasts for 1 round, but a nosoi can use this ability again on subsequent rounds to extend the duration by 1 round for all affected creatures. A creature that succeeds at any save is temporarily immune for 24 hours. Despite being a mental effect, this ability affects mindless undead. Psychopomps are immune to this ability.</p>
<div data-visibility="gm"><hr />
<p><strong>Failure</strong> The creature is @Compendium[pf2e.conditionitems.AdPVz7rbaVSRxHFg]{Fascinated}.</p>
<p><strong>Critical Failure</strong> As failure, and the creature must spend each of its actions on its turn to move closer to the nosoi as expediently as possible while avoiding obvious dangers. If a @Compendium[pf2e.conditionitems.AdPVz7rbaVSRxHFg]{Fascinated} creature is adjacent to the nosoi, it stays still and doesn't act. If the creature is attacked, the fascination ends.</p>
</div>
------ Description (fr) ------
<p> Le nosoi fredonne une chanson captivante. Chaque créature vivante ou morte-vivante 
dans une @Template[type:emanation|distance:60]{émanation de 18 m} doit tenter un jet de @Check[type:will|dc:18]{Volonté} DD 18.</p>
<p>L’effet dure 1 round mais si le nosoi utilise de nouveau ce pouvoir sans s’interrompre au cours des rounds suivants, la durée est prolongée à chaque fois de 1 round pour les créatures affectées. Une créature qui réussit un jet de sauvegarde est temporairement immunisée pendant 24 heures. Bien qu’il s’agisse d’un effet mental, ce pouvoir affecte les morts-vivants dénués d’intelligence. Les psychopompes sont immunisés contre cet effet.</p>
<div data-visibility="gm"><hr />
<p><strong>Échec</strong> La créature est @Compendium[pf2e.conditionitems.AdPVz7rbaVSRxHFg]{Fascinée}.</p>
<p><strong>Échec critique</strong> Comme pour un échec et la créature doit utiliser chacune de ses actions pour se rapprocher du nosoi aussi rapidement que possible tout en évitant tout danger évident. Si une créature @Compendium[pf2e.conditionitems.AdPVz7rbaVSRxHFg]{Fascinée} est adjacente au nosoi, elle reste immobile et n’agit pas. La fascination se termine si la cible est attaquée.</p>