Parent Name: Vampire Count
Name: Drink Blood
Nom: Boire le sang
État: officielle

------ Description (en) ------
<p><strong>Requirement</strong> A @Compendium[pf2e.conditionitems.kWc1fhmv9LBiTuei]{Grabbed}, @Compendium[pf2e.conditionitems.6uEgoh53GbXuHpTF]{Paralyzed}, @Compendium[pf2e.conditionitems.VcDeM8A5oI6VqhbM]{Restrained}, @Compendium[pf2e.conditionitems.fBnFDH2MTzgFijKf]{Unconscious}, or willing creature is within the vampire's reach.</p>
<p><strong>Effect</strong> The vampire sinks its fangs into that creature to drink its blood. This requires an Athletics check against the victim's Fortitude DC if the victim is grabbed and is automatic for any of the other conditions.</p>
<p>The victim is @Compendium[pf2e.conditionitems.4D2KBtexWXa6oUMR]{Drained 2} and the vampire regains [[/r {10}[healing]]]{10 Hit Points}, gaining any excess HP as temporary Hit Points. Drinking Blood from a creature that's already drained doesn't restore any HP to the vampire but increases the victim's drain value by 1. A vampire can also consume blood that's been emptied into a vessel for sustenance, but it gains no HP from doing so.</p>
<p>A victim's drained condition decreases by 1 per week. A blood transfusion, which requires a @Check[type:medicine|dc:20|name:Blood Transfusion] check and sufficient blood or a blood donor, reduces the drain by 1 after 10 minutes.</p>
------ Description (fr) ------
<p><strong>Conditions</strong>  Une créature @Compendium[pf2e.conditionitems.kWc1fhmv9LBiTuei]{empoignée}, @Compendium[pf2e.conditionitems.6uEgoh53GbXuHpTF]{paralysée}, @Compendium[pf2e.conditionitems.VcDeM8A5oI6VqhbM]{entravée}, @Compendium[pf2e.conditionitems.fBnFDH2MTzgFijKf]{inconsciente} ou consentante est à portée du vampire.</p>
<p><strong>Effet</strong> Le vampire enfonce ses crocs dans cette créature et boit son sang. Pour cela, il doit réussir un test d’Athlétisme contre le DD de Vigueur de la victime si elle est empoignée. Dans les autres cas, il y parvient automatiquement. La victime est @Compendium[pf2e.conditionitems.4D2KBtexWXa6oUMR]{Drainée 1} et le vampire récupère [[/r {10}[healing]]]{10 pv}, les PV excédentaires s’ajoutant sous forme de points de vie temporaires. Si le vampire Boit le sang d’une créature déjà drainée, il ne récupère pas d’autres PV, mais la valeur de l'état Drainé de la victime augmente de 1. Un vampire peut aussi boire du sang versé dans un récipient pour s’alimenter, mais cela ne lui rend pas de PV.</p>
<p>L’état drainé de la victime se réduit de 1 par semaine. Une transfusion sanguine (qui requiert un test de @Check[type:medicine|dc:20|name:Transfusion]{Médecine} DD 20 et assez de sang ou un donneur) réduit l’état Drainé de 1 au bout de 10 minutes.</p>