Parent Name: Faceless Stalker
Name: Sneak Attack
Nom: Attaque sournoise
État: officielle

------ Description (en) ------
<p>The faceless stalker deals [[/r {1d6}[precision]]]{1d6 extra precision damage} to flat-footed creatures.</p>
<hr />
<p>When the monster Strikes a creature that has the @Compendium[pf2e.conditionitems.AJh5ex99aV6VTggg]{Flat-Footed} condition with an agile or finesse melee weapon, an agile or finesse unarmed attack, or a ranged weapon attack, it also deals the listed precision damage. For a ranged attack with a thrown weapon, that weapon must also be an agile or finesse weapon.</p>
------ Description (fr) ------
<p>Le traqueur sans visage inflige [[/r {1d6}[precision]]]{1d6 dégâts de précision} supplémentaires aux créatures prises au dépourvu.</p>
<hr />
<p>@Localize[PF2E.NPC.Abilities.Glossary.SneakAttack]</p>
<hr />
<p>Lorsque le monstre Frappe une créature qui possède l'état @Compendium[pf2e.conditionitems.AJh5ex99aV6VTggg]{Pris au dépourvu} avec une arme au corps-à-corps possédant les traits agile ou finesse ou une attaque à mains nues agile ou finesse ou une attaque avec une arme à distance, il inflige aussi les dégâts de précision indiqués. Pour une attaque à distance avec une arme de jet, cette arme doit aussi être une arme agile ou de finesse.</p>