Parent Name: Elemental Avalanche
Name: Crumble
Nom: Désagrégation
État: officielle

------ Description (en) ------
<p data-visibility="gm"><strong>Trigger</strong> The elemental avalanche takes damage from a hostile source while atop rock or earth.</p>
<p><strong>Effect</strong> The elemental avalanche crumbles into the ground, Burrowing down 10 feet. This Burrowing does not trigger reactions.</p>
<p data-visibility="gm">The elemental avalanche can't Crumble again for [[/br 1d4 #Recharge Crumble]]{1d4 rounds}.</p>
------ Description (fr) ------
<p data-visibility="gm"><strong>Déclencheur</strong> L'avalanche élémentaire subit des dégâts infligés par une source hostile alors qu’elle se trouve sur de la roche ou de la terre.</p> 
<p><strong>Effet</strong> L'avalanche élémentaire se désagrège en Creusant de 3 m dans le sol. Ce Creusement ne déclenche pas de réactions.</p>
<p data-visibility="gm"> L'avalanche élémentaire ne peut se Désagréger de nouveau avant [[/br 1d4 #Recharge de désagrégation]]{1d4 rounds}.</p>