Parent Name: Ball Python
Name: Wrap in Coils
Nom: Enrouler les anneaux
État: officielle

------ Description (en) ------
<p data-visibility="gm"><strong>Requirement</strong> A Medium or smaller creature is @Compendium[pf2e.conditionitems.kWc1fhmv9LBiTuei]{Grabbed} or @Compendium[pf2e.conditionitems.VcDeM8A5oI6VqhbM]{Restrained} in the ball python's jaws.</p>
<p><strong>Effect</strong> The ball python moves the creature into its coils, freeing its jaws to make attacks, then uses Constrict against the creature. The ball python's coils can hold one creature.</p>
------ Description (fr) ------
<p data-visibility="gm"><strong>Conditions</strong> Une créature de taille Moyenne ou inférieure est @Compendium[pf2e.conditionitems.kWc1fhmv9LBiTuei]{Agrippée} ou @Compendium[pf2e.conditionitems.VcDeM8A5oI6VqhbM]{Entravée} par la mâchoire du python boule.</p>
<p><strong>Effet</strong> Le python boule déplace la créature jusque dans ses anneaux et libère ainsi ses mâchoires pour pouvoir porter des attaques. Il utilise ensuite Constriction contre la créature. Les anneaux du python boule peuvent emprisonner une créature.</p>