Parent Name: Living Landslide
Name: Crumble
Nom: Désagrégation
État: officielle

------ Description (en) ------
<p data-visibility="gm"><strong>Trigger</strong> The living landslide takes damage from a hostile source while atop rock or earth.</p>
<p><strong>Effect</strong> The living landslide crumbles into the ground, Burrowing down 10 feet. This Burrowing does not trigger reactions.</p>
<p data-visibility="gm">The living landslide can't Crumble again for [[/br 1d4 #Recharge Crumble]]{1d4 rounds}.</p>
------ Description (fr) ------
<p data-visibility="gm"><strong>Déclencheur</strong> Le glissement de terrain vivant subit des dégâts infligés par une source hostile alors qu’il se trouve sur de la roche ou de la terre.</p> 
<p><strong>Effet</strong> Le glissement de terrain vivant se désagrège en Creusant de 3 m dans le sol. Ce Creusement ne déclenche pas de réactions.</p>
<p data-visibility="gm">Le glissement de terrain vivant ne peut se Désagréger de nouveau avant [[/br 1d4 #Recharge de désagréger]]{1d4 rounds}.</p>