Parent Name: Cauthooj
Name: Hop-Dodge
Nom: Saut d'esquive
État: officielle

------ Description (en) ------
<p data-visibility="gm"><strong>Trigger</strong> The cauthooj is the target of a melee Strike and is adjacent to another enemy that is also within the reach of the melee Strike.</p>
<p><strong>Effect</strong> The cauthooj nimbly hops aside, redirecting the triggering Strike against the adjacent enemy. The cauthooj Strides up to half its Speed, and this movement does not trigger reactions.</p>
------ Description (fr) ------
<p data-visibility="gm"><strong>Déclencheur</strong> Le cauthooj est la cible d’une Frappe de corps-à-corps et est adjacent à un autre adversaire qui est aussi à portée de la Frappe de corps-à-corps.</p>
<p><strong>Effet</strong> Le cauthooj fait un saut de côté, redirigeant la Frappe contre l’adversaire adjacent. Le cauthooj Marche rapidement de la moitié de sa Vitesse au maximum et se déplacement ne déclenche pas de réactions.</p>