Parent Name: Young White Dragon
Name: Draconic Frenzy
Nom: Frénésie draconique
État: officielle

------ Description (en) ------
<p>The dragon makes two claw Strikes and one tail Strike in any orde</p>
------ Description (fr) ------
<p>Le dragon porte deux Frappes de griffe et une Frappe de queue dans n'importe quel ordre.</p>