Parent Name: Adamantine Golem
Name: Inexorable March
Nom: Marche inexorable
État: officielle

------ Description (en) ------
<p>@Check[type:fortitude|dc:45|traits:damaging-effect]</p>
<div data-visibility="gm">
<p><strong>Critical Success</strong> The creature takes no damage and its armor takes no damage.</p>
<p><strong>Success</strong> The golem halts its movement and cannot enter the creature's square.</p>
<p><strong>Failure</strong> The resisting creature is damaged and its armor takes damage as if hit by the adamantine golem's fist.</p>
</div>
<hr />
<p>The golem Strides up to its Speed, pushing back each creature whose space it moves into and damaging them if they try to stop its movement. A creature can attempt to bar the way by succeeding at a Fortitude save.</p>
------ Description (fr) ------
<p>Le golem d’adamantium Marche rapidement jusqu’à sa Vitesse maximale en repoussant les créatures dans les espaces desquelles il pénètre et en leur infligeant des dégâts si elles tentent de l’arrêter. Une créature peut tenter de lui bloquer le chemin en réussissant un jet de @Check[type:fortitude|dc:45|traits:damaging-effect]{Vigueur} DD 45</p>
<div data-visibility="gm">
<p><strong>Succès critique</strong> Ni la créature, ni son armure ne subissent de dégâts.</p>
<p><strong>Succès</strong> Le golem s’arrête et ne peut pénétrer dans la case de la créature.</p>
<p><strong>Échec</strong> La créature qui résiste et son armure subissent des dégâts comme si elles avaient été frappées par le poing du golem d’adamantium.</p>
</div>