Parent Name: Lich
Name: Drain Soul Cage
Nom: 
État: aucune

------ Description (en) ------
<p data-visibility="gm"><strong>Frequency</strong> once per day</p>
<p><strong>Effect</strong> The lich taps into its <em>@Compendium[pf2e.equipment-srd.NEbr7nKuiluJgBHT]{Soul Cage's}</em> power to cast any arcane spell up to 6th level, even if the spell being cast is not one of the lich's prepared spells. The lich's <em>soul cage</em> doesn't need to be present for the lich to use this ability.</p>
------ Description (fr) ------
<p data-visibility="gm"><strong>Fréquence</strong> une fois par jour</p>
<p><strong>Effet</strong> La liche puise dans l’énergie du <em>@Compendium[pf2e.equipment-srd.NEbr7nKuiluJgBHT]{phylactère} pour lancer n’importe quel sort arcanique qu’elle est capable de lancer jusqu'au niveau 6, même si ce n’est pas un de ses sorts préparés. Le phylactère n’a pas besoin d’être présent pour que la liche utilise cette capacité.</p>