Parent Name: Zaramuun
Name: Sandblast
Nom: Jet de sable
État: officielle

------ Description (en) ------
<p>The zaramuun sprays a blast of sand that deals [[/r {11d10}[slashing]]]{11d10 slashing damage} to all creatures in a @Template[type:line|distance:60] (@Check[type:reflex|dc:38|traits:damaging-effect]).</p>
<div data-visibility="gm">
<p>It can't Sandblast again for [[/br 1d4 #Recharge Sandblast]]{1d4 rounds}.</p>
<hr />
<p><strong>Critical Success</strong> No effect.</p>
<p><strong>Success</strong> Half damage.</p>
<p><strong>Failure</strong> Full damage.</p>
<p><strong>Critical Failure</strong> Full damage and @Compendium[pf2e.conditionitems.XgEqL1kFApUbl5Z2]{Blinded} for 1 round.</p>
</div>
------ Description (fr) ------
<p>Le zaramuun projette un jet de sable qui inflige [[/r {11d10}[slashing]]]{11d10 dégâts tranchants} à toutes les créatures qui se trouvent sur une @Template[type:line|distance:60]{ligne de 18 m} (@Check[type:reflex|dc:38|traits:damaging-effect]{Réflexes} DD 38).</p>
<div data-visibility="gm">
<p>Il doit alors attendre 1d4 rounds pour pouvoir réutiliser ce pouvoir.</p>
<hr />
<p><strong>Succès critique</strong> Aucun effet.</p>
<p><strong>Succès</strong> La moitié des dégâts.</p>
<p><strong>Échec</strong> La totalité des dégâts.</p>
<p><strong>Échec critique</strong> La totalité des dégâts et @Compendium[pf2e.conditionitems.XgEqL1kFApUbl5Z2]{Aveuglé} pendant 1 round.</p>
</div>