Parent Name: Ghast
Name: Consume Flesh
Nom: Dévorer la chair
État: officielle

------ Description (en) ------
<p data-visibility="gm"><strong>Requirements</strong> The ghast is adjacent to the corpse of a creature that died within the last hour.</p>
<p><strong>Effect</strong> The ghast devours a chunk of the corpse and regains [[/r {3d6}[healing]]]{3d6 Hit Points}.</p>
<p>It can regain Hit Points from any given corpse only once.</p>
------ Description (fr) ------
<p data-visibility="gm"><strong>Conditions</strong> La blême est adjacente au cadavre d’une créature morte il y a moins d’une heure.</p>
<p><strong>Effet</strong> La blême dévore un morceau de chair du cadavre et récupère [[/r {3d6}[healing]]]{3d6 points de vie}. Elle ne peut récupérer des points de vie qu’une seule fois par cadavre.</p>