Parent Name: Plague Zombie
Name: Jaws
Nom: Mâchoires
État: officielle

------ Description (en) ------
<p data-visibility="gm"><strong>Requirement</strong> The zombie has a creature @Compendium[pf2e.conditionitems.kWc1fhmv9LBiTuei]{Grabbed} or @Compendium[pf2e.conditionitems.VcDeM8A5oI6VqhbM]{Restrained}.</p>
------ Description (fr) ------
<p data-visibility="gm"><strong>Condition</strong> le zombie a @Compendium[pf2e.conditionitems.kWc1fhmv9LBiTuei]{Empoigné} ou @Compendium[pf2e.conditionitems.VcDeM8A5oI6VqhbM]{Entravé} une créature.</p>
<p><strong>Effet</strong> Le zombie fait une Frappe de corps-à-corps à mains nues à l’aide de ses mâchoires contre la créature Empoignée ou Entravée, avec un modificateur d’attaque de +7 et qui inflige 1d8+3 dégâts perforants.</p>
