Parent Name: Ball Python
Name: Tighten Coils
Nom: Resserrer les anneaux
État: officielle

------ Description (en) ------
<p data-visibility="gm"><strong>Trigger</strong> A creature @Compendium[pf2e.conditionitems.kWc1fhmv9LBiTuei]{Grabbed} or @Compendium[pf2e.conditionitems.VcDeM8A5oI6VqhbM]{Restrained} by the ball python attempts to @Compendium[pf2e.actionspf2e.SkZAQRkLLkmBQNB9]{Escape}.</p>
<p><strong>Effect</strong> The DC of the Escape check is increased by 2.</p>
------ Description (fr) ------
<p data-visibility="gm"><strong>Déclencheur</strong> Une créature @Compendium[pf2e.conditionitems.kWc1fhmv9LBiTuei]{Agrippée} ou @Compendium[pf2e.conditionitems.VcDeM8A5oI6VqhbM]{Entravée} par le python boule tente de @Compendium[pf2e.actionspf2e.SkZAQRkLLkmBQNB9]{S’échapper}.</p>
<p><strong>Effet</strong> Le DD du test pour S’échapper est augmenté de 2.</p>