Parent Name: Succubus
Name: Passionate Kiss
Nom: Baiser passionné
État: officielle

------ Description (en) ------
<p data-visibility="gm"><strong>Frequency</strong> Once per round.</p>
<p><strong>Effect</strong> The succubus engages a creature they have @Compendium[pf2e.conditionitems.kWc1fhmv9LBiTuei]{Grabbed} in an embrace or other act of passion to drain its vital essence. The kiss makes the creature @Compendium[pf2e.conditionitems.4D2KBtexWXa6oUMR]{Drained 1} or increases its drained condition by 1, to a maximum of 4. The creature takes [[/r {3d6}[negative]]]{3d6 negative damage} and the succubus regains Hit Points equal to the damage dealt. The target must succeed at a @Check[type:will|dc:26] save or be affected by a <em>@Compendium[pf2e.spells-srd.qwlh6aDgi86U3Q7H]{Suggestion}</em> to submit to more actions of passion rather than trying to @Compendium[pf2e.actionspf2e.SkZAQRkLLkmBQNB9]{Escape}.</p>
------ Description (fr) ------
<p data-visibility="gm"><strong>Fréquence</strong> une fois par round.</p>
<p><strong>Effect</strong> La succube embrasse la créature qu’elle a @Compendium[pf2e.conditionitems.kWc1fhmv9LBiTuei]{Saisie} ou se livre à un autre acte passionné afin d’absorber son essence vitale. La victime recevant le baiser est @Compendium[pf2e.conditionitems.4D2KBtexWXa6oUMR]{Drainée 1} ou augmente son état drainé de 1 jusqu’à un maximum de 4. La créature subit [[/r {3d6}[negative]]]{3d6 dégâts négatifs} et la succube récupère autant de points de vie que de dégâts infligés. La cible doit réussir un jet de @Check[type:will|dc:26]{Volonté} DD 26 ou être affectée par une <em>@Compendium[pf2e.spells-srd.qwlh6aDgi86U3Q7H]{Suggestion}</em> de se soumettre à d’autres actes passionnés au lieu de tenter de S’échapper.</p>