Parent Name: Spider Swarm
Name: Spider Swarm Venom
Nom: Venin de nuée d'araignées 
État: officielle

------ Description (en) ------
<p><strong>Saving Throw</strong> @Check[type:fortitude|dc:14]</p>
<div data-visibility="gm">
<p><strong>Maximum Duration</strong> 4 rounds</p>
<p><strong>Stage 1</strong> [[/r 1 #poison]]{1 poison} and @Compendium[pf2e.conditionitems.MIRkyAjyBeXivMa7]{Enfeebled 1} (1 round)</p>
<p><strong>Stage 2</strong> [[/r {1d4}[poison]]]{1d4 poison} and @Compendium[pf2e.conditionitems.MIRkyAjyBeXivMa7]{Enfeebled 1} (1 round)</p>
</div>
------ Description (fr) ------
<p><strong>Jet de sauvegarde</strong> @Check[type:fortitude|dc:14]{Vigueur} DD 14</p>
<div data-visibility="gm">
<p><strong>Durée maximale</strong> 4 rounds</p>
<p><strong>Stade 1</strong> [[/r 1 #poison]]{1 dégât de poison} et @Compendium[pf2e.conditionitems.MIRkyAjyBeXivMa7]{Affaibli 1} (1 round)</p>
<p><strong>Stade 2</strong> [[/r {1d4}[poison]]]{1d4 dégâts de poison} et @Compendium[pf2e.conditionitems.MIRkyAjyBeXivMa7]{Affaibli 1} (1 round)</p>
</div>