Parent Name: Shining Child
Name: Fire Ray
Nom: Rayon de feu
État: officielle

------ Description (en) ------
<p>[[/r {2d10}[positive]]]{2d10 postive damage} if the target is undead</p>
------ Description (fr) ------
<p>[[/r {2d10}[positive]]]{2d10 dégâts positifs} si la cible est mort-vivante.</p>