Parent Name: Ofalth
Name: Wretched Weeps
Nom: Suintements effroyables
État: officielle

------ Description (en) ------
<p><strong>Saving Throw</strong> @Check[type:fortitude|dc:26]</p>
<hr />
<p><strong>Stage 1</strong> carrier with no ill effect (1 day)</p>
<p><strong>Stage 2</strong> [[/r {2d8}[persistent,bleed]]] @Compendium[pf2e.conditionitems.lDVqvLKA6eF3Df60]{Persistent Bleed Damage} every hour and @Compendium[pf2e.conditionitems.MIRkyAjyBeXivMa7]{Enfeebled 1} (1 day)</p>
<p><strong>Stage 3</strong> [[/r {2d8}[persistent,bleed]]] @Compendium[pf2e.conditionitems.lDVqvLKA6eF3Df60]{Persistent Bleed Damage} every hour and @Compendium[pf2e.conditionitems.MIRkyAjyBeXivMa7]{Enfeebled 2} (1 day)</p>
------ Description (fr) ------
<p><strong>Jet de sauvegarde</strong> @Check[type:fortitude|dc:26]{Vigueur} DD 26</p>
<hr />
<p><strong>Stade 1</strong> porteur sans effet néfaste (1 jour)</p>
<p><strong>Stade 2</strong> [[/r {2d8}[persistent,bleed]]] @Compendium[pf2e.conditionitems.lDVqvLKA6eF3Df60]{2d8 dégâts de saignement persistants} toutes les heures et @Compendium[pf2e.conditionitems.MIRkyAjyBeXivMa7]{Affaibli 1} (1 jour)</p>
<p><strong>Stade 3</strong> 2d8 dégâts de saignement persistants toutes les heures et affaibli 2 (1 jour)</p>