Parent Name: Gogiteth
Name: Skittering Reposition
Nom: Repositionnement hâtif
État: officielle

------ Description (en) ------
<p data-visibility="gm"><strong>Trigger</strong> A creature that starts its move outside the gogiteth's reach moves into its reach.</p>
<p><strong>Effect</strong> The gogiteth moves 10 feet. This does not trigger reactions.</p>
------ Description (fr) ------
<p data-visibility="gm"><strong>Déclencheur</strong> Une créature qui commence son déplacement hors de portée du gogiteth arrive à portée de la créature.</p>
<p><strong>Effet</strong> Le gogiteth se déplace de 3 m. Cela ne déclenche pas de réactions. </p>