Parent Name: Giant Monitor Lizard
Name: Gnashing Grip
Nom: Serrer entre les dents
État: officielle

------ Description (en) ------
<p data-visibility="gm"><strong>Trigger</strong> A creature @Compendium[pf2e.conditionitems.kWc1fhmv9LBiTuei]{Grabbed} by the giant monitor lizard's jaws fails a check to @Compendium[pf2e.actionspf2e.SkZAQRkLLkmBQNB9]{Escape}.</p>
<p><strong>Effect</strong> The giant monitor lizard's jaws deal [[/r {1d6}[piercing]]]{1d6 piercing damage} and the triggering creature is exposed to monitor lizard venom.</p>
------ Description (fr) ------
<p data-visibility="gm"><strong>Déclencheur</strong> Une créature @Compendium[pf2e.conditionitems.kWc1fhmv9LBiTuei]{Agrippée} entre les mâchoires du varan géant rate son test pour @Compendium[pf2e.actionspf2e.SkZAQRkLLkmBQNB9]{S’échapper}.</p>
<p><strong>Effet</strong> Les mâchoires du varan géant infligent [[/r {1d6}[piercing]]]{1d6 dégâts perforants} et la créature mordue est exposée au venin de varan.</p>