Parent Name: Elephant
Name: Trample
Nom: 
État: aucune

------ Description (en) ------
<p>Large or smaller, foot, @Check[type:reflex|dc:24|basic:true]</p>
<hr />
<p>@Localize[PF2E.NPC.Abilities.Glossary.Trample]</p>
------ Description (fr) ------
<p>Grande ou plus petite, patte, @Check[type:reflex|dc:24|basic:true]{Réflexes} DD 24</p>
<hr />
<p>@Localize[PF2E.NPC.Abilities.Glossary.Trample]</p>