Parent Name: Plague Zombie
Name: Zombie Rot
Nom: 
État: aucune

------ Description (en) ------
<p>An infected creature can't heal damage it takes from zombie rot until it has been cured of the disease.</p>
<hr />
<p><strong>Saving Throw</strong> @Check[type:fortitude|dc:18]</p>
<p><strong>Stage 1</strong> carrier with no ill effect (1 day)</p>
<p><strong>Stage 2</strong> [[/r {1d6}[negative]]]{1d6 negative damage} (1 day)</p>
<p><strong>Stage 3</strong> [[/r {1d6}[negative]]]{1d6 negative damage} (1 day)</p>
<p><strong>Stage 4</strong> [[/r {1d6}[negative]]]{1d6 negative damage} (1 day)</p>
<p><strong>Stage 5</strong> dead, rising as a plague zombie immediately</p>
------ Description (fr) ------
<p>Une créature infectée ne peut pas soigner les dégâts infligés par la putréfaction de zombie jusqu’à ce qu’elle ait été guérie de cette maladie.</p>
<hr />
<p><strong>Jet de sauvegarde</strong> @Check[type:fortitude|dc:18]{Vigueur DD 18}</p>
<p><strong>Stade 1</strong> porteur sans symptomes (1 jour)</p>
<p><strong>Stade 2</strong> [[/r {1d6}[negative]]]{1d6 dégâts négatifs} (1 jour)</p>
<p><strong>Stade 3</strong> [[/r {1d6}[negative]]]{1d6 dégâts négatifs} (1 jour)</p>
<p><strong>Stade 4</strong> [[/r {1d6}[negative]]]{1d6 dégâts négatifs} (1 jour)</p>
<p><strong>Stade 5</strong> mort, se relevant comme un zombie pestiféré immédiatement</p>