Parent Name: Kraken
Name: Altered Weather
Nom: 
État: aucune

------ Description (en) ------
<p>@Compendium[pf2e.bestiary-ability-glossary-srd.v61oEQaDdcRpaZ9X]{Aura}</p>
<hr />
<p>A kraken reshapes the weather within 2 miles of it, with the effect of the <em>@Compendium[pf2e.spells-srd.XkDCzMIyc0YOjw05]{Control Weather}</em> ritual centered on the kraken and based on its emotional state, at the GM's discretion. If the kraken dies, the weather returns to normal immediately.</p>
------ Description (fr) ------
<p>@Compendium[pf2e.bestiary-ability-glossary-srd.v61oEQaDdcRpaZ9X]{Aura}</p>
<hr />
<p>Un kraken peut modifier le climat dans un rayon de 3 km autour de lui avec les effets d’un rituel de <em>@Compendium[pf2e.spells-srd.XkDCzMIyc0YOjw05]{Contrôle du climat</em> centré sur lui et basé sur son état émotionnel, à la discrétion du MJ. Si le kraken meurt, le climat redevient immédiatement normal.</p>