Parent Name: Ancient Silver Dragon (Spellcaster)
Name: Reflect Spell
Nom: 
État: aucune

------ Description (en) ------
<p data-visibility="gm"><strong>Trigger</strong> The silver dragon critically succeeds at a saving throw against a spell, or a caster trying to target the dragon critically fails their attack roll.</p>
<p><strong>Effect</strong> The spell is reflected back upon the caster, with the effect of <em>@Compendium[pf2e.spells-srd.OOELvfkTedBMlWtq]{Spell Turning}</em>.</p>
------ Description (fr) ------
<p data-visibility="gm"><strong>Déclencheur</strong> Le dragon obtient une réussite critique à un jet de sauvegarde contre un sort ou un incantateur essayant de cibler le dragon obtient un échec critique à son jet d’attaque.</p>
<p><strong>Effet</strong> Le sort est renvoyé sur l’incantateur avec les effets de <em>@Compendium[pf2e.spells-srd.OOELvfkTedBMlWtq]{Renvoi de sorts}</em>.</p>