Parent Name: Imp
Name: Infernal Temptation
Nom: Tentation infernale
État: officielle

------ Description (en) ------
<p data-visibility="gm"><strong>Frequency</strong> once per day.</p>
<p><strong>Effect</strong> The imp offers a non-fiend within 15 feet a bargain, granting a boon of good luck if the creature accepts. The boon lasts for 1 hour once accepted.</p>
<p>If the creature dies while the boon is in place, its soul travels to Hell, where it is bound for eternity and unable to be raised or resurrected except by <em>@Compendium[pf2e.spells-srd.6dDtGIUerazSHIOu]{Wish}</em> or similar magic.</p>
<p>Once during the hour, the creature can roll an attack roll or saving throw twice and use the higher result.</p>
------ Description (fr) ------
<p data-visibility="gm"><strong>Fréquence</strong> une fois par jour</p>
<p><strong>Effet</strong>  Le diablotin propose un marché à une créature non fiélone située dans un rayon de 4,5 m, lui accordant une faveur de bonne fortune si elle accepte.</p>
<p>La faveur dure 1 heure à partir du moment où le marché est accepté. Si la créature meurt alors que la faveur est encore active, son âme se rend dans les Enfers où elle y est emprisonnée pour l’éternité ; la créature ne peut être rappelée à la vie ou ressuscitée à moins d’utiliser un <em>@Compendium[pf2e.spells-srd.6dDtGIUerazSHIOu]{Souhait}</em> ou une magie similaire.</p>
<p>Une fois au cours de l’heure que dure la faveur, la créature peut lancer deux fois un jet d’attaque ou un jet de sauvegarde et choisir le meilleur résultat.</p>
