Parent Name: Elananx
Name: Pounce
Nom: Bond
État: officielle

------ Description (en) ------
<p>The elananx Strides and makes a Strike at the end of that movement. If the elananx began this action @Compendium[pf2e.conditionitems.iU0fEDdBp3rXpTMC]{Hidden}, it remains hidden until after the attack.</p>
------ Description (fr) ------
<p>L'élananx Marche rapidement et effectue une Frappe à la fin de son déplacement. S'il a commencé son action @Compendium[pf2e.conditionitems.iU0fEDdBp3rXpTMC]{Caché}, il le reste jusqu’après l'attaque.</p>