Parent Name: Crimson Worm
Name: Crimson Worm Venom
Nom: Venin de ver écarlate
État: officielle

------ Description (en) ------
<p><strong>Saving Throw</strong> @Check[type:fortitude|dc:41]</p>
<div data-visibility="gm"><hr />
<p><strong>Maximum Duration</strong> 6 rounds</p>
<p><strong>Stage 1</strong> [[/r {1d6}[poison]]]{1d6 poison damage} and @Compendium[pf2e.conditionitems.4D2KBtexWXa6oUMR]{Drained 1} (1 round)</p>
<p><strong>Stage 2</strong> [[/r {2d6}[poison]]]{2d6 poison damage} and drained 1 (1 round)</p>
<p><strong>Stage 3</strong> [[/r {2d6}[poison]]]{2d6 poison damage} and @Compendium[pf2e.conditionitems.4D2KBtexWXa6oUMR]{Drained 2} (1 round).</p>
</div>
------ Description (fr) ------
------ Description (en) ------
<p><strong>Jet de sauvegarde</strong> @Check[type:fortitude|dc:41]{Vigueur} DD 41</p>
<div data-visibility="gm"><hr />
<p><strong>Durée maximale</strong> 6 rounds</p>
<p><strong>Stade 1</strong> [[/r {1d6}[poison]]]{1d6 dégâts de poison} et @Compendium[pf2e.conditionitems.4D2KBtexWXa6oUMR]{Drainé 1} (1 round)</p>
<p><strong>Stade 2</strong> [[/r {2d6}[poison]]]{2d6 dégâts de poison} et Drainé 1 (1 round)</p>
<p><strong>Stade 3</strong> [[/r {2d6}[poison]]]{2d6 dégâts de poison} et @Compendium[pf2e.conditionitems.4D2KBtexWXa6oUMR]{Drainé 2} (1 round).</p>
</div>