Parent Name: Guthallath
Name: Deadly Throw
Nom: 
État: aucune

------ Description (en) ------
<p data-visibility="gm"><strong>Requirements</strong> The guthallath has a creature @Compendium[pf2e.conditionitems.kWc1fhmv9LBiTuei]{Grabbed}.</p>
<p><strong>Effect</strong> The guthallath throws the creature into the air, 100 feet high and 50 feet away. If the flung creature lands on another creature, the creature it lands on takes the same amount of bludgeoning damage. The creature being landed on can attempt a @Check[type:reflex|dc:41|basic:true] save.</p>
------ Description (fr) ------
<p data-visibility="gm"><strong>Conditions</strong> Le guthallath a empoigné une créature.</p>
<p><strong>Effet</strong> Le guthallath projette cette créature dans les airs à 30 m de hauteur et à 15 m de lui. Si la créature projetée tombe sur une autre créature, cette dernière subit la même quantité de dégâts contondants. La créature percutée peut tenter un jet de @Check[type:reflex|dc:41|basic:true]{Réflexes basique} DD 41.</p>