Parent Name: Hunting Spider
Name: Descend on a Web
Nom: Descendre sur un fil de toile
État: officielle

------ Description (en) ------
<p>The hunting spider moves straight down up to 40 feet, suspended by a web line. It can hang from the web or drop off. The distance it Descends on a Web doesn't count for falling damage.</p>
<p data-visibility="gm">A creature that successfully Strikes the web (AC 20, Hardness 3, 5 HP) severs it, causing the spider to fall.</p>
------ Description (fr) ------
<p>L’araignée chasseuse descend à la verticale d’une distance maximale de 12 m, suspendue à un fil de toile. Elle peut rester accrochée au fil ou s’en détacher. La distance descendue avec cette action ne compte pas dans le calcul des dégâts de chute.</p> 
<p data-visibility="gm">Une créature qui réussit à Frapper le fil de toile (CA 20, Solidité 3, 5 PV) le tranche et fait chuter l’araignée.</p>