Parent Name: Ancient Green Dragon (Spellcaster)
Name: Breath Weapon
Nom: Arme de souffle
État: officielle

------ Description (en) ------
<p>The dragon breathes a toxic cloud that deals [[/r {18d6}[poison]]]{18d6 poison damage} in a @Template[type:cone|distance:60]{60-foot cone} (@Check[type:fortitude|dc:37|basic:true] save).</p>
<div data-visibility="gm">
<p>The Breath Weapon also creates a miasma.</p>
<p>It can't use Breath Weapon again for [[/br 1d4 #Recharge Breath Weapon]]{1d4 rounds}.</p>
</div>
------ Description (fr) ------
<p>Le dragon souffle un nuage toxique qui inflige [[/r {13d6}[poison]]]{13d6 dégâts de poison} dans un @Template[type:cone|distance:50]{cône de 15 m} (@Check[type:fortitude|dc:31|basic:true]{Vigueur basique} DD 31).</p>
<div data-visibility="gm">
<p>L'arme de souffle crée aussi un miasme.</p>
<p>Il ne peut utiliser une nouvelle fois ce pouvoir avant [[/br 1d4 #Recharge Arme de souffle]]{1d4 rounds}.</p>
</div>