Parent Name: Succubus
Name: Profane Gift
Nom: Don blasphématoire
État: officielle

------ Description (en) ------
<p data-visibility="gm"><strong>Frequency</strong> once per day.</p>
<p><strong>Effect</strong> The succubus on can give a willing humanoid a profane gift. That creature gains a +1 status bonus to attack rolls, skill checks, and saving throws. As long as the gift persists, the succubus can communicate telepathically with the target at any distance, see through the creature's senses, and target the creature with <em>@Compendium[pf2e.spells-srd.qwlh6aDgi86U3Q7H]{Suggestion}</em> through the telepathic link. In addition, the creature uses an outcome one degree of success worse than it rolls on saving throws against the lust demon's <em>suggestion</em>.</p>
<p>A humanoid can't have more than one profane gift at a time, and a succubus can't grant more than one profane gift at a time. Removing the gift requires an <em>@Compendium[pf2e.spells-srd.7Fd4lxozd11MQ55N]{Atone}</em> ritual. The succubus can remove the gift as a free action to give the recipient a permanent @Compendium[pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Stupefied 3} condition. A 4th-level <em>@Compendium[pf2e.spells-srd.SnaLVgxZ9ryUFmUr]{Restoration}</em> spell is required to reduce this stupefied condition by 1. A summoned succubus can't grant a profane gift.</p>
<hr />
<p>@Compendium[pf2e.bestiary-effects.g5Yen1FhEMCzCJkv]{Effect: Profane Gift}</p>
------ Description (fr) ------
<p data-visibility="gm"><strong>Fréquence</strong> une fois par jour.</p>
<p><strong>Effet</strong> La succube peut donner un don blasphématoire à un humanoïde consentant. Cette créature gagne un bonus de statut de +1 à ses jets d’attaque, ses tests de compétence et à ses jets de sauvegarde. Tant que le don persiste, la succube peut communiquer télépathiquement avec la cible à n’importe quelle distance, utiliser ses sens et la cibler avec <em>@Compendium[pf2e.spells-srd.qwlh6aDgi86U3Q7H]{Suggestion}</em> grâce à ce lien. De plus, la créature utilise un résultat d’un degré de succès inférieur à ses jets de sauvegarde contre les suggestions du démon de la luxure.</p>
<p>Un humanoïde ne peut avoir plus d’un don blasphématoire à la fois et une succube ne peut en accorder plus d’un à la fois. Se débarrasser de ce don nécessite un rituel de <em>@Compendium[pf2e.spells-srd.7Fd4lxozd11MQ55N]{Pénitence}</em>. La succube peut retirer son don par une action gratuite pour affliger le bénéficiaire d’un état permanent @Compendium[pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Stupéfié 3}. Un sort de <em>@Compendium[pf2e.spells-srd.SnaLVgxZ9ryUFmUr]{Restauration}</em> de niveau 4 est requis pour réduire de 1 point cet état stupéfié.</p>
<p>Une succube invoquée ne peut accorder un don blasphématoire.</p>
<hr />
<p>@Compendium[pf2e.bestiary-effects.g5Yen1FhEMCzCJkv]{Effet : Don blasphématoire}</p>