Parent Name: Smilodon
Name: Sneak Attack
Nom: Attaque sournoise
État: officielle

------ Description (en) ------
<p>The smilodon deals [[/r {1d6}[precision]]]{1d6 extra precision damage} to creatures that are flat-footed.</p>
<hr />
<p>@Localize[PF2E.NPC.Abilities.Glossary.SneakAttack]</p>
------ Description (fr) ------
<p>Le smilodon inflige [[/r {1d6}[precision]]]{1d6 dégâts de précision} supplémentaires aux créatures prises au dépourvu.</p>
<hr />
<p>@Localize[PF2E.NPC.Abilities.Glossary.SneakAttack]</p>