Parent Name: Zaramuun
Name: Raking Sand
Nom: Ratisser le sable
État: libre

------ Description (en) ------
<p data-visibility="gm"><strong>Requirements</strong> The zaramuun hit with a melee Strike with its last action, or it has a creature Engulfed.</p>
<p><strong>Effect</strong> The zaramuun attempts to @Compendium[pf2e.actionspf2e.Dt6B1slsBy8ipJu9]{Disarm} one primarily metal or stone object from the Struck or Engulfed creature and casts its innate <em>@Compendium[pf2e.spells-srd.ksLCg62cLOojw3gN]{Dimensional Anchor}</em> on the target creature.</p>
------ Description (fr) ------
<p data-visibility="gm"><strong>Conditions</strong> Le zaramuun a fait une Frappe de corps-à-corps réussie contre une créature lors de sa dernière action ou il contient une créature Engloutie.</p>
<p><strong>Effet</stron> Le zaramuun tente de Désarmer la créature Frappée ou Engloutie d’un objet principalement composé de pierre ou de métal et lui lance un sort inné d’<em>@Compendium[pf2e.spells-srd.ksLCg62cLOojw3gN]{Ancre dimensionnelle}</em>.</p>