Parent Name: Cave Bear
Name: Rush
Nom: Ruée
État: libre

------ Description (en) ------
<p>The cave bear Strides and makes a Strike at the end of that movement. During the Stride, it gains a +10-foot circumstance bonus to its Speed.</p>
------ Description (fr) ------
<p>L’ours Marche rapidement et effectue une Frappe à la fin de ce déplacement. Il bénéficie d’un bonus de circonstances de +3 m à sa Vitesse lorsqu'il se déplace ainsi.</p>