Parent Name: Shambler
Name: Shamble
Nom: Titubement
État: officielle

------ Description (en) ------
<div data-visibility="gm">
<p><strong>Shamble</strong><strong>Requirements</strong> The shambler is in mound form</p>
<p><strong>Trigger</strong> A creature unaware of the shambler's true nature comes within 10 feet.</p>
</div>
<p><strong>Effect</strong> The shambler makes a vine Strike against the creature. Then roll initiative.</p>
------ Description (fr) ------
<div data-visibility="gm">
<p><strong>Condition</strong> Le grand tertre est sous sa forme de monticule</p>
<p><strong>Déclencheur</strong> Une créature inconsciente de la véritable nature du grad tertre approche dans les 3 m.</p>
</div>
<p><strong>Effet</strong> Le grand tertre fait une Frappe de liane contre la créature. Puis lancez l'initiative.</p>