Parent Name: Demilich
Name: Contingency
Nom: Contingence
État: officielle

------ Description (en) ------
<p>A demilich has one permanent 8th-level <em>@Compendium[pf2e.spells-srd.WG91Z5TiR6oO5FOw]{Contingency}</em> spell in effect with one of its arcane innate spells of 5th level or lower as the companion spell-typically <em>@Compendium[pf2e.spells-srd.VlNcjmYyu95vOUe8]{Dimension Door}</em>.</p>
<p data-visibility="gm"><strong>Trigger</strong> While the lich is in torpor, a creature disturbs the demilich's remains, touches its treasure, or casts a spell that would affect the demilich.</p>
<p><strong>Effect</strong> The demilich ends torpor, rolls initiative, and gains the effect of its contingency's companion spell. The contingency resets after 24 hours.</p>
------ Description (fr) ------
<p>Une demi-liche a un sort de niveau 8 de <em>@Compendium[pf2e.spells-srd.WG91Z5TiR6oO5FOw]{contingence}</em> actif en permanence associé à un de ses sorts innés arcaniques de niveau 5 ou inférieur, généralement <em>@Compendium[pf2e.spells-srd.VlNcjmYyu95vOUe8]{porte dimensionnelle}</em>.</p>
<p data-visibility="gm"><strong>Déclencheur</strong>  Alors que la demi-liche est plongée dans sa torpeur, une créature dérange ses restes, touche ses trésors ou lance un sort qui l’affecterait.</p>
<p><strong>Effet</strong> La demi-liche met un terme à sa torpeur lance l'initiative et obtient l'effet du sort associé à <em>Contingence</em>. La contingence est réinitialisée après 24 heures.</p>