Parent Name: Pegasus
Name: Assisted Mount
Nom: Chevauchée facilitée
État: officielle

------ Description (en) ------
<p data-visibility="gm"><strong>Requirement</strong> The pegasus is Flying without a rider.</p>
<p><strong>Effect</strong> The pegasus Flies. At any point during the movement, it can allow a willing adjacent creature to @Compendium[pf2e.actionspf2e.PM5jvValFkbFH3TV]{Mount} it. That creature must use a reaction to do so.</p>
------ Description (fr) ------
<p data-visibility="gm"><strong>Conditions</strong> Le pégase Vole sans cavalier.</p>
<p><strong>Effet</strong> Le pégase Vole. À n’importe quel moment au cours de son déplacement, il peut permettre à une créature adjacente consentante de Se mettre en selle. Cette créature doit utiliser une réaction pour le faire.</p>