Parent Name: Bunyip
Name: Shift Form
Nom: Changement de forme
État: officielle

------ Description (en) ------
<p>A bunyip can alter its form slightly to gain an advantage and make it harder to recognize. When it does, its teeth shrink and its Jaws Strike doesn't deal the [[/r {1d6}[persistent,bleed]]] @Compendium[pf2e.conditionitems.lDVqvLKA6eF3Df60]{Persistent Bleed Damage}. It can choose to gain either a long snake tail, granting its tail Strike reach 10 feet and Grab, or squat crocodile legs, increasing its land Speed to 20 feet. If it uses Shift Form again, the bunyip can return to normal or switch between a long tail or crocodile legs.</p>
<hr />
<p>@Compendium[pf2e.bestiary-effects.USMuxi8ACBJRUrdS]{Effect: Crocodile Form}</p>
<p>@Compendium[pf2e.bestiary-effects.YIXeQFdrt0vPvmsW]{Effect: Snake Form}</p>
------ Description (fr) ------
<p>Un bunyip peut légèrement 
modifier sa forme pour gagner un avantage et pour qu’il soit plus difficile de le reconnaître. Quand il le fait, ses dents rétrécissent et sa Frappe de mâchoire n’inflige plus les [[/r {1d6}[persistent,bleed]]] @Compendium[pf2e.conditionitems.lDVqvLKA6eF3Df60]{dégâts de saignement persistants}. Il peut choisir de gagner soit une longue queue de serpent, ce qui lui octroie une Frappe de queue avec une allonge de 3 m et Empoignade/Agrippement, soit des courtes pattes de crocodiles, ce qui augmente sa Vitesse au sol à 6 m. S’il utilise à nouveau Changer de forme, le bunyip peut reprendre sa forme normale ou choisir de nouveau entre une longue queue et des pattes de crocodile.</p>
<hr />
<p>@Compendium[pf2e.bestiary-effects.USMuxi8ACBJRUrdS]{Effet : Forme de crocodile}</p>
<p>@Compendium[pf2e.bestiary-effects.YIXeQFdrt0vPvmsW]{Effet : Forme de serpent}</p>