Parent Name: Bugbear Tormentor
Name: Sneak Attack
Nom: Attaque sournoise
État: officielle

------ Description (en) ------
<p>The bugbear tormentor deals [[/r {1d6}[precision]]]{1d6 extra precision damage} to flatfooted creatures.</p>
<hr />
<p>@Localize[PF2E.NPC.Abilities.Glossary.SneakAttack]</p>
------ Description (fr) ------
<p>Le tourmenteur gobelours inflige [[/r {1d6}[precision]]]{1d6 dégâts de précision} supplémentaires aux créatures Prises au dépourvu.</p>
<hr />
<p>@Localize[PF2E.NPC.Abilities.Glossary.SneakAttack]</p>