Parent Name: Warg
Name: Avenging Bite
Nom: Morsure vengeresse
État: officielle

------ Description (en) ------
<p data-visibility="gm"><strong>Trigger</strong> A creature within reach of the warg's jaws attacks one of the warg's allies.</p>
<p><strong>Effect</strong> The warg makes a jaws Strike against the triggering creature.</p>
------ Description (fr) ------
<p data-visibility="gm"><strong>Déclencheur</strong> Une créature à portée des mâchoires du warg un allié de celui-ci.</p>
<p><strong>Effet</strong> Le warg effectue une Frappe de mâchoires contre la créature ayant déclenché cette capacité.</p>