Parent Name: Bunyip
Name: Aquatic Opportunity
Nom: Opportunité aquatique
État: officielle

------ Description (en) ------
<div data-visibility="gm">
<p>As Attack of Opportunity, but both the bunyip and the triggering creature must be in water.</p>
<hr />
</div>
<p>@Localize[PF2E.NPC.Abilities.Glossary.AttackOfOpportunity]</p>
------ Description (fr) ------
<div data-visibility="gm">
<p>Comme Attaque d’opportunité mais aussi bien le bunyip que la créature qui la déclenche doivent se trouver dans l’eau.</p>
<hr />
</div>
<p>@Localize[PF2E.NPC.Abilities.Glossary.AttackOfOpportunity]</p>
