Name: (Ghast) Stench
Nom: (Blême) Puanteur
État: changé
État d'origine: officielle

------ Description (en) ------
<p>@Template[type:emanation|distance:10]{10 feet} @Compendium[pf2e.bestiary-ability-glossary-srd.v61oEQaDdcRpaZ9X]{Aura}</p>
<hr />
<p>A creature entering the aura or starting its turn in the aura must succeed at a @Check[type:fortitude|dc:] save or become @Compendium[pf2e.conditionitems.fesd1n5eVhpCSS18]{Sickened 1} (plus @Compendium[pf2e.conditionitems.xYTAsEpcJE1Ccni3]{Slowed 1} as long as it's sickened on a critical failure).</p>
<p>While within the aura, the creature takes a -2 circumstance penalty to saves against disease and to recover from the sickened condition. A creature that succeeds at its save is temporarily immune for 1 minute.</p>
<hr />
<p>@Compendium[pf2e.bestiary-effects.wX9L6fbqVMLP05hn]{Effect: Stench}</p>
------ Description (fr) ------
<p>@Template[type:emanation|distance:10]{3 mètres} @Compendium[pf2e.bestiary-ability-glossary-srd.v61oEQaDdcRpaZ9X]{Aura}</p>
<p>Une créature qui entre ou commence son tour dans l’aura doit réussir un jet de <span data-pf2-check="fortitude" data-pf2-dc="" data-pf2-traits="aura,olfactory" data-pf2-label="Stench DC" data-pf2-show-dc="gm">Vigueur</span> ou devenir @Compendium[pf2e.conditionitems.fesd1n5eVhpCSS18]{Malade} 1 (plus @Compendium[pf2e.conditionitems.xYTAsEpcJE1Ccni3]{Ralentie} 1 tant qu’elle est malade en cas d’échec critique).</p>
<p>Tant qu’elle reste dans l’aura, la créature subit un malus de circonstances de -2 aux jets de sauvegarde contre les maladies et aux tentatives pour se débarrasser de l’état malade. <span data-visibility="gm">Une créature qui réussit son jet de sauvegarde est temporairement immunisée pendant 1 minute.</span></p>
<p>@Compendium[pf2e.bestiary-effects.wX9L6fbqVMLP05hn]{Effet : Puanteur de Blême}</p>
