Name: Sea Hag
Nom: Guenaude marine
État: officielle

------ Data ------
SavesEN: +1 status to all saves vs. magic
SavesFR: +1 de statut contre la magie
SensesEN: darkvision
SensesFR: vision dans le noir
------ Description (en) ------
<p>Sea hags kill and eat fishers and sailors who come near their lairs, torment coastal dwellers with dark promises and vague threats, and enjoy the act of causing distress and discord in small towns. They generally avoid making their lairs too close to civilization, however, to avoid drawing enemies to their homes. Sea hags are known for tempting desperate victims into tragic and inescapable bargains, deals which the hag has already secretly stacked in her favor. Despite their voracious appetites, sea hags appear hideously emaciated, and unlike more powerful hags, they lack the ability to magically disguise their form.</p>
<p>Sea hags can join covens, but their aquatic nature often prevents them from joining mixed covens with other kinds of hags.</p>
<hr />
<p>Malevolent crones who lurk at the edges of civilization, hags use their deceptive, magical abilities to prey upon humanoids, manipulating and corrupting them. Some say hags arose from fey that became twisted by their inner selfishness. Hags gather together in covens for greater power, craft unique magical items known as <em>@Compendium[pf2e.equipment-srd.ACa9QlFqdmW4s2Th]{Hag Eyes}</em>, and are known to replace infant humanoids with their own offspring-these children are @Compendium[pf2e.pathfinder-bestiary.bAjHCeyNcPRqOmLv]{Changelings} who have the potential to become hags themselves.</p>
------ Description (fr) ------
<p>Les guenaudes marines tuent et dévorent les pêcheurs et les marins qui s’approchent de leur tanière, tourmentent les habitants des régions côtières avec de sombres promesses et de vagues menaces et aiment semer la détresse et la discorde dans les petites villes. Cependant, elles évitent généralement d’établir leur tanière trop près de la civilisation, pour éviter d’attirer leurs ennemis chez elles. Les guenaudes marines sont connues pour pousser des victimes désespérées à accepter des pactes tragiques et inexorables, des contrats que la guenaude a secrètement modifiés pour qu’ils lui soient favorables. Malgré leur appétit vorace, ces guenaudes ont une apparence extrêmement décharnée et contrairement aux guenaudes plus puissantes, elles n’ont pas le pouvoir de dissimuler magiquement leur véritable aspect.</p>
<p>Les guenaudes marines peuvent appartenir à un cercle mais leur nature aquatique les empêche souvent de se joindre à des Cercles mixtes avec d’autres types de guenaudes.</p>
<hr />
<p>Mégères malveillantes qui vivent en marge des civilisations, les guenaudes utilisent leurs pouvoirs magiques pour s’en prendre aux humanoïdes en les manipulant et en les corrompant. Certains disent que les guenaudes étaient autrefois des fées qui se sont laissé corrompre par leur propre égoïsme. Les guenaudes se rassemblent au sein de cercles très puissants, fabriquent des objets magiques uniques connus sous le nom d’Yeux de guenaude et sont connues pour remplacer des bébés humanoïdes par leurs propres rejetons. Ces derniers sont appelés des changelins et peuvent potentiellement devenir eux-mêmes des guenaudes.</p>
