Name: Naunet
Nom: Naunet (Protéen)
État: changé
État d'origine: officielle

------ Data ------
HPDetailsEN: fast healing 2
HPDetailsFR: guérison accélérée 2
SavesEN: +1 status to all saves vs. magic
SavesFR: +1 de statut contre la magie
SensesEN: entropy sense (imprecise) 30 feet, darkvision
SensesFR: perception de l'entropie (imprécis) 9 m, vision dans le noir
SpeedsEN: freedom of movement
SpeedsFR: liberté de mouvement
------ Description (en) ------
<p>Pugnacious and powerfully muscled, naunets serve as scouts and rank-and-file troops of protean armies. Resembling a thick salamander with a wide head, a powerful tail, and tentacles tipped with snapping jaws in place of rear legs, naunets are the most bestial of the proteans and occupy one of their lowest castes. Naunets are 12 feet long and weigh 900 pounds.</p>
<p>All proteans are prone to unpredictable fits and unexpected action, but compared to most others, naunets are much more bestial. Always ready for a fight, naunets pride themselves in acting swiftly and striking before unpleasant distractions like diplomacy can blunt a combat's beginning.</p>
<hr />
<p>Guardians of disorder and natives of the primal plane of chaos known as the Maelstrom, proteans consider it their calling to spread bedlam and hasten entropic ends. The most powerful proteans are demigods known collectively as the protean lords, although they are mysterious entities whose cults on the Material Plane tend to be obscure and secretive.</p>
<p>Proteans divide themselves into a loose caste system and possess a dizzying variety of powers. Most proteans have a serpentine body with the head of a primeval beast. Scholars have long been intrigued by this fact-that scions of dissolution and disorder would share so many features-pointing out that even in the purest chaos there is some semblance of order. Others note that the serpentine form is one of the most primeval shapes, perhaps suggesting that in a reality at the dawn of time, such shapes were all that could exist. The proteans themselves have little to say on the matter, which, perhaps ironically, only adds to the confusion and lack of consensus surrounding their kind. After all, if even chaos cannot be trusted to be chaotic, would that not be the purest form of entropy?</p>
------ Description (fr) ------
<p>Pugnaces et puissamment musclés, les naunets sont les éclaireurs et les soldats des armées Protéennes. Ressemblant à une épaisse salamandre avec une grosse tête, une puissante queue et, à la place de ses pattes arrière, des tentacules dotés d’une mâchoire à leur extrémité, le naunet est le plus bestial des Protéens et il fait partie d’une des castes les plus basses. Un naunet mesure 3,6 mètres de long et pèse environ 450 kilos. Tous les protéens se comportent de manière imprévisible et sont capables d’actions inattendues mais, comparés aux autres, les naunets sont beaucoup plus bestiaux. Toujours prêts à se battre, les naunets s’enorgueillissent d’agir rapidement et de frapper avant que des distractions désagréables comme la diplomatie ne viennent compromettre un combat.</p>
<hr />
<p>Originaires du Maelstrom, les protéens sont des incarnations du chaos qui représentent, sous leurs formes serpentines, la puissance primitive de l’entropie. Ils obéissent à un système de castes approximatif, confus et changeant et forment des choeurs basés sur des philosophies communes malléables et évanescentes.</p>
<p>Les protéens sont organisés en un système assez large de castes et possèdent une incroyable variété de pouvoirs. La plupart d’entre eux ont un corps de serpent avec la tête d’une bête primitive. Cela fait longtemps que les érudits sont intrigués par ce fait, que des rejetons de la dissolution et du désordre aient en commun autant de caractéristiques, et soulignent qu’il existe un semblant d’ordre dans le plus pur des chaos. D’autres notent que cet aspect de serpent est une des formes les plus primitives, ce qui pourrait laisser penser qu’elle est la seule qui domine dans une réalité primordiale. Quant aux protéens, cela ne semble guère les préoccuper ce qui, ironiquement, ne fait qu’ajouter à la confusion et à l’absence de consensus concernant leur espèce. Après tout, si même le chaos ne peut être chaotique n’est-ce pas la forme la plus pure d’entropie ?</p>
