Name: Keketar
Nom: Ké’ktar (Protéen)
État: changé
État d'origine: officielle

------ Data ------
HPDetailsEN: fast healing 10
HPDetailsFR: guérison accélérée 10
LanguagesEN: Telepathy 100 feet, Tongues
LanguagesFR: Don des langues, Télépathie 30m
SavesEN: +1 status to all saves vs. magic
SavesFR: +1 de statut contre la magie
SensesEN: entropy sense (imprecise) 60 feet, darkvision
SensesFR: perception de l'entropie (imprécis) 18 m, vision dans le noir
SpeedsEN: freedom of movement
SpeedsFR: liberté de mouvement
------ Description (en) ------
<p>The ruling caste of the proteans, keketars orchestrate attacks against the bastions of law and adjudicate protean disputes confidently and capriciously. A keketar resembles a shimmering, serpentine creature with spines, claws, and a dragon-like head. A keketar's actual appearance is in constant flux, but they generally stay about 18 feet long with a weight of around 1,500 pounds. While their physical forms can vary, two things remain constant: First, a keketar's eyes are always a piercing shade of amber or violet. Second, the keketar's mark of office-a crown of shifting symbols that hovers above its head-never changes. A keketar cannot remove its crown but can suppress it, although most are loath to do so and consider such an act one of cowardice or shame.</p>
<p>Keketars fill a role in protean society of a sort of priesthood, operating as intermediaries between the other proteans and the Speakers of the Depths. All other proteans defer to keketars, treating them in a way similar to how citizens of a mortal city would treat respected nobles; even more powerful proteans defer to the will of the keketars. As with many religions, dogma and theology are prone to interpretation and change, and among the proteans the situation is perhaps even more pronounced. Whatever the nature of and desires held by the mysterious Speakers of the Depths, individual keketars may come to dramatically different conclusions as to their will and intent. To the proteans, though, this inherent dissonance is a strength rather than a weakness.</p>
<hr />
<p>Guardians of disorder and natives of the primal plane of chaos known as the Maelstrom, proteans consider it their calling to spread bedlam and hasten entropic ends. The most powerful proteans are demigods known collectively as the protean lords, although they are mysterious entities whose cults on the Material Plane tend to be obscure and secretive.</p>
<p>Proteans divide themselves into a loose caste system and possess a dizzying variety of powers. Most proteans have a serpentine body with the head of a primeval beast. Scholars have long been intrigued by this fact-that scions of dissolution and disorder would share so many features-pointing out that even in the purest chaos there is some semblance of order. Others note that the serpentine form is one of the most primeval shapes, perhaps suggesting that in a reality at the dawn of time, such shapes were all that could exist. The proteans themselves have little to say on the matter, which, perhaps ironically, only adds to the confusion and lack of consensus surrounding their kind. After all, if even chaos cannot be trusted to be chaotic, would that not be the purest form of entropy?</p>
------ Description (fr) ------
<p>Formant la caste dirigeante des protéens, les ké’ktars orchestrent les attaques contre les bastions de la loi et arbitrent les disputes entre les protéens de manière confidentielle et capricieuse. Un ké’ktar ressemble à une créature serpentine scintillante avec des épines, des griffes et une tête évoquant celle d’un dragon. Son apparence exacte est constamment fluctuante mais, généralement, il mesure 6 mètres de long avec un poids d’environ 750 kilos. Bien que leur apparence physique puisse varier, il y a deux constantes : tout d’abord, leurs yeux ont toujours une vive teinte ambre ou violette. Deuxièmement, le symbole du statut du ké’ktar, une couronne de symboles fluctuants flottant au-dessus de sa tête, ne change jamais. Un ké’ktar ne peut retirer sa couronne mais il peut la masquer bien que la plupart de ces créatures refusent de le faire et considèrent un tel acte comme une marque de couardise ou de honte.</p> 
<p>Les ké’ktars constituent une sorte de clergé dans la société protéenne et interviennent en tant qu’intermédiaires entre les autres protéens et les Orateurs des Abîmes. Tous les autres protéens respectent les ké’ktars les considérant un peu comme les citoyens des cités des mortels considèrent des nobles estimés ; même des protéens plus puissants se soumettent à la volonté des ké’ktars. Comme avec bon nombre de religions, les dogmes et la théologie sont sujets à interprétation et à des modifications. Et au sein de la société protéenne, la situation est encore plus prononcée. Quels que soient la nature et les désirs des mystérieux Orateurs des Abîmes, différents ké’ktars peuvent avoir des interprétations totalement différentes de leurs volontés et de leurs intentions. Pour les protéens, cependant, cette dissonance intrinsèque est une force plutôt qu’une faiblesse.</p>
<hr />
<p>Originaires du Maelstrom, les protéens sont des incarnations du chaos qui représentent, sous leurs formes serpentines, la puissance primitive de l’entropie. Ils obéissent à un système de castes approximatif, confus et changeant et forment des choeurs basés sur des philosophies communes malléables et évanescentes.</p>
<p>Les protéens sont organisés en un système assez large de castes et possèdent une incroyable variété de pouvoirs. La plupart d’entre eux ont un corps de serpent avec la tête d’une bête primitive. Cela fait longtemps que les érudits sont intrigués par ce fait, que des rejetons de la dissolution et du désordre aient en commun autant de caractéristiques, et soulignent qu’il existe un semblant d’ordre dans le plus pur des chaos. D’autres notent que cet aspect de serpent est une des formes les plus primitives, ce qui pourrait laisser penser qu’elle est la seule qui domine dans une réalité primordiale. Quant aux protéens, cela ne semble guère les préoccuper ce qui, ironiquement, ne fait qu’ajouter à la confusion et à l’absence de consensus concernant leur espèce. Après tout, si même le chaos ne peut être chaotique n’est-ce pas la forme la plus pure d’entropie ?</p>
